﻿@model AAPolo.Entities.Persona
@using AAPolo.Entities;

<div class="modal" id="iniciarSesion">
    <div class="modal-overlay" data-dismiss="iniciarSesion" onclick="javascript: localStorage.setItem('redirigir','')"></div>

    <div class="modal-dialogo modal-dialogo-600" style="max-width: 400px;">
        <div class="modal-header">
            <h2 data-icon="&#xe014;">@AAPolo.Recursos.Recurso.IniciarSesion</h2>
            <i class="icon-cross" data-dismiss="iniciarSesion" onclick="javascript: localStorage.setItem('redirigir','')"></i>
        </div>

        <div class="modal-contenido clearfix">
            <div class="col-md-12 clearfix">
                <p>Si es la primera vez que ingresas, tu usuario y contraseña es igual a tu documento</p>
                <form method="POST" action="@Url.Action("Login","Home")" name="formLo" class="form-default ng-pristine ng-valid">
                    <input type="hidden" name="IdRegistroMobile" id="IdRegistroMobile" value="" />
                    <input type="hidden" name="PlataformaMobile" id="PlataformaMobile" value="" />
                    <p style="color:red">@ViewBag.MensajeErrorLogin</p>
                    <input type="text" name="DocumentoIdentidad" id="user" placeholder="@AAPolo.Recursos.Recurso.Documento">
                    <input type="password" name="Password" id="pass" placeholder="@AAPolo.Recursos.Recurso.Contrasena">
                    <p><a href="javascript:void(0)" onclick="clickModal('olvideMiContrasena')" data-dismiss="iniciarSesion">¿Has olvidado la contraseña?</a></p>
                    <p><a href="javascript:void(0)" data-modal="registrarme" onclick="javascript: closeModal()" data-dismiss="iniciarSesion">Creá tu cuenta.</a></p>
                    <div class="pull-right">
                        @*<a href="javascript:void(0);" class="btn btn-lightblue m-t-0" data-dismiss="iniciarSesion">Ingresar <i class="icon-arrow-thin-right"></i></a>*@
                        <button class="btn btn-lightblue" onclick="javascript: localStorage.setItem('modal', true);">@AAPolo.Recursos.Recurso.Ingresar <i class="icon-arrow-thin-right"></i></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="registrarme">
    <div class="modal-overlay" data-dismiss="registrarme"></div>

    <div class="modal-dialogo modal-dialogo-600" style="">
        <div class="modal-header">
            <h2 data-icon="&#xe014;">Completá tus datos</h2>
            <i class="icon-cross" data-dismiss="registrarme"></i>
        </div>

        <div class="modal-contenido clearfix">

            <div class="col-md-12 clearfix">
                @using (Html.BeginForm("RegistroPersona", "Home", FormMethod.Post, new { @id = "FormRegistroPersona", @class = "form-default" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="row">
                        <div class="col-md-6">
                            <label for="Nombre">Nombre</label>
                            @Html.TextBoxFor(model => model.Nombre)
                            @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
                        </div>

                        <div class="col-md-6">
                            <label for="Apellido">Apellido</label>
                            @Html.TextBoxFor(model => model.Apellido)
                            @Html.ValidationMessageFor(model => model.Apellido, "", new { @class = "text-danger" })
                        </div>

                        <div class="col-md-12">
                            <label for="@Html.IdFor(model => model.TipoDocumento.Codigo)">Tipo de documento</label>
                            <select class="select2-basic CampoRequerido" name="@Html.NameFor(model => model.TipoDocumento.Codigo)" id="@Html.IdFor(model => model.TipoDocumento.Codigo)" data-textCampoRequerid="Por favor, seleccione tipo de documento" data-val="true" data-val-required="Disculpe, debe seleccionar tipo de documento.">
                                @Html.Action("_SelectTipoDocumento", "Home")
                            </select>
                            @Html.ValidationMessageFor(model => model.TipoDocumento.Codigo, "", new { @class = "text-danger" })
                        </div>

                        <div class="col-md-6">
                            <label for="DocumentoIdentidad">Documento</label>
                            @Html.TextBoxFor(model => model.DocumentoIdentidad, new { @class = "CampoRequerido RequerimientoMinimo", @data_min = "6", @data_txtrequerimientominimo = "Disculpe, debe tener al menos 6 caracteres.", @data_textCampoRequerid = "Por favor, ingrese documento" })
                            @Html.ValidationMessageFor(model => model.DocumentoIdentidad, "", new { @class = "text-danger" })
                        </div>

                        <div class="col-md-6">
                            <label for="strFechaNacimiento">Fecha de nacimiento</label>
                            @Html.TextBoxFor(model => model.strFechaNacimiento, new { @class = "datepicker CampoRequerido", @onchange = "calcularEdad", @data_textCampoRequerid = "Por favor, ingrese fecha de nacimiento" })
                            @Html.ValidationMessageFor(model => model.strFechaNacimiento, "", new { @class = "text-danger" })
                        </div>

                        <div class="col-md-6">
                            <label for="@Html.IdFor(model => model.Genero.Codigo)">Género</label>
                            <select name="@Html.NameFor(model => model.Genero.Codigo)" id="@Html.IdFor(model => model.Genero.Codigo)" class="select2-basic CampoRequerido" data-textCampoRequerid="Por favor, seleccione genero"  data-val="true" data-val-required="Disculpe, debe seleccionar género.">
                                @Html.Action("_SelectGenero", "Home")
                            </select>
                            @Html.ValidationMessageFor(model => model.Genero.Codigo, "", new { @class = "text-danger" })
                        </div>

                        <div class="col-md-6">
                            <label>Nacionalidad</label>
                            <select name="@Html.NameFor(model => model.Pais.Codigo)" id="@Html.IdFor(model => model.Pais.Codigo)" class="select2-basic CampoRequerido" data-textCampoRequerid="Por favor, seleccione país de origen" data-val="true" data-val-required="Disculpe, debe seleccionar país.">
                                @Html.Action("_SelectPais", "Home")
                            </select>
                            @Html.ValidationMessageFor(model => model.Pais.Codigo, "", new { @class = "text-danger" })
                        </div>

                        <div class="col-md-6">
                            @Html.Action("_Contacto", "Home", new TipoContacto() { Codigo = ConfiguracionAPP.TipoContacto_Email, Nombre = "Email" })
                        </div>

                        <div class="col-md-6">
                            @Html.Action("_Contacto", "Home", new TipoContacto() { Codigo = ConfiguracionAPP.TipoContacto_Celular, Nombre = "Celular/Teléfono" })
                        </div>
                    </div>

                    <div class="pull-right">
                        <button type="submit" class="btn btn-lightblue m-t-0">Registrarme <i class="icon-arrow-thin-right"></i></button>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

<div class="modal" id="olvideMiContrasena">
    <div class="modal-overlay" onclick="closeModal()"></div>
    <div class="modal-dialogo-holder">
        <div class="modal-dialogo modal-dialogo-600" style="max-width: 400px;">
            <div class="modal-header">
                <h2 data-icon="">Enviar Mail</h2>
                <i class="icon-cross" onclick="closeModal()"></i>
            </div>

            <div class="modal-contenido clearfix">
                <div class="col-md-12 clearfix">
                    <p class="inscripcion-disclaimer">Por favor, ingresa su DNI para validar tu identidad.Recibiras un email para reestablecer tu contraseña.</p>
                    @using (Ajax.BeginForm("CambioDePassword", "Home", null, new AjaxOptions { HttpMethod = "POST", OnSuccess = "CambioDePass", OnFailure = "fCambioDePass" }, new { @id = "RegistroForm", @class = "form-default" }))
                    {
                        <input type="text" name="DocumentoIdentidad" placeholder="@AAPolo.Recursos.Recurso.Documento">

                        <div class="pull-right">
                            <button type="submit" class="btn btn-lightblue">
                                Enviar mail
                                <i class="icon-arrow-thin-right"></i>
                            </button>

                        </div>

                    }
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="MensajeCambioPassword">
    <div class="modal-overlay" onclick="closeModal()"></div>
    <div class="modal-dialogo-holder">
        <div class="modal-dialogo modal-dialogo-600">
            <div class="modal-header">
                <h2 data-icon="">Cambio de contraseña</h2>
                <i class="icon-cross" onclick="closeModal()"></i>
            </div>

            <div class="modal-contenido clearfix">
                <div class="col-md-12 clearfix">
                    <h3 id="MsjTrasaccion"></h3>
                    <div class="pull-right">
                        <button type="submit" class="btn btn-lightblue" onclick="closeModal()">Ok </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>

    setTimeout(function () {
        $('#FormRegistroPersona span').text('');
    }, 300);

    function CambioDePass(Data) {

        closeModal();
        clickModal('MensajeCambioPassword');

        if (Data.EsSatisfactorio) {
            $('#MsjTrasaccion').html('Por favor, ingrese desde el enlace enviado a su mail para continuar.');
        } else {
            $('#MsjTrasaccion').html(Data.Mensaje);
            console.log(Data);
        }
    }

    function fCambioDePass(Data) {
        clickModal('MensajeCambioPassword');
        $('#MsjTrasaccion').html(Data.Mensaje);
        console.log(Data);
    }

    //if (localStorage.getItem("id_register") !== null) {
    //    $('#IdRegistroMobile').val(localStorage.getItem("id_register") == null ? "" : localStorage.getItem("id_register"));
    //    $('#PlataformaMobile').val(localStorage.getItem("platform") == null ? "" : localStorage.getItem("platform"));
    //}

</script>