﻿<!doctype html>
<html class="no-js" lang="">
<head prefix="og: http://ogp.me/ns#">
    <!-- Google Tag Manager -->
    <script>(function (w, d, s, l, i) { w[l] = w[l] || []; w[l].push({ 'gtm.start': new Date().getTime(), event: 'gtm.js' }); var f = d.getElementsByTagName(s)[0], j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src = 'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f); })(window, document, 'script', 'dataLayer', 'GTM-W7WJ8TR');</script>
    <!-- End Google Tag Manager -->

    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Asociación Argentina de Polo</title>
    <meta name="description" content="Sitio web oficial de la AAP.">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, viewport-fit=cover">
    <meta property="og:title" content="Asociación Argentina de Polo">
    <meta property="og:url" @*content="http://aapolo.com"*@>
    <meta property="og:description" content="Sitio web oficial de la AAP.">
    <meta property="og:image" content="@Url.Content("~/Content/img/share-img.jpg")">
    <meta property="og:type" content="article">
    <meta name="theme-color" content="#2065a5">
    <meta name="msapplication-TileColor" content="#2065a5">

    @*<link rel="manifest" href="site.webmanifest">*@
    <link rel="apple-touch-icon" href="icon.png">
    <!-- Place favicon.ico in the root directory -->
    <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700,900" rel="stylesheet">
    <link rel="stylesheet" href="@Url.Content("~/Content/css/bootstrap.min.css")">
    <link rel="stylesheet" href="@Url.Content("~/Content/css/summernote.css")" />
    <link rel="stylesheet" href="@Url.Content("~/Content/css/normalize.css")">
    <link rel="stylesheet" href="@Url.Content("~/Content/css/animate.css")">
    <link rel="stylesheet" href="@Url.Content("~/Content/css/icons.css")">
    <link rel="stylesheet" href="@Url.Content("~/Content/css/select2.css")">
    <link rel="stylesheet" href="@Url.Content("~/Content/css/datepicker.css")" />
    <link rel="stylesheet" href="@Url.Content("~/Content/css/main.css")">

    <style>
        .wow {
            visibility: hidden;
        }
    </style>
</head>
<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-W7WJ8TR" height="0" width="0" style="display:none; visibility:hidden;"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <!--[if lte IE 9]>
        <p class="browserupgrade">Estás usando un navegador <strong>desactualizado</strong>. Por favor, <a href="https://browsehappy.com/">actualiza tu navegador</a> para una mejor y más segura experiencia.</p>
    <![endif]-->

    <div class="overlay-nav"></div>
    <header>
        <a href="@Url.Action("Index", "Home")" class="logo">
            <img src="@Url.Content("~/Content/img/logo.png")" alt="AAP">
            <h3 class="title-admin-head">Panel de administración</h3>
        </a>

        <div class="header-right">
            <div class="user-top">
                <a href="javascript:void(0);" class="dropdown">
                    <div class="user-pic" style="background-image: url('@Url.Content("~/Content/img/avatars/avatar-user1.png")')"></div>
                    <h4>Administrador</h4>
                </a>
                <ul>
                    @*<li><a href="javascript:void(0);" data-icon="&#xe005;">Soporte</a></li>*@
                    <li><a href="@Url.Action("CerrarSession","Home")" data-icon="&#xe036;">Cerrar sesión</a></li>
                </ul>
            </div>
        </div>

        <div class="burger open-nav">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </header>

    <aside class="admin-nav">
        <div class="user-top show-mobile">
            <a href="javascript:void(0);" class="dropdown">
                <div class="user-pic" style="background-image: url('@Url.Content("~/Content/img/avatars/avatar-user1.png")')"></div>
                <h4>Juan Carlos</h4>
            </a>
            <ul>
                <li><a href="javascript:void(0);" data-icon="&#xe005;">Soporte</a></li>
                <li><a href="@Url.Action("Index","Home")" data-icon="&#xe036;">Cerrar sesión</a></li>
            </ul>
        </div>

        <ul>
            <li id="aLiJugador"><a href="@Url.Action("Index","Jugador")" onclick="javascript:localStorage.setItem('opMenu','aLiJugador')"><i class="icon-user"></i> Jugadores</a></li>
            <li id="aLiClub"><a href="@Url.Action("Index","Club")" onclick="javascript:localStorage.setItem('opMenu','aLiClub')"><i class="icon-flag"></i> Clubes</a></li>
            @*<li><a href="canchas.html"><i class="icon-location"></i> Canchas</a></li>
        <li><a href="eventos.html"><i class="icon-calendar"></i> Eventos</a></li>*@
            <li id="aliReferee"><a href="@Url.Action("Index","Referee")" onclick="javascript:localStorage.setItem('opMenu','aliReferee')"><i class="icon-flag"></i>Referees</a></li>
            <li id="aLiTorneo"><a href="@Url.Action("Index","Torneo")" onclick="javascript:localStorage.setItem('opMenu','aLiTorneo')"><i class="icon-trophy"></i> Torneos</a></li>
            @*<li><a href="partidos2.html"><i class="icon-stopwatch"></i> Partidos</a></li>*@
            <li id="aLiNoticia"><a href="@Url.Action("Index","Noticia")" onclick="javascript:localStorage.setItem('opMenu','aLiNoticia')"><i class="icon-document"></i> Noticias</a></li>

            <li @* class="aLiCommunity"*@>
                <a href="javascript:void(0);" class="submenu"><i class="icon-star"></i>Community</a>
                <ul id="aLiCommunity">
                    <li id="aLiCommunityBeneficios" class="aLiCommunityBeneficios"><a href="@Url.Action("Index","Beneficio")">Beneficios</a></li>
                    @*<li id="aLiTemporadaPuntos" class="aLiTemporadaPuntos"><a href="@Url.Action("Index","Temporada")">Puntos Clubes</a></li>*@
                </ul>
            </li>
            <li id="liNotificacion"><a href="@Url.Action("Index","Notificacion")" onclick="javascript:localStorage.setItem('opMenu','liTribunalDisciplina')"><i class="icon-warning"></i> Notificaciones y mensajes</a></li>
            <li id="liTribunalDisciplina"><a href="@Url.Action("Index","Sancion")" onclick="javascript:localStorage.setItem('opMenu','liTribunalDisciplina')"><i class="icon-broadcast"></i>Tribunal de disciplina</a></li>

            @*<li><a href="javascript:void(0);"><i class="icon-bookmark"></i> Biblioteca</a></li>
        <li><a href="notificaciones.html"><i class="icon-warning"></i> Notificaciones y mensajes</a></li>
        <li><a href="comunicados.html"><i class="icon-message"></i> Comunicados</a></li></li>
        <li><a href="polo-video.html"><i class="icon-media-play"></i> Polo Video</a></li>*@
            <li id="liReporteClub"><a href="@Url.Action("ReporteClub","Reporte")" onclick="javascript:localStorage.setItem('opMenu','liReporteClub')"><i class="icon-flag"></i>Reporte de pago de afiliaciones</a></li>
            <li id="liReportePagoHandicap"><a href="@Url.Action("ReporteHandicap","Reporte")" onclick="javascript:localStorage.setItem('opMenu','liReportePagoHandicap')"><i class="icon-flag"></i>Reporte de pago de Handicaps</a></li>
            <li id="liReporteTorneo"><a href="@Url.Action("ReporteGeneralInscripcionTorneo","Reporte")" onclick="javascript:localStorage.setItem('opMenu','liReporteTorneo')"><i class="icon-flag"></i>Reporte de pago de inscripciones</a></li>
        </ul>
    </aside>

    <div class="admin-container">
        @RenderBody()
    </div>

    <!-- Add your site or application content here -->


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryAjax")
    @Scripts.Render("~/bundles/jqueryval")


    <script src="@Url.Content("~/Scripts/modernizr-3.5.0.min.js")"></script>
    @*<script src="@Url.Content("~/Scripts/jquery-3.3.1.min.js")"></script>*@
    <script src="@Url.Content("~/Scripts/jquery.mask.min.js")"></script>
    <script src="@Url.Content("~/Scripts/plugins.js")"></script>
    <script src="@Url.Content("~/Scripts/select2.full.min.js")"></script>
    <script src="@Url.Content("~/Scripts/vivus.min.js")"></script>
    <script src="@Url.Content("~/Scripts/wow.min.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery.easing.1.3.js")"></script>
    <script src="@Url.Content("~/Scripts/tooltip.js")"></script>
    <script src="@Url.Content("~/Scripts/slick.min.js")"></script>
    <script src="@Url.Content("~/Scripts/picker.js")"></script>
    <script src="@Url.Content("~/Scripts/picker.date.js")"></script>
    <script src="@Url.Content("~/Scripts/main.js")"></script>
    @Scripts.Render("~/bundles/bootstrap")
    <script src="@Url.Content("~/Scripts/summernote.js")"></script>
    <script src="@Url.Content("~/Scripts/summernote-es-ES.js")"></script>

    <script src="@Url.Content("~/Scripts/Generico.js")"></script>

    <script>
        // ACTIVO PLUGIN SELECT2
        $(document).ready(function () {
            $('.select2-basic').select2();

            $('.select2-tags').select2(
                {
                    tags: true
                }
            );

        });

    </script>

    @RenderSection("scripts", required: false)

    <script>

        $(document).ready(function(){
            $('.ulItemMenu li').removeClass('current');
            if (localStorage.getItem('opMenu') == '' || localStorage.getItem('opMenu') == null) {
                if ('@Request.IsAuthenticated.ToString().ToLower()' != 'false') {
                    $('#aLiJugador').addClass('current');
                    localStorage.setItem('opMenu', 'aLiJugador');

                }
            } else {
                $('#' + localStorage.getItem('opMenu')).addClass('current');
            }
        });
    </script>

</body>
</html>
