﻿
@{
    HttpCookie cookie = HttpContext.Current.Request.Cookies.Get("Lenguage");
    string Idioma = cookie != null && cookie.Value != null ? cookie.Value.ToString() : "";

}

<!doctype html>
<html class="no-js" lang="">
<head prefix="og: http://ogp.me/ns#">
    <!-- Google Tag Manager -->
    <script>(function (w, d, s, l, i) { w[l] = w[l] || []; w[l].push({ 'gtm.start': new Date().getTime(), event: 'gtm.js' }); var f = d.getElementsByTagName(s)[0], j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src = 'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f); })(window, document, 'script', 'dataLayer', 'GTM-W7WJ8TR');</script>
    <!-- End Google Tag Manager -->

    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Asociación Argentina de Polo</title>
    <meta property="og:title" content="Asociación Argentina de Polo">
    <meta name="description" content="Sitio web oficial de la AAP.">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, viewport-fit=cover">
    <meta property="og:url" @*content="http://aapolo.com"*@>
    <meta property="og:description" content="Sitio web oficial de la AAP.">
    <meta property="og:image" content="@Url.Content("~/Content/img/share-img.jpg")">
    <meta property="og:type" content="article">
    <meta name="theme-color" content="#2065a5">
    <meta name="msapplication-TileColor" content="#2065a5">

    <link rel="manifest" href="site.webmanifest">
    <link rel="apple-touch-icon" href="@Url.Content("~/Content/icon.png")">
    <!-- Place favicon.ico in the root directory -->
    <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700,900" rel="stylesheet">

    <link rel="stylesheet" href="@Url.Content("~/Content/css/normalize.css")">
    <link rel="stylesheet" href="@Url.Content("~/Content/css/bootstrap.min.css")">
    <link rel="stylesheet" href="@Url.Content("~/Content/css/animate.css")">
    <link rel="stylesheet" href="@Url.Content("~/Content/css/icons.css")">
    <link rel="stylesheet" href="@Url.Content("~/Content/css/select2.css")">
    <link rel="stylesheet" href="@Url.Content("~/Content/css/slick.css")">
    <link rel="stylesheet" href="@Url.Content("~/Content/css/slick-theme.css")">
    <link rel="stylesheet" href="@Url.Content("~/Content/css/datepicker.css")" />
    <link rel="stylesheet" href="@Url.Content("~/Content/css/jquery.dataTables.min.css")">
    <link rel="stylesheet" href="@Url.Content("~/Content/css/main.css")">
    <link rel="stylesheet" href="@Url.Content("~/Content/css/calendar.css")">

    <style>
        .wow {
            visibility: hidden;
        }
    </style>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-142323062-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-142323062-1');
    </script>

    <!-- Global site tag (gtag.js) - Google Ads: 724817591 -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=AW-724817591"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', 'AW-724817591');
    </script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-JRT6YB4ZGY"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-JRT6YB4ZGY');
    </script>

    <!-- Facebook Pixel Code -->
    <script>
        !function (f, b, e, v, n, t, s) {
            if (f.fbq) return; n = f.fbq = function () {
                n.callMethod ?
                    n.callMethod.apply(n, arguments) : n.queue.push(arguments)
            };
            if (!f._fbq) f._fbq = n; n.push = n; n.loaded = !0; n.version = '2.0';
            n.queue = []; t = b.createElement(e); t.async = !0;
            t.src = v; s = b.getElementsByTagName(e)[0];
            s.parentNode.insertBefore(t, s)
        }(window, document, 'script', 'https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '684860518659249');
        fbq('track', 'PageView');
    </script>
    <noscript>
        <img height="1" width="1" src="https://www.facebook.com/tr?id=684860518659249&ev=PageView&noscript=1" />
    </noscript>
    <!-- End Facebook Pixel Code -->
    @*------------------------------------------------------------------------------------------------------------------------------------*@

    <!-- Facebook Pixel Code -->

    <script>

        !function (f, b, e, v, n, t, s) {
            if (f.fbq) return; n = f.fbq = function () {
                n.callMethod ?

                    n.callMethod.apply(n, arguments) : n.queue.push(arguments)
            };

            if (!f._fbq) f._fbq = n; n.push = n; n.loaded = !0; n.version = '2.0';

            n.queue = []; t = b.createElement(e); t.async = !0;

            t.src = v; s = b.getElementsByTagName(e)[0];

            s.parentNode.insertBefore(t, s)
        }(window, document, 'script', 'https://connect.facebook.net/en_US/fbevents.js');

        fbq('init', '238877590114048');
        fbq('track', 'PageView');

    </script>

    <noscript>
        <img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=238877590114048&ev=PageView&noscript=1" />
    </noscript>

    <!-- End Facebook Pixel Code →

    <!-- Global site tag (gtag.js) - Google Ads: 701205220 -->

    <script async src="https://www.googletagmanager.com/gtag/js?id=AW-701205220"></script>

    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }

        gtag('js', new Date());
        gtag('config', 'AW-701205220');

    </script>

    @*------------------------------------------------------------------------------------------------------------------------------------*@
    <!-- Event snippet for AAP - Venta conversion page In your html page, add the snippet and call gtag_report_conversion when someone clicks on the chosen link or button. -->

    <script>
        function gtag_report_conversion(url) {
            var callback = function () {
                if (typeof (url) != 'undefined') {
                    window.location = url;
                }
            };
            gtag('event', 'conversion', { 'send_to': 'AW-724817591/_kUVCNSYgq4BELetz9kC', 'transaction_id': '', 'event_callback': callback });
            return false;
        }
    </script>

</head>
<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-W7WJ8TR" height="0" width="0" style="display:none; visibility:hidden;"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <!--[if lte IE 9]>
        <p class="browserupgrade">Estás usando un navegador <strong>desactualizado</strong>. Por favor, <a href="https://browsehappy.com/">actualiza tu navegador</a> para una mejor y más segura experiencia.</p>
    <![endif]-->

    <div class="overlay-nav"></div>
    <header>
        <a href="@Url.Action("Index","Home")" class="logo"><img src="@Url.Content("~/Content/img/logo.png")" alt="AAP"></a>

        <nav class="main-nav">
            <div class="show-mobile">
                @Html.Action("_DatosUsuario", "PerfilJugador")
            </div>

            <ul class="ulItemMenu">
                @Html.Partial("_Menus")

            </ul>

            <div class="user-top language-top show-mobile">

                <a href="javascript:void(0);" class="dropdown">

                    @if (Idioma == "en")
                    {
                        <img src="@Url.Content("~/Content/img/flags/united-kingdom.svg")" alt="" class="player-flag lang-select" data-original-title="ENG">
                    }
                    else
                    {
                        <img src="@Url.Content("~/Content/img/flags/Argentina.svg")" alt="" class="player-flag lang-select" data-original-title="SPA">
                    }
                </a>
                <ul>
                    <li class="">
                        <a href="@Url.Action("Index", "Lenguaje", new { leng = "es-AR" })">
                            <img src="@Url.Content("~/Content/img/flags/Argentina.svg")" alt="" class="player-flag lang-select @(Idioma == "es-AR" ? "" : "lang-off")" data-original-title="SPA">
                        </a>
                    </li>
                    <li class="">
                        <a href="@Url.Action("Index", "Lenguaje", new { leng = "en" })">
                            <img src="@Url.Content("~/Content/img/flags/united-kingdom.svg")" alt="" class="player-flag lang-select @(Idioma == "en" ? "" : "lang-off")" data-original-title="ENG">
                        </a>
                    </li>
                </ul>
            </div>
        </nav>

        <div class="header-right">
            <div class="user-top language-top">
                <a href="javascript:void(0);" class="dropdown">
                    @if (Idioma == "en")
                    {
                        <img src="@Url.Content("~/Content/img/flags/united-kingdom.svg")" alt="" class="player-flag lang-select" data-original-title="ENG">
                    }
                    else
                    {
                        <img src="@Url.Content("~/Content/img/flags/Argentina.svg")" alt="" class="player-flag lang-select" data-original-title="SPA">
                    }
                </a>
                <ul>
                    <li class="">
                        <a href="@Url.Action("Index", "Lenguaje", new { leng = "es-AR" })">
                            <img src="@Url.Content("~/Content/img/flags/Argentina.svg")" alt="" class="player-flag lang-select @(Idioma == "es-AR" ? "" : "lang-off")" data-original-title="SPA">
                        </a>
                    </li>
                    <li class="">
                        <a href="@Url.Action("Index", "Lenguaje", new { leng = "en" })">
                            <img src="@Url.Content("~/Content/img/flags/united-kingdom.svg")" alt="" class="player-flag lang-select @(Idioma == "en" ? "" : "lang-off")" data-original-title="ENG">
                        </a>
                    </li>
                </ul>
            </div>

            @Html.Action("_DatosUsuario", "PerfilJugador")

            @if (Request.IsAuthenticated) {

                <div class="noti-top">
                    <a href="javascript:void(0);" data-icon="x" id="ContadorNotificacion"></a>
                </div>
            }

        </div>

        <div class="burger open-nav">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </header>


    @RenderBody()

    <footer>
        <div class="container-fluid">
            <div class="wrapper clearfix">
                <div class="col-md-12">
                    <img src="@Url.Content("~/Content/img/logo-footer.png")" alt="Asociación Argentina de Polo" class="logo-footer">
                    <div class="info-footer">
                        <p>Copyright 2019 AAPOLO<span class="hide-mobile"> | </span><br class="show-mobile">Asociación Argentina de Polo</p>
                        <p><i class="icon-mail"></i><a href="mailto:info@aapolo.com" target="_blank">info@aapolo.com</a></p>
                        <p><i class="icon-phone"></i><a href="tel:(5411) 4777-6599 | 4777-5332" target="_blank">(5411) 4777-6599 | 4777-5332</a></p>
                        <p><a href="javascript:void(0);" data-modal="PrivacyPolicy">Privacy Policy</a></p>
                    </div>
                    <ul class="social-links clearfix">
                        <li><a href="https://www.facebook.com/asociaciondepolo/" target="_blank" class="has-tooltip" title="Facebook"><img src="@Url.Content("~/Content/img/icon-fb.png")" alt=""></a></li>
                        <li><a href="https://twitter.com/asocdepolo?lang=es" target="_blank" class="has-tooltip" title="Twitter"><img src="@Url.Content("~/Content/img/icon-tw.png")" alt=""></a></li>
                        <li><a href="https://www.instagram.com/asocdepolo/?hl=es-la" target="_blank" class="has-tooltip" title="Instagram"><img src="@Url.Content("~/Content/img/icon-in.png")" alt=""></a></li>
                        <li><a href="https://www.youtube.com/channel/UCZKoGyZqBYZZ7cPV9PqqkNg" target="_blank" class="has-tooltip" title="YouTube"><img src="@Url.Content("~/Content/img/icon-yt.png")" alt=""></a></li>
                        @*<li><a href="javascript:void(0);" class="has-tooltip" title="Trip Advisor"><img src="@Url.Content("~/Content/img/icon-ta.png")" alt=""></a></li>*@
                    </ul>
                    <img src="@Url.Content("~/Content/img/support-camine.png")" alt="" class="img-camine">
                    <img src="@Url.Content("~/Content/img/support.png")" alt="" class="img-wesupport">
                </div>
            </div>
        </div>
    </footer>

    <div class="floating-access">
        <a href="@(Request.IsAuthenticated?Url.Action("Index","PagoHandicap"):"#")" data-modal="@(Request.IsAuthenticated?"":"iniciarSesion")"><i class="icon-wallet"></i>@AAPolo.Recursos.Recurso.PagarHandicap</a>
        <a href="@(Request.IsAuthenticated?Url.Action("Index","PerfilTorneo"):"#")" data-modal="@(Request.IsAuthenticated?"":"iniciarSesion")" onclick="javascript:localStorage.setItem('opMenu','liTorneos'); localStorage.setItem('redirigir','@(Request.IsAuthenticated?"":Url.Action("Index","PerfilTorneo"))')"><i class="icon-trophy"></i>@AAPolo.Recursos.Recurso.InscribirmeATorneos</a>
    </div>

    <div class="modal" id="tutorial-torneos">
        <div class="modal-overlay" data-dismiss="tutorial-torneos"></div>

        <div class="modal-dialogo">
            <div class="modal-header">
                <h2><i class="icon-trophy"></i> ¿Cómo inscribirme a <strong>torneos</strong>?</h2>
                <i class="icon-cross" data-dismiss="tutorial-torneos"></i>
            </div>

            <div class="modal-contenido modal-contenido-video clearfix">
                <video class="videoModal" controls="">
                    <source src="@Url.Content("~/Content/video/video-noticia.mp4")" type="video/mp4">
                </video>
            </div>
        </div>
    </div>

    <div class="modal" id="tutorial-handicap">
        <div class="modal-overlay" data-dismiss="tutorial-handicap"></div>

        <div class="modal-dialogo">
            <div class="modal-header">
                <h2><i class="icon-wallet"></i> ¿Cómo pagar mi <strong>handicap</strong>?</h2>
                <i class="icon-cross" data-dismiss="tutorial-handicap"></i>
            </div>

            <div class="modal-contenido modal-contenido-video clearfix">
                <video class="videoModal" controls="">
                    <source src="@Url.Content("~/Content/video/video-noticia.mp4")" type="video/mp4">
                </video>
            </div>
        </div>
    </div>

    <div id="divModal" class="modal" style="display: none;"></div>


    <div class="notificaciones">
        <ul class="notificaciones-listado">
            <li class="no-leida">
                <a href="javascript:void(0);">
                    <p>Texto de la notificación</p>
                    <span>15/06/17, 18:33hs</span>
                </a>
            </li>
            <li class="no-leida">
                <a href="javascript:void(0);">
                    <p>Texto de la notificación</p>
                    <span>15/06/17, 18:33hs</span>
                </a>
            </li>
            <li>
                <a href="javascript:void(0);">
                    <p>Texto de la notificación</p>
                    <span>15/06/17, 18:33hs</span>
                </a>
            </li>
            <li class="no-leida">
                <a href="javascript:void(0);">
                    <p>Texto de la notificación</p>
                    <span>15/06/17, 18:33hs</span>
                </a>
            </li>
            <li>
                <a href="javascript:void(0);">
                    <p>Texto de la notificación</p>
                    <span>15/06/17, 18:33hs</span>
                </a>
            </li>
            <li>
                <a href="javascript:void(0);">
                    <p>Texto de la notificación</p>
                    <span>15/06/17, 18:33hs</span>
                </a>
            </li>
            <li class="no-leida">
                <a href="javascript:void(0);">
                    <p>Texto de la notificación</p>
                    <span>15/06/17, 18:33hs</span>
                </a>
            </li>
            <li class="no-leida">
                <a href="javascript:void(0);">
                    <p>Texto de la notificación</p>
                    <span>15/06/17, 18:33hs</span>
                </a>
            </li>
            <li>
                <a href="javascript:void(0);">
                    <p>Texto de la notificación</p>
                    <span>15/06/17, 18:33hs</span>
                </a>
            </li>
            <li class="no-leida">
                <a href="javascript:void(0);">
                    <p>Texto de la notificación</p>
                    <span>15/06/17, 18:33hs</span>
                </a>
            </li>
            <li>
                <a href="javascript:void(0);">
                    <p>Texto de la notificación</p>
                    <span>15/06/17, 18:33hs</span>
                </a>
            </li>
            <li>
                <a href="javascript:void(0);">
                    <p>Texto de la notificación</p>
                    <span>15/06/17, 18:33hs</span>
                </a>
            </li>
            <li class="no-leida">
                <a href="javascript:void(0);">
                    <p>Texto de la notificación</p>
                    <span>15/06/17, 18:33hs</span>
                </a>
            </li>
            <li class="no-leida">
                <a href="javascript:void(0);">
                    <p>Texto de la notificación</p>
                    <span>15/06/17, 18:33hs</span>
                </a>
            </li>
            <li>
                <a href="javascript:void(0);">
                    <p>Texto de la notificación</p>
                    <span>15/06/17, 18:33hs</span>
                </a>
            </li>
            <li class="no-leida">
                <a href="javascript:void(0);">
                    <p>Texto de la notificación</p>
                    <span>15/06/17, 18:33hs</span>
                </a>
            </li>
            <li>
                <a href="javascript:void(0);">
                    <p>Texto de la notificación</p>
                    <span>15/06/17, 18:33hs</span>
                </a>
            </li>
            <li>
                <a href="javascript:void(0);">
                    <p>Texto de la notificación</p>
                    <span>15/06/17, 18:33hs</span>
                </a>
            </li>
        </ul>
    </div>

    @Html.Partial("_IniciarSesion")

    @if (Request.IsAuthenticated)
    {
        @Html.Action("_AceptaTerminosCondiciones", "Home")
    
        <div class="notificaciones" id="ListadoNotificacionUsuario">
            <ul class="notificaciones-listado" id="ulListadoNotificacion"></ul>
            <a href="javascript:void(0);" class="btn btn-lightblue btn-small m-b-10 m-t-10" id="linkMostrarMas">Más notificaciones</a>
        </div>
    }


    <!-- Add your site or application content here -->
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryAjax")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")

    <script src="@Url.Content("~/Scripts/modernizr-3.5.0.min.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery-3.3.1.min.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery.mask.min.js")"></script>
    <script src="@Url.Content("~/Scripts/plugins.js")"></script>
    <script src="@Url.Content("~/Scripts/select2.full.min.js")"></script>
    <script src="@Url.Content("~/Scripts/vivus.min.js")"></script>
    <script src="@Url.Content("~/Scripts/wow.min.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery.easing.1.3.js")"></script>
    <script src="@Url.Content("~/Scripts/tooltip.js")"></script>
    <script src="@Url.Content("~/Scripts/slick.min.js")"></script>
    <script src="@Url.Content("~/Scripts/picker.js")"></script>
    <script src="@Url.Content("~/Scripts/picker.date.js")"></script>
    <script src="@Url.Content("~/Scripts/main.js")"></script>
    <script src="@Url.Content("~/Scripts/Generico.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery.dataTables.min.js")"></script>

    @RenderSection("scripts", required: false)

    <script>
        localStorage.setItem('modal', false);

        $(document).ready(function(){
            $('.ulItemMenu li').removeClass('current');
            $('#' + localStorage.getItem('opMenu')).addClass('current');
            if (localStorage.getItem('opMenu') == '' || localStorage.getItem('opMenu') == null) {
                if ('@Request.IsAuthenticated.ToString().ToLower()' != true) {
                    $('#liIndex').addClass('current');
                    localStorage.setItem('opMenu', '');
                }
            }

            if (localStorage.getItem("id_register") !== null) {
                $('#IdRegistroMobile').val(localStorage.getItem("id_register") == null ? "" : localStorage.getItem("id_register"));
                $('#PlataformaMobile').val(localStorage.getItem("platform") == null ? "" : localStorage.getItem("platform"));
            }
        });

        function MensajeLeido(Cod) {
            if (Cod > 0) {
                var UrlActualizarNotificacion = '@Url.Action("ActualizarNotificacionLeida", "Notificacion", new { Codigo = "_Codigo" })'.replace('_Codigo', Cod);

                $.post(UrlActualizarNotificacion, function (Data) {
                    $('#Notificacion_' + Cod).removeClass('no-leida').attr('disabled',true);
                    var cont = parseInt($('#ContadorNotificacion span').text());
                    if (!Data.EsSatisfactorio) {
                        $('#Notificacion_' + Cod).addClass('no-leida');
                        console.log(Data);
                    } else {
                        cont--;
                        $('#ContadorNotificacion').html('<span class="noti-count">' + cont + '</span>');
                        $('#Notificacion_' + Cod).attr('disabled', false).removeAttr('onclick');
                    }
                });
            }
        }

        MostrarMasNotificaciones(0);
        function MostrarMasNotificaciones(Indice) {

            var UrlNotificacion = '@Url.Action("_ListadoNotificacionUsuario", "Notificacion", new { Indice = "_Indice" })'.replace('_Indice', Indice);

            $.post(UrlNotificacion, function (Data) {
                $('#ulListadoNotificacion').append(Data);
            });

        }


    </script>

</body>
</html>
