﻿
<li id="liJugador"><a href="@Url.Action("Jugadores","Home")" onclick="javascript:localStorage.setItem('opMenu','liJugador')">@AAPolo.Recursos.Recurso.Jugadores</a></li>
<li id="liReferees"><a href="@Url.Action("Referees","Home")" onclick="javascript:localStorage.setItem('opMenu','liReferees')">Referees</a></li>
<li id="liClub"><a href="@Url.Action("Club","Home")" onclick="javascript:localStorage.setItem('opMenu','liClub')">@AAPolo.Recursos.Recurso.Clubes</a></li>
<li id="liTorneo"><a href="@Url.Action("Torneo","Home")" onclick="javascript:localStorage.setItem('opMenu','liTorneo')">@AAPolo.Recursos.Recurso.Torneos</a></li>
<li id="liNoticia"><a href="@Url.Action("Noticia","Home")" onclick="javascript:localStorage.setItem('opMenu','liNoticia')">@AAPolo.Recursos.Recurso.Noticias</a></li>
<li id="liAsociacion"><a href="@Url.Action("Asociacion","Home")" onclick="javascript:localStorage.setItem('opMenu','liAsociacion')">@AAPolo.Recursos.Recurso.LaAsociacion</a></li>
<li id="liAbierto">
    <a href="javascript:void(0);" class="submenu">Triple Corona</a>
    <ul>
        <li id="liAbiertoTortugas"><a href="@Url.Action("Tortugas","Abierto")" onclick="javascript:localStorage.setItem('opMenu','liAbiertoTortugas')">Abierto del Tortugas Club</a></li>
        <li id="liAbiertoHurlingham"><a href="@Url.Action("Hurlingham","Abierto")" onclick="javascript:localStorage.setItem('opMenu','liAbiertoHurlingham')">Abierto del Hurlingham Club</a></li>
        <li id="liAbiertoDePalermo"><a href="@Url.Action("Palermo","Abierto")" onclick="javascript:localStorage.setItem('opMenu','liAbiertoPalermo')">@AAPolo.Recursos.Recurso.AbiertoDePalermo</a></li>
    </ul>
</li>
@*<li id="liPoloCommunity"><a href="@Url.Action("Index","Community")">Polo community</a></li>*@
<li id="liPoloCommunity">
    <a href="javascript:void(0);" class="submenu">Polo Community</a>
    <ul>
        <li id="liPoloCommunityLanding" onclick="javascript:localStorage.setItem('opMenu','liPoloCommunityLanding')"><a href="@Url.Action("Index","Community")">Sobre el programa</a></li>
        <li id="liPoloCommunityBeneficio" onclick="javascript:localStorage.setItem('opMenu','liPoloCommunityBeneficio')"><a href="@Url.Action("Beneficio","Community")">Beneficios</a></li>
    </ul>
</li>
<li id="liAbiertoDePalermo"><a href="@Url.Action("UrlAbiertoDePalermo","Home")" target="_blank">@AAPolo.Recursos.Recurso.AbiertoDePalermo</a></li>
@*<li id="liContacto"><a href="contacto.html" onclick="javascript:localStorage.setItem('opMenu','liContacto')">@AAPolo.Recursos.Recurso.Contacto</a></li>*@


<li class="show-mobile liHandicap" id=""><a href="@(Request.IsAuthenticated ? Url.Action("Index", "PagoHandicap") : "#")" data-modal="@(Request.IsAuthenticated?"":"iniciarSesion")"><span class="btn btn-full btn-small btn-outline text-left m-t-0 m-b-0">@AAPolo.Recursos.Recurso.PagarHandicap</span></a></li>


<li class="show-mobile liTorneos" id="">
    <a href="@(Request.IsAuthenticated?Url.Action("Index","PerfilTorneo"):"#")" data-modal="@(Request.IsAuthenticated?"":"iniciarSesion")" onclick="javascript:localStorage.setItem('opMenu','liTorneos'); localStorage.setItem('redirigir','@(Request.IsAuthenticated?"":Url.Action("Index","PerfilTorneo"))')">
        <span class="btn btn-full btn-small btn-outline text-left m-t-0 m-b-0">@AAPolo.Recursos.Recurso.InscribirmeATorneos</span>
    </a>
</li>


