﻿@model AAPolo.Entities.Beneficio
@using AAPolo.Entities;

@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="col-md-12">
    <div class="panel panel-profile">
        <div class="panel-body">
            <h1 class="title-admin pull-left">Beneficios Community</h1>
            <a href="javascript:void(0);" class="btn btn-lightblue pull-right m-t-0" data-modal="confirmarSalir"><i class="icon-arrow-thin-left"></i> Volver al listado</a>

            <div class="clearfix"></div>

            @using (Ajax.BeginForm("GuardarBeneficio", "Beneficio", null, new AjaxOptions { HttpMethod = "POST", OnSuccess = "fnSuccessProcesar", OnFailure = "fnFailProcesar" }, new { @id = "RegistroForm", @class = "form-default FormFile" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.Codigo)

            <div class="row clearfix">
                <div class="col-md-12">
                    <h3>Alta / Modificaión</h3>
                </div>

                <div class="col-md-4">
                    <label for="Nombre">Marca</label>
                    @Html.TextBoxFor(model => model.Nombre)
                </div>

                <div class="col-md-4">
                    <label for="strFechaInicio">Fecha de vigencia desde</label>
                    @Html.TextBoxFor(model => model.strFechaInicio, new { @class = "datepickerFuturo" })
                </div>

                <div class="col-md-4">
                    <label for="strFechaFin">Fecha de vigencia hasta</label>
                    @Html.TextBoxFor(model => model.strFechaFin, new { @class = "datepickerFuturo" })
                </div>

                <div class="col-md-4">
                    <label for="@Html.IdFor(model => model.CategoriaBeneficio.Codigo)">Categoria</label>
                    <select name="@Html.NameFor(model => model.CategoriaBeneficio.Codigo)" id="@Html.IdFor(model => model.CategoriaBeneficio.Codigo)" class="select2-basic">
                        @Html.Action("_SelectCategoriaBeneficiario", "Beneficio", new { Codigo = Model.CategoriaBeneficio.Codigo })
                    </select>
                </div>

                <div class="col-md-4">
                    <label for="UrlMarca">Url</label>
                    @Html.TextBoxFor(model => model.UrlMarca)
                </div>

                <div class="col-md-4">
                    <label for="@Html.IdFor(model => model.TipoBeneficiario.Codigo)">Tipo de beneficiario</label>
                    <select name="@Html.NameFor(model => model.TipoBeneficiario.Codigo)" id="@Html.IdFor(model => model.TipoBeneficiario.Codigo)" class="select2-basic">
                        @Html.Action("_SelectTipoBeneficiario", "Beneficio", new { Codigo = Model.TipoBeneficiario.Codigo })
                    </select>
                </div>

                <div class="col-md-4" id="divPlayers" style="display: @(Model.TipoBeneficiario.Codigo == ConfiguracionAPP.Cod_TipoBeneficiario_PoloPlayers || Model.TipoBeneficiario.Codigo == ConfiguracionAPP.Cod_TipoBeneficiario_PoloTodos?"block":"none")">
                    <label for="inicio">Descuento - Polo players</label>
                    <input type="text" class="has-tooltip contCaracter" data-placement="bottom" data-original-title="Ej: 20% o 2x1" name="PrecioPoloPlayers" id="PrecioPoloPlayers" value="@(Model.TipoBeneficiario.Codigo == ConfiguracionAPP.Cod_TipoBeneficiario_PoloPlayers || Model.TipoBeneficiario.Codigo == ConfiguracionAPP.Cod_TipoBeneficiario_PoloTodos? Model.lstPrecioXBeneficios.Find(f => f.TipoBeneficiario.Codigo == ConfiguracionAPP.Cod_TipoBeneficiario_PoloPlayers).Precio:"")">
                    <p id="msjCaracter_DescuentoPlayer" style="color:red"><span id="cantCaracter" data-cant="15">@(15 - (Model.TipoBeneficiario.Codigo == ConfiguracionAPP.Cod_TipoBeneficiario_PoloPlayers || Model.TipoBeneficiario.Codigo == ConfiguracionAPP.Cod_TipoBeneficiario_PoloTodos ? Model.lstPrecioXBeneficios.Find(f => f.TipoBeneficiario.Codigo == ConfiguracionAPP.Cod_TipoBeneficiario_PoloPlayers).Precio : "").Length)</span> caracteres</p>
                </div>

                <div class="col-md-4 " id="divMembers" style="display: @(Model.TipoBeneficiario.Codigo == ConfiguracionAPP.Cod_TipoBeneficiario_PoloMembers || Model.TipoBeneficiario.Codigo == ConfiguracionAPP.Cod_TipoBeneficiario_PoloTodos?"block":"none")">
                    <label for="inicio">Descuento - Polo members</label>
                    <input type="text" class="has-tooltip contCaracter" data-placement="bottom" data-original-title="Ej: 20% o 2x1" name="PrecioPoloMembers" id="PrecioPoloMembers" value="@(Model.TipoBeneficiario.Codigo == ConfiguracionAPP.Cod_TipoBeneficiario_PoloMembers || Model.TipoBeneficiario.Codigo == ConfiguracionAPP.Cod_TipoBeneficiario_PoloTodos? Model.lstPrecioXBeneficios.Find(f => f.TipoBeneficiario.Codigo == ConfiguracionAPP.Cod_TipoBeneficiario_PoloMembers).Precio:"")">
                    <p id="msjCaracter_DescuentoMember" style="color:red"><span id="cantCaracter" data-cant="15">@(15 - (Model.TipoBeneficiario.Codigo == ConfiguracionAPP.Cod_TipoBeneficiario_PoloMembers || Model.TipoBeneficiario.Codigo == ConfiguracionAPP.Cod_TipoBeneficiario_PoloTodos ? Model.lstPrecioXBeneficios.Find(f => f.TipoBeneficiario.Codigo == ConfiguracionAPP.Cod_TipoBeneficiario_PoloMembers).Precio : "").Length)</span> caracteres</p>
                </div>

                <div class="col-md-12">
                    <label for="Descripcion">Descripción</label>
                    @Html.TextAreaFor(model => model.Descripcion, new { @style = "height: 100px;" })
                    <p id="msjCaracter" style="color:red"><span id="cantCaracter">@(280 - Model.Descripcion.Length)</span> caracteres</p>
                </div>

                <div class="col-md-12">
                    <label for="Condiciones">Condiciones</label>
                    @Html.TextAreaFor(model => model.Condicion, new { @style = "height: 100px;" })
                </div>

                <div class="col-md-6">
                    <label for="Imagen">Imagen de portada <small>Tamaño mínimo: <strong>1366×768px</strong>. Peso máximo: <strong>6mb</strong></small></label>

                    <label class="btn btn-lightblue m-t-0" for="@Html.IdFor(model => model.Imagen)" style="margin-top: 20px !important;"><i class="icon-browser-upload"></i>&nbsp; Subir imagen de portada</label>

                    @Html.TextBoxFor(model => model.Imagen, new { @class = "file-uploader img-previewer", @type = "file", @accept = "image/*" })

                    <div class="img-preview" style="display: block;">
                        <img src="@Url.Content(Model.UrlImagen)" alt="">
                        @*<a href="javascript:void(0);" class="delete-img"><i class="icon-cross"></i></a>*@
                    </div>

                    <span class="file-name"></span>
                </div>

                <div class="col-md-12 pull-right">
                    <button type="submit" class="btn btn-lightblue pull-right">Guardar cambios</button>
                </div>
            </div>
            }
        </div>
    </div>
</div>


<div class="modal" id="exito">
    <div class="modal-overlay" data-dismiss="exito"></div>

    <div class="modal-dialogo modal-dialogo-600">
        <div class="modal-header">
            <h2 data-icon="&#xe04e;" id="tituloOperacion">¡Creación exitosa!</h2>
            <i class="icon-cross" data-dismiss="exito"></i>
        </div>

        <div class="modal-contenido clearfix">
            <div class="col-md-12 clearfix">
                <p id="msjOperacion">Has creado un nuevo beneficio exitosamente. Recordá que puedes editarlo más tarde desde el panel de administración.</p>

                <div class="modal-opciones text-right">
                    <a href="@Url.Action("Index","Beneficio")" class="btn btn-red m-t-0" data-dismiss="exito">Volver al listado</a>
                    <a href="@Url.Action("CrearBeneficio","Beneficio")" id="btnContinuar" class="btn btn-lightblue m-t-0" data-dismiss="exito">Crear otro Beneficio</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="confirmarSalir">
    <div class="modal-overlay" data-dismiss="confirmarSalir"></div>

    <div class="modal-dialogo modal-dialogo-600">
        <div class="modal-header">
            <h2 data-icon="&#xe063;">¿Estás seguro?</h2>
            <i class="icon-cross" data-dismiss="confirmarSalir"></i>
        </div>

        <div class="modal-contenido clearfix">
            <div class="col-md-12 clearfix">
                <p>Si abandonás esta página ahora, perderás los cambios que no hayas guardado. ¿Estás seguro de que querés salir?</p>

                <div class="modal-opciones text-right">
                    <a href="@Url.Action("Index")" class="btn btn-red m-t-0" data-dismiss="confirmarSalir">Salir y descartar cambios</a>
                    <a href="javascript:void(0);" class="btn btn-lightblue m-t-0" data-dismiss="confirmarSalir">Continuar editando</a>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{

    <script>

        localStorage.setItem('opMenu', 'aLiCommunityBeneficios');
        $('#aLiCommunity').css('display', 'block');
        $('.submenu').addClass('open');

        //$(document).on('keypress', '.validanumericos', function (e) {
        //    if (String.fromCharCode(e.charCode) == '.') {
        //        console.log(String.fromCharCode(e.charCode))
        //        return false;
        //    }
        //    if (isNaN(this.value + String.fromCharCode(e.charCode)))
        //        return false;
        //});

        //$('#Descripcion').on('keyup', function (event) {
        //    var len = $(this).val().length;
        //    if (len > 280) {
        //        $(this).val($(this).val().substring(0, 280));
        //        $('#cantCaracter').text(280 - len);
        //    } else {
        //        $('#cantCaracter').text(280 - len);
        //    }
        //});

        $('.contCaracter').on('keyup', function (event) {
            var len = $(this).val().length;
            var max = $(this).closest('div').find('#cantCaracter').data('cant');
            if (len > max) {
                $(this).val($(this).val().substring(0, max));
                $(this).closest('div').find('#cantCaracter').text(0);
            } else {
                $(this).closest('div').find('#cantCaracter').text(max - len);
            }
        });

        $('#Descripcion').on('keyup', function (event) {
            var len = $(this).val().length;
            if (len > 280) {
                $(this).val($(this).val().substring(0, 280));
                $(this).closest('div').find('#cantCaracter').text(0);
            } else {
                $(this).closest('div').find('#cantCaracter').text(280 - len);
            }
        });

        $('.img-preview a.delete-img').click(function () {
            $(this).parent().slideUp(300).prev('input').val('');
            $(this).parent().next('img').slideUp(300);
            $(this).parent().parent().find('span').html(' ');
        });

        $('body').on('change', '.img-previewer', function () {
            if ($(this).val().length != 0) {
                src = window.URL.createObjectURL(this.files[0]);
                filename = $(this).val();
                $(this).next('.img-preview').find('img').attr('src', src).parent().slideDown(300);
                if (filename.substring(3, 11) == 'fakepath') {
                    filename = filename.substring(12);
                } $(this).parent().find('span').html(filename);

            }
            else {
                $(this).next().find('img').slideUp(300);

            }
        });

        $(document).ready(function () {
            //$('#strFechaInicio').change();
        });

        $('#strFechaInicio').change(function () {

            var _fec = new Date($(this).val().split('/')[2], $(this).val().split('/')[1], $(this).val().split('/')[0]);
            _fec.setDate(_fec.getDate() + 1);

            var strFech = (_fec.getDate() < 10 ? '0' + _fec.getDate() : _fec.getDate()) + '/' + (_fec.getMonth() < 10 ? '0' + _fec.getMonth() : _fec.getMonth()) + '/' + _fec.getFullYear();

            $('#strFechaFin').val(strFech).pickadate('picker').set('min', strFech);
            $('#strFechaFin').change();
        });


        $(document).ready(function () {
            $('.datepicker').pickadate({
                firstDay: 0,
                container: 'body',
                format: 'd-m-yyyy',
                max: false,
                minDate: new Date(@Model.strFechaInicio.Split('/')[2], @Model.strFechaInicio.Split('/')[1], @Model.strFechaInicio.Split('/')[0]),
                selectYears: true,
                selectMonths: true,
                selectYears: 100
            });
        });

        $('.datepickerFuturo').pickadate({
            firstDay: 0,
            container: 'body',
            format: 'dd/mm/yyyy',
            //max: true,
            min: true,
            minDate: new Date(@DateTime.Now.Year, @DateTime.Now.Month, @DateTime.Now.Day),
            selectYears: true,
            selectMonths: true,
            selectYears: 100
        });

        $('#TipoBeneficiario_Codigo').change(function () {
            if ($(this).val() == 1) {
                $('#divPlayers, #divMembers').show();
            } else if ($(this).val() == 2) {
                $('#divMembers').show();
                $('#divPlayers').hide();
            } else if ($(this).val() == 3) {
                $('#divPlayers').show();
                $('#divMembers').hide();
            }
        });

        function fnSuccessProcesar(Data) {
            $('#msjOperacion').html(Data.Mensaje);
            if (Data.EsSatisfactorio) {
                $('#tituloOperacion').html('¡Creación exitosa!');
                setTimeout(function () {
                    window.location.href = '@Url.Action("Index", "Beneficio")';
                }, 6000);
                $('#btnContinuar').css('display', 'inline-block');
                $('#btnPermanecer').css('display', 'none');
            } else {
                $('#tituloOperacion').html('¡Creación fállida!');
                $('#btnContinuar').css('display', 'none');
                $('#btnPermanecer').css('display', 'inline-block');
                console.log(Data);
            }
            $('#exito').css('display', 'block');
        }

        function fnFailProcesar(Data) {
            alert('Disculpe, temporalmente no es posible procesar su registro.');
            console.log(Data);
        }

    </script>

}