﻿@model AAPolo.Entities.EstadisticasCommunity

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@*<div class="col-md-4 col-sm-6">
    <div class="cuenta-card">
        <i class="icon-flag"></i>
        <h3>Total de members</h3>
        <h5>@Model.Total</h5>
    </div>
</div>

<div class="col-md-4 col-sm-6">
    <div class="cuenta-card">
        <i class="icon-user-group"></i>
        <h3>Polo players</h3>
        <h5>@Model.TotalPlayers</h5>
    </div>
</div>

<div class="col-md-4 col-sm-6">
    <div class="cuenta-card">
        <i class="icon-checkmark"></i>
        <h3>Polo members</h3>
        <h5>@Model.TotalMembers</h5>
    </div>
</div>*@
<div class="col-md-12">
    <div class="panel panel-profile">
        <div class="panel-body">
            <h1 class="title-admin pull-left">Beneficios</h1>
            <a href="@Url.Action("CrearBeneficio", "Beneficio")" class="btn btn-lightblue pull-right m-t-0"><i class="icon-plus"></i> Nuevo Beneficio</a>
            <a href="@Url.Action("ReporteMiembro","Beneficio")" target="_blank" download class="btn btn-lightblue pull-right m-t-0 m-r-10"><i class="icon-plus"></i> Descargar excel miembros registrados</a>

            <div class="clearfix"></div>

            <div id="divListado">
                @Html.Action("_Listado", "Beneficio")
            </div>


            @*<ul class="pagination">
            <li class="current"><a href="javascript:void(0);">1</a></li>
            <li><a href="javascript:void(0);">2</a></li>
            <li><a href="javascript:void(0);">3</a></li>
            <li><a href="javascript:void(0);">4</a></li>
            <li><a href="javascript:void(0);">5</a></li>
            <li><a href="javascript:void(0);">6</a></li>
            <li><a href="javascript:void(0);">7</a></li>
            <li><a href="javascript:void(0);">8</a></li>
            <li><a href="javascript:void(0);">9</a></li>
            <li><a href="javascript:void(0);">10</a></li>
        </ul>*@
        </div>
    </div>
</div>

<div class="modal" id="exito">
    <div class="modal-overlay" data-dismiss="exito"></div>

    <div class="modal-dialogo modal-dialogo-600">
        <div class="modal-header">
            <h2 data-icon="&#xe04e;" id="tituloOperacion">¡Actualización exitosa!</h2>
            <i class="icon-cross" data-dismiss="exito"></i>
        </div>

        <div class="modal-contenido clearfix">
            <div class="col-md-12 clearfix">
                <p id="msjOperacion"></p>

                <div class="modal-opciones text-right">
                    <a href="#" id="btnContinuar" class="btn btn-lightblue m-t-0" data-dismiss="exito">Ok</a>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{

    <script>

        localStorage.setItem('opMenu', 'aLiCommunityBeneficios');
        $('#aLiCommunity').css('display', 'block');
        $('.submenu').addClass('open');

        function cambiarEstatus(Codigo, Estado) {
            console.log(Codigo + ' - ' + Estado);
            var url = '@Url.Action("CambiarEstadoBeneficio", "Beneficio", new { Codigo = "_Codigo", EstadoBeneficio = "_Estado" })'
                .replace('_Codigo', Codigo)
                .replace('_Estado', Estado)
                .replace(/amp;/g, '');

            console.log(url);
            $.post(url, function (Data) {

                $('#msjOperacion').html(Data.Mensaje);
                if (Data.EsSatisfactorio) {
                    $('#td_' + Codigo).attr('onclick', 'javascript:cambiarEstatus(' + Codigo + ',' + (Estado == 1 ? 0 : 1) + ')');
                    $('#tituloOperacion').html('¡Actualización exitosa!');
                } else {
                    $('#tituloOperacion').html('¡Actualización fállida!');
                    console.log(Data);
                }
                $('#exito').css('display', 'block');
            });
        }

        function cambiarEstatusDestacado(Codigo, Estado) {
            console.log(Codigo + ' - ' + Estado);
            var url = '@Url.Action("CambiarEstadoDestacadoBeneficio", "Beneficio", new { Codigo = "_Codigo", EstadoDestacadoBeneficio = "_Estado" })'
                .replace('_Codigo', Codigo)
                .replace('_Estado', Estado)
                .replace(/amp;/g, '');

            $.post(url, function (Data) {
                
                $('#msjOperacion').html(Data.Mensaje);
                if (Data.EsSatisfactorio) {
                    $('#td_des_' + Codigo).attr('onclick', 'javascript:cambiarEstatusDestacado(' + Codigo + ',' + (Estado == 1 ? 0 : 1) + ')');
                    $('#tituloOperacion').html('¡Actualización exitosa!');
                } else {
                    $('#td_des_' + Codigo + ' .toggle').toggleClass('toggle-active');
                    $('#tituloOperacion').html('¡Actualización fállida!');
                    console.log(Data);
                }
                $('#exito').css('display', 'block');
            });
        }

    </script>

}