﻿@model IEnumerable<AAPolo.Entities.Club>


@foreach (var item in Model)
{
    <li>
        <a href="javascript:void(0);" onclick="javascript:clickSeleccionClub(@item.Codigo,'@item.NombreClub')">
            <h3>@item.NombreClub</h3>
            @if (!String.IsNullOrEmpty(item.lDomicilio.FirstOrDefault().DireccionCompleta)) {
                <p>Ubicación: <strong>@item.lDomicilio.FirstOrDefault().DireccionCompleta</strong></p>
            }
        </a>
    </li>
}