﻿@model IEnumerable<AAPolo.Entities.PuntoXClub>

<table class="table-default table-admin paginarTabla">
    <thead>
        <tr>

            <th>Club Asociado</th>
            <th>Cantidad de Puntos</th>
            <th>Categoria de acción</th>
            <th>Acción</th>
            <th>Premio que canjeo</th>
            <th>Estado</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td data-label="Club Asociado"><a href="@Url.Action("EditarClub", "Club", new { Codigo = item.Codigo })">@item.NombreClub</a></td>
                <td data-label="Cantidad de Puntos">@item.Puntos</td>
                <td data-label="Categoria de acción">@item.CategoriaAccion.Nombre</td>
                <td data-label="Acción">@item.Accion</td>
                <td data-label="Fecha de carga">@item.Premio</td>
                <td id="td_@item.Cod_Canje" data-label="Estado" onclick="javascript:cambiarEstatus(@item.Cod_Canje, @(item.EsActivoCanje ? 0 : 1))">
                    <div class="toggle @(item.EsActivoCanje ? "toggle-active" : "") has-tooltip" title="Activo" data-on="Activo" data-off="Inactivo">
                        <div class="toggle-inner"></div>
                    </div>
                </td>
                <td data-label="Editar discplina" class="text-right"><a href="@Url.Action("EditarRegistroPuntaje", "Temporada", new { Codigo = item.Cod_Canje })" class="btn btn-lightblue btn-small">Editar Acción</a></td>
            </tr>
        }
    </tbody>
</table>