﻿@model IEnumerable<AAPolo.Entities.CategoriaAccion>

<option value="0" @(ViewBag.Codigo > 0 ? "" : "selected") disabled>Seleccione categoría</option>
@foreach (var item in Model)
{
    <option value="@item.Codigo" @(ViewBag.Codigo == item.Codigo ? "selected" : "")>@item.Nombre</option>

}