﻿@model IEnumerable<AAPolo.Entities.Persona>


@foreach (var item in Model)
{
    <li>
        <a href="javascript:void(0);" onclick="javascript:clickSeleccionUsuario(@item.Codigo,'@item.NombreCompleto')">
            <h3>@item.NombreCompleto</h3>
            <p>@item.TipoDocumento.Nombre: <strong>@item.DocumentoIdentidad</strong></p>
            <p>Club: <strong>@item.clubUsuarioPrincipal.NombreClub</strong></p>
        </a>
    </li>

}
