﻿@model IEnumerable<AAPolo.Entities.CategoriaClub>

<option value="0" selected="selected">Seleccione categoría de club</option>
@foreach (var item in Model)
{
    <option value="@item.Codigo">@item.NombreCategoria</option>

}