﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="col-md-12">
    <div class="panel panel-profile">
        <div class="panel-body">
            <h1 class="title-admin pull-left">Clubes</h1>
            <a href="@Url.Action("CrearClub", "Club")" class="btn btn-lightblue pull-right m-t-0"><i class="icon-plus"></i> Crear club</a>
            <a href="@Url.Action("GetReporteDatosClub", "Reporte")" class="btn btn-lightblue pull-right m-t-0">
                <i class="icon-download"></i>
                Descargar Datos de los Clubes
            </a>
            
            <div class="col-md-12">
                <h2>Buscar clubes</h2>
            </div>
            @using (Ajax.BeginForm("Listado", "Club", null, new AjaxOptions { HttpMethod = "POST", OnSuccess = "Buscar", OnFailure = "fBuscar" }, new { @id = "RegistroForm", @class = "form-default ng-pristine ng-valid" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary()

                <div class="col-md-4">
                    <input id="Nombre" name="Nombre" type="text" placeholder="Buscar clubes por nombre" class="ng-pristine ng-valid ng-empty ng-touched" style="" autocomplete="off">
                </div>

                <div class="col-md-3">
                    <select id="Cod_CategoriaClub" name="Cod_CategoriaClub" onchange="javascript: $('#btnFiltro').click()" class="select2-basic ng-pristine ng-untouched ng-valid ng-not-empty select2-hidden-accessible" data-select2-id="buscar-tipo-club" tabindex="-1" aria-hidden="true">
                        @Html.Action("_SelectTipoCategoriaClub", "Club")
                    </select>
                </div>

                <div class="col-md-2">
                    <button type="submit" id="btnFiltro" class="btn btn-lightblue btn-full"><i class="icon-search"></i> Buscar</button>
                </div>

            }
            <div class="clearfix"></div>

            <div class="listadoTabla">
                @Html.Action("Listado", "Club")
            </div>

            @*<ul class="pagination">
                <li class="current"><a href="javascript:void(0);">1</a></li>
                <li><a href="javascript:void(0);">2</a></li>
                <li><a href="javascript:void(0);">3</a></li>
                <li><a href="javascript:void(0);">4</a></li>
                <li><a href="javascript:void(0);">5</a></li>
                <li><a href="javascript:void(0);">6</a></li>
                <li><a href="javascript:void(0);">7</a></li>
                <li><a href="javascript:void(0);">8</a></li>
                <li><a href="javascript:void(0);">9</a></li>
                <li><a href="javascript:void(0);">10</a></li>
            </ul>*@
        </div>
    </div>
</div>

<div class="modal" id="exito">
    <div class="modal-overlay" data-dismiss="exito"></div>

    <div class="modal-dialogo modal-dialogo-600">
        <div class="modal-header">
            <h2 data-icon="&#xe04e;" id="tituloOperacion">¡Actualización exitosa!</h2>
            <i class="icon-cross" data-dismiss="exito"></i>
        </div>

        <div class="modal-contenido clearfix">
            <div class="col-md-12 clearfix">
                <p id="msjOperacion"></p>

                <div class="modal-opciones text-right">
                    <a href="#" id="btnContinuar" class="btn btn-lightblue m-t-0" data-dismiss="exito">Ok</a>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{

    <script>

        localStorage.setItem('opMenu', 'aLiClub');

        function Buscar(Data) {
            if (Data != null) {
                $('.listadoTabla').html(Data);
                PaginacionDeTablas('.paginarTabla', 20);
            }

        }

        function fBuscar(Data) {
            alert('Disculpe, no es posible realizar la busqueda.');
            console.log(Data);
        }

        function cambiarEstatus(Codigo, Estado) {
            console.log(Codigo + ' - ' + Estado);
            var url = '@Url.Action("CambiarEstadoClub","Club", new { Codigo = "_Codigo", EstadoClub = "_Estado" })'
                .replace('_Codigo', Codigo)
                .replace('_Estado', Estado)
                .replace(/amp;/g, '');

            console.log(url);
            $.post(url, function (Data) {
                
                $('#msjOperacion').html(Data.Mensaje);
                if (Data.EsSatisfactorio) {
                    $('#td_' + Codigo).attr('onclick', 'javascript:cambiarEstatus(' + Codigo + ',' + (Estado == 1 ? 0 : 1) + ')');
                    $('#tituloOperacion').html('¡Actualización exitosa!');
                } else {
                    $('#tituloOperacion').html('¡Actualización fállida!');
                    console.log(Data);
                }
                $('#exito').css('display', 'block');
            });
        }

        function cambiarEstatusDestacado(Codigo, Estado) {
            console.log(Codigo + ' - ' + Estado);
            var url = '@Url.Action("CambiarEstadoDestacadoClub", "Club", new { Codigo = "_Codigo", EstadoDestacadoClub = "_Estado" })'
                .replace('_Codigo', Codigo)
                .replace('_Estado', Estado)
                .replace(/amp;/g, '');

            $.post(url, function (Data) {
                
                $('#msjOperacion').html(Data.Mensaje);
                if (Data.EsSatisfactorio) {
                    $('#td_des_' + Codigo).attr('onclick', 'javascript:cambiarEstatusDestacado(' + Codigo + ',' + (Estado == 1 ? 0 : 1) + ')');
                    $('#tituloOperacion').html('¡Actualización exitosa!');
                } else {
                    $('#td_des_' + Codigo + ' .toggle').toggleClass('toggle-active');
                    $('#tituloOperacion').html('¡Actualización fállida!');
                    console.log(Data);
                }
                $('#exito').css('display', 'block');
            });
        }

    </script>

}
