﻿@model AAPolo.Entities.Miembro
@using AAPolo.Entities;

<div class="col-md-12">
    <h3>Información personal</h3>
</div>

<div class="col-md-4">
    <label for="nombre">Nombre</label>
    @Html.TextBoxFor(model => model.Nombre, new { @class = "CampoRequerido", @data_textCampoRequerid = "Por favor, ingrese nombre" })
</div>

<div class="col-md-4">
    <label for="apellido">Apellido</label>
    @Html.TextBoxFor(model => model.Apellido, new { @class = "CampoRequerido", @data_textCampoRequerid = "Por favor, ingrese apellido" })
</div>

<div class="col-md-4">
    <label for="genero">Género</label>
    <select name="@Html.NameFor(model => model.Genero.Codigo)" id="@Html.IdFor(model => model.Genero.Codigo)" class="select2-basic CampoRequerido" data-textCampoRequerid="Por favor, seleccione genero">
        @Html.Action("_SelectGenero")
    </select>
</div>

<div class="col-md-4">
    <label for="strFechaNacimiento">Fecha de nacimiento</label>
    @Html.TextBoxFor(model => model.strFechaNacimiento, new { @class = "datepicker CampoRequerido", @data_textCampoRequerid = "Por favor, ingrese fecha de nacimiento" })
</div>

<div class="col-md-4">
    <label for="Correo">Email <i class="icon-question has-tooltip" title="Debe coincidir con el campo confirmación de email"></i></label>
    @Html.TextBoxFor(model => model.Correo, new { @class = "CampoRequerido ValidarMail", @value = (Model == null || String.IsNullOrEmpty(Model.Correo) ? "noinformado@noinformado.com" : Model.Correo), @data_textcamporequerid = "Por favor, ingrese una dirección de email válida." })
</div>

<div class="col-md-4">
    @Html.Action("_Contacto", new Contacto() { Nombre = (Model == null || String.IsNullOrEmpty(Model.Correo)? "" : Model.Correo), TipoContacto = new TipoContacto() { Codigo = ConfiguracionAPP.TipoContacto_Email, Nombre = "Confirmar email" } })
</div>

<div class="col-md-4">
    @Html.Action("_Contacto", new Contacto() { Nombre = (Model == null || String.IsNullOrEmpty(Model.TelefonoMiembro) ? "" : Model.TelefonoMiembro), TipoContacto = new TipoContacto() { Codigo = ConfiguracionAPP.TipoContacto_Celular, Nombre = "Celular" } })
</div>

@if (ViewBag.ExigeTarjeta == true)
{
    <div class="col-md-4">
        <label for="NumeroTarjeta">Número de tarjeta <i class="icon-question has-tooltip" title="Si no tenés tarjeta aún pedila  a info@aapolo.com"></i></label>
        @Html.TextBoxFor(model => model.NumeroTarjeta, new { @class = "CampoRequerido has-tooltip", @title = "Si no tenés tarjeta aún pedila  a info@aapolo.com", @placeholder = "EJ xxxxxxxxxxxxxxxxxxxxxx", @data_textCampoRequerid = "Por favor, ingrese número de tarjeta." })
    </div>
}

<div class="col-md-4 m-t-40">
    <input type="checkbox" name="checkCondicionMiembro" id="checkCondicionMiembro" data-valor="0" readonly>
    <label for="admin">
        <a href="javascript:void(0);" data-modal="terminos-condiciones-miembro">Términos y Condiciones</a>
    </label>
</div>

<div class="col-md-4 col-md-offset-8">
    <button type="submit" id="CargarFormMiembro" style="visibility:hidden">Guardar cambios </button>
    <button type="button" class="btn btn-xl btn-full btn-lightblue text-left m-t-20" onclick="javascript:GuardarJugador(this)" disabled="disabled" id="btnFormMiembro">Enviar <i class="icon-arrow-thin-right pull-right"></i></button>
</div>

<script>

    $(document).ready(function () {
        $('.datepicker').pickadate({
            firstDay: 0,
            container: 'body',
            format: 'dd/mm/yyyy',
            max: true,
            minDate: '1918',
            selectYears: true,
            selectMonths: true,
            selectYears: 100
        });

        if ($('#Correo').val() == '')
            $('.ValidarMail').val('');

        var tlf = '@(Model == null || String.IsNullOrEmpty(Model.TelefonoMiembro) ? "": Model.TelefonoMiembro)';

        console.log('tlf: "' + tlf + '"');
        if (tlf == '') {
            $('.TelefonoUsuario').val('');
        }

    });

</script>