﻿@model IEnumerable<AAPolo.Entities.TipoBeneficiario>


@foreach (var item in Model)
{
    <li class="@(Model.First().Codigo == item.Codigo? "current":"")">
        <a href="javascript:void(0)" onclick="javascript:$('#CodTipoBeneficiario').val(@item.Codigo);$('#btnFiltroSubmit').click()">
            <i class="icon-chevron-right"></i> 
            @item.Nombre
        </a>
    </li>
}



