﻿@model IEnumerable<AAPolo.Entities.CategoriaBeneficio>

@foreach (var item in Model)
{
    <li>
        <div class="checkbox">
            <label>
                <input type="checkbox" value="" onclick="javascript:CargarCategoria(@item.Codigo)">
                <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
                <span class="cat-name">@item.Nombre</span>
            </label>
        </div>
    </li>
}
