﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";
}

<link href="@Url.Content("~/Content/css/jquery.fullpage.css")" rel="stylesheet" />

<div id="fullpage">

    <section class="section section-slider-main" id="section1">
        <div class="section-slider">

            <div class="section-inicio">
                <div class="section-slider-holder">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-9">
                                <div class="">
                                    <h1>Polo Community</h1>
                                    <h4>El programa de beneficios exclusivo que conecta a la comunidad del polo.</h4>
                                    @*<a href="#registro" class="btn btn-outline m-t-10 m-b-10">Quiero asociarme</a>*@
                                    <a href="#registro" class="btn m-t-10 m-b-10">¡Asociate ahora!</a>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <img class="pull-right" src="@Url.Content("~/Content/img/community-tar.png")" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="section-como">
                <div class="section-slider-holder">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="text-center">
                                    <h1>¡Ser parte es muy fácil! Seguí estos 4 pasos</h1>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3 col-xs-6">
                                    <div class="tarjeta-community-pasos">
                                        <div class="community-pasos" data-icon="P"></div>
                                        <h3>Escribinos y obtené tu tarjeta <a href="mailto:info@aapolo.com" target="_blank" tabindex="-1">info@aapolo.com</a></h3>
                                    </div>
                                </div>
                                <div class="col-md-3 col-xs-6">
                                    <div class="tarjeta-community-pasos">
                                        <div class="community-pasos" data-icon="("></div>
                                        <h3>Cargá tus datos y tu tarjeta en el formulario</h3>
                                    </div>
                                </div>
                                <div class="col-md-3 col-xs-6">
                                    <div class="tarjeta-community-pasos">
                                        <div class="community-pasos" data-icon="S"></div>

                                        <h3>Aceptá los términos y condiciones</h3>
                                    </div>
                                </div>
                                <div class="col-md-3 col-xs-6">
                                    <div class="tarjeta-community-pasos">
                                        <div class="community-pasos" data-icon=""></div>
                                        <h3>¡Disfrutá de los beneficios!</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="registro-footer">
            <div class="container-fluid">
                <div class="col-md-12">
                    <h4 class="pull-left">Conoce los beneficios desde donde estés.</h4>
                    <div class="pull-right m-t-20">
                        <a href="https://play.google.com/store/apps/details?id=com.amedia.aapolo"><img src="@Url.Content("~/Content/img/google-app.png")" alt="Google Play" style="height: 46px"></a>
                        <a href="https://apps.apple.com/gb/app/aapolo/id1435131234"><img src="@Url.Content("~/Content/img/ios-app.png")" alt="App Store" style="height: 46px"></a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section fp-auto-height section-beneficios" id="section2">
        <div class="container-fluid">

            @Html.Action("_ListadoBeneficioDestacadoLanding", "Community")
        </div>
    </section>

    <section class="section section-registro" id="section3">

        <div class="container-fluid">
            <div class="col-md-12">
                <div class="text-center">
                    <h1>¡Viví la experiencia Polo Community!</h1>
                    @*<h3>Registrate y forma parte de la casa del mejor polo del mundo.</h3>*@
                    <h3>Registrate y formá parte del mejor polo del mundo.</h3>
                </div>
            </div>
            <div class="col-md-12 items-center">
                <div class="col-md-5">
                    <div class="tarjeta-community-in text-center">
                        <img src="@Url.Content("~/Content/img/community-tar1.png")" alt="">
                        <h3>Polo Players</h3>
                        <p>Si ya sos jugador validá tus datos y disfruta de los beneficios.</p>

                        @if (Request.IsAuthenticated)
                        {
                            <a href="@Url.Action("NuevoMiembro", "Community")" class="btn text-center">Accede a los beneficios</a>
                        }
                        else
                        {
                            <a href="javascript:void(0);" class="btn text-center" data-modal="iniciarSesion" onclick="javascript:localStorage.setItem('redirigir','@Url.Action("NuevoMiembro","Community")')">Accede a los beneficios</a>
                        }
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="tarjeta-community-in text-center">
                        <img src="@Url.Content("~/Content/img/community-tar2.png")" alt="">
                        <h3>Polo Members</h3>
                        @*<p>Si sos fanático del deporte completá tus datos y disfruta de los beneficios</p>*@
                        <p>Si sos fanático del deporte registrate y disfruta de los beneficios.</p>
                        <a href="@Url.Action("NuevoMiembroAficionado", "Community", new { ex = 0})" class="btn  text-center">Pedir mi tarjeta</a>
                        @*<a href="@Url.Action("NuevoMiembroAficionado", "Community")" class="btn  text-center">Accede al formulario</a>*@
                    </div>
                </div>
            </div>
        </div>
       
    </section>

</div>



<div class="modal" id="terminosCondicionesBeneficios" style="display: none;">
    <div class="modal-overlay" data-dismiss="terminosCondicionesBeneficios"></div>

    <div class="modal-dialogo modal-dialogo-600">
        <div class="modal-header">
            <h2><i class="icon-information"></i> Términos y condiciones de beneficio</h2>
            <i class="icon-cross" data-dismiss="terminosCondicionesBeneficios"></i>
        </div>

        <div class="modal-contenido clearfix">
            <div class="col-md-12 clearfix">
                <p id="txtTerminoYCondicion">

                </p>
            </div>
        </div>
    </div>
</div>

@section scripts{


    <script src="@Url.Content("~/Scripts/scrolloverflow.min.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery.fullpage.min.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery.fullpage.extensions.min.js")"></script>

    <script>

        localStorage.setItem('opMenu', 'liPoloCommunity');

        setTimeout(function () {
            $('#liPoloCommunityLanding').addClass('current');
        },500);

        $('#fullpage').fullpage({
            'anchors': ['inicio', 'beneficios', 'registro'],
            'navigation': false,
            'navigationPosition': 'right',
            'navigationTooltips': ['Inicio', '¿Cómo formar parte?', '¿Qué es?', 'Registro'],
            'scrollBar': true,
            'paddingTop': '50px',
            'responsiveWidth': 1280,
            'responsiveHeight': 768,
            'scrolloverflow': true,

        });



        $('.section-slider').slick({
            slidesToShow: 1,
            dots: false,
            nav: true,
            arrows: false,
            autoplay: true,
            autoplaySpeed: 1500,
            speed: 500,
            responsive: [
                {
                    breakpoint: 480,
                    settings: {
                        arrows: false,
                    }
                }
            ]
        });

        $('.carousel-cards-destacado, .carousel-cards').slick({
            dots: true,
            infinite: false,
            speed: 300,
            slidesToShow: 4,
            slidesToScroll: 1,
            arrows: false,
            autoplay: false,
            autoplaySpeed: 2000,
            responsive: [
                {
                    breakpoint: 1260,
                    settings: {
                        slidesToShow: 3,
                        slidesToScroll: 1
                    }
                },
                {
                    breakpoint: 992,
                    settings: {
                        slidesToShow: 2,
                        slidesToScroll: 1
                    }
                },
                {
                    breakpoint: 800,
                    settings: {
                        slidesToShow: 1,
                        slidesToScroll: 1,
                        dots: false,
                        arrows: true,
                    }
                }
                // You can unslick at a given breakpoint now by adding:
                // settings: "unslick"
                // instead of a settings object
            ]
        });

        $(document).ready(function (e) {
            fixHeight('.tarjeta-community-pasos');
            if ($(window).width() > 768) {
                fixHeight('.beneficio-destacado');
                fixHeight('.beneficio');
            }
        });

    </script>


}
