﻿@model IEnumerable<AAPolo.Entities.Persona>

@if (Model.Count() > 0)
{
    foreach (var item in Model)
    {
        <li>
            <a href="javascript:void(0);" onclick="javascript:clickSeleccionUsuario(@item.Codigo,'@item.NombreCompleto')">
                <h3>@item.NombreCompleto</h3>
                <p>@item.TipoDocumento.Nombre: <strong>@item.DocumentoIdentidad</strong></p>
                <p>Club: <strong>@item.clubUsuarioPrincipal.NombreClub</strong></p>
            </a>
        </li>

    }

}
else
{
    <li>
        <a href="javascript:void(0);">
            <h3>@AAPolo.Recursos.Recurso.NoSeEncontraronResultados</h3>
        </a>
    </li>
    <li style="visibility:hidden">
    </li>

}