﻿@model IEnumerable<AAPolo.Entities.Vigencia>
@using AAPolo.Entities;
@foreach (var item in Model)
{

    string DuracionHandicap = "";
    if (item.Codigo == ConfiguracionAPP.Vigencia_Anual)
    {
        DuracionHandicap = "Válido hasta el 31/12.";
    }
    else if (item.Codigo == ConfiguracionAPP.Vigencia_Temporal)
    {
        DuracionHandicap = "Válido por 4 meses corridos desde el pago de handicap.";
    }

    <label class="has-tooltip" title="" data-original-title="@DuracionHandicap">
        <input type="radio" class="DuracionHandicap @(item.Codigo==2?"HandTemporal":"")" name="@(ViewBag.NombreElemento).vigencia.Codigo" value="@item.Codigo" @(item.Codigo == Model.FirstOrDefault().Codigo ? "checked" : "" )><span>@item.Nombre</span>
    </label>
}


