﻿@model IEnumerable<AAPolo.Entities.Persona>



<table class="table-default paginarTabla">
    <thead>
        <tr>
            <th>Tipo de pago</th>
            <th>Detalle</th>
            <th>Importe</th>
            <th>Fecha</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td data-label="Tipo de pago">Handicap</td>
            <td data-label="Detalle">Propio</td>
            <td data-label="Importe">$7.600<sup>00</sup></td>
            <td data-label="Fecha">21/04/1990</td>
            <td class="text-right"><a href="javascript:void(0);" class="btn btn-lightblue btn-small">Descargar comprobante</a></td>
        </tr>
        <tr>
            <td data-label="Tipo de pago">Handicap</td>
            <td data-label="Detalle">Propio</td>
            <td data-label="Importe">$7.600<sup>00</sup></td>
            <td data-label="Fecha">21/04/1990</td>
            <td class="text-right"><a href="javascript:void(0);" class="btn btn-lightblue btn-small">Descargar comprobante</a></td>
        </tr>
        <tr>
            <td data-label="Tipo de pago">Handicap</td>
            <td data-label="Detalle">Propio</td>
            <td data-label="Importe">$7.600<sup>00</sup></td>
            <td data-label="Fecha">21/04/1990</td>
            <td class="text-right"><a href="javascript:void(0);" class="btn btn-lightblue btn-small">Descargar comprobante</a></td>
        </tr>
        <tr>
            <td data-label="Tipo de pago">Handicap</td>
            <td data-label="Detalle">Propio</td>
            <td data-label="Importe">$7.600<sup>00</sup></td>
            <td data-label="Fecha">21/04/1990</td>
            <td class="text-right"><a href="javascript:void(0);" class="btn btn-lightblue btn-small">Descargar comprobante</a></td>
        </tr>
        <tr>
            <td data-label="Tipo de pago">Handicap</td>
            <td data-label="Detalle">Propio</td>
            <td data-label="Importe">$7.600<sup>00</sup></td>
            <td data-label="Fecha">21/04/1990</td>
            <td class="text-right"><a href="javascript:void(0);" class="btn btn-lightblue btn-small">Descargar comprobante</a></td>
        </tr>
        <tr>
            <td data-label="Tipo de pago">Handicap</td>
            <td data-label="Detalle">Propio</td>
            <td data-label="Importe">$7.600<sup>00</sup></td>
            <td data-label="Fecha">21/04/1990</td>
            <td class="text-right"><a href="javascript:void(0);" class="btn btn-lightblue btn-small">Descargar comprobante</a></td>
        </tr>
        <tr>
            <td data-label="Tipo de pago">Handicap</td>
            <td data-label="Detalle">Propio</td>
            <td data-label="Importe">$7.600<sup>00</sup></td>
            <td data-label="Fecha">21/04/1990</td>
            <td class="text-right"><a href="javascript:void(0);" class="btn btn-lightblue btn-small">Descargar comprobante</a></td>
        </tr>
    </tbody>
</table>