﻿@model AAPolo.Entities.Persona
@using AAPolo.Entities;
@if (((List<Handicap>)ViewBag.lHandicap) != null && ((List<Handicap>)ViewBag.lHandicap).Count() > 0 )
{
    using (Html.BeginCollectionItem("lPersona"))
    {
        <div class="panel panelDatosJugador" id="div_@Html.IdFor(model => model.Codigo)" onclick="javascript:BorrarSeleccionUsuarioPase(@Model.Codigo)">

            @Html.AntiForgeryToken()
            @Html.HiddenFor(model => model.Codigo)
            @Html.HiddenFor(model => model.Nombre)
            @Html.HiddenFor(model => model.Apellido)
            <input type="hidden" id="@Html.IdFor(model => model.Cod_HandTransicion)" name="@Html.NameFor(model => model.Cod_HandTransicion)" value="@(((List<Handicap>)ViewBag.lHandicap).FirstOrDefault().CodigoHandicapTransicion)" />

            <div class="jugador-pago">
                <a href="javascript:void(0)" onclick="javascript:$('#div_@Html.IdFor(model => model.Codigo)').remove()" class="eliminar-jugador has-tooltip" title="" data-original-title="@AAPolo.Recursos.Recurso.EliminarJugador"><i class="icon-trash"></i></a>

                <ul class="jugador-pago-data">
                    <li><h2>@Model.NombreCompleto</h2></li>
                    <li>@Model.TipoDocumento.Nombre: <span>@Model.DocumentoIdentidad</span></li>
                    <li>Handicap: <span>@Model.HandicapPersona.NroHandicap</span></li>
                    @if (((List<TipoJugador>)ViewBag.lJugador).Any(a => a.Codigo == Model.TipoJugador.Codigo))
                    {
                        <li>Tipo: <span>@(((List<TipoJugador>)ViewBag.lJugador).Where(f => f.Codigo == Model.TipoJugador.Codigo).FirstOrDefault().Nombre)</span></li>
                    }
                    else
                    {
                        <li>Tipo: <span>@(((List<TipoJugador>)ViewBag.lJugador).FirstOrDefault().Nombre)</span></li>
                    }

                    @if (Model.Genero.Codigo == ConfiguracionAPP.Genero_Femenino)
                    {
                        <li>Handicap: <span>@Model.HandicapPersonaSecundario.NroHandicap</span></li>
                    }
                </ul>

                <div class="jugador-radios">
                    <div class="jugador-radio ">
                        <span>Tipo de handicap:</span>
                        @if (((List<TipoJugador>)ViewBag.lJugador).Any(a => a.Codigo == Model.TipoJugador.Codigo))
                        {
                            <label><input type="radio" class="TipoJugador" name="@Html.NameFor(model => model.TipoJugador.Codigo)" id="@Html.IdFor(model => model.TipoJugador.Codigo)" value="@Model.TipoJugador.Codigo" checked><span>@(((List<TipoJugador>)ViewBag.lJugador).Find(f => f.Codigo == Model.TipoJugador.Codigo).Nombre)</span></label>
                        }
                        else
                        {
                            foreach (var item in ((List<TipoJugador>)ViewBag.lJugador))
                            {
                                <label><input type="radio" class="TipoJugador" name="@Html.NameFor(model => model.TipoJugador.Codigo)" id="@Html.IdFor(model => model.TipoJugador.Codigo)" value="@item.Codigo" @(item.Codigo == ((List<TipoJugador>)ViewBag.lJugador).FirstOrDefault().Codigo ? "checked" : "")><span>@item.Nombre</span></label>
                            }
                        }
                    </div>
                    <div class="jugador-radio jugador-radio-categoria">
                        <span>Handicap:</span>
                        @foreach (var item in (List<Handicap>)ViewBag.lHandicap)
                        {
                            string Tooltip = "";
                            //if (item.Categoria.Codigo == ConfiguracionAPP.Categoria_Handicap_Total && item.vigencia.Codigo == ConfiguracionAPP.Vigencia_Anual)
                            //{
                            //    Tooltip = "Participa en torneos oficiales de la AAP y  del interior. Válido hasta el 31/12.";
                            //}
                            //else if (item.Categoria.Codigo == ConfiguracionAPP.Categoria_Handicap_Federado && item.vigencia.Codigo == ConfiguracionAPP.Vigencia_Anual)
                            //{
                            //    Tooltip = "Participa únicamente en torneos del interior. Válido hasta el 31/12.";
                            //}

                            if (item.Codigo == 1 || item.Codigo == 2 || item.Codigo == 64 || item.Codigo == 68)
                            {
                                Tooltip = "Participa en torneos oficiales de la AAP y del interior. Válido hasta el 31/12.";
                            }
                            else if (item.Codigo == 5 /*Federado	Anual*/)
                            {
                                Tooltip = "Participa únicamente en torneos del interior. Válido hasta el 31/12.";
                            }

                            <label class="has-tooltip" title="@Tooltip">
                                <input type="radio" onclick="javascript:$('#@Html.IdFor(model => model.Cod_HandTransicion)').val(@item.CodigoHandicapTransicion);$('#spanImporteHandicapPase_@Model.Codigo').text('@item.strImporte.Replace(',','.')');SumaPagoHandicapPase()" name="@Html.NameFor(model => model.Cod_Hand)" id="@Html.IdFor(model => model.Cod_Hand)" value="@item.Codigo" @(item.Codigo == ((List<Handicap>)ViewBag.lHandicap).FirstOrDefault().Codigo ? "checked" : "" )><span>@item.Nombre</span>
                            </label>
                        }
                    </div>
                </div>
                <div class="jugador-pago-precio">
                    <div class="price-tag">$<span id="spanImporteHandicapPase_@Model.Codigo" class="ImporteHandicapPase">@(((List<Handicap>)ViewBag.lHandicap).FirstOrDefault().strImporte) </span></div>
                </div>
            </div>

        </div>

    }
}