﻿@model AAPolo.Entities.Persona
@using AAPolo.Entities;

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .floating-access {
        display: none !important
    }
</style>

<div class="panel-profile">
    <div class="panel-header line-texture-after">
        <div class="user-profile-pic">
            @Html.Action("_ImgPerfilUsuario", "PerfilJugador")
        </div>

        <hgroup class="user-profile-title">
            <h1>@Model.NombreCompleto</h1>
            <h3>Socio N° @Model.JugadorID</h3>
            @if (Model.lClubUsuarioSecundario.Where(x => x.EsPrincipal).Count() > 0)
            {
                <h4>Club: <strong>@Model.lClubUsuarioSecundario.Find(f => f.EsPrincipal).NombreClub</strong></h4>
            }
            @if (Model.HandicapPago)
            {
                <h4>Handicap: <strong>@Model.HandicapPersona.DescripcionHandicapUsuario</strong></h4>
            }
        </hgroup>

        <ul class="featured-values">
            @*<li>
                    <h4>13</h4>
                    <span>Torneos</span>
                </li>*@
            @if (Model.Genero.Codigo == ConfiguracionAPP.Genero_Femenino)
            {
                <li>
                    <div class="featured-main featured-main-xs">
                        <h4>@Model.HandicapPersona.NroHandicap</h4>
                        <span>Handicap</span>
                    </div>
                    <div class="featured-main featured-main-xs" style="margin-bottom: 0; background: #ec008c">
                        <h4>@Model.HandicapPersonaSecundario.NroHandicap</h4>
                        <span>Handicap femenino</span>
                    </div>
                </li>
            }
            else
            {
                <li class="featured-main">
                    <h4>@Model.HandicapPersona.NroHandicap</h4>
                    <span>Handicap</span>
                </li>
            }

        </ul>
    </div>
    <ul class="tabs-default">
        <li class="current"><a href="javascript:void(0);" data-tab="handicap">@AAPolo.Recursos.Recurso.PagarHandicap</a></li>
        <li><a href="javascript:void(0);" id="linkPestañaPase" data-tab="pase">@AAPolo.Recursos.Recurso.PaseDeCategoria </a></li>
    </ul>
    <div class="panel-body">
        <div class="tab-contents">
            <div class="tab-content" id="handicap" style="display: block;">

                <div class="row">
                    @using (Ajax.BeginForm("ProcesarPago", "PagoHandicap", null, new AjaxOptions { HttpMethod = "POST", OnSuccess = "ProcesarForm", OnFailure = "fProcesarForm" }, new { @id = "RegistroForm", @class = "form-default" }))
                    {
                        @Html.AntiForgeryToken()
                        <div class="col-md-12" id="divPanelPersonas">
                            @if (Model.HandicapPago == false)
                            {
                                @Html.Action("_PagoJugador", new { Codigo = Model.Codigo })
                            }

                        </div>

                        <div class="col-md-12">
                            <div class="add-element-outer" id="jugador_2">
                                <div class="add-element">
                                    @if (Model.HandicapPago && Model.PermitePase)
                                    {
                                        <div class="legend">
                                            <p>
                                                @AAPolo.Recursos.Recurso.YaTienesTuHAndicapPagoHasta <span>@Model.HandicapPersona.strFechaHasta</span><img src="@Url.Content("~/Content/img/clapping.svg")" alt="aplauso">
                                                <a href="javascript:void(0);" onclick="$('#linkPestañaPase').click()" id="msjPaseHand" style="display:none" data-tab="pase">¿Querés realizar un pase de categoría? </a>
                                            </p>
                                        </div>
                                    }
                                    else if (Model.HandicapPago && !Model.PermitePase)
                                    {
                                        <div class="legend">
                                            <p>
                                                @AAPolo.Recursos.Recurso.YaTienesTuHAndicapPagoHasta <span>@Model.HandicapPersona.strFechaHasta</span><img src="@Url.Content("~/Content/img/clapping.svg")" alt="aplauso">
                                            <p id="msjPaseHand" style="display:none">
                                                Luego de 30 días de reálizado su pago podrá realizar pases de handicap
                                            </p>
                                            </p>
                                        </div>
                                    }
                                    <div class="add-element-inner">
                                        <p>@AAPolo.Recursos.Recurso.PagarAOtrosJugadores</p>
                                        <i class="icon-plus" data-modal="buscarGenerico"></i>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="col-md-12" id="fix-bottom">
                            <div class="panel panel-payment fixed-bottom text-center">
                                <div class="pay-group">
                                    <p>@AAPolo.Recursos.Recurso.MontoTotalAbonar: </p>
                                    <div class="price-tag HandicapMontoTotal">$<span>0</span></div>
                                </div>
                                <button type="button" onclick="validarFormHandicap()" class="btn btn-white btn-xl">@AAPolo.Recursos.Recurso.Pagar</button>
                                <button type="submit" id="btnSubmitFormHandicap" class="btn btn-white btn-xl" style="display:none">Pagar</button>
                                @*<label><input type="checkbox" name="torneo-terminos" id="torneo-terminos"> He leído y acepto las <a href="javascript:void();" data-modal="condicionesTorneo">condiciones de participación del torneo.</a></label>*@
                                <p class="text-center">
                                    @*@AAPolo.Recursos.Recurso.ConfirmacionInmPago*@
                                    Si en MercadoPago elegís pagar en efectivo deberás enviar el comprobante a info@aapolo.com
                                    <br>
                                </p>
                            </div>
                        </div>
                    }
                </div>


            </div>

            <div class="tab-content" id="pase">
                <div class="row">
                    @using (Ajax.BeginForm("ProcesarPagoPase", "PagoHandicap", null, new AjaxOptions { HttpMethod = "POST", OnSuccess = "ProcesarFormPase", OnFailure = "fProcesarFormPase" }, new { @id = "RegistroFormPase", @class = "form-default" }))
                    {
                        @Html.AntiForgeryToken()
                        <div class="col-md-12" id="divPanelPersonasPase">@if (Model.HandicapPago@*&& Model.PermitePase*@)
{@Html.Action("_PagoJugadorPase", new { Codigo = Model.Codigo })}</div>

                        <div class="col-md-12">
                            <div class="add-element-outer" id="jugador_2">
                                <div class="add-element">
                                    <div class="add-element-inner">
                                        <p>@AAPolo.Recursos.Recurso.PagarAOtrosJugadores</p>
                                        <i class="icon-plus" data-modal="buscarGenericoPase" onclick="$('#resultadosBusquedaPase').html('')"></i>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="col-md-12">
                            <div class="panel panel-payment text-center">
                                <div class="pay-group">
                                    <p>@AAPolo.Recursos.Recurso.MontoTotalAbonar: </p>
                                    <div class="price-tag PaseHandicap">$<span>0</span></div>
                                </div>
                                <button type="submit" class="btn btn-white btn-xl">@AAPolo.Recursos.Recurso.Pagar</button>
                                @*<label><input type="checkbox" name="torneo-terminos" id="torneo-terminos"> He leído y acepto las <a href="javascript:void();" data-modal="condicionesTorneo">condiciones de participación del torneo.</a></label>
                                    <p class="text-center">@AAPolo.Recursos.Recurso.ConfirmacionInmPago<br></p>*@
                                @*<label><input type="checkbox" name="torneo-terminos" id="torneo-terminos"> He leído y acepto las <a href="javascript:void();" data-modal="condicionesTorneo">condiciones de participación del torneo.</a></label>*@
                                <p class="text-center">
                                    @*@AAPolo.Recursos.Recurso.ConfirmacionInmPago*@
                                    Si en MercadoPago elegís pagar en efectivo deberás enviar el comprobante a info@aapolo.com
                                    <br>
                                </p>
                            </div>
                        </div>
                    }

                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal" id="buscarGenerico">
    <div class="modal-overlay" data-dismiss="buscarGenerico"></div>

    <div class="modal-dialogo modal-dialogo-800">
        <div class="modal-header">
            <h2 data-icon="&#xe041;">Búsqueda</h2>
            <i class="icon-cross" data-dismiss="buscarGenerico"></i>
        </div>

        <div class="modal-contenido clearfix">
            @using (Ajax.BeginForm("_BuscarUsuario", "PagoHandicap", null, new AjaxOptions
            {
                HttpMethod = "POST",
                //UpdateTargetId = "resultadosBusqueda",
                OnSuccess = "BuscarUsuario"@*, OnFailure = "fBuscarUsuario"*@ }, new { @class = "form-default clearfix" }))
            {
                <div class="col-md-12">
                    <label for="jugador-pagar" class="m-b-10">
                        <small><strong>@AAPolo.Recursos.Recurso.PuedeSeleccionarMasDeUnJugador</strong></small>
                        <h3 class="inner-title m-t-0">@AAPolo.Recursos.Recurso.BuscaPorNombreODNI</h3>
                        <p style="color: #ec008c;"> * @AAPolo.Recursos.Recurso.NoSeMostraranJugadoresConPagosDeHandicapEnProcesoOHandicapConfirmado </p>
                    </label>
                </div>
                <div class="col-md-8">
                    <input type="text" name="Cadena" id="Cadena" placeholder="@AAPolo.Recursos.Recurso.NombreDNI">
                </div>
                <div class="col-md-4">
                    <button type="submit" id="btnBuscar" class="btn btn-lightblue btn-full text-center" onclick="javascript:$('#resultadosBusqueda').html('')"><i class="icon-search"></i> @AAPolo.Recursos.Recurso.Buscar</button>
                </div>

            }

            <div class="col-md-12">
                <ul class="resultados-busqueda clearfix" id="resultadosBusqueda"></ul>
                <hr class="m-t-0 m-b-20">
            </div>

            <div class="col-md-4 col-md-offset-8">
                <button class="btn btn-full btn-red text-left m-t-20" data-dismiss="buscarGenerico" onclick="javascript:seleccionarUsuario()">@AAPolo.Recursos.Recurso.Agregar<i class="icon-arrow-thin-right pull-right"></i></button>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="buscarGenericoPase">
    <div class="modal-overlay" data-dismiss="buscarGenerico"></div>

    <div class="modal-dialogo modal-dialogo-800">
        <div class="modal-header">
            <h2 data-icon="&#xe041;">Búsqueda</h2>
            <i class="icon-cross" data-dismiss="buscarGenericoPase"></i>
        </div>

        <div class="modal-contenido clearfix">
            @using (Ajax.BeginForm("_BuscarUsuarioPase", "PagoHandicap", null, new AjaxOptions
            {
                HttpMethod = "POST",
                //UpdateTargetId = "resultadosBusquedaPase"
                OnSuccess = "BuscarUsuarioPase"
            }, new { @class = "form-default clearfix" }))
            {
                <div class="col-md-12">
                    <label for="jugador-pagar" class="m-b-10">
                        <small><strong>@AAPolo.Recursos.Recurso.PuedeSeleccionarMasDeUnJugador</strong></small>
                        <h3 class="inner-title m-t-0">@AAPolo.Recursos.Recurso.BuscaPorNombreODNI</h3>
                    </label>
                </div>
                <div class="col-md-8">
                    <input type="text" name="Cadena" id="Cadena" placeholder="@AAPolo.Recursos.Recurso.NombreDNI">
                </div>
                <div class="col-md-4">
                    <button type="submit" id="btnBuscar" class="btn btn-lightblue btn-full text-center" onclick="javascript:$('#resultadosBusquedaPase').html('')"><i class="icon-search"></i> @AAPolo.Recursos.Recurso.Buscar</button>
                </div>

            }

            <div class="col-md-12">
                <ul class="resultados-busqueda clearfix" id="resultadosBusquedaPase"></ul>
                <hr class="m-t-0 m-b-20">
            </div>
            <div class="col-md-12">
                <p style="color: #ec008c;"> * @AAPolo.Recursos.Recurso.SoloPuedeBuscarPersonasConHandicapPago</p>
            </div>
            <div class="col-md-4 col-md-offset-8">
                <button class="btn btn-full btn-red text-left m-t-20" data-dismiss="buscarGenericoPase" onclick="javascript:seleccionarUsuarioPase()">@AAPolo.Recursos.Recurso.Agregar<i class="icon-arrow-thin-right pull-right"></i></button>
            </div>
        </div>
    </div>
</div>


@section scripts{
    <script>

        localStorage.setItem('opMenu', 'liHandicap');

        $(document).ready(function () {
            //console.log('"' + $('#divPanelPersonasPase').html() + '" - trim:"' + $('#divPanelPersonasPase').html().trim() + '"');
            if ($('#divPanelPersonasPase').html().trim() == '') {
                $('#msjPaseHand').css('display', 'none');
                //console.log('no hay pase');
            } else {
                console.log('hay pase');
                if (@Model.HandicapPago.ToString().ToLower() == true && @Model.PermitePase.ToString().ToLower() == false) {
                    $('#msjPaseHand').css('display', 'inline');
                    $('#divPanelPersonasPase').html('');
                } else {
                    $('#msjPaseHand').css('display', 'none');
                }
            }
        });

        if (localStorage.getItem('redirigir') != '' && localStorage.getItem('redirigir') != 'null' && localStorage.getItem('redirigir') != null) {
            var redirigir = localStorage.getItem('redirigir');
            localStorage.setItem('redirigir', '');
            window.location.href = redirigir;
        }


        $(document).on('click', '.resultados-busqueda li a', function () {
            $(this).toggleClass('marked');
        });

        $(document).on('click','.CategoriaHandicap',function () {
            //console.log('CategoriaHandicap: ' + $(this).val());
            if ($(this).val() == 52/*Basico*/ || ($(this).val() == 2 && $(this).closest('.jugador-pago').find('.TipoJugador[checked]').val() == 2) || ($(this).val() == 1 && $(this).closest('.jugador-pago').find('.TipoJugador[checked]').val() == 2)) {
                $(this).closest('.jugador-radios').find('.HandTemporal').attr('disabled', true);
            } else {
                $(this).closest('.jugador-radios').find('.HandTemporal').attr('disabled', false);
            }
        });

        $(document).on('click','.DuracionHandicap',function () {
            //console.log('DuracionHandicap: ' + $(this).val());
            if ($(this).val() == 2/*temporal*/) {

                $(this).closest('.jugador-radios').find('.CategoriaHandicapBasico').attr('disabled', true);
                $(this).closest('.jugador-pago').find('.Cod_CategoriaHandicap[value=2]').attr('disabled', true);

                if ($(this).closest('.jugador-pago').find('.Cod_CategoriaHandicap[checked]').val() == 2 && $(this).closest('.jugador-pago').find('.TipoJugador[checked]').val() == 2) {

                }
            } else {
                $(this).closest('.jugador-radios').find('.CategoriaHandicapBasico').attr('disabled', false);
                $(this).closest('.jugador-pago').find('.Cod_CategoriaHandicap').attr('disabled', false);
            }
        });

        $(document).on('click', '.CategoriaHandicap', function () {
            var CategoriaHandicap = $(this).val();
            var TipoJugador = $(this).closest('.jugador-radios').find('.TipoJugador:checked').val();
            var DuracionHandicap = $(this).closest('.jugador-radios').find('.DuracionHandicap:checked').val();
            var Ident = $(this).attr('name');

            var IdentSpanCosto = $(this).closest('.jugador-pago').find('span.ImporteHandicap').attr('id');

            var url = '@Url.Action("BuscarCostoHandicap", "PagoHandicap", new { Cod_TipoJugador = "_Cod_TipoJugador", Cod_Vigencia = "_Cod_Vigencia", Cod_CategoriaHandicap = "_Cod_CategoriaHandicap" })'
                .replace('_Cod_TipoJugador', TipoJugador)
                .replace('_Cod_Vigencia', DuracionHandicap)
                .replace('_Cod_CategoriaHandicap', CategoriaHandicap)
                .replace(/amp;/g,'');

            $.post(url, function (Data) {
                $('input[name="' + Ident + '"]').closest('.panelDatosJugador').find('.CodigoHandicap').val(Data.Codigo)

                $('#' + IdentSpanCosto).text(Data.strImporte);

                if (Data.strImporte == '' || Data.strImporte == null) {
                    alert('Disculpe, la combinacion seleccionada para entre duración y categoría de handicap no poseen precio asignado, por favor seleccione otra opción.')
                }
                SumaPagoHandicap();
            });

        });

        $(document).on('click', '.DuracionHandicap', function () {
            var DuracionHandicap = $(this).val();
            var TipoJugador = $(this).closest('.jugador-radios').find('.TipoJugador:checked').val();
            var CategoriaHandicap = $(this).closest('.jugador-radios').find('.CategoriaHandicap:checked').val();
            var Ident = $(this).attr('id');

            var IdentSpanCosto = $(this).closest('.jugador-pago').find('span.ImporteHandicap').attr('id');

            var url = '@Url.Action("BuscarCostoHandicap", "PagoHandicap", new { Cod_TipoJugador = "_Cod_TipoJugador", Cod_Vigencia = "_Cod_Vigencia", Cod_CategoriaHandicap = "_Cod_CategoriaHandicap" })'
                .replace('_Cod_TipoJugador', TipoJugador)
                .replace('_Cod_Vigencia', DuracionHandicap)
                .replace('_Cod_CategoriaHandicap', CategoriaHandicap)
                .replace(/amp;/g, '');

            $.post(url, function (Data) {
                if (Ident != undefined) {
                    $('#' + IdentSpanCosto).closest('.panelDatosJugador').find('.CodigoHandicap').val(Data.Codigo);

                } else {
                    $('.CodigoHandicap').last().val(Data.Codigo);
                }
                $('#' + IdentSpanCosto).text(Data.strImporte);

                if (Data.strImporte == '' || Data.strImporte ==  null ) {
                    alert('Disculpe, la combinacion seleccionada para entre duración y categoría de handicap no poseen precio asignado, por favor seleccione otra opción.')
                }

                SumaPagoHandicap();
            });

        });

        $(document).on('click', 'TipoJugador', function () {
            var TipoJugador = $(this).val();
            var CategoriaHandicap = $(this).closest('.jugador-radios').find('.CategoriaHandicap:checked').val();
            var DuracionHandicap = $(this).closest('.jugador-radios').find('.DuracionHandicap:checked').val();
            var Ident = $(this).attr('id');

            var url = '@Url.Action("BuscarCostoHandicap", "PagoHandicap", new { Cod_TipoJugador = "_Cod_TipoJugador", Cod_Vigencia = "_Cod_Vigencia", Cod_CategoriaHandicap = "_Cod_CategoriaHandicap" })'
                .replace('_Cod_TipoJugador', TipoJugador)
                .replace('_Cod_Vigencia', DuracionHandicap)
                .replace('_Cod_CategoriaHandicap', CategoriaHandicap)
                .replace(/amp;/g,'');

            $.post(url, function (Data) {
                $('#' + Ident).closest('.panelDatosJugador').find('.CodigoHandicap').val(Data.Codigo);
                $('#' + Ident).closest('.panelDatosJugador').find('span.ImporteHandicap').text(Data.strImporte);
                if (Data.strImporte == '' || Data.strImporte == null) {
                    alert('Disculpe, la combinacion seleccionada para entre duración y categoría de handicap no poseen precio asignado, por favor seleccione otra opción.')
                }
            });

        });


        var lstCodigoPersona = [],
            lstCodigoPersonaHistorico = [];
        function clickSeleccionUsuario(Codigo, Nombre) {

            if (lstCodigoPersona.indexOf(Codigo) == -1 && lstCodigoPersonaHistorico.indexOf(Codigo) == -1)
                lstCodigoPersona.push(Codigo);
            else {
                var index = lstCodigoPersona.indexOf(Codigo);
                if (index > -1) {
                    lstCodigoPersona.splice(index, 1);
                }
                //index = lstCodigoPersonaHistorico.indexOf(Codigo);
                //if (index > -1) {
                //    lstCodigoPersonaHistorico.splice(index, 1);
                //}

            }
        }

        function seleccionarUsuario() {
            for (var i = 0; i < lstCodigoPersona.length; i++) {
                lstCodigoPersonaHistorico.push(lstCodigoPersona[i]);

                var url = '@Url.Action("_PagoJugador", new { Codigo = "_Codigo" })'.replace('_Codigo', lstCodigoPersona[i]);

                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("_PagoJugador")',
                    data: { Codigo: lstCodigoPersona[i] },
                    success: function (Data) {
                        $('#divPanelPersonas').append(Data);
                    },
                    //dataType: 'json',
                    async: false
                });

            }
            lstCodigoPersona = [];
            $('.resultados-busqueda li a').removeClass('marked');

            $('#divPanelPersonas .panel').each(function (element, index) {

                var TipoJugador = $(index).find('.TipoJugador:checked').val();
                var CategoriaHandicap = $(index).find('.CategoriaHandicap:checked').val();
                var DuracionHandicap = $(index).find('.DuracionHandicap:checked').val();

                var IdentSpanCosto = $(index).find('span.ImporteHandicap').attr('id');
                var Ident = $(index).find('.TipoJugador').attr('id');

                var url = '@Url.Action("BuscarCostoHandicap", "PagoHandicap", new { Cod_TipoJugador = "_Cod_TipoJugador", Cod_Vigencia = "_Cod_Vigencia", Cod_CategoriaHandicap = "_Cod_CategoriaHandicap" })'
                    .replace('_Cod_TipoJugador', TipoJugador)
                    .replace('_Cod_Vigencia', DuracionHandicap)
                    .replace('_Cod_CategoriaHandicap', CategoriaHandicap)
                    .replace(/amp;/g,'');

                $.ajax({
                    type: 'POST',
                    url: url,
                    success: function (Data) {
                        $('#' + IdentSpanCosto).closest('.panelDatosJugador').find('.CodigoHandicap').val(Data.Codigo);
                        $('#' + IdentSpanCosto).text(Data.strImporte);
                        //console.log('Data.strImporte: ' + Data.strImporte)
                    },
                    async: false
                });

            }).promise().done(function () {
                $('select').select2();
                //console.log('llamando SumaPagoHandicap');
                SumaPagoHandicap();
            });

        }

        $(document).ready(function () {
            $('.DuracionHandicap').click();
        });

        var lstCodigoPersonaPase = [],
            lstCodigoPersonaHistoricoPase = [];
        function clickSeleccionUsuarioPase(Codigo, Nombre) {
            if (lstCodigoPersonaPase.indexOf(Codigo) == -1 && lstCodigoPersonaHistoricoPase.indexOf(Codigo) == -1)
                lstCodigoPersonaPase.push(Codigo);
            else {
                var index = lstCodigoPersonaPase.indexOf(Codigo);
                if (index > -1) {
                    lstCodigoPersonaPase.splice(index, 1);
                }
                //index = lstCodigoPersonaHistoricoPase.indexOf(Codigo);
                //if (index > -1) {
                //    lstCodigoPersonaHistoricoPase.splice(index, 1);
                //}

            }
        }

        function BorrarSeleccionUsuarioPase(Codigo) {
            var index = lstCodigoPersonaHistoricoPase.indexOf(Codigo);
            if (index > -1) {
                lstCodigoPersonaHistoricoPase.splice(index, 1);
            }
        }

        function BorrarSeleccionUsuario(Codigo){
            var index = lstCodigoPersonaHistorico.indexOf(Codigo);
            if (index > -1) {
                lstCodigoPersonaHistorico.splice(index, 1);
            }
        }

        function seleccionarUsuarioPase() {
            for (var i = 0; i < lstCodigoPersonaPase.length; i++) {
                console.log('value: ' + lstCodigoPersonaPase[i]);
                lstCodigoPersonaHistoricoPase.push(lstCodigoPersonaPase[i]);

                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("_PagoJugadorPase")',
                    data: { Codigo: lstCodigoPersonaPase[i] },
                    success: function (Data) {
                        $('#divPanelPersonasPase').append(Data);
                    },
                    //dataType: 'json',
                    async: false
                });

            }
            lstCodigoPersonaPase = [];
            $('.resultados-busqueda li a').removeClass('marked');
            SumaPagoHandicapPase();
        }

        function ProcesarForm(Data) {
            if (Data.EsSatisfactorio) {
                localStorage.setItem('opMenu', 'liPagos');
                window.location.href = Data.Cadena;
            } else {
                console.log(Data);
                alert(Data.Mensaje);
            }

        }

        function fProcesarForm(Data) {
            alert('Disculpe, no es posible realizar su transacción.');
            console.log(Data)
        }

        $(document).ready(function () {
            SumaPagoHandicap();
            SumaPagoHandicapPase();
        });
        function SumaPagoHandicap() {
            var Monto = 0;

            $('span[class="ImporteHandicap"]').each(function (index, item) {
                if ($(this).closest('.jugador-pago').find('.CategoriaHandicap[checked]').val() == 3/*Membresia*/) {
                    $(this).closest('.jugador-pago').find('.HandTemporal').attr('disabled', true);
                }

                if ($(this).text() != '') {
                    Monto = parseFloat(Monto) + parseFloat($(this).text().replace(',', '.'));
                }
            }).promise().done(function () {
                $('.HandicapMontoTotal > span').text(Monto.toFixed(2));
            });

        }

        function SumaPagoHandicapPase() {
            var Monto = 0;
            $('span[class="ImporteHandicapPase"]').each(function (index, item) {

                if ($(this).text() != '') {
                    Monto = parseFloat(Monto) + parseFloat($(this).text().replace(',', '.'));
                }
            }).promise().done(function () {

                $('.PaseHandicap > span').text(Monto.toFixed(2));
            });

        }


        function ProcesarFormPase(Data) {
            if (Data.EsSatisfactorio) {
                localStorage.setItem('opMenu', 'liPagos');
                window.location.href = Data.Cadena;
            } else {
                console.log(Data);
                alert(Data.Mensaje);
            }

        }

        function fProcesarFormPase(Data) {
            alert('Disculpe, no es posible realizar su transacción.');
            console.log(Data)
        }

        function mostrarAlerta(msj) {
            alert(msj);
        }

        function validarFormHandicap() {
            var mostrar = true;
            $.each($('.selectClub'),function (value) {

                var id = $(this).attr('name');

                if (($(this).val()==null || parseInt($(this).val()) == 0) && mostrar == true) {
                    $('#' + id).focus();
                    mostrarAlerta('Disculpe, seleccione un club para cada persona a pagar.');
                    mostrar = false;
                }

                if ($('select[name="' + id + '"] option:selected').data('permiteseleccion') == 0 && mostrar == true) {
                    mostrarAlerta('Disculpe, el club seleccionado debe pagar su afiliación para permitir el pago de handicap.');
                    $('#' + id).focus();
                    mostrar = false;
                }
            }).promise().done(function () {
                if (mostrar == true) {
                    $('#btnSubmitFormHandicap').click();
                }
            });
        }

        function BuscarUsuario(Data) {
            $('#resultadosBusqueda').html(Data);
            if ($('#resultadosBusqueda li').length == 1) {
                $('#resultadosBusqueda li a').click();
                seleccionarUsuario();
                $('#buscarGenerico').hide();
            }
        }

        function BuscarUsuarioPase(Data) {
            $('#resultadosBusquedaPase').html(Data);
            if ($('#resultadosBusquedaPase li').length == 1) {
                $('#resultadosBusquedaPase li a').click();
                seleccionarUsuarioPase();
                $('#buscarGenericoPase').hide();
            }
        }

        /************************************************************************************************************************************************/

        var scrollHandler = function () {
            var y = $(this).scrollTop();
            var panelHeight = $('.panel-payment').outerHeight();
            marginTop = $(window).height() - panelHeight;
            var navWrap = $('#fix-bottom').offset().top - marginTop;
            if (y > navWrap) {
                $('.panel-payment').removeClass('fixed-bottom');
            } else {
                $('.panel-payment').addClass('fixed-bottom');
            }
        };

        $(window).on('scroll', scrollHandler);

        $(document).ready(function () {
            var originalSize = $(window).width() + $(window).height()
            $(window).resize(function () {
                if ($(window).width() + $(window).height() < originalSize - 50) {
                    $('.panel-payment').removeClass('fixed-bottom');
                    $(window).off('scroll');
                } else {
                    $('.panel-payment').addClass('fixed-bottom');
                    $(window).on('scroll', scrollHandler);
                }
            });
        });

    </script>
}