﻿


<!doctype html>
<html class="no-js" lang="">
<head prefix="og: http://ogp.me/ns#">
    <!-- Google Tag Manager -->
    <script>(function (w, d, s, l, i) { w[l] = w[l] || []; w[l].push({ 'gtm.start': new Date().getTime(), event: 'gtm.js' }); var f = d.getElementsByTagName(s)[0], j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src = 'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f); })(window, document, 'script', 'dataLayer', 'GTM-W7WJ8TR');</script>
    <!-- End Google Tag Manager -->

    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Asociación Argentina de Polo</title>
    <meta name="description" content="Sitio web oficial de la AAP.">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, viewport-fit=cover">
    <meta property="og:title" content="Asociación Argentina de Polo | Torneos">
    <meta property="og:url" content="http://grupoamedia.com.ar/aapolo/maquetacion/index.html">
    <meta property="og:description" content="Sitio web oficial de la AAP.">
    <meta property="og:image" content="http://grupoamedia.com.ar/aapolo/maquetacion/img/share-img.jpg">
    <meta property="og:type" content="article">
    <meta name="theme-color" content="#2065a5">

    <link rel="apple-touch-icon" href="icon.png">
    <!-- Place favicon.ico in the root directory -->
    <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700,900" rel="stylesheet">



    @Styles.Render("~/Content/stylesLayout")

    <style>
        .wow {
            visibility: hidden;
        }
    </style>
</head>
<body>
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-W7WJ8TR" height="0" width="0" style="display:none; visibility:hidden;"></iframe></noscript>

    <div class="overlay-nav"></div>
    <header>
        <a href="@Url.Action("Index","Home")" class="logo">
            <img src="@Url.Content("~/Content/img/abierto-palermo-2019/logo-abierto-palermo.png")" alt="126 Abierto Argentino de Palermo" class="hide-mobile">
            <img src="@Url.Content("~/Content/img/abierto-palermo-2019/logo-abierto-mobile.png")" alt="126 Abierto Argentino de Palermo" class="show-mobile">
        </a>

        <nav class="main-nav">
            <ul>
                @Html.Partial("_Menus")
                
            </ul>


        </nav>

        <div class="header-right">
            <a href="https://www.allaccess.com.ar/event/abierto-argentino-de-polo-abonos" class="btn-login" target="_blank">Comprar entradas</a>
        </div>

        <div class="burger open-nav">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </header>


    @RenderBody()

    <footer>
        <div class="container-fluid">
            <div class="wrapper clearfix">
                <div class="col-md-12">
                    <img src="@Url.Content("~/Content/img/abierto-palermo-2019/logo-footer.png")" alt="Asociación Argentina de Polo" class="logo-footer">
                    <div class="info-footer">
                        <p>Copyright 2018 AAPOLO<span class="hide-mobile"> |</span><br class="show-mobile">Asociación Argentina de Polo</p>
                        <p><i class="icon-mail"></i><a href="mailto:informes@aapolo.com" target="_blank">informes@aapolo.com</a></p>
                        <p><i class="icon-phone"></i><a href="tel:(5411) 4777-6444" target="_blank">(5411) 4777-6444</a></p>
                    </div>
                    <ul class="social-links clearfix">
                        <li><a href="javascript:void(0);" class="has-tooltip" title="Facebook"><img src="@Url.Content("~/Content/img/abierto-palermo-2019/icon-fb.png")" alt=""></a></li>
                        <li><a href="javascript:void(0);" class="has-tooltip" title="Twitter"><img src="@Url.Content("~/Content/img/abierto-palermo-2019/icon-tw.png")" alt=""></a></li>
                        <li><a href="javascript:void(0);" class="has-tooltip" title="Instagram"><img src="@Url.Content("~/Content/img/abierto-palermo-2019/icon-in.png")" alt=""></a></li>
                        <li><a href="javascript:void(0);" class="has-tooltip" title="YouTube"><img src="@Url.Content("~/Content/img/abierto-palermo-2019/icon-yt.png")" alt=""></a></li>
                        <li><a href="javascript:void(0);" class="has-tooltip" title="Trip Advisor"><img src="@Url.Content("~/Content/img/abierto-palermo-2019/icon-ta.png")" alt=""></a></li>
                    </ul>
                    <img src="@Url.Content("~/Content/img/support.png")" alt="" class="img-wesupport">
                </div>
            </div>
        </div>
    </footer>

    <div class="floating-access-container">
        @*<a href="@Url.Action("Faq","Home")" class="btn btn-red btn-small single-icon single-icon-lg has-tooltip" data-placement="left" title="FAQ"><i class="icon-question"></i></a>
        <a href="https://www.allaccess.com.ar/event/abierto-argentino-de-polo-abonos" class="btn btn-red btn-small single-icon single-icon-lg has-tooltip" data-placement="left" title="Tickets" target="_blank"><i class="icon-ticket"></i></a>
        <a href="https://ego.easygoband.com/#/app/cf9503e7-a261-49b0-bff8-340f42979bb1/signup" class="btn btn-red btn-small single-icon single-icon-lg has-tooltip" data-placement="left" title="Cashless"><i class="icon-card"></i></a>*@

        <a href="@Url.Action("Faq","Home")" class="btn btn-red btn-small single-icon single-icon-lg">
            <i class="icon-question"></i>
            <div class="tooltip fade left in" style="display: block;"><div class="tooltip-arrow"></div><div class="tooltip-inner">FAQ</div></div>
        </a>
        <a href="https://www.allaccess.com.ar/event/abierto-argentino-de-polo-abonos" class="btn btn-red btn-small single-icon single-icon-lg" target="_blank">
            <i class="icon-ticket"></i>
            <div class="tooltip fade left in" style="display: block;"><div class="tooltip-arrow"></div><div class="tooltip-inner">Tickets</div></div>
        </a>
        <a href="https://ego.easygoband.com/#/app/cf9503e7-a261-49b0-bff8-340f42979bb1/signup" class="btn btn-red btn-small single-icon single-icon-lg">
            <i class="icon-card"></i>
            <div class="tooltip fade left in" style="display: block;"><div class="tooltip-arrow"></div><div class="tooltip-inner">Cashless</div></div>
        </a>

    </div>

    <script src="@Url.Content("~/Scripts/modernizr-3.5.0.min.js")"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="js/vendor/jquery-3.2.1.min.js")"><\/script>')</script>
    <script src="@Url.Content("~/Scripts/plugins.js")"></script>
    <script src="@Url.Content("~/Scripts/select2.full.min.js")"></script>
    <script src="@Url.Content("~/Scripts/vivus.min.js")"></script>
    <script src="@Url.Content("~/Scripts/wow.min.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery.easing.1.3.js")"></script>
    <script src="@Url.Content("~/Scripts/tooltip.js")"></script>
    <script src="@Url.Content("~/Scripts/slick.min.js")"></script>
    <script src="@Url.Content("~/Scripts/picker.js")"></script>
    <script src="@Url.Content("~/Scripts/picker.date.js")"></script>

    <script src="@Url.Content("~/Scripts/parallax.min.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery.fancybox.min.js")"></script>
    <script src="@Url.Content("~/Scripts/main.js")"></script>


    @RenderSection("scripts", required: false)

</body>
</html>