﻿
<li id="liHome"><a href="@Url.Action("Index","Home")">Home</a></li>
<li id="liInfoEvento"><a href="@Url.Action("InfoEvento","Home")">El evento</a></li>

<li id="liCashless"><a href="@Url.Action("Cashless","Home")">Cashless</a></li>
<li id="liAfterPolo"><a href="@Url.Action("AfterPolo","Home")">After Polo</a></li>
<li id="liFaq"><a href="@Url.Action("Faq","Home")">FAQ</a></li>
<li id="liResultados"><a href="@Url.Action("Resultados","Home")">Fixture y resultados</a></li>
