﻿@model IEnumerable<AAPolo.Entities.Notificacion>


<div class="tab-content" id="pendientes" style="display: block;">
    <table class="table-default table-admin" id="NotificacionPorEnviar">
        <thead>
            <tr>
                <th>Fecha y hora</th>
                <th>Título</th>
                <th>Destinatarios</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Where(x => !x.EsEnviado).Count() > 0)
            {
                foreach (var item in Model.Where(x => !x.EsEnviado))
                {
                    <tr>
                        <td data-label="Fecha y hora">@item.FechaHoraEnvio.ToString("dd/MM/yyyy HH:mm")hs</td>
                        <td data-label="Título"><strong>@item.Titulo</strong></td>
                        <td data-label="Destinatarios">Roles: @string.Join(", ", item.lRol.Select(s => s.NombreRol))@*, handicap de: @item.HandicapDesde a @item.HandicapHasta*@</td>
                        <td data-label="Editar" class="text-right"><a href="@Url.Action("EditarNotificacion", "Notificacion", new { Codigo = item.Codigo })" class="btn btn-lightblue btn-small">Editar</a></td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td data-label="Fecha y hora"><span>No se encontraron resultados</span></td>
                    <td data-label="Título"></td>
                    <td data-label="Destinatarios"></td>
                    <td data-label="Editar" class="text-right"></td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div class="tab-content" id="emitidas">
    <table class="table-default table-admin" id="NotificacionEnviada">
        <thead>
            <tr>
                <th>Fecha y hora</th>
                <th>Título</th>
                <th>Destinatarios</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Where(x => x.EsEnviado).Count() > 0)
            {
                foreach (var item in Model.Where(x => x.EsEnviado).OrderByDescending(o => o.FechaHoraEnvio))
                {
                    <tr>
                        <td data-label="Fecha y hora">@item.FechaHoraEnvio.ToString("dd/MM/yyyy HH:mm")hs</td>
                        <td data-label="Título"><strong>@item.Titulo</strong></td>
                        <td data-label="Destinatarios">Roles: @string.Join(", ", item.lRol.Select(s => s.NombreRol))@*, handicap de: @item.HandicapDesde a @item.HandicapHasta*@</td>
                        <td data-label="Ver" class="text-right"><a href="@Url.Action("VerNotificacion", "Notificacion", new { Codigo = item.Codigo})" class="btn btn-lightblue btn-small">Ver</a></td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td data-label="Fecha y hora"><span>No se encontraron resultados</span></td>
                    <td data-label="Título"></td>
                    <td data-label="Destinatarios"></td>
                    <td data-label="Editar" class="text-right"></td>
                </tr>
            }
        </tbody>
    </table>
</div>
