﻿@model IEnumerable<AAPolo.Entities.NotificacionUsuario>

@if (Model != null && Model.Count() > 0)
{
    foreach (var item in Model)
    {
        <li class="@(item.EsLeido?"":"no-leida")" id="Notificacion_@item.Codigo" onclick="javascript: MensajeLeido(@(item.EsLeido?0:item.Codigo))">
            <a href="javascript:void(0);">
                <p>@item.Notificacion.Mensaje</p>
                <span>@item.FechaEntrega.ToString("dd/MM/yyyy, HH:mm")hs</span>
            </a>
        </li>
    }

    <script>
        if (@Model.FirstOrDefault().TotalNoLeido > 0) {
            $('#ContadorNotificacion').html('<span class="noti-count">@Model.FirstOrDefault().TotalNoLeido</span>');
        }
        $('#linkMostrarMas').attr('onclick','javascript:MostrarMasNotificaciones(@Model.LastOrDefault().Indice)');

    </script>

}
