﻿@model IEnumerable<AAPolo.Entities.Handicap>

@foreach (var item in Model)
{
    <option value="@item.Categoria.Codigo" @(ViewBag.Cod_CategoriaHandicap == item.Codigo ? "selected" : "")>@item.Categoria.Nombre</option>
}