﻿@model IEnumerable<AAPolo.Entities.Rol>

@*<option value="0" @(ViewBag.Cod_Rol == 0 ? "selected" : "") disabled>Seleccione rol</option>*@

@foreach (var item in Model)
{
    <option value="@item.Codigo" @(ViewBag.Cod_Rol == item.Codigo ? "selected" : "")>@item.NombreRol</option>
}