﻿@model IEnumerable<AAPolo.Entities.TipoJugador>

@*<option value="0" @(ViewBag.Cod_TipoJugador == 0 ? "selected" : "") disabled>Seleccione tipo de jugador</option>*@

@foreach (var item in Model)
{
    <option value="@item.Codigo" @(ViewBag.Cod_TipoJugador == item.Codigo ? "selected" : "")>@item.Nombre</option>
}