﻿@model AAPolo.Entities.Notificacion

@{
    ViewBag.Title = "CrearNotificacion";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="col-md-12">
    <div class="panel panel-profile">
        <div class="panel-body">
            <h1 class="title-admin pull-left">Crear notificación</h1>
            <a href="@Url.Action("Index","Notificacion")" class="btn btn-lightblue pull-right m-t-0" data-modal="confirmarSalir"><i class="icon-arrow-thin-left"></i> Volver al listado</a>

            <div class="clearfix"></div>

            @using (Ajax.BeginForm("GuardarNotificacion", "Notificacion", null, new AjaxOptions { HttpMethod = "POST", OnSuccess = "GuardarNotificacion", OnFailure = "fGuardarNotificacion" }, new { @id = "RegistroForm", @class = "form-default" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @*@Html.HiddenFor(model => model.Codigo)*@
                <div class="row clearfix">

                    <div class="col-md-12">
                        <h3>Programación del envío</h3>
                    </div>

                    <div class="col-md-6">
                        <label for="FechaEnvio">Fecha de envío</label>
                        @Html.TextBoxFor(model => model.strFechaEnvio, new { @class = "datepickerFuturo"@*, @value = Model.FechaEnvio.ToString("dd/MM/yyyy")*@})
                        @Html.ValidationMessageFor(model => model.strFechaEnvio, "", new { @class = "text-danger" })
                    </div>

                    <div class="col-md-6">
                        <label for="HoraEnvio">Hora de envío</label>
                        @Html.TextBoxFor(model => model.strHoraEnvio, new { @type = "time"@*, @value = Model.FechaEnvio.ToString("HH:mm")*@})
                        @Html.ValidationMessageFor(model => model.strHoraEnvio, "", new { @class = "text-danger" })
                    </div>

                    <div class="col-md-12">
                        <h3>Destinatarios</h3>
                    </div>

                    <div class="col-md-6">
                        <label for="lCodRol">Roles <i class="icon-question has-tooltip" title="Si se deja vacío este campo, se enviará a todos los roles"></i></label>
                        <select name="lCodRol" class="select2-basic" multiple id="lCodRol">
                            @Html.Action("_SelectRol", "Notificacion")
                        </select>
                    </div>

                    @*<div class="col-md-6">
                        <label for="lCodTipoJugador">Tipo de jugador <i class="icon-question has-tooltip" title="Si se deja vacío este campo, se enviará a todos los tipos"></i></label>
                        <select name="lCodTipoJugador" class="select2-basic" multiple id="lCodTipoJugador">
                            @Html.Action("_SelectTipoJugador", "Notificacion")
                        </select>
                    </div>

                    <div class="col-md-6">
                        <label for="lCodCategoria">Categoría de handicap <i class="icon-question has-tooltip" title="Si se deja vacío este campo, se enviará a todas las categorías"></i></label>
                        <select name="lCodCategoria" class="select2-basic" multiple id="lCodCategoria"></select>
                    </div>

                    <div class="col-md-3">
                        <label for="HandicapDesde">Handicap desde <i class="icon-question has-tooltip" title="Si se deja vacío este campo, se enviará sin mínimo de handicap"></i></label>
                        @Html.TextBoxFor(model => model.HandicapDesde, new { @type = "number" })
                        @Html.ValidationMessageFor(model => model.HandicapDesde, "", new { @class = "text-danger" })
                    </div>

                    <div class="col-md-3">
                        <label for="HandicapHasta">Handicap hasta <i class="icon-question has-tooltip" title="Si se deja vacío este campo, se enviará sin máximo de handicap"></i></label>
                        @Html.TextBoxFor(model => model.HandicapHasta, new { @type = "number" })
                        @Html.ValidationMessageFor(model => model.HandicapHasta, "", new { @class = "text-danger" })
                    </div>*@

                    <div class="col-md-12">
                        <h3>Contenido</h3>
                    </div>

                    <div class="col-md-12">
                        <label for="Titulo">Título de la notificación</label>
                        @Html.TextBoxFor(model => model.Titulo)
                        @Html.ValidationMessageFor(model => model.Titulo, "", new { @class = "text-danger" })
                    </div>

                    <div class="col-md-12">
                        <label for="Mensaje">Texto de la notificación</label>
                        @Html.TextAreaFor(model => model.Mensaje, new { @style = "height: 150px;" })
                        @Html.ValidationMessageFor(model => model.Mensaje, "", new { @class = "text-danger" })
                    </div>

                    <div class="col-md-4 col-md-offset-8">
                        <button class="btn btn-xl btn-full btn-lightblue text-left m-t-20">Guardar <i class="icon-arrow-thin-right pull-right"></i></button>
                    </div>
                </div>
            }
        </div>
    </div>
</div>


<div class="modal" id="exito">
    <div class="modal-overlay" data-dismiss="exito"></div>

    <div class="modal-dialogo modal-dialogo-600">
        <div class="modal-header">
            <h2 data-icon="&#xe04e;" id="tituloOperacion">¡Creación exitosa!</h2>
            <i class="icon-cross" data-dismiss="exito"></i>
        </div>

        <div class="modal-contenido clearfix">
            <div class="col-md-12 clearfix">
                <p id="msjOperacion">Has creado una nueva notificación exitosamente. Recordá que puedes editarlo más tarde desde el panel de administración.</p>

                <div class="modal-opciones text-right">
                    <a href="@Url.Action("Index")" class="btn btn-red m-t-0" data-dismiss="exito">Volver al listado</a>
                    <a href="@Url.Action("CrearNotificacion","Notificacion")" id="btnContinuar" class="btn btn-lightblue m-t-0" data-dismiss="exito">Crear otra notificación</a>
                    <button type="button" class="btn btn-lightblue m-t-0" data-dismiss="exito" id="btnPermanecer">Continuar</button>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{

    <script>

        $(document).ready(function () {
            $('.datepickerFuturo').pickadate({
                firstDay: 0,
                container: 'body',
                format: 'dd/mm/yyyy',
                //max: true,
                min: true,
                minDate: new Date(@DateTime.Now.Year, @DateTime.Now.Month, @DateTime.Now.Day),
                selectYears: true,
                selectMonths: true,
                selectYears: 100
            })
        });

        $('#lCodTipoJugador').change(function () {
            console.log($(this).val())
            var urlTipoJugador = '@Url.Action("_SelectCategoriaHandicap")';

            $.post(urlTipoJugador, { lCodTipoJugador: $(this).val() }, function (Data) {
                $('#lCodCategoria').html(Data).select2();
            });
        });

        function GuardarNotificacion(Data) {
            $('#msjOperacion').html(Data.Mensaje);
            if (Data.EsSatisfactorio) {
                $('#tituloOperacion').html('¡Creación exitosa!');
                setTimeout(function () {
                    window.location.href = '@Url.Action("Index")';
                }, 6000);
                $('#btnContinuar').css('display', 'inline-block');
                $('#btnPermanecer').css('display', 'none');
            } else {
                $('#tituloOperacion').html('¡Creación fállida!');
                $('#btnContinuar').css('display', 'none');
                $('#btnPermanecer').css('display', 'inline-block');
                console.log(Data);
            }
            $('#exito').css('display', 'block');
        }

        function fGuardarNotificacion(Data) {
            console.log(Data);
            alert('Disculpe, temporalmente no es posible conectar con el servidor.');
        }

    </script>

}