﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="col-md-12">
    <div class="panel panel-profile">
        <div class="panel-body">
            <h1 class="title-admin pull-left">Notificaciones y mensajes</h1>
            <a href="@Url.Action("CrearNotificacion","Notificacion")" class="btn btn-lightblue pull-right m-t-0"><i class="icon-plus"></i> Crear notificación</a>

            <div class="clearfix"></div>

            <ul class="tabs-default">
                <li class="current"><a href="javascript:void(0);" data-tab="pendientes">Notificaciones pendientes</a></li>
                <li><a href="javascript:void(0);" data-tab="emitidas">Notificaciones emitidas</a></li>
            </ul>

            <div class="tab-contentes">
                @Html.Action("_Listado","Notificacion")
            </div>

            @*<ul class="pagination">
                <li class="current"><a href="javascript:void(0);">1</a></li>
                <li><a href="javascript:void(0);">2</a></li>
                <li><a href="javascript:void(0);">3</a></li>
                <li><a href="javascript:void(0);">4</a></li>
                <li><a href="javascript:void(0);">5</a></li>
                <li><a href="javascript:void(0);">6</a></li>
                <li><a href="javascript:void(0);">7</a></li>
                <li><a href="javascript:void(0);">8</a></li>
                <li><a href="javascript:void(0);">9</a></li>
                <li><a href="javascript:void(0);">10</a></li>
            </ul>*@
        </div>
    </div>
</div>

@section scripts{

    <script type="text/javascript">

        localStorage.setItem('opMenu', 'liNotificacion');

        PaginacionDeTablas('#NotificacionPorEnviar', 20);

        PaginacionDeTablas('#NotificacionEnviada', 20);

        $(document).ready(function () {
            $('#sidebarCollapse').on('click', function () {
                $('#sidebar').toggleClass('active');
            });
        });
    </script>

}