﻿@model AAPolo.Entities.Notificacion

@{
    ViewBag.Title = "CrearNotificacion";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";

    List<int> lCodTipoJugador = Model.lTipoJugador.GroupBy(g => g.Codigo).Select(s => s.FirstOrDefault().Codigo).ToList();

}

<div class="col-md-12">
    <div class="panel panel-profile">
        <div class="panel-body">
            <h1 class="title-admin pull-left">Detalle de notificación</h1>
            <a href="@Url.Action("Index")" class="btn btn-lightblue pull-right m-t-0"><i class="icon-arrow-thin-left"></i> Volver al listado</a>

            <div class="clearfix"></div>
            <div class="form-default">

                <div class="row clearfix">

                    <div class="col-md-12">
                        <h3>Programación del envío</h3>
                    </div>

                    <div class="col-md-6">
                        <label for="FechaEnvio">Fecha de envío</label>
                        @Html.TextBoxFor(model => model.strFechaEnvio, new { @value = Model.FechaHoraEnvio.ToString("dd/MM/yyyy"), @readonly = true })
                    </div>

                    <div class="col-md-6">
                        <label for="HoraEnvio">Hora de envío</label>
                        @Html.TextBoxFor(model => model.strHoraEnvio, new { @type = "time", @value = Model.FechaHoraEnvio.ToString("HH:mm"), @readonly = true })
                    </div>

                    <div class="col-md-12">
                        <h3>Destinatarios</h3>
                    </div>

                    <div class="col-md-6">
                        <label for="lCodRol">Roles <i class="icon-question has-tooltip" title="Si se deja vacío este campo, se enviará a todos los roles"></i></label>
                        <select name="lCodRol" class="select2-basic" multiple id="lCodRol">
                            @Html.Action("_SelectRol", "Notificacion", new { Codigo = 0 })
                        </select>
                    </div>

                    <div class="col-md-6">
                        <label for="lCodTipoJugador">Tipo de jugador <i class="icon-question has-tooltip" title="Si se deja vacío este campo, se enviará a todos los tipos"></i></label>
                        <select name="lCodTipoJugador" class="select2-basic" multiple id="lCodTipoJugador">
                            @Html.Action("_SelectTipoJugador", "Notificacion", new { Codigo = 0 })
                        </select>
                    </div>

                    <div class="col-md-6">
                        <label for="lCodCategoria">Categoría de handicap <i class="icon-question has-tooltip" title="Si se deja vacío este campo, se enviará a todas las categorías"></i></label>
                        <select name="lCodCategoria" class="select2-basic" multiple id="lCodCategoria">
                            @Html.Action("_SelectCategoriaHandicap", "Notificacion", new { lCodTipoJugador = lCodTipoJugador })
                        </select>
                    </div>

                    <div class="col-md-3">
                        <label for="HandicapDesde">Handicap desde <i class="icon-question has-tooltip" title="Si se deja vacío este campo, se enviará sin mínimo de handicap"></i></label>
                        @Html.TextBoxFor(model => model.HandicapDesde, new { @readonly = true })
                    </div>

                    <div class="col-md-3">
                        <label for="HandicapHasta">Handicap hasta <i class="icon-question has-tooltip" title="Si se deja vacío este campo, se enviará sin máximo de handicap"></i></label>
                        @Html.TextBoxFor(model => model.HandicapHasta, new { @readonly = true })
                    </div>

                    <div class="col-md-12">
                        <h3>Contenido</h3>
                    </div>

                    <div class="col-md-12">
                        <label for="Titulo">Título de la notificación</label>
                        @Html.TextBoxFor(model => model.Titulo, new { @readonly = true })
                    </div>

                    <div class="col-md-12">
                        <label for="Mensaje">Texto de la notificación</label>
                        @Html.TextAreaFor(model => model.Mensaje, new { @style = "height: 150px;", @readonly = true })
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal" id="exito">
    <div class="modal-overlay" data-dismiss="exito"></div>

    <div class="modal-dialogo modal-dialogo-600">
        <div class="modal-header">
            <h2 data-icon="&#xe04e;" id="tituloOperacion">¡Creación exitosa!</h2>
            <i class="icon-cross" data-dismiss="exito"></i>
        </div>

        <div class="modal-contenido clearfix">
            <div class="col-md-12 clearfix">
                <p id="msjOperacion">Has creado una nueva notificación exitosamente. Recordá que puedes editarlo más tarde desde el panel de administración.</p>

                <div class="modal-opciones text-right">
                    <a href="@Url.Action("Index")" class="btn btn-red m-t-0" data-dismiss="exito">Volver al listado</a>
                    <a href="@Url.Action("CrearNotificacion","Notificacion")" id="btnContinuar" class="btn btn-lightblue m-t-0" data-dismiss="exito">Crear otra notificación</a>
                    <button type="button" class="btn btn-lightblue m-t-0" data-dismiss="exito" id="btnPermanecer">Continuar</button>
                </div>
            </div>
        </div>
    </div>
</div>



@section scripts{

    <script>

        $('#@Html.IdFor(model => model.strFechaEnvio)').val('@Model.FechaHoraEnvio.ToString("dd/MM/yyyy")');
        $('#@Html.IdFor(model => model.strHoraEnvio)').val('@Model.FechaHoraEnvio.ToString("HH:mm")');

        $('#lCodRol').val(@Html.Raw(Json.Encode(Model.lRol.GroupBy(g => g.Codigo).Select(s => s.FirstOrDefault().Codigo).ToList()))).trigger('change');
        $('#lCodTipoJugador').val(@Html.Raw(Json.Encode(Model.lTipoJugador.GroupBy(g => g.Codigo).Select(s => s.FirstOrDefault().Codigo).ToList()))).trigger('change');
        $('#lCodCategoria').val(@Html.Raw(Json.Encode(Model.lCategoriaHandicap.GroupBy(g => g.Codigo).Select(s => s.FirstOrDefault().Codigo).ToList()))).trigger('change');

        $("select").select2({
            disabled: true
        });

        $('#lCodTipoJugador').change(function () {
            console.log($(this).val())
            var urlTipoJugador = '@Url.Action("_SelectCategoriaHandicap")';

            $.post(urlTipoJugador, { lCodTipoJugador: $(this).val() }, function (Data) {
                $('#lCodCategoria').html(Data).select2();
            });
        });

     

    </script>

}