﻿@model AAPolo.Entities.Persona
@using AAPolo.Entities;

@if (Model.Codigo > 0)
{
    <div class="user-top ">
        <a href="javascript:void(0);" class="dropdown">
            @if (Model.Rol.Codigo == ConfiguracionAPP.Rol_Jugador)
            {
                <div class="user-pic" style="background-image: url('@(String.IsNullOrEmpty(Model.UrlFoto)?Url.Content("~/Content/img/avatars/avatar-user1.png"):Model.UrlFoto)')"></div>
            }
            <h4>@Model.Nombre</h4>
        </a>

        <ul>
            @if (Model.Rol.Codigo == ConfiguracionAPP.Rol_Jugador)
            {
                if (!Model.EsMember)
                {
                    <li><a href="@Url.Action("Index", "PagoHandicap")" onclick="javascript:localStorage.setItem('opMenu','liHandicap')" data-icon="&#xe056;">@AAPolo.Recursos.Recurso.MiPerfil</a></li>
                }
                else
                {
                    <li><a href="@Url.Action("Index", "PagoMember")" onclick="javascript:localStorage.setItem('opMenu','liPerfil')" data-icon="&#xe056;">@AAPolo.Recursos.Recurso.MiPerfil</a></li>
                }
                @*if (Model.EsVeedor)
            {
                <li><a href="@Url.Action("VeedorSidepro", "PerfilJugador")" data-icon="&#xe056;">Veedor</a></li>
            }*@
                @*<li><a href="javascript:void(0);" data-icon="&#xe005;">Soporte</a></li>*@
            }
            else
            {
                <li><a href="@Url.Action("Index", "Jugador")" onclick="javascript:localStorage.setItem('opMenu','aLiJugador')" data-icon="&#xe056;">Administrar</a></li>
            }
            <li><a href="@Url.Action("CerrarSession","Home")" onclick="javascript: localStorage.setItem('opMenu','')" data-icon="&#xe036;">@AAPolo.Recursos.Recurso.CerrarSesion</a></li>
        </ul>
    </div>
}
else
{

    <a href="javascript:void(0);" class="btn-login " id="barraIniciarSession" data-modal="iniciarSesion">@AAPolo.Recursos.Recurso.IniciarSesion</a>


}

