﻿@model AAPolo.Entities.Persona


<div class="user-pic" style="background-image: url('@(String.IsNullOrEmpty(Model.UrlFoto)?Url.Content("~/Content/img/avatars/avatar-user1.png"):Model.UrlFoto)')"></div>
@using (Ajax.BeginForm("GuardarImagenPerfil", "PerfilJugador", null, new AjaxOptions { HttpMethod = "POST", OnSuccess = "fnSuccessProcesar", OnFailure = "fnFailProcesar" }, new { @id = "FormImgPerfil", @class = "FormFile" }))
{
    <input type="file" accept="image/*" name="imagen" id="profile-pic" hidden>
    <button type="submit" id="btnSubmitImg" style="display:none">enviar</button>
}
<a href="javascript:void()" class="edit-info has-tooltip background-green change-accept" onclick="javascript: $('#btnSubmitImg').click()" title="Aceptar"><i class="icon-checkmark"></i></a>
<a href="javascript:void()" class="edit-info has-tooltip background-red change-cancel" title="Cancelar"><i class="icon-cross"></i></a>
<a href="javascript:void()" class="edit-info has-tooltip change-pic" data-placement="bottom" data-original-title="Cambiar imagen de perfil" onclick="javascript: $('#profile-pic').click()"><i class="icon-pencil"></i></a>

<script>

    function fnSuccessProcesar(Data) {
        alert(Data.Mensaje);
        if (!Data.EsSatisfactorio) {
            console.log(Data);
        }
    }

</script>