﻿@model IEnumerable<AAPolo.Entities.Club>

@if (Model != null && Model.Count() > 0)
{
    <ul>
        <li><h4>@AAPolo.Recursos.Recurso.MiClub</h4></li>

        @foreach (var item in Model)
        {
            <li id="liClub_@item.Codigo"><a href="@Url.Action("Club", "PerfilJugador", new { Codigo = item.Codigo})" onclick="javascript:localStorage.setItem('opMenu','liClub_@item.Codigo')"><i class="icon-flag"></i>Club: @item.NombreClub</a></li>

        }

    </ul>

}