﻿@model AAPolo.Entities.Persona

<ul class="ulItemMenu">
    <li><h4>@AAPolo.Recursos.Recurso.MiPerfil</h4></li>
    @if (!Model.EsMember)
    {

        <li id="liHandicap"><a href="@Url.Action("Index", "PagoHandicap")" onclick="javascript:localStorage.setItem('opMenu','liHandicap')"><i class="icon-clipboard"></i>@AAPolo.Recursos.Recurso.MiHandicap</a></li>
        <li id="liTorneos"><a href="@Url.Action("Index", "PerfilTorneo")" onclick="javascript:localStorage.setItem('opMenu','liTorneos')"><i class="icon-trophy"></i>@AAPolo.Recursos.Recurso.MisTorneos</a></li>
        <li id="liPagos"><a href="@Url.Action("Index", "HistorialPagos")" onclick="javascript:localStorage.setItem('opMenu','liPagos')"><i class="icon-wallet"></i>@AAPolo.Recursos.Recurso.MisPagos</a></li>
        <li id="liPerfil"><a href="@Url.Action("Index", "PerfilJugador")" onclick="javascript:localStorage.setItem('opMenu','liPerfil')"><i class="icon-user"></i>@AAPolo.Recursos.Recurso.MiPerfil</a></li>
        @Html.Action("_DatosUsuarioVeedor", "PerfilJugador")

        @*<li id="liCalendarioLateral"><a href="@Url.Action("Torneo","Home")" onclick="javascript:localStorage.setItem('opMenu','liCalendarioLateral')"><i class="icon-calendar"></i>@AAPolo.Recursos.Recurso.Calendario</a></li>*@
        @Html.Action("_ListadoClub", "PerfilJugador")
        @Html.Action("_DatosUsuarioReferee", "PerfilJugador")

    }
    else
    {
        <li id="liPerfil"><a href="@Url.Action("Index", "PerfilMember")" onclick="javascript:localStorage.setItem('opMenu','liPerfil')"><i class="icon-user"></i>@AAPolo.Recursos.Recurso.MiPerfil</a></li>
    }

</ul>

