﻿@model IEnumerable<AAPolo.Entities.Persona>

<table class="table-default table-bg paginarTabla">
    <thead>
        <tr>
            <th>Nombre de socio</th>
            <th>Fecha de alta</th>
            <th>Pago de handicap</th>
            <th></th>
            @*<th>Apto médico</th>*@
            @*<th></th>
            <th></th>
            <th></th>*@
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
        <tr>
            <td data-label="Nombre de socio">@item.NombreCompleto</td>
            <td data-label="Fecha de alta">@item.strFechaAlta</td>
            <td data-label="Pago de handicap">
                @if (item.HandicapPersona.EsVencido)
                {
                    <i class="icon-cross color-red"></i><span>Vencido</span>
                }
                else
                {
                    <i class="icon-checkmark color-green"></i><span>Al día</span>
                }
            </td>
            @*<td data-label="Apto médico"><i class="icon-cross color-red"></i>Vencido</td>*@
            @*<td class="text-right"><a href="javascript:void(0);" class="btn btn-lightblue btn-small">Aceptar</a></td>*@
            <td class="text-right">
                @Ajax.ActionLink("DESVINCULAR", "_ModalRechazarJugador", "PerfilJugador", new { Codigo = item.Codigo, Nombre = item.Nombre, Apellido = item.Apellido, NombreClub = item.clubUsuarioPrincipal.NombreClub, Cod_Club = item.clubUsuarioPrincipal.Codigo }, new AjaxOptions { HttpMethod = "Post", UpdateTargetId = "divModal", InsertionMode = InsertionMode.Replace }, new { @class = "btn btn-outline-red btn-small", data_modal = "divModal", @onclick= "javascrip: $('#divModal').css('display','block')" })
            </td>
            @*<td class="text-right"><a href="javascript:void(0);" class="btn btn-red btn-small single-icon"><i class="icon-trash"></i></a></td>*@
        </tr>
        }
    </tbody>
</table>