﻿@model AAPolo.Entities.Club
@using AAPolo.Entities;

@{
    ViewBag.Title = "Club";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="panel-profile">
    <div class="panel-header line-texture-after">
        <div class="user-profile-pic">

            <div class="user-pic" style="background-image: url('@(String.IsNullOrEmpty(Model.UrlImagen)?Url.Content("~/Content/img/avatars/avatar-club.jpg"):Model.UrlImagen)')"></div>
            @using (Ajax.BeginForm("GuardarImagenClub", "PerfilJugador", null, new AjaxOptions { HttpMethod = "POST", OnSuccess = "fnSuccessProcesar", OnFailure = "fnFailProcesar" }, new { @id = "FormImgPerfil", @class = "FormFile" }))
            {
                <input type="hidden" name="Cod_Club" value="@Model.Codigo" />
                <input type="file" accept="image/*" name="imagen" id="profile-pic" class="club-pic" hidden>
                <button type="submit" id="btnSubmitImg" style="display:none">enviar</button>
            }
            <a href="javascript:void()" class="edit-info has-tooltip change-pic" data-placement="bottom" data-original-title="Cambiar imagen de perfil" onclick="javascript: $('#profile-pic').click()"><i class="icon-pencil"></i></a>

            <a href="javascript:void()" class="edit-info has-tooltip background-green change-accept" onclick="javascript: $('#btnSubmitImg').click()" data-placement="bottom" data-original-title="Aceptar"><i class="icon-checkmark"></i></a>
            <a href="javascript:void()" class="edit-info has-tooltip background-red change-cancel" data-placement="bottom" data-original-title="Cancelar"><i class="icon-cross"></i></a>
        </div>

        <hgroup class="user-profile-title">
            <h1 class="">@Model.NombreClub</h1>
            <h3>
                <span style="">@Model.lDomicilio.FirstOrDefault().provincia.Nombre</span>
                <span style="">@Model.lDomicilio.FirstOrDefault().municipio.Nombre</span>
            </h3>
        </hgroup>

        <ul class="featured-values">
            @*<li>
                    <h4 class="">@Model.NroSocios</h4>
                    <span>Socios</span>
                </li>*@
            <li>
                <h4 class="">@Model.Anios</h4>
                <span>Años</span>
            </li>
            @*<li>
                    <h4>13</h4>
                    <span>Torneos</span>
                </li>*@
        </ul>
    </div>
    <ul class="tabs-default">
        <li class="current"><a href="javascript:void(0);" data-tab="club-info">Información del club</a></li>
        @*<li><a href="javascript:void(0);" data-tab="club-socios">Socios</a></li>*@
        <li>
            @Ajax.ActionLink("Socios", "_UsuarioXClub", "PerfilJugador", new { Codigo = Model.Codigo }, new AjaxOptions { HttpMethod = "Post", UpdateTargetId = "ListadoPersonaXCLub" }, new { @data_tab = "club-socios" })
        </li>
        <li><a href="javascript:void(0);" data-tab="club-pago-afiliacion">Pago de afiliación</a></li>
    </ul>
    <div class="panel-body">
        <div class="tab-contents">
            <div class="tab-content" id="club-info" style="display: block;">

                <div class="panel">
                    <div class="row">
                        <div class="col-md-6">
                            <dl class="user-data">
                                <div class="user-data-item">
                                    <dt>Nombre del club</dt>
                                    <dd class="">@Model.NombreClub</dd>
                                </div>
                                <div class="user-data-item">
                                    <dt>Categoría</dt>
                                    <dd class="">@Model.Categoria.NombreCategoria</dd>
                                    <input type="hidden" id="CategoriaClub" value="@Model.Categoria.Codigo">
                                </div>

                                <div class="user-data-item">
                                    <dt>Fundación</dt>
                                    <dd class="">
                                        <div class="info-editable">
                                            <span class="info-actual ">@Model.FechaFundacion.ToString("dd/MM/yyyy")</span>
                                            <a href="javascript:void()" class="edit-info has-tooltip change-data" title="Editar"><i class="icon-pencil"></i></a>
                                        </div>
                                        <div class="info-editar">
                                            <input type="text" id="strFundacion" value="@Model.FechaFundacion.ToString("dd/MM/yyyy")">
                                            <a href="javascript:void()" class="edit-info has-tooltip background-green change-accept" onclick="javascript:GuardarDatosClub()" title="Aceptar"><i class="icon-checkmark"></i></a>
                                            <a href="javascript:void()" class="edit-info has-tooltip background-red change-cancel" title="Cancelar"><i class="icon-cross"></i></a>
                                        </div>

                                    </dd>
                                </div>

                                <div class="user-data-item">
                                    <dt>Cantidad de canchas</dt>
                                    <dd>
                                        <div class="info-editable">
                                            <span class="info-actual ">@Model.NumeroCancha</span>
                                            <a href="javascript:void()" class="edit-info has-tooltip change-data" title="Editar"><i class="icon-pencil"></i></a>
                                        </div>
                                        <div class="info-editar">
                                            <input type="number" min="0" id="NumeroCancha" value="@Model.NumeroCancha" style="">
                                            <a href="javascript:void()" class="edit-info has-tooltip background-green change-accept" onclick="javascript:GuardarDatosClub()" title="Aceptar"><i class="icon-checkmark"></i></a>
                                            <a href="javascript:void()" class="edit-info has-tooltip background-red change-cancel" title="Cancelar"><i class="icon-cross"></i></a>
                                        </div>
                                    </dd>
                                </div>

                                <div class="user-data-item">
                                    <dt>Facebook</dt>
                                    <dd>
                                        <div class="info-editable">
                                            <span class="info-actual">facebook.com/@Model.Facebook</span>
                                            <a href="javascript:void()" class="edit-info has-tooltip change-data" title="Editar"><i class="icon-pencil"></i></a>
                                        </div>
                                        <div class="info-editar">
                                            <input type="text" id="Club_Facebook" value="@Model.Facebook">
                                            <a href="javascript:void()" class="edit-info has-tooltip background-green change-accept" onclick="javascript:GuardarDatosUsuario()" title="Aceptar"><i class="icon-checkmark"></i></a>
                                            <a href="javascript:void()" class="edit-info has-tooltip background-red change-cancel" title="Cancelar"><i class="icon-cross"></i></a>
                                        </div>
                                    </dd>
                                </div>

                                <div class="user-data-item">
                                    <dt>Twitter</dt>
                                    <dd>
                                        <div class="info-editable">
                                            <span class="info-actual">twitter.com/@Model.Twitter</span>
                                            <a href="javascript:void()" class="edit-info has-tooltip change-data" title="Editar"><i class="icon-pencil"></i></a>
                                        </div>
                                        <div class="info-editar">
                                            <input type="text" id="Club_Twitter" value="@Model.Twitter">
                                            <a href="javascript:void()" class="edit-info has-tooltip background-green change-accept" onclick="javascript:GuardarDatosUsuario()" title="Aceptar"><i class="icon-checkmark"></i></a>
                                            <a href="javascript:void()" class="edit-info has-tooltip background-red change-cancel" title="Cancelar"><i class="icon-cross"></i></a>
                                        </div>
                                    </dd>
                                </div>


                                <div class="user-data-item">
                                    <dt>Instagram</dt>
                                    <dd>
                                        <div class="info-editable">
                                            <span class="info-actual">instagram.com/@Model.Instagram</span>
                                            <a href="javascript:void()" class="edit-info has-tooltip change-data" title="Editar"><i class="icon-pencil"></i></a>
                                        </div>
                                        <div class="info-editar">
                                            <input type="text" id="Club_Instagram" value="@Model.Instagram">
                                            <a href="javascript:void()" class="edit-info has-tooltip background-green change-accept" onclick="javascript:GuardarDatosUsuario()" title="Aceptar"><i class="icon-checkmark"></i></a>
                                            <a href="javascript:void()" class="edit-info has-tooltip background-red change-cancel" title="Cancelar"><i class="icon-cross"></i></a>
                                        </div>
                                    </dd>
                                </div>
                            </dl>
                        </div>

                        <div class="col-md-6">
                            <dl class="user-data">
                                <div class="user-data-item">
                                    <dt>Email</dt>
                                    <dd>
                                        <div class="info-editable">
                                            <span class="info-actual ">@Model.lContacto.Where(x => x.TipoContacto.Codigo == ConfiguracionAPP.TipoContacto_Email).FirstOrDefault().Nombre</span>
                                            <a href="javascript:void()" class="edit-info has-tooltip change-data editarMail" title="Editar"><i class="icon-pencil"></i></a>
                                        </div>
                                        <div class="info-editar">
                                            <input type="text" id="EditCorreo" value="@Model.lContacto.Where(x => x.TipoContacto.Codigo == ConfiguracionAPP.TipoContacto_Email).FirstOrDefault().Nombre">
                                            <input type="hidden" id="Correo" value="@Model.lContacto.Where(x => x.TipoContacto.Codigo == ConfiguracionAPP.TipoContacto_Email).FirstOrDefault().Nombre">
                                            <a href="javascript:void()" class="edit-info has-tooltip background-green change-accept" onclick="javascript:GuardarDatosClubMail()" title="Aceptar"><i class="icon-checkmark"></i></a>
                                            <a href="javascript:void()" onclick="clickCancelEdit(this)" class="edit-info has-tooltip background-red change-cancel" title="Cancelar"><i class="icon-cross"></i></a>
                                        </div>
                                    </dd>
                                </div>

                                <div class="user-data-item">
                                    <dt>Teléfono de contacto</dt>
                                    <dd>
                                        <div class="info-editable">
                                            <span class="info-actual ">@Model.lContacto.Where(x => x.TipoContacto.Codigo == ConfiguracionAPP.TipoContacto_Celular).FirstOrDefault().Nombre</span>
                                            <a href="javascript:void()" class="edit-info has-tooltip change-data" title="Editar"><i class="icon-pencil"></i></a>
                                        </div>
                                        <div class="info-editar">
                                            <input type="text" class="validanumericos" id="Celular" value="@Model.lContacto.Where(x => x.TipoContacto.Codigo == ConfiguracionAPP.TipoContacto_Celular).FirstOrDefault().Nombre">
                                            <a href="javascript:void()" class="edit-info has-tooltip background-green change-accept" onclick="javascript:GuardarDatosClub()" title="Aceptar"><i class="icon-checkmark"></i></a>
                                            <a href="javascript:void()" class="edit-info has-tooltip background-red change-cancel" title="Cancelar"><i class="icon-cross"></i></a>
                                        </div>
                                    </dd>
                                </div>
                                <div class="user-data-item">
                                    <dt>Teléfono del club</dt>
                                    <dd>
                                        <div class="info-editable">
                                            <span class="info-actual ">@Model.lContacto.Where(x => x.TipoContacto.Codigo == ConfiguracionAPP.TipoContacto_Telefono).FirstOrDefault().Nombre</span>
                                            <a href="javascript:void()" class="edit-info has-tooltip change-data" title="Editar"><i class="icon-pencil"></i></a>
                                        </div>
                                        <div class="info-editar">
                                            <input type="text" class="validanumericos" id="Telefono" value="@Model.lContacto.Where(x => x.TipoContacto.Codigo == ConfiguracionAPP.TipoContacto_Telefono).FirstOrDefault().Nombre">
                                            <a href="javascript:void()" class="edit-info has-tooltip background-green change-accept" onclick="javascript:GuardarDatosClub()" title="Aceptar"><i class="icon-checkmark"></i></a>
                                            <a href="javascript:void()" class="edit-info has-tooltip background-red change-cancel" title="Cancelar"><i class="icon-cross"></i></a>
                                        </div>
                                    </dd>
                                </div>

                                @if (Model.lDomicilio.FirstOrDefault().pais.Codigo == ConfiguracionAPP.Pais_Argentina)
                                {
                                    <div class="user-data-item">
                                        <dt>Provincia</dt>
                                        <dd>
                                            <div class="info-editable">
                                                <span class="info-actual spanProvincia">@Model.lDomicilio.FirstOrDefault().provincia.Nombre</span>
                                                <a href="javascript:void()" class="edit-info has-tooltip change-data" onclick="javascript:$('.btnEditarMunicipio').click()" title="Editar"><i class="icon-pencil"></i></a>
                                            </div>
                                            <div class="info-editar">
                                                <select id="ProvinciaCodigo">
                                                    @foreach (var item in (List<Provincia>)ViewBag.lProvincia)
                                                    {
                                                        <option value="@item.Codigo" @(Model.lDomicilio.FirstOrDefault().provincia.Codigo == item.Codigo ? "selected" : "")>@item.Nombre</option>
                                                    }
                                                </select>
                                                <a href="javascript:void()" class="edit-info has-tooltip background-green change-accept" onclick="javascript: $('.btnCancelarEditMunicipio').click();GuardarDatosClub()" title="Aceptar"><i class="icon-checkmark"></i></a>
                                                <a href="javascript:void()" class="edit-info has-tooltip background-red change-cancel btnCancelarEditProvincia" title="Cancelar"><i class="icon-cross"></i></a>
                                            </div>
                                        </dd>
                                    </div>

                                    <div class="user-data-item" id="divMunicipio">
                                        <dt>Ciudad</dt>
                                        <dd>
                                            <div class="info-editable">
                                                <span class="info-actual spanMunicipio">@Model.lDomicilio.FirstOrDefault().municipio.Nombre</span>
                                                <a href="javascript:void()" class="edit-info has-tooltip change-data btnEditarMunicipio" title="Editar"><i class="icon-pencil"></i></a>
                                            </div>
                                            <div class="info-editar">
                                                <select id="MunicipioCodigo">
                                                    @foreach (var item in (List<Municipio>)ViewBag.lMunicipio)
                                                    {
                                                        <option value="@item.Codigo" @(Model.lDomicilio.FirstOrDefault().municipio.Codigo == item.Codigo ? "selected" : "")>@item.Nombre</option>
                                                    }
                                                </select>
                                                <a href="javascript:void()" class="edit-info has-tooltip background-green change-accept" onclick="javascript: $('.btnCancelarEditProvincia').click();GuardarDatosClub()" title="Aceptar"><i class="icon-checkmark"></i></a>
                                                <a href="javascript:void()" class="edit-info has-tooltip background-red change-cancel btnCancelarEditMunicipio" title="Cancelar"><i class="icon-cross"></i></a>
                                            </div>
                                        </dd>
                                    </div>
                                }
                                else
                                {
                                    <input type="hidden" id="ProvinciaCodigo" name="ProvinciaCodigo" value="@Model.lDomicilio.FirstOrDefault().provincia.Codigo" />
                                    <input type="hidden" id="MunicipioCodigo" name="MunicipioCodigo" value="@Model.lDomicilio.FirstOrDefault().municipio.Codigo" />
                                }

                                <div class="user-data-item">
                                    <dt>Calle</dt>
                                    <dd>
                                        <div class="info-editable">
                                            <span class="info-actual ">@Model.lDomicilio.FirstOrDefault().DireccionDomicilio</span>
                                            <a href="javascript:void()" class="edit-info has-tooltip change-data" title="Editar"><i class="icon-pencil"></i></a>
                                        </div>
                                        <div class="info-editar">
                                            <input type="text" id="DireccionDomicilio" value="@Model.lDomicilio.FirstOrDefault().DireccionDomicilio">
                                            <a href="javascript:void()" class="edit-info has-tooltip background-green change-accept" onclick="javascript:GuardarDatosClub()" title="Aceptar"><i class="icon-checkmark"></i></a>
                                            <a href="javascript:void()" class="edit-info has-tooltip background-red change-cancel" title="Cancelar"><i class="icon-cross"></i></a>
                                        </div>
                                    </dd>
                                </div>
                                <div class="user-data-item">
                                    <dt>Número</dt>
                                    <dd>
                                        <div class="info-editable">
                                            <span class="info-actual ">@Model.lDomicilio.FirstOrDefault().NroDomicilio</span>
                                            <a href="javascript:void()" class="edit-info has-tooltip change-data" title="Editar"><i class="icon-pencil"></i></a>
                                        </div>
                                        <div class="info-editar">
                                            <input type="number" min="0" id="NroDomicilio" value="@Model.lDomicilio.FirstOrDefault().NroDomicilio" style="">
                                            <a href="javascript:void()" class="edit-info has-tooltip background-green change-accept" onclick="javascript:GuardarDatosClub()" title="Aceptar"><i class="icon-checkmark"></i></a>
                                            <a href="javascript:void()" class="edit-info has-tooltip background-red change-cancel" title="Cancelar"><i class="icon-cross"></i></a>
                                        </div>
                                    </dd>
                                </div>
                                <div class="user-data-item">
                                    <dt>Piso</dt>
                                    <dd>
                                        <div class="info-editable">
                                            <span class="info-actual ">@Model.lDomicilio.FirstOrDefault().NroPiso</span>
                                            <a href="javascript:void()" class="edit-info has-tooltip change-data" title="Editar"><i class="icon-pencil"></i></a>
                                        </div>
                                        <div class="info-editar">
                                            <input type="number" min="0" id="NroPiso" value="@Model.lDomicilio.FirstOrDefault().NroPiso">
                                            <a href="javascript:void()" class="edit-info has-tooltip background-green change-accept" onclick="javascript:GuardarDatosClub()" title="Aceptar"><i class="icon-checkmark"></i></a>
                                            <a href="javascript:void()" class="edit-info has-tooltip background-red change-cancel" title="Cancelar"><i class="icon-cross"></i></a>
                                        </div>
                                    </dd>
                                </div>
                                <div class="user-data-item" style="display:none">
                                    <dt>Departamento</dt>
                                    <dd>
                                        <div class="info-editable">
                                            <span class="info-actual ">@Model.lDomicilio.FirstOrDefault().Departamento</span>
                                            <a href="javascript:void()" class="edit-info has-tooltip change-data" title="Editar"><i class="icon-pencil"></i></a>
                                        </div>
                                        <div class="info-editar">
                                            <input type="text" id="Departamento" value="@Model.lDomicilio.FirstOrDefault().Departamento">
                                            <a href="javascript:void()" class="edit-info has-tooltip background-green change-accept" onclick="javascript:GuardarDatosClub()" title="Aceptar"><i class="icon-checkmark"></i></a>
                                            <a href="javascript:void()" class="edit-info has-tooltip background-red change-cancel" title="Cancelar"><i class="icon-cross"></i></a>
                                        </div>
                                    </dd>
                                </div>
                                <div class="user-data-item">
                                    <dt>Código postal</dt>
                                    <dd>
                                        <div class="info-editable">
                                            <span class="info-actual ">@Model.lDomicilio.FirstOrDefault().CodigoPostal</span>
                                            <a href="javascript:void()" class="edit-info has-tooltip change-data" title="Editar"><i class="icon-pencil"></i></a>
                                        </div>
                                        <div class="info-editar">
                                            <input type="text" id="CodigoPostal" value="@Model.lDomicilio.FirstOrDefault().CodigoPostal">
                                            <a href="javascript:void()" class="edit-info has-tooltip background-green change-accept" onclick="javascript:GuardarDatosClub()" title="Aceptar"><i class="icon-checkmark"></i></a>
                                            <a href="javascript:void()" class="edit-info has-tooltip background-red change-cancel" title="Cancelar"><i class="icon-cross"></i></a>
                                        </div>
                                    </dd>
                                </div>
                            </dl>
                        </div>

                        <div class="col-md-12 m-t-20" id="map" style="height: 410px">
                            @*<div id="map" class=""></div>*@
                            @*<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5525.493557331272!2d-58.440553361613446!3d-34.566766647474054!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcb5b9a92d7155%3A0x92a6bc37f082fb54!2s@(Model.lDomicilio.FirstOrDefault().DireccionCompleta)!5e0!3m2!1sen!2sar!4v1532357784284" width="100%" height="410" frameborder="0" style="border:0" allowfullscreen class="m-t-20"></iframe>*@
                        </div>
                    </div>
                </div>
                <!--
                    <div class="panel">
                    <div class="row">
                        <div class="col-md-12">
                            <h3>Sedes</h3>

                            <dl class="user-data user-data-sedes">
                                <div class="user-data-item col-md-12">
                                    <dt>Nombre de la sede</dt>
                                    <dd>Dirección de la sede</dd>
                                </div>

                                <div class="user-data-item col-md-12">
                                    <dt>Nombre de la sede</dt>
                                    <dd>Dirección de la sede</dd>
                                </div>

                                <div class="user-data-item col-md-12">
                                    <dt>Nombre de la sede</dt>
                                    <dd>Dirección de la sede</dd>
                                </div>
                            </dl>
                        </div>
                    </div>
                </div>

                <div class="panel">
                    <div class="row">
                        <div class="col-md-12">
                            <h3>Canchas</h3>

                            <dl class="user-data user-data-sedes">
                                <div class="user-data-item col-md-12">
                                    <dt>Nombre de la cancha</dt>
                                    <dd>Dirección de la cancha</dd>
                                </div>

                                <div class="user-data-item col-md-12">
                                    <dt>Nombre de la cancha</dt>
                                    <dd>Dirección de la cancha</dd>
                                </div>

                                <div class="user-data-item col-md-12">
                                    <dt>Nombre de la cancha</dt>
                                    <dd>Dirección de la cancha</dd>
                                </div>
                            </dl>
                        </div>
                    </div>
                </div>
                 -->
                @if (!String.IsNullOrEmpty(Model.Historia))
                {
                    <div class="panel">
                        <div class="row">
                            <div class="col-md-12">
                                <h3 class="m-b-30">Historia</h3>

                                <div class="columns-2">
                                    <p>@Html.Raw(Model.Historia)</p>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>

            <div class="tab-content" id="club-socios">
                <div class="row">
                    <div class="col-md-12" id="ListadoPersonaXCLub">
                        @*@Html.Action("_UsuarioXClub", new { Codigo = Model.Codigo})*@

                    </div>
                </div>
            </div>

            <div class="tab-content" id="club-pago-afiliacion">

                <div class="row">

                    <div class="@(Model.AfiliacionVenciada?"col-md-6":"col-md-12")">
                        <div class="panel">
                            <ul class="jugador-pago-data">
                                <li><h2>@Model.NombreClub</h2></li>
                                <li>Categoría: <span>@Model.Categoria.NombreCategoria</span></li>
                                <li>Año del pago: <span>@(DateTime.Now.ToString("yyyy"))</span></li>
                            </ul>
                            @if (Model.AfiliacionVenciada)
                            {
                                <p class="estado-pago estado-pendiente"><strong>Estado del pago:</strong> <br>Vencido</p>
                            }
                            else
                            {
                                <p class="estado-pago estado-confirmado"><strong>Estado del pago:</strong> <br>Confirmado</p>
                            }
                        </div>
                    </div>
                    @if (Model.AfiliacionVenciada)
                    {
                        <div class="col-md-6" id="fix-bottom">
                            <div class="panel panel-payment fixed-bottom text-center">
                                <div class="pay-group">
                                    <p>Monto total a abonar: </p>
                                    <div class="price-tag">$<span>@Model.Categoria.strImporte</span></div>
                                </div>
                                @*<button href="javascript:void(0);" class="btn btn-white btn-xl">Pagar</button>*@
                                @Ajax.ActionLink("Pagar", "PagoAfiliacionClub", "PerfilJugador", new { Cod_Club = Model.Codigo }, new AjaxOptions { HttpMethod = "Post", OnSuccess = "ProcesarPagoAfiliacionClub", OnFailure = "fProcesarPagoAfiliacionClub" }, new { @class = "btn btn-white btn-xl" })
                                <p class="text-center">
                                    @*Confirmación inmediata pagando online con tarjeta de crédito.*@
                                    <br>
                                    Si en MercadoPago elegís pagar en efectivo deberás enviar el comprobante a info@aapolo.com
                                    <br>
                                </p>
                            </div>
                        </div>
                    }

                </div>
            </div>
        </div>
    </div>
   
</div>


@section scripts{

    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBoxoZXxehMIMXLlDrXvDVvfFgUz4907K8&callback=initMap">
    </script>

    <script>
        /************************************ MAPS ***************************************/

        var panorama;
        var astorPlace = { lat: 40.729884, lng: -73.990988 };

        var map;
        var markers = [];
        var cargado = false;
        function initMap() {

            // Set up the map
            map = new google.maps.Map(document.getElementById('map'), {
                center: astorPlace,
                zoom: 18,
                streetViewControl: false
            });

            // Set up the markers on the map
            var cafeMarker = new google.maps.Marker({
                position: { lat: 40.730031, lng: -73.991428 },
                map: map,
                icon: 'https://chart.apis.google.com/chart?chst=d_map_pin_icon&chld=cafe|FFFF00',
                title: 'Cafe'
            });

            var bankMarker = new google.maps.Marker({
                position: { lat: 40.729681, lng: -73.991138 },
                map: map,
                icon: 'https://chart.apis.google.com/chart?chst=d_map_pin_icon&chld=dollar|FFFF00',
                title: 'Bank'
            });

            var busMarker = new google.maps.Marker({
                position: { lat: 40.729559, lng: -73.990741 },
                map: map,
                icon: 'https://chart.apis.google.com/chart?chst=d_map_pin_icon&chld=bus|FFFF00',
                title: 'Bus Stop'
            });

            // We get the map's default panorama and set up some defaults.
            // Note that we don't yet set it visible.
            panorama = map.getStreetView();
            panorama.setPosition(astorPlace);
            panorama.setPov(/*type {google.maps.StreetViewPov} */({
                heading: 265,
                pitch: 0
            }));

            if (cargado == false) {
                cargado = true;
                var geocoder = new google.maps.Geocoder();
                geocodeAddress(geocoder, map)
            }

        }

        function toggleStreetView() {
            var toggle = panorama.getVisible();
            if (toggle == false) {
                panorama.setVisible(true);
            } else {
                panorama.setVisible(false);
            }
        }

        var direccionPais = '@(Model.lDomicilio.FirstOrDefault().pais.Nombre)';
        function geocodeAddress(geocoder, resultsMap) {
            console.log('carga de street view');
            var direccionProvincia = $('#ProvinciaCodigo option:select').text();
            var direccionMunicipio = $('#MunicipioCodigo option:select').text();
            var address = direccionPais + ' ';
            if (direccionProvincia != null && direccionProvincia != '')
                address += direccionProvincia + ' ';
            if (direccionMunicipio != null && direccionMunicipio != '')
                address += direccionMunicipio + ' ';
            address +=  $('#DireccionDomicilio').val() + ' ' + $('#NroDomicilio').val();
            geocoder.geocode({ 'address': address }, function (results, status) {
                if (status === 'OK') {
                    resultsMap.setCenter(results[0].geometry.location);
                    SetMarker(parseFloat(results[0].geometry.location.lat()), parseFloat(results[0].geometry.location.lng()));

                    astorPlace = { lat: parseFloat(results[0].geometry.location.lat()), lng: parseFloat(results[0].geometry.location.lng()) };

                    initMap();
                } else {
                    console.log('Por favor, ingrese una dirección de calle. ' + address);
                }
            });
        }

        function setMapOnAll(map) {
            for (var i = 0; i < markers.length; i++) {
                markers[i].setMap(map);
            }
        }

        function SetMarker(lat, lng) {
            setMapOnAll(null);
            localStorage.setItem('latitud', parseFloat(lat));
            localStorage.setItem('longitud', parseFloat(lng));
            var newLatlng = new google.maps.LatLng(lat, lng);
            var marker = new google.maps.Marker({
                position: newLatlng,
                map: map//,
                //zoom: 14,
            });
            markers.push(marker);
        }

        //************************************ MAPS ***************************************
    </script>

    <script>

        $('#strFundacion').mask('99/99/9999', { placeholder: 'dd/mm/aaaa' });

        $(document).on('keyup', '.validanumericos', function (e) {
            if (!(/^[0-9]+$/.test($(this).val()))) {
                var largo = $(this).val().length;
                var valor = $(this).val();
                $(this).val(valor.substring(0, largo - 1));
            }
        });

        var nombProvincia = '@Model.lDomicilio.FirstOrDefault().provincia.Nombre',
            nombMunicipio = '@Model.lDomicilio.FirstOrDefault().municipio.Nombre';
        $('#ProvinciaCodigo').click(function () {
            var url = '@Url.Action("_SelectMunicipio","Home", new { Codigo = "_Codigo" })'
                .replace('_Codigo', $(this).val());

            nombProvincia = $("#ProvinciaCodigo option:selected").text();

            $.post(url, function (Data) {
                $('#MunicipioCodigo').html(Data);
                $('#MunicipioCodigo').click();
            });
        });

        $('#MunicipioCodigo').click(function () {
            nombMunicipio = $("#MunicipioCodigo option:selected").text();
        });

        function GuardarDatosClub() {

            var url = '@Url.Action("GuardarDatosClub", "PerfilJugador", new { Codigo = Model.Codigo, Cod_Domicilio = Model.lDomicilio.FirstOrDefault().Codigo, Cod_CategoriaClub = "_Cod_CategoriaClub", strFundacion = "_strFundacion", NumeroCancha = "_NumeroCancha", Correo = "_Correo", Celular = "_Celular", Telefono = "_Telefono", DireccionDomicilio = "_DireccionDomicilio", NroDireccion = "_NroDireccion", NroPiso = "_NroPiso", Departamento = "_Departamento", CodigoPostal = "_CodigoPostal", Cod_Pais = Model.lDomicilio.FirstOrDefault().pais.Codigo, Cod_Provincia = "_Cod_Provincia", Cod_Municipio = "_Cod_Municipio", Facebook = "_Facebook", Twitter = "_Twitter", Instagram = "_Instagram", Historia = "_Historia" })'
                .replace('_Correo', $('#Correo').val())
                .replace('_Celular', $('#Celular').val())
                .replace('_Telefono', $('#Telefono').val())
                .replace('_strFundacion', $('#strFundacion').val())
                .replace('_Cod_CategoriaClub', $('#CategoriaClub').val())
                .replace('_Cod_Provincia', $('#ProvinciaCodigo').val())
                .replace('_Cod_Municipio', $('#MunicipioCodigo').val())
                .replace('_NumeroCancha', $('#NumeroCancha').val())
                .replace('_DireccionDomicilio', $('#DireccionDomicilio').val())
                .replace('_NroDireccion', $('#NroDomicilio').val())
                .replace('_NroPiso', $('#NroPiso').val())
                .replace('_Departamento', $('#Departamento').val())
                .replace('_CodigoPostal', $('#CodigoPostal').val())
                .replace('_Facebook', $('#Club_Facebook').val())
                .replace('_Twitter', $('#Club_Twitter').val())
                .replace('_Instagram', $('#Club_Instagram').val())
                .replace('_Historia', '@Model.Historia')
                .replace(/amp;/g,'');

            $.post(url, function (Data) {

                alert(Data.Mensaje)
                if (Data.EsSatisfactorio) {
                    $('.spanProvincia').text(nombProvincia);
                    $('.spanMunicipio').text(nombMunicipio);
                    $('.change-cancel').click();
                    var geocoder = new google.maps.Geocoder();
                    geocodeAddress(geocoder, map)
                } else {
                    console.log(Data);
                }
            });
        }

        function GuardarDatosClubMail() {
            var EditCorreo = $('#EditCorreo').val();
            if (!(ExprecionRegular_validarMail.test(EditCorreo))) {
                $('#EditCorreo').focus();
                alert("Por favor, ingrese una dirección de email válida.");
                setTimeout(function () {
                    $('.editarMail').click();
                },700);
                $('.editarMail').click();
            } else {
                $('#Correo').val(EditCorreo);
                GuardarDatosClub();
            }
        }

        function fnSuccessProcesar(Data) {
            alert(Data.Mensaje);
            if (!Data.EsSatisfactorio) {
                console.log(Data);
            }
        }

        function RechazarJugador(Data) {
            alert(Data.Mensaje);
            if (Data.EsSatisfactorio) {
                $('#ListadoPersonaXCLub').html(Data.Vista)
            } else {
                console.log(Data);
            }
        }

        function fRechazarJugador(Data) {
            alert('Disculpe, no es posible realizar su transacción.');
            console.log(Data);
        }

        /***************************** Afiliacion de pago de club*******************************/
        function ProcesarPagoAfiliacionClub(Data) {
            if (Data.EsSatisfactorio) {
                window.location.href = Data.Cadena;
            } else {
                console.log(Data);
                alert(Data.Mensaje);
            }
        }

        function fProcesarPagoAfiliacionClub(Data) {
            alert('Disculpe, no es posible realizar su transacción.');
            console.log(Data);
        }
    </script>

}

