﻿@model AAPolo.Entities.Equipo
@using AAPolo.Entities


<div class="modal modal-abierto" id="confirmarPago" style="display:block">
    <div class="modal-overlay" onclick="javascript: $('#confirmarPago').remove()" data-dismiss="confirmarPago"></div>

    <div class="modal-dialogo modal-dialogo-800">
        <div class="modal-header">
            <h2 data-icon="">Confirmar pago de equipo: @Model.NombreEquipo</h2>
            <i class="icon-cross" onclick="javascript: $('#confirmarPago').remove()" data-dismiss="confirmarPago"></i>
        </div>

        <div class="modal-contenido clearfix">

            @using (Ajax.BeginForm("ConfirmarPagoEquipo", "Reporte", null, new AjaxOptions { HttpMethod = "POST", OnSuccess = "fnSuccessProcesar", OnFailure = "fnFailProcesar" }, new { @id = "RegistroForm", @class = "border-bottom-striped form-default clearfix ", @enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()
                @Html.HiddenFor(model => model.Codigo)

                <input type="hidden" name="Cod_Pago" id="Cod_Pago" value="@(Model.detallePago!=null ? Model.detallePago.Codigo : 0)" />

                <div class="col-md-12">

                    <label for="">Seleccioná un medio de pago</label>
                    <select name="Cod_Medio" id="HandicapPersona_detallePago_medioDePago_Codigo">
                        <option value="" disabled="">Seleccione una opción</option>
                        @foreach (var item in (List<MedioDePago>)ViewBag.lMedioDePagos)
                        {
                            <option value="@item.Codigo" @(item.Codigo == ConfiguracionAPP.MedioDePago_MercadoPago ? "selected" : "" )>@item.Nombre</option>
                        }
                    </select>

                </div>

                <div class="clearfix"></div>

                <div id="confirma-efectivo" style="display: block;">

                    <div class="col-md-12">
                        <label for="articulo">Artículo</label>
                        <input type="text" readonly name="hand" value="@(Model.detallePago!=null?Model.detallePago.Detalle +" - " + Model.detallePago.strImporte :"")" />
                    </div>

                    <div class="col-md-6">
                        <label for="comprobante">Adjuntar comprobante</label>
                        <input type="file" name="Imagen" value="" />
                    </div>

                    <div class="col-md-6">
                        <label for="">Número de comprobante</label>
                        <input type="text" name="collection_id" value="@(Model.detallePago!=null ? Model.detallePago.collection_id:"")" @(Model.detallePago != null && !String.IsNullOrEmpty(Model.detallePago.collection_id) ? "readonly" : "")>
                    </div>

                    <div class="col-md-6">
                        @Ajax.ActionLink("Declinar inscripción de equipo", "_DeclinarInscripcion", "Reporte", new { Codigo = Model.detallePago.Codigo, NombreEquipo = Model.NombreEquipo, NombreTorneo = Model.torneo.NombreTorneo }, new AjaxOptions { HttpMethod = "Post", UpdateTargetId = "divModal" }, new { @class = "btn btn-lightblue btn-full m-b-0", @style = "margin-top: 33px; display:none" })
                    </div>

                    <div class="col-md-6">
                        <button type="submit" class="btn btn-lightblue btn-full m-b-0" style="margin-top: 33px;"><i class="icon-checkmark"></i> Confirmar pago</button>
                    </div>

                </div>
            }
        </div>
    </div>

</div>
