﻿@model IEnumerable<AAPolo.Entities.Club>
@using AAPolo.Entities;

<div class="col-md-4">
    <div class="cuenta-card">
        <i class="icon-flag"></i>
        <h3>Cantidad total de clubes</h3>
        <h5>@ViewBag.CantClub</h5>
    </div>
</div>

<div class="col-md-4">
    <div class="cuenta-card">
        <i class="icon-checkmark"></i>
        <h3>Abonaron cuota en el último año</h3>
        <h5>@ViewBag.CantClubPagadosEsteAnio</h5>
    </div>
</div>

<div class="col-md-4">
    <div class="cuenta-card">
        <i class="icon-cross"></i>
        <h3>No abonaron cuota en el último año</h3>
        <h5>@ViewBag.CantClubNoPagadosEsteAnio</h5>
    </div>
</div>

<div class="col-md-12">
    <div class="panel panel-profile">
        <div class="panel-body">
            <h1 class="title-admin pull-left">Cuenta corriente - Clubes</h1>
            <a href="@Url.Action("GetReporteCuentasCorrientesClubes","Reporte")" target="_blank" download="Reporte de pago de afiliaciones" class="btn btn-lightblue pull-right m-t-0">
                <i class="icon-download"></i>
                Reporte de pago de afiliaciones
                @*Descargar en Excel*@
            </a>

            <div class="clearfix"></div>

            <table class="table-default table-admin paginarTabla">
                <thead>
                    <tr>
                        <th>Club</th>
                        <th>Jugador admin</th>
                        <th>Categoría</th>
                        <th>Fecha de último pago</th>
                        <th>Monto</th>
                        <th>Estado de cuenta</th>
                        @*<th>Medio de pago</th>*@
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td data-label="Club"><a href="@Url.Action("EditarClub","Club", new { Codigo = item.Codigo})"><strong>@item.NombreClub</strong></a></td>
                            <td data-label="Jugador admin"><a href="@Url.Action("EditarJugador","Jugador", new { Codigo = item.PersonaAdmin.Codigo})">@item.PersonaAdmin.NombreCompleto</a></td>
                            <td data-label="Categoría">@item.Categoria.NombreCategoria</td>
                            <td data-label="Fecha de último pago">@item.strFechaPagoAfilicion</td>
                            <td data-label="Monto">$@item.detallePago.strImporte</td>
                            <td data-label="Estado cuenta">
                                @if (item.AfiliacionVenciada)
                                {
                                    <i class="icon-cross color-red"></i><span>Vencido</span>
                                }
                                else
                                {
                                    if (item.detallePago.estado.Codigo == ConfiguracionAPP.Pago_PorOtroMedio || item.detallePago.estado.Codigo == ConfiguracionAPP.Pago_EnEspera)
                                    {
                                        <i class="icon-cross color-red"></i><span>En espera</span>
                                    }
                                    else
                                    {
                                        <i class="icon-checkmark color-green"></i><span>Al dia</span>
                                    }
                                }
                            </td>
                            <td data-label="Editar perfil" class="text-right">
                                @if (item.AfiliacionVenciada || item.detallePago.estado.Codigo == ConfiguracionAPP.Pago_PorOtroMedio || item.detallePago.estado.Codigo == ConfiguracionAPP.Pago_EnEspera)
                                {
                                    @Ajax.ActionLink("Confirmar pago", "_CargarPagoClub", "Reporte", new { Codigo = item.Codigo, PagoEnProceso = (item.detallePago.estado.Codigo == ConfiguracionAPP.Pago_PorOtroMedio || item.detallePago.estado.Codigo == ConfiguracionAPP.Pago_EnEspera ? true : false) }, new AjaxOptions { HttpMethod = "Post", UpdateTargetId = "divModal" }, new { @class = "btn btn-lightblue btn-small" })
                                }
                                else
                                {
                                    <button type="button" class="btn btn-lightblue btn-small" disabled>Confirmar pago</button>
                                }
                            </td>
                        </tr>
                    }

                </tbody>
            </table>
        </div>
    </div>
</div>