﻿@model IEnumerable<AAPolo.Entities.Equipo>
@using AAPolo.Entities;

<div class="col-md-3 col-sm-6">
    <div class="cuenta-card">
        <i class="icon-flag"></i>
        <h3>Clubes participando</h3>
        <h5>@Model.Select(g => g.club.Codigo).Distinct().Count()</h5>
    </div>
</div>

<div class="col-md-3 col-sm-6">
    <div class="cuenta-card">
        <i class="icon-user-group"></i>
        <h3>Equipos inscriptos</h3>
        <h5>@Model.Count()</h5>
    </div>
</div>

<div class="col-md-3 col-sm-6">
    <div class="cuenta-card">
        <i class="icon-checkmark"></i>
        <h3>Abonaron la inscripción</h3>
        <h5>@Model.Where(x => x.detallePago.estado.Codigo == ConfiguracionAPP.Pago_Satisfactorio).Count()</h5>
    </div>
</div>

<div class="col-md-3 col-sm-6">
    <div class="cuenta-card">
        <i class="icon-cross"></i>
        <h3>Adeudan la inscripción</h3>
        <h5>@Model.Where(x => x.detallePago.estado.Codigo == ConfiguracionAPP.Pago_EnEspera || x.detallePago.estado.Codigo == ConfiguracionAPP.Pago_PorOtroMedio).Count()</h5>
    </div>
</div>

<div class="col-md-12">
    <div class="panel panel-profile">
        <div class="panel-body">
            <h1 class="title-admin pull-left"><small>Inscriptos al torneo</small>@(ViewBag.NombreTorneo)</h1>
            <a href="@Url.Action("Index","Torneo")" class="btn btn-lightblue pull-right m-t-0"><i class="icon-arrow-thin-left"></i> Volver a torneos</a>

            <a href="@Url.Action("GetReporteInscripcionesTorneoJugadoresExcel","Reporte", new { id = ViewBag.Cod_Torneo})" class="btn btn-lightblue pull-right m-t-0 m-r-20">
                <i class="icon-download"></i>
                Reporte de pago de inscripciones
                @*Descargar excel*@
            </a>

            <div class="clearfix"></div>

            <table class="table-default table-admin paginarTabla">
                <thead>
                    <tr>
                        <th>Club</th>
                        <th>Jugadores</th>
                        <th>Estado del pago</th>
                        @*<th>Zona</th>*@
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td data-label="Club"><a href="@Url.Action("EditarClub", "Club", new { Codigo = item.club.Codigo})" target="_blank" class="has-tooltip" title="Visitar perfil">@item.club.NombreClub</a></td>

                            <td data-label="Jugadores">
                                @foreach (var per in item.lPersona)
                                {
                                    <a href="@Url.Action("EditarJugador","Jugador", new { Codigo = per.Codigo})" @*target="_blank"*@ class="has-tooltip" title="Visitar perfil">@per.NombreCompleto</a><br>
                                }
                            </td>
                            <td data-label="Estado del pago">
                                @if (item.detallePago.estado.Codigo == ConfiguracionAPP.Pago_Satisfactorio)
                                {
                                    <i class="icon-checkmark color-green"></i><span>Abonado</span>
                                }
                                else
                                {
                                    <i class="icon-checkmark color-red"></i><span>Pendiente</span>
                                }
                            </td>
                            @*<td data-label="Zona">
                                    <select name="">
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                    </select>
                                </td>*@
                        </tr>
                    }
                </tbody>
            </table>


        </div>
    </div>
</div>
