﻿@model IEnumerable<AAPolo.Entities.Persona>
@using AAPolo.Entities

@Html.Action("_ReporteEstadisticaHandicap", "Reporte")

<div class="col-md-12">
    <div class="panel panel-profile">
        <div class="panel-body">
            <h1 class="title-admin pull-left">Cuenta corriente - Jugadores</h1>
            <a href="@Url.Action("GetReporteCuentasCorrientesJugadores","Reporte")" class="btn btn-lightblue pull-right m-t-0">
                <i class="icon-download"></i>
                Reporte de pago de Handicaps
            </a>
            <a href="@Url.Action("GetReporteAllCuentasCorrientesJugadores","Reporte")" target="_blank" download class="btn btn-lightblue pull-right m-t-0 m-r-10">
                <i class="icon-download"></i>
                Reporte de pago de Handicaps completo
            </a>
            <div class="clearfix"></div>

            <table class="table-default table-admin paginarTabla">
                <thead>
                    <tr>
                        <th>Jugador</th>
                        <th>Tipo jugador</th>
                        <th>Nacionalidad</th>
                        <th>Cat. handicap</th>
                        <th>Tipo handicap</th>
                        <th>Temporalidad</th>
                        <th>Estado de cuenta</th>
                        <th>Fecha de último pago</th>
                        <th>Monto</th>
                        @*<th>Medio de pago</th>*@
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Take(500))
                    {
                        <tr>
                            <td data-label="Nombre y apellido"><a href="@Url.Action("EditarJugador","Jugador", new { Codigo = item.Codigo})"><strong>@item.NombreCompleto</strong></a></td>
                            <td data-label="Tipo de jugador">@item.TipoJugador.Nombre</td>
                            <td data-label="Nacionalidad">@item.Pais.Nombre</td>
                            <td data-label="Categoria de handicap">@item.HandicapPersona.Categoria.Nombre</td>
                            <td data-label="Tipo de handicap">@item.TipoJugador.Nombre</td>
                            <td data-label="Temporalidad de handicap">@item.HandicapPersona.vigencia.Nombre</td>
                            <td data-label="Estado cuenta">
                                @if ((item.HandicapPersona.detallePago.estado.Codigo == ConfiguracionAPP.Pago_PorOtroMedio || item.HandicapPersona.detallePago.estado.Codigo == ConfiguracionAPP.Pago_EnEspera ) && item.HandicapPersona.EsVencido == false)
                                {
                                    <i class="icon-cross color-red"></i><span>En espera</span>
                                }
                                else if (item.HandicapPersona.EsVencido)
                                {
                                    <i class="icon-cross color-red"></i><span>Vencido</span>
                                }
                                else
                                {
                                    <i class="icon-checkmark color-green"></i><span>Al dia</span>
                                }
                            </td>
                            <td data-label="Fecha de último pago">@item.HandicapPersona.strFechaPago</td>
                            <td data-label="Monto">$@item.HandicapPersona.strImporte</td>
                            @*<td data-label="Medio de pago">Efectivo</td>*@
                            <td data-label="Editar perfil" class="text-right">
                                @*<a href="javascript:void()" class="btn btn-lightblue btn-small" data-modal="confirmarPago">Confirmar pago</a>*@
                                @*<button class="btn btn-lightblue btn-small" data-modal="confirmarPago">Confirmar pago</button>*@
                                @Ajax.ActionLink("Confirmar pago", "_CargarPago", "Reporte", new { Cod_Persona = item.Codigo }, new AjaxOptions { HttpMethod = "Post", UpdateTargetId = "divModal" }, new { @class = "btn btn-lightblue btn-small" })
                            </td>
                        </tr>
                    }
                </tbody>
            </table>


        </div>
    </div>
</div>
