﻿
@{
    ViewBag.Title = "ReporteClub";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}


<div class="col-md-12">
    <div class="panel">
        <div class="panel-body">
            <h1 class="title-admin pull-left">Reporte club</h1>
            <div class="clearfix"></div>
            @using (Ajax.BeginForm("_ListadoReporteClub", "Reporte", null, new AjaxOptions { HttpMethod = "POST", OnSuccess = "Buscar", OnFailure = "fBuscar" }, new { @id = "RegistroForm", @class = "form-default row" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary()

                <div class="col-md-4">
                    <input id="Nombre" name="Nombre" type="text" placeholder="Buscar clubes por nombre" autocomplete="off">
                </div>

                <div class="col-md-3">
                    <select id="Cod_CategoriaClub" name="Cod_CategoriaClub" onchange="javascript: $('#btnFiltro').click()" class="select2-basic ng-pristine ng-untouched ng-valid ng-not-empty select2-hidden-accessible" data-select2-id="buscar-tipo-club" tabindex="-1" aria-hidden="true">
                        @Html.Action("_SelectTipoCategoriaClub", "Club")
                    </select>
                </div>

                <div class="col-md-3">
                    <select id="Cod_EstadoPago" name="Cod_EstadoPago" onchange="javascript: $('#btnFiltro').click()" class="select2-basic ">
                        <option value="0">Seleccione estado</option>
                        <option value="1">Al día</option>
                        <option value="2">En espera</option>
                        <option value="3">Vencido</option>
                    </select>
                </div>

                <div class="col-md-2">
                    <button type="submit" id="btnFiltro" class="btn btn-lightblue btn-full"><i class="icon-search"></i> Buscar</button>
                </div>

            }
        </div>
    </div>
</div>


<div id="divReporte">
    @Html.Action("_ListadoReporteClub")
</div>

<div id="divModal"></div>

@section scripts{

    <script>

        localStorage.setItem('opMenu', 'liReporteClub');

        function _Listado() {
            $.post('@Url.Action("_ListadoReporteClub")', function (htmlVista) {
                $('#divReporte').html(htmlVista);
                PaginacionDeTablas('.paginarTabla', 20);
            });
            $('#divModal').html('');
        }

        function Buscar(Data) {
            console.log(Data);
            $('#divReporte').html(Data);
            PaginacionDeTablas('.paginarTabla', 20);
        }

        function fnSuccessProcesar(Data) {
            alert(Data.Mensaje)
            if (Data.EsSatisfactorio) {
                _Listado();
                $('#divModal').html('');
            } else {
                console.log(Data);
            }

        }

        function fnFailProcesar(Data) {
            console.log(Data);
            alert('Disculpe, temporalmente no es posible procesar su solicitud.')
        }

    </script>

}
