﻿@model IEnumerable<AAPolo.Entities.TipoDocumento>


<option value="0" selected disabled>Seleccione tipo de documento</option>

@foreach (var item in Model)
{
    <option value="@item.Codigo">@item.Nombre</option>

}

