﻿@model IEnumerable<AAPolo.Entities.TipoJugador>

<option value="" selected>Seleccione tipo de jugador</option>

@foreach (var item in Model)
{
    <option value="@item.Codigo" data-desde="@item.EdadDesde" data-hasta="@item.EdadHasta">@item.Nombre</option>

}