﻿@model IEnumerable<AAPolo.Entities.Persona>


<option value="0" selected>Seleccione administador del club</option>

@foreach (var item in Model)
{
    <option value="@item.Codigo">@item.NombreCompleto</option>
}


