﻿@model IEnumerable<AAPolo.Entities.JugadorHandicap>
@using AAPolo.Entities
@{

    List<JugadorHandicap> lJug = Model.GroupBy(x => new { Jugador = x.tipoJugador.Codigo, Categoria = x.handicap.Categoria.Codigo }).Select(s => s.FirstOrDefault()).ToList();

 }


<option value="0" selected disabled>Seleccione un tipo de handicap</option>

@foreach (var item in lJug)
{
    <option value="@item.handicap.Codigo" >@item.tipoJugador.Nombre - @item.handicap.Categoria.Nombre</option>

}