﻿@model AAPolo.Entities.Sancion

@{
    ViewBag.Title = "CrearSancion";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}


<div class="col-md-12">
    <div class="panel panel-profile">
        <div class="panel-body">
            <h1 class="title-admin pull-left">Cargar sanción</h1>
            <a href="javascript:void(0);" class="btn btn-lightblue pull-right m-t-0" data-modal="confirmarSalir"><i class="icon-arrow-thin-left"></i> Volver al listado</a>

            <div class="clearfix"></div>

            @using (Ajax.BeginForm("GuardarSancion", "Sancion", null, new AjaxOptions { HttpMethod = "POST", OnSuccess = "fnSuccessProcesar", OnFailure = "fnFailProcesar" }, new { @id = "RegistroForm", @class = "form-default" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.Codigo)
                @Html.HiddenFor(model => model.Persona.Codigo)

                <div class="row clearfix m-t-20">
                    <div class="col-md-12">
                        <label for="presidente">Seleccionar Jugador</label>
                        <div class="input-search">
                            <ul id="txtNombrePersona">
                                <li id="li_@Model.Persona.Codigo">@Model.Persona.NombreCompleto<i class="icon-cross" onclick="javascript: $('#li_@Model.Persona.Codigo').remove()"></i></li>
                            </ul>
                            <a href="javascript:void(0);" class="btn btn-lightblue text-center single-icon" data-modal="BuscarUsuario"><i class="icon-search"></i></a>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <label for="cuerpo-sancion">Sanción</label>
                        @Html.TextAreaFor(model => model.DescripcionSancion, new { @style = "height: 200px;" })
                        @*<textarea name="cuerpo-sancion" id="cuerpo-sancion" style="height: 200px;"></textarea>*@
                    </div>

                    <div class="col-md-12">
                        <label for="reglamento">Artículo del reglamento</label>
                        @Html.TextBoxFor(model => model.CodigoAritculo)
                        @*<input type="text" name="reglamento" id="reglamento">*@
                    </div>

                    <div class="col-md-4 col-md-offset-8">
                        <button type="submit" class="btn btn-xl btn-full btn-lightblue text-left m-t-20" data-modal="exito">Guardar cambios <i class="icon-arrow-thin-right pull-right"></i></button>
                    </div>
                </div>
            }

        </div>
    </div>
</div>

<div class="modal" id="BuscarUsuario" >
    <div class="modal-overlay" data-dismiss="BuscarUsuario"></div>

    <div class="modal-dialogo modal-dialogo-800">
        <div class="modal-header">
            <h2 data-icon="">Búsqueda</h2>
            <i class="icon-cross" data-dismiss="BuscarUsuario"></i>
        </div>

        <div class="modal-contenido clearfix">
            @using (Ajax.BeginForm("_BuscarUsuario", "Sancion", null, new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "resultadosBusqueda" }, new { @class = "form-default clearfix" }))
            {
                <div class="col-md-12">
                    <label for="jugador-pagar" class="m-b-10">
                        <small><strong>Máximo 1 jugador</strong></small>
                        <h3 class="inner-title m-t-0"> Buscá por nombre ó DNI</h3>
                    </label>
                </div>
                <div class="col-md-8">
                    <input type="text" name="Cadena" id="Cadena" placeholder="Nombre o DNI">
                </div>
                <div class="col-md-4">
                    <button type="submit" id="btnBuscar" class="btn btn-lightblue btn-full text-center"><i class="icon-search"></i> Buscar</button>
                </div>

            }

            <div class="col-md-12">
                <ul class="resultados-busqueda clearfix" id="resultadosBusqueda"></ul>

                <hr class="m-t-0 m-b-20">

            </div>

            <div class="col-md-4 col-md-offset-8">
                <button type="button" onclick="javascript:seleccionarUsuario()" class="btn btn-full btn-red text-left m-t-20" data-dismiss="BuscarUsuario">Agregar<i class="icon-arrow-thin-right pull-right"></i></button>
            </div>
        </div>
    </div>
</div>


<div class="modal" id="exito">
    <div class="modal-overlay" data-dismiss="exito"></div>

    <div class="modal-dialogo modal-dialogo-600">
        <div class="modal-header">
            <h2 data-icon="&#xe04e;" id="tituloOperacion">¡Creación exitosa!</h2>
            <i class="icon-cross" data-dismiss="exito"></i>
        </div>

        <div class="modal-contenido clearfix">
            <div class="col-md-12 clearfix">
                <p id="msjOperacion">Has creado un nuevo jugador exitosamente. Recordá que puedes editarlo más tarde desde el panel de administración.</p>

                <div class="modal-opciones text-right">
                    <a href="@Url.Action("Index")" class="btn btn-red m-t-0" data-dismiss="exito">Volver al listado</a>
                    <a href="#" id="btnContinuar" onclick="javascript: window.location.reload()" class="btn btn-lightblue m-t-0" data-dismiss="exito">Crear otro registro</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="confirmarSalir">
    <div class="modal-overlay" data-dismiss="confirmarSalir"></div>
    <div class="modal-dialogo-holder">
        <div class="modal-dialogo modal-dialogo-600">
            <div class="modal-header">
                <h2 data-icon="">¿Estás seguro?</h2>
                <i class="icon-cross" data-dismiss="confirmarSalir"></i>
            </div>

            <div class="modal-contenido clearfix">
                <div class="col-md-12 clearfix">
                    <p>Si abandonás esta página ahora, perderás los cambios que no hayas guardado. ¿Estás seguro de que querés salir?</p>

                    <div class="modal-opciones text-right">
                        <a href="@Url.Action("Index")" class="btn btn-red m-t-0" data-dismiss="confirmarSalir">Salir y descartar cambios</a>
                        <a href="javascript:void(0);" class="btn btn-lightblue m-t-0" data-dismiss="confirmarSalir" onclick="closeModal()">Continuar editando</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{

    <script>

        localStorage.setItem('opMenu', 'liTribunalDisciplina');

        $(document).on('click','#resultadosBusqueda li a',function () {
            console.log('click');
            $('.resultados-busqueda li a').removeClass('marked');
            $(this).toggleClass('marked');
        });

        $(document).on('click', '.input-search ul li i', function () {
            $(this).parent().remove();
            $('#Persona_Codigo').val(0);
        });

        var Cod_Usuario = 0;
        var txtNombrePersona = "";
        function seleccionarUsuario() {
            $('#Persona_Codigo').val(Cod_Usuario);
            $('#txtNombrePersona').html('<li id="li_' + Cod_Usuario + '">' + txtNombrePersona + '<i class="icon-cross" onclick="javascript: $("#li_' + Cod_Usuario + '").remove()"></i></li>');
        }

        function clickSeleccionUsuario(Codigo, Nombre) {
            Cod_Usuario = Codigo;
            txtNombrePersona = Nombre;
        }

        function fnSuccessProcesar(Data) {
            $('#msjOperacion').html(Data.Mensaje);
            if (Data.EsSatisfactorio) {
                $('#tituloOperacion').html('¡Creación exitosa!');
                setTimeout(function () {
                    window.location.href = '@Url.Action("Index")';
                }, 6000);
                $('#btnContinuar').css('display', 'inline-block');
            } else {
                $('#tituloOperacion').html('¡Creación fállida!');
                $('#btnContinuar').css('display', 'none');
                console.log(Data);
            }
            $('#exito').css('display', 'block');
        }

        function fnFailProcesar(Data) {
            alert('Disculpe, temporalmente no es posible procesar su registro.');
            console.log(Data);
        }

    </script>

}