﻿@model IEnumerable<AAPolo.Entities.Noticia>

<table class="table-default table-admin paginarTabla">
    <thead>
        <tr>
            <th width="150">Fecha de publicación</th>
            <th>Categoría</th>
            <th>Título</th>
            <th>Destacada</th>
            <th>Activo</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr style="">
                <td data-label="Fecha de publicación" >@item.strFechaPublicacion</td>
                <td data-label="Categoría" class="">@item.TipoNoticia.Nombre</td>
                <td data-label="Tíutlo"><strong class="">@item.Titulo</strong></td>
                <td data-label="Destacada en home" onclick="javascript:cambiarEstatusDestacado(@item.Codigo, @(item.EsDestacado?0:1))">
                    <div class="toggle @(item.EsDestacado?"toggle-active":"") has-tooltip" title="Activo" data-on="Destacado" data-off="no destacado">
                        <div class="toggle-inner"></div>
                    </div>
                </td>
                <td data-label="Activo" onclick="javascript:cambiarEstatus(@item.Codigo, @(item.EsActivo?0:1))">
                    <div class="toggle @(item.EsActivo?"toggle-active":"") has-tooltip" title="Activo" data-on="Activo" data-off="Inactivo">
                        <div class="toggle-inner"></div>
                    </div>
                </td>
                <td data-label="Editar Noticia" class="text-right"><a href="@Url.Action("EditarNoticia", new { Codigo = item.Codigo})" class="btn btn-lightblue btn-small">Editar noticia</a></td>
            </tr>
        }
    
    </tbody>
</table>