﻿@model AAPolo.Entities.Noticia
@using AAPolo.Entities

@{
    ViewBag.Title = "CrearNoticia";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="col-md-12">
    <div class="panel panel-profile">
        <div class="panel-body">
            <h1 class="title-admin pull-left">Crear noticia</h1>
            <a href="@Url.Action("Index","Noticia")" class="btn btn-lightblue pull-right m-t-0" data-modal="confirmarSalir"><i class="icon-arrow-thin-left"></i> Volver al listado</a>

            <div class="clearfix"></div>

            @using (Ajax.BeginForm("GuardarNoticia", "Noticia", null, new AjaxOptions { HttpMethod = "POST", OnSuccess = "fnSuccessProcesar", OnFailure = "fnFailProcesar" }, new { @id = "RegistroForm", @class = "form-default FormFile" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.Codigo)

                <div class="row clearfix">

                    <div class="col-md-4">
                        <label for="strFechaPublicacion">Fecha de publicación</label>
                        @Html.TextBoxFor(model => model.strFechaPublicacion, new { @class = "datepickerFuturo CampoRequerido", @data_textCampoRequerid = "Por favor, ingrese fecha de publicación." })
                    </div>

                    <div class="col-md-4">
                        <label for="@Html.IdFor(model => model.TipoNoticia.Codigo)">Tipo de noticia</label>
                        <select name="@Html.NameFor(model => model.TipoNoticia.Codigo)" id="@Html.IdFor(model => model.TipoNoticia.Codigo)" class="select2-basic CampoRequerido" data-textCampoRequerid="Por favor, seleccione tipo de noticia">
                            @Html.Action("_SelectTipoNoticia")
                        </select>
                    </div>

                    <div class="col-md-4">
                        <label for="tags">Tags <i class="icon-question has-tooltip" title="Puede seleccionar una o más etiquetas del listado, y crear etiquetas nuevas."></i></label>
                        <select name="lTags" id="lTags" class="select2-tags CampoRequerido" data-textCampoRequerid="Por favor, seleccione tipo de noticia" multiple="">
                            @Html.Action("_SelectEtiqueta")
                        </select>
                    </div>

                    <div class="col-md-12">
                        <label for="Titulo">Título de la noticia</label>
                        @Html.TextBoxFor(model => model.Titulo, new { @class = "CampoRequerido", @data_textCampoRequerid = "Por favor, ingrese título." })
                    </div>

                    <div class="col-md-12">
                        <label for="Titulo">Copete de la noticia</label>
                        @Html.TextAreaFor(model => model.Copete, new { @class = "CampoRequerido", @data_textCampoRequerid = "Por favor, ingrese copete.", @style = "height: 100px;" })
                    </div>

                    <div class="col-md-12">
                        <label for="cuerpo-nota">Cuerpo de la noticia <br><small>Seleccioná el texto para ver opciones de formato</small></label>
                        @*<textarea name="cuerpo-nota" id="cuerpo-nota" style="height: 400px; display: none;"></textarea>*@
                        @Html.TextAreaFor(model => model.CuerpoNoticia, new { @class = "summernoteFormat CampoRequerido", @id = "CuerpoNoticia", @data_textCampoRequerid = "Por favor, ingrese cuerpo de la noticia", @style = "height: 400px;" })
                    </div>

                    <div class="col-md-12">
                        <h1 class="title-admin m-t-20 m-b-20">Imagen, video o galería de imágenes <small>Elije una de las opciones</small></h1>
                    </div>

                    @Html.Action("_Adjunto", Model.lAdjunto.Where(x => x.tipoAdjunto.Codigo == ConfiguracionAPP.Adjunto_Imagen).FirstOrDefault()@*new Adjunto() { PermiteEliminar = false, tipoAdjunto = new TipoAdjunto { Codigo = ConfiguracionAPP.Adjunto_Imagen, Nombre = "Imagen" } }*@)

                    @if (Model.lAdjunto.Where(x => x.tipoAdjunto.Codigo == ConfiguracionAPP.Adjunto_Video).Count() > 0)
                    {
                        @Html.Action("_Adjunto", Model.lAdjunto.Where(x => x.tipoAdjunto.Codigo == ConfiguracionAPP.Adjunto_Video).FirstOrDefault())
                    }
                    else
                    {
                        @Html.Action("_Adjunto", new Adjunto() { PermiteEliminar = false, tipoAdjunto = new TipoAdjunto { Codigo = ConfiguracionAPP.Adjunto_Video, Nombre = "Video" } })
                    }

                    <div class="abm-imagenes">
                        @for (int i = 1; i < Model.lAdjunto.Where(x => x.tipoAdjunto.Codigo == ConfiguracionAPP.Adjunto_Imagen).Count(); i++)
                        {
                            Model.lAdjunto[i].PermiteEliminar = true;
                            @Html.Action("_Adjunto", new { obj = Model.lAdjunto[i] })

                        }

                    </div>

                    <div class="col-md-12 pull-right btnAgregarImg">
                        @Ajax.ActionLink(" Agregar imagen", "_Adjunto", "Noticia", new { PermiteEliminar = true, Cod_TipoAdjunto = ConfiguracionAPP.Adjunto_Imagen, tipoAdjunto = new TipoAdjunto { Codigo = ConfiguracionAPP.Adjunto_Imagen, Nombre = "Imagen" } }, new AjaxOptions { HttpMethod = "Post", OnSuccess = "AgregarArchivo" })
                    </div>

                    <div class="col-md-6 pull-right">
                        <button type="button" class="btn btn-xl btn-full btn-lightblue text-left m-t-20" onclick="javascript:validarCampos()">Publicar <i class="icon-arrow-thin-right pull-right"></i></button>
                        <button type="submit" id="CargarForm" style="visibility:hidden">Publicar <i class="icon-arrow-thin-right pull-right"></i></button>
                    </div>
                </div>

            }

        </div>
    </div>
</div>

<div class="modal" id="exito">
    <div class="modal-overlay" data-dismiss="exito"></div>

    <div class="modal-dialogo modal-dialogo-600">
        <div class="modal-header">
            <h2 data-icon="&#xe04e;" id="tituloOperacion">¡Creación exitosa!</h2>
            <i class="icon-cross" data-dismiss="exito"></i>
        </div>

        <div class="modal-contenido clearfix">
            <div class="col-md-12 clearfix">
                <p id="msjOperacion">.</p>

                <div class="modal-opciones text-right">
                    <a href="@Url.Action("Index","Noticia")" class="btn btn-red m-t-0" data-dismiss="exito">Volver al listado</a>
                    <a href="@Url.Action("CrearNoticia","Noticia")" id="btnContinuar" class="btn btn-lightblue m-t-0" data-dismiss="exito">Crear otra noticia</a>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{

    <script>

        localStorage.setItem('opMenu', 'aLiNoticia');

        $('.btnAgregarImg > a').html('<i class="icon-plus"></i> Agregar imagen');
        $('.btnAgregarImg > a').addClass('btn btn-lightblue-outline pull-right');

        $(document).on('change', '.img-previewer', function () {
            if ($(this).val().length != 0) {
                src = window.URL.createObjectURL(this.files[0]);
                filename = $(this).val();
                $(this).next('.img-preview').find('img').attr('src', src).parent().slideDown(300).css('display', 'block !important');
                if (filename.substring(3, 11) == 'fakepath') {
                    filename = filename.substring(12);
                } $(this).parent().find('span').html(filename);

            }
            else {
                $(this).next().find('img').slideUp(300);

            }
        });

        $(document).ready(function () {

            $('.datepickerFuturo').pickadate({
                firstDay: 0,
                container: 'body',
                format: 'dd/mm/yyyy',
                //max: true,
                min: true,
                minDate: new Date(@DateTime.Now.Year, @DateTime.Now.Month, @DateTime.Now.Day),
                selectYears: true,
                selectMonths: true,
                selectYears: 100
            });

            $('#@Html.IdFor(model => model.TipoNoticia.Codigo)').val(@Model.TipoNoticia.Codigo).trigger('change');

            if (@Model.lTags.Count() > 0) {
                @{
                    List<int> lstCod = Model.lTags.Select(s => s.Codigo).ToList();
                    string strCod = String.Join(",",lstCod);
                }
                $('#lTags').val([@strCod]).trigger('change');
            }

        });

        function AgregarArchivo(Data) {
            if (Data != null) {
                $('.abm-imagenes').append(Data);
            }
        }

        function validarCampos() {

            var mostar = true;
            $('.CampoRequerido').each(function (value) {
                //console.log($(this).attr('name') + ' ' + $(this).val());
                if ((($(this).val() == 0 && $(this).attr('type') != "file") || (($(this).val() == '' && $(this).attr('type') != "file") || ($(this).val() == null && $(this).attr('type') != "file")) || ($(this).attr('type') == "file" && $(this).closest('col-md-6').find("input[type='hidden']").val() == '')) && mostar == true) {
                    console.log($(this).attr('id') + ': "' + $(this).val()+'"')
                    console.log('id input[type=hidden]: ' + $(this).closest('col-md-6').find("input[type='hidden']").attr('id'))
                    console.log('input[type=hidden]: ' + $(this).closest('abm-imagen').find("input[type='hidden']").val() )
                    //Modal('.modal-avisos', $(this).data('textrequerid'));
                    $(this).focus();
                    alert($(this).data('textcamporequerid'));
                    mostar = false;
                }
            }).promise().done(function () {
                console.log('mostar: ' + mostar);
                if (mostar == true) {
                    $('#CargarForm').click();
                }
            });
        }

        function fnSuccessProcesar(Data) {
           $('#msjOperacion').html(Data.Mensaje);
           if (Data.EsSatisfactorio) {
               $('#tituloOperacion').html('¡Creación exitosa!');
               setTimeout(function () {
                   window.location.href = '@Url.Action("Index", "Noticia")';
               }, 6000);
               $('#btnContinuar').css('display', 'inline-block');
           } else {
               $('#tituloOperacion').html('¡Creación fállida!');
               $('#btnContinuar').css('display', 'none');
               console.log(Data);
           }
           $('#exito').css('display', 'block');
        }

        function fnFailProcesar(Data) {
            alert('Disculpe, temporalmente no es posible procesar su registro.');
            console.log(Data);
        }


    </script>


}