﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="col-md-12" style="">
    <div class="panel panel-profile">
        <div class="panel-body">
            <h1 class="title-admin pull-left">Noticias</h1>
            <a href="@Url.Action("CrearNoticia")" class="btn btn-lightblue pull-right m-t-0"><i class="icon-plus"></i> Crear una noticia</a>

            <div class="clearfix"></div>
            <div>
                @Html.Action("_Listado")
            </div>
        </div>
    </div>
</div>

<div class="modal" id="exito">
    <div class="modal-overlay" data-dismiss="exito"></div>

    <div class="modal-dialogo modal-dialogo-600">
        <div class="modal-header">
            <h2 data-icon="&#xe04e;" id="tituloOperacion">¡Actualización exitosa!</h2>
            <i class="icon-cross" data-dismiss="exito"></i>
        </div>

        <div class="modal-contenido clearfix">
            <div class="col-md-12 clearfix">
                <p id="msjOperacion"></p>

                <div class="modal-opciones text-right">
                    <a href="#" id="btnContinuar" class="btn btn-lightblue m-t-0" data-dismiss="exito">Ok</a>
                </div>
            </div>
        </div>
    </div>
</div>


@section scripts{

    <script>

        localStorage.setItem('opMenu', 'aLiNoticia');

        function cambiarEstatus(Codigo, Estado) {
              console.log(Codigo + ' - ' + Estado);
              var url = '@Url.Action("CambiarEstadoNoticia","Noticia", new { Codigo = "_Codigo", EstadoNoticia = "_Estado" })'
                  .replace('_Codigo', Codigo)
                  .replace('_Estado', Estado)
                  .replace(/amp;/g, '');
              console.log(url);
              $.post(url, function (Data) {

                  $('#msjOperacion').html(Data.Mensaje);
                  if (Data.EsSatisfactorio) {
                      $('#td_' + Codigo).attr('onclick', 'javascript:cambiarEstatus(' + Codigo + ',' + (Estado == 1 ? 0 : 1) + ')');
                      $('#tituloOperacion').html('¡Actualización exitosa!');
                  } else {
                      $('#tituloOperacion').html('¡Actualización fállida!');
                      console.log(Data);
                  }
                  $('#exito').css('display', 'block');
              });
        }

        function cambiarEstatusDestacado(Codigo, Estado) {
              console.log(Codigo + ' - ' + Estado);
              var url = '@Url.Action("CambiarEstadoNoticiaDestacado", "Noticia", new { Codigo = "_Codigo", EstadoNoticia = "_Estado" })'
                  .replace('_Codigo', Codigo)
                  .replace('_Estado', Estado)
                  .replace(/amp;/g, '');
              console.log(url);
              $.post(url, function (Data) {

                  $('#msjOperacion').html(Data.Mensaje);
                  if (Data.EsSatisfactorio) {
                      $('#td_' + Codigo).attr('onclick', 'javascript:cambiarEstatusDestacado(' + Codigo + ',' + (Estado == 1 ? 0 : 1) + ')');
                      $('#tituloOperacion').html('¡Actualización exitosa!');
                  } else {
                      $('#tituloOperacion').html('¡Actualización fállida!');
                      console.log(Data);
                  }
                  $('#exito').css('display', 'block');
              });
        }

    </script>

}