﻿
@{
    ViewBag.Title = "Tortugas";
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";
}

<section class="section-bg line-texture-after" style="background-image: url('@Url.Content("~/Content/img/bgs/7.jpg")');">
    <div class="container-fluid">
        <div class="wrapper">
            <div class="col-md-12">
                <div class="title-container">
                    <h1 class="page-title page-title-buscar m-r-20">78º Abierto de Polo - Tortugas Country Club</h1>
                    <a href="@Url.Action("Tortugas","Abierto", new { id = 0 })" class="btn btn-outline btn-small text-left pull-right"><i class="icon-arrow-thin-left m-r-10"></i>Volver</a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="clearfix">
    <div class="container-fluid">
        <div class="col-md-12">
            <div class="panel panel-floating m-b-30 clearfix">
                <div class="col-md-12 m-t-10">
                    <ul class="tabs-default tabs-buttons">
                        <li class="current"><a href="javascript:void(0);" data-tab="resultados" class="btn btn-full btn-outline-lightblue m-t-0 m-b-10">Resultados</a></li>
                        <li><a href="javascript:void(0);" data-tab="posiciones" class="btn btn-full btn-outline-lightblue m-t-0 m-b-10">Posiciones</a></li>
                        <li><a href="javascript:void(0);" data-tab="goleadores" class="btn btn-full btn-outline-lightblue m-t-0 m-b-10">Goleadores</a></li>
                        <li><a href="javascript:void(0);" data-tab="planteles" class="btn btn-full btn-outline-lightblue m-t-0 m-b-10">Planteles</a></li>
                        <li><a href="javascript:void(0);" data-tab="equipos" class="btn btn-full btn-outline-lightblue m-t-0 m-b-10">Equipos</a></li>
                        <li><a href="javascript:void(0);" data-tab="jugadores" class="btn btn-full btn-outline-lightblue m-t-0 m-b-10">Jugadores</a></li>
                    </ul>
                </div>
            </div>
            <div class="panel clearfix m-b-40">
                <div class="col-md-12" style="margin: 15px 0">
                    <div class="tab-contents">
                        <div class="tab-content" id="resultados" style="display: block">
                            <div class="iframe-torneos-holder">
                                <iframe src="https://aapolo.datafactory.la/html/v3/index.html?channel=deportes.polo.tortugas2018.fixture&lang=es_LA" frameborder="0" style="width: 100%; height: 1084px; margin-top: -120px"></iframe>
                            </div>
                        </div>

                        <div class="tab-content" id="posiciones">
                            <div class="iframe-torneos-holder">
                                <iframe src="https://aapolo.datafactory.la/html/v3/index.html?channel=deportes.polo.tortugas2018.posiciones&lang=es_LA" frameborder="0" style="width: 100%; height: 843px"></iframe>
                            </div>
                        </div>

                        <div class="tab-content" id="goleadores">
                            <div class="iframe-torneos-holder">
                                <iframe src="https://aapolo.datafactory.la/html/v3/index.html?channel=deportes.polo.tortugas2018.goleadores&lang=es_LA" frameborder="0" style="width: 100%; height: 2086px"></iframe>
                            </div>
                        </div>

                        <div class="tab-content" id="planteles">
                            <div class="iframe-torneos-holder">
                                <iframe src="https://aapolo.datafactory.la/html/v3/index.html?channel=deportes.polo.tortugas2018.planteles&lang=es_LA" frameborder="0" style="width: 100%; height: 758px"></iframe>
                            </div>
                        </div>

                        <div class="tab-content" id="equipos">
                            <div class="iframe-torneos-holder">
                                <iframe src="https://aapolo.datafactory.la/html/v3/index.html?channel=deportes.polo.tortugas2018.statsCenterPerTeam&lang=es_LA" frameborder="0" style="width: 100%; height: 864px"></iframe>
                            </div>
                        </div>

                        <div class="tab-content" id="jugadores">
                            <div class="iframe-torneos-holder">
                                <iframe src="https://aapolo.datafactory.la/html/v3/index.html?channel=deportes.polo.tortugas2018.statsCenterPerPlayer&lang=es_LA" frameborder="0" style="width: 100%; height: 864px"></iframe>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>


    </div>
</section>

<script>

    localStorage.setItem('opMenu', 'liAbierto');

</script>
