﻿@model AAPolo.Entities.Equipo

<h3 class="inner-title m-t-10">@(Model != null ? Model.NombreEquipo : "")<br><small>@(Model != null && Model.club != null ? Model.club.NombreClub : "")</small></h3>
<table class="table-default table-equipo">
    <thead>
        <tr>
            <th>Nombre y apellido</th>
            <th class="text-center">Handicap</th>
            <th class="text-center" style="width: 140px;">Goles</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.lPersona != null )
        {
            foreach (var item in Model.lPersona)
            {
                Html.RenderPartial("_Jugador", item);
            }
            <tr>
                <th class="text-right" data-label="Total">Total</th>
                <td class="text-center" data-label="Total handicap"><strong>@Model.SumaHandicap</strong></td>
                <td class="text-center TotalGol" data-label="Total goles"><strong>@Model.ResultadoEquipo</strong></td>
            </tr>
        }
    </tbody>
</table>