﻿@model AAPolo.Entities.Partido
@using AAPolo.Entities;

<div class="modal modal-abierto" id="EditarPartido" style="display: block;">
    <div class="modal-overlay"></div>

    <div class="modal-dialogo">
        <div class="modal-header">
            <h2 data-icon="&#xe02f;">Editar partido </h2>
            <i class="icon-cross" data-dismiss="EditarPartido"></i>
        </div>
        @*@if (Model != null && Model.EquipoLocal.Codigo > 0 && Model.EquipoVisitante.Codigo > 0)
        {
            <div class="legend-timer">
                <p class="pull-right">Ficha disponible por 24hs</p>
                <span class="timer-countdown m-l-10"></span>
            </div>
        }*@
        <div class="modal-contenido clearfix">
            <ul class="tabs-default m-b-20">
                <li class="@((Model != null && ((Model.EquipoLocal.Codigo == 0 && Model.EquipoVisitante.Codigo == 0) || Model.FechaPartido.Year < 1950))? "current":"")"><a href="javascript:void(0);" data-tab="p-informacion">Información</a></li>
                <li class="@((Model != null && Model.EquipoLocal.Codigo > 0 && Model.EquipoVisitante.Codigo > 0 && Model.FechaPartido.Year > 1950)? "current":"")"><a href="javascript:void(0);" data-tab="p-resultados">Resultados</a></li>
                <li><a href="javascript:void(0);" data-tab="p-incidencias">Incidencias</a></li>
            </ul>
            @using (Ajax.BeginForm("GuardarPartidoInstancia", "Torneo", null, new AjaxOptions { HttpMethod = "POST", OnSuccess = "GuardarPartidoInstancia", OnFailure = "fModalPartidoZona" }, new { @id = "FormGuardarPartido", @class = "form-default clearfix" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.Codigo)
                @Html.HiddenFor(model => model.Copa.Codigo)
                @Html.HiddenFor(model => model.Copa.EsPrincipal)
                @Html.HiddenFor(model => model.EquipoDeSigPartido.Codigo)
                @Html.HiddenFor(model => model.NroOrdenSiguientePartido)

                <input type="hidden" name="NroPartido" value="@ViewBag.NroPartido" />
                <input type="hidden" name="@Html.NameFor(model => model.Torneo.Codigo)" value="@ViewBag.Cod_Torneo" />
                <input type="hidden" name="ValidarFecha" value="@(Model.EquipoLocal.Codigo> 0 && Model.EquipoVisitante.Codigo > 0?"false":"true")" />

                <div class="tab-contents">
                    <div class="tab-content clearfix" id="p-informacion" style="display: @((Model != null && ((Model.EquipoLocal.Codigo == 0 && Model.EquipoVisitante.Codigo == 0) || Model.FechaPartido.Year < DateTime.Now.Year))? "block":"none");">

                        <div class="col-md-4">
                            <label for="p-instancia-1">Instancia</label>
                            @if (Model.Intancia.Codigo == ConfiguracionAPP.Instancia_Zona)
                            {
                                <input type="hidden" name="@Html.NameFor(model => model.Intancia.Codigo)" value="@ConfiguracionAPP.Instancia_Zona" />
                                <input type="text" name="@Html.NameFor(model => model.Intancia.Nombre)" value="Zona" readonly />
                            }
                            else if (Model.Intancia.Codigo == ConfiguracionAPP.Instancia_Cuartos)
                            {
                                <input type="hidden" name="@Html.NameFor(model => model.Intancia.Codigo)" value="@ConfiguracionAPP.Instancia_Cuartos" />
                                <input type="text" name="@Html.NameFor(model => model.Intancia.Nombre)" value="Cuartos" readonly />
                            }
                            else if (Model.Intancia.Codigo == ConfiguracionAPP.Instancia_Semifinal)
                            {
                                <input type="hidden" name="@Html.NameFor(model => model.Intancia.Codigo)" value="@ConfiguracionAPP.Instancia_Semifinal" />
                                <input type="text" name="@Html.NameFor(model => model.Intancia.Nombre)" value="Semifinal" readonly />
                            }
                            else if (Model.Intancia.Codigo == ConfiguracionAPP.Instancia_Final)
                            {
                                <input type="hidden" name="@Html.NameFor(model => model.Intancia.Codigo)" value="@ConfiguracionAPP.Instancia_Final" />
                                <input type="text" name="@Html.NameFor(model => model.Intancia.Nombre)" value="Final" readonly />
                            }

                        </div>

                        <div class="col-md-4">
                            <label for="p-local-1">Equipo local</label>
                            <input type="text" name="name" value="@Model.EquipoLocal.NombreEquipo" readonly />
                        </div>

                        <div class="col-md-4">
                            <label for="p-visitante-1">Equipo visitante</label>
                            <input type="text" name="name" value="@Model.EquipoVisitante.NombreEquipo" readonly />
                        </div>

                        <div class="col-md-4">
                            <label for="p-fecha-1">Fecha</label>
                            <input type="text" name="strFechaPartido" id="FechaPartido" value="@(Model.FechaPartido!= null && Model.FechaPartido.Year > 1950 ? Model.FechaPartido.ToString("dd/MM/yyyy"):"")" class="datepickerFuturo">
                        </div>

                        <div class="col-md-4">
                            <label for="p-hora-1">Horario (hh : mm)</label>
                            <input type="time" min="" name="HoraPartido" id="HoraPartido" value="@(Model.FechaPartido!= null && Model.FechaPartido.Year > 1950 ? Model.FechaPartido.ToString("HH:mm"):"")">
                        </div>

                        <div class="col-md-4">
                            <label for="p-referee-1">Referee</label>
                            <input type="text" name="name" value="@Model.Referee.Persona.NombreCompleto" readonly/>
                        </div>

                        <div class="col-md-4">
                            <label for="p-veedor-1">Veedor</label>
                            <input type="text" name="name" value="@Model.Veedor.NombreCompleto" readonly />
                        </div>

                        <div class="col-md-4">
                            <label for="Cancha">Cancha</label>
                            <input type="text" name="name" value="@Model.Cancha" readonly />
                        </div>
                    </div>

                    <div class="tab-content" id="p-resultados" style="display: @((Model != null && (Model.EquipoLocal.Codigo > 0 && Model.EquipoVisitante.Codigo > 0 && Model.FechaPartido.Year > 1950))? "block":"none");">
                        <div class="col-md-6 EquipoLocal">
                            @if (Model.EquipoLocal != null)
                            {
                                Html.RenderPartial("_ListaJugadorEquipo", Model.EquipoLocal);
                            }
                            
                        </div>

                        <div class="col-md-6 EquipoVisitante">
                            @if (Model.EquipoVisitante != null)
                            {
                                Html.RenderPartial("_ListaJugadorEquipo", Model.EquipoVisitante);
                            }
                         
                        </div>
                    </div>

                    <div class="tab-content" id="p-incidencias">
                        <div class="col-md-6 EquipoLocalIncidencia">
                            @if (Model.EquipoVisitante != null)
                            {
                                Html.RenderPartial("_ListaJugadorEquipoIncidencia", Model.EquipoLocal);
                            }
                           
                        </div>

                        <div class="col-md-6 EquipoVisitanteIncidencia">
                            @if (Model.EquipoVisitante != null)
                            {
                                Html.RenderPartial("_ListaJugadorEquipoIncidencia", Model.EquipoVisitante);
                            }
                           
                        </div>

                        <div class="col-md-12 m-t-20">
                            <label for="copete">Observaciones/Irregularidades</label>
                            @Html.TextAreaFor(model => model.Observacion, new { @style = "height: 100px;" })
                        </div>
                    </div>
                </div>
                
                <div class="col-md-offset-8 col-md-4">
                    <button type="submit" class="btn btn-full btn-lightblue text-left m-t-30 m-b-0" >Guardar cambios<i class="icon-arrow-thin-right pull-right"></i></button>
                </div>

            }

        </div>
    </div>
</div>





