﻿@model IEnumerable<AAPolo.Entities.Equipo>

<option value="0" @(ViewBag.Cod_Equipo == 0 ? "selected":"") disabled></option>

@foreach (var item in Model)
{
    <option value="@item.Codigo" @(ViewBag.Cod_Equipo == item.Codigo ? "selected":"")>Zona @item.Zona.LetraZona - @item.NombreEquipo</option>
}
