﻿@model IEnumerable<AAPolo.Entities.Persona>


@if (Model.Count() > 0)
{
    <ul class="resultados-busqueda clearfix" id="resultadosBusqueda" style="max-height: 100px;">

        @foreach (var item in Model)
        {
            if (item.EsActivo)
            {
                <li>
                    <a href="javascript:void(0);" onclick="$('#FormNuevoReferee > #Cod_Usuario').val(@item.Codigo).change()">
                        <h3>@item.NombreCompleto</h3>
                        <p>@item.TipoDocumento.Nombre: <strong>@item.DocumentoIdentidad</strong></p>
                        <p>Club: <strong>@item.clubUsuarioPrincipal.NombreClub</strong></p>
                    </a>
                </li>
            }
            else
            {
                <li>
                    <a href="javascript:void(0);" onclick="$('#msjSeleccion').text('Disculpe, el jugador: @item.NombreCompleto, se encuentra inactivo.')">
                        <h3>@item.NombreCompleto</h3>
                        <p>@item.TipoDocumento.Nombre: <strong>@item.DocumentoIdentidad</strong></p>
                        <p>Club: <strong>@item.clubUsuarioPrincipal.NombreClub</strong></p>
                    </a>
                </li>
            }
        }

    </ul>
    <div class="row">
        <div class="col-md-12">
            <h4 id="msjSeleccion" style="color:red"></h4>
        </div>
    </div>
}
else
{
    <div class="row">
        <div class="col-md-12">
            <h4>Jugador no encontrado, si no existe deberás crearlo:</h4>
            <a href="@Url.Action("CrearJugador","Jugador")" class="btn btn-lightblue text-left m-t-0 m-b-40 col-md-4">Crear jugador<i class="icon-plus pull-right"></i></a>
            @*<button class="btn btn-lightblue text-left m-t-0 m-b-40 col-md-4" data-dismiss="buscarGenerico">Crear jugador<i class="icon-plus pull-right"></i></button>*@
        </div>
    </div>
}

<hr class="m-t-0 m-b-20">