﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}


<div class="col-md-12">
    <div class="panel panel-profile">
        <div class="panel-body">
            <h1 class="title-admin pull-left">Referees</h1>

            <a href="@Url.Action("AdminSidepro", "Administrador")" class="btn btn-lightblue pull-right m-t-0">Evaluaciones</a>
            <a href="javascript:void(0);" data-modal="buscarGenerico" onclick="javascript:$('#btnSubmitNuevoReferee').attr('disabled', true); $('#formBuscarPosibleReferee #DocumentoNombre').val(''); $('#divBusquedaJugador').html('<hr class=\'m-t-0 m-b-20\'>')" class="btn btn-lightblue pull-right m-t-0 m-r-10"><i class="icon-plus"></i> Nuevo referee</a>

            <div class="clearfix"></div>
            @using (Ajax.BeginForm("_Listado", "Referee", null, new AjaxOptions { HttpMethod = "POST", OnSuccess = "FormatearTabla", OnFailure = "fFormatearTabla" }, new { @class = "form-default" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary()

                <div class="row">
                    <div class="col-md-4">
                        <input type="text" name="DocumentoNombre" id="DocumentoNombre" placeholder="Buscar jugadores por nombre o número de documento" autocomplete="off">
                    </div>
                    <div class="col-md-2">
                        <select class="select2-basic" name="Cod_tipoReferee" id="Cod_tipoReferee">
                            <option value="0" selected>Todas las categorías</option>
                            @Html.Action("_BuscarTipoReferee", "Referee")
                        </select>
                    </div>
                    <div class="col-md-2">
                        <button type="submit" class="btn btn-lightblue btn-full"><i class="icon-search"></i> Buscar</button>
                    </div>
                </div>

            }

            <div id="divListado">
                @Html.Action("_Listado", "Referee")

            </div>

        </div>
    </div>
</div>


<div class="modal" id="buscarGenerico">
    <div class="modal-overlay" data-dismiss="buscarGenerico"></div>

    <div class="modal-dialogo modal-dialogo-800">
        <div class="modal-header">
            <h2 data-icon="&#xe041;">Búsqueda</h2>
            <i class="icon-cross" data-dismiss="buscarGenerico"></i>
        </div>

        <div class="modal-contenido clearfix">

            @using (Ajax.BeginForm("_BuscarPosibleReferee", "Referee", null, new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "divBusquedaJugador", InsertionMode = InsertionMode.Replace, OnFailure = "fCargaFommulario" }, new { @id= "formBuscarPosibleReferee", @class = "form-default clearfix" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary()
                <div class="col-md-12">
                    <label for="jugador-pagar" class="m-b-10">
                        <small><strong>Máximo 1 jugador</strong></small>
                        <h3 class="inner-title m-t-0"> Buscá por nombre o DNI</h3>
                    </label>
                </div>
                <div class="col-md-8">
                    <input type="text" name="DocumentoNombre" id="DocumentoNombre" placeholder="Nombre o DNI">
                </div>
                <div class="col-md-4">
                    <button type="submit" class="btn btn-lightblue btn-full text-center" onclick="javascript:$('#btnSubmitNuevoReferee').attr('disabled', true);"><i class="icon-search"></i> Buscar</button>
                </div>

                <div class="col-md-12" id="divBusquedaJugador">
                    <hr class="m-t-0 m-b-20">
                </div>
            }


            @using (Ajax.BeginForm("GuardarReferee", "Referee", null, new AjaxOptions { HttpMethod = "POST", OnSuccess = "GuardarReferee", OnFailure = "fCargaFommulario" }, new { @id = "FormNuevoReferee", @class = "form-default clearfix" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary()
                <input type="hidden" name="Cod_Usuario" id="Cod_Usuario" value="" />
                <div class="col-md-4">
                    <h4 class="text-right">Asigna una categoría al jugador seleccionado:</h4>
                </div>
                <div class="col-md-4">

                    <select class="select2-basic m-t-0" name="Cod_TipoReferee" id="Cod_TipoReferee">
                        <option value="0" selected>Seleccione categoría de referee</option>
                        @Html.Action("_BuscarTipoReferee", "Referee")
                    </select>

                </div>
                <div class="col-md-4">
                    <button type="submit" class="btn btn-full btn-red text-left m-t-20" id="btnSubmitNuevoReferee" disabled data-dismiss="buscarGenerico">Agregar<i class="icon-arrow-thin-right pull-right"></i></button>
                </div>
            }

        </div>
    </div>
</div>


<div class="modal" id="exito">
    <div class="modal-overlay" data-dismiss="exito"></div>

    <div class="modal-dialogo modal-dialogo-600">
        <div class="modal-header">
            <h2 data-icon="&#xe04e;" id="tituloOperacion">¡Creación exitosa!</h2>
            <i class="icon-cross" data-dismiss="exito"></i>
        </div>

        <div class="modal-contenido clearfix">
            <div class="col-md-12 clearfix">
                <p id="msjOperacion">Has creado un nuevo referee exitosamente.</p>

                <div class="modal-opciones text-right">
                    <a href="javascript:void(0);" class="btn btn-red m-t-0" data-dismiss="exito">Cerrar</a>
                    <a href="javascript:void(0);" id="btnContinuar" onclick="$('#btnSubmitNuevoReferee').attr('disabled', true); $('#formBuscarPosibleReferee #DocumentoNombre').val(''); $('#divBusquedaJugador').html('<hr class=\'m-t-0 m-b-20\'>'); closeModal(); " data-dismiss="exito" class="btn btn-lightblue m-t-0" data-modal="buscarGenerico"><i class="icon-plus"></i> Nuevo referee</a>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{

    <script>

        localStorage.setItem('opMenu', 'aliReferee');

        $(document).on('click', '#resultadosBusqueda li a', function () {
            $('#resultadosBusqueda li a').removeClass('marked');
            $(this).addClass('marked');
        });

        $('#FormNuevoReferee > #Cod_Usuario, #FormNuevoReferee #Cod_TipoReferee').change(function () {
            console.log($(this).attr('id') + ': ' + $(this).val());
            if ($('#FormNuevoReferee > #Cod_Usuario').val() > 0 && $('#FormNuevoReferee #Cod_TipoReferee').val() > 0) {
                $('#btnSubmitNuevoReferee').attr('disabled', false);
            } else {
                $('#btnSubmitNuevoReferee').attr('disabled', true);
            }
        });

        $("select").select2(/*{
                // Options
            }*/)/*.on('select2:open', function () {

                $('.select2-dropdown--above').attr('id', 'fix');
                $('#fix').removeClass('select2-dropdown--above');
                $('#fix').addClass('select2-dropdown--below');

            });*/

        function FormatearTabla(Data) {
            if (Data != null) {
                $('#divListado').html(Data);
                PaginacionDeTablas('.paginarTabla', 20);
            }

        }

        function fCargaFommulario(Data) {
            alert('Disculpe, no es posible realizar la busqueda.');
            console.log(Data);
        }

        function cambiarEstatus(Codigo, Estado) {
            console.log(Codigo + ' - ' + Estado);
            var url = '@Url.Action("CambiarEstadoReferee", "Referee", new { Codigo = "_Codigo", EstadoReferee = "_Estado" })'
                .replace('_Codigo', Codigo)
                .replace('_Estado', Estado)
                .replace(/amp;/g, '');

            $.post(url, function (Data) {
                
                $('#msjOperacion').html(Data.Mensaje);
                if (Data.EsSatisfactorio) {
                    $('#td_' + Codigo).attr('onclick', 'javascript:cambiarEstatus(' + Codigo + ',' + (Estado == 1 ? 0 : 1) + ')');
                    $('#tituloOperacion').html('¡Actualización exitosa!');
                    $('#btnContinuar').css('display', 'none');
                    if (Estado == 1) {
                        $('#td_' + Codigo + ' .toggle').addClass('toggle-active');
                    } else {
                        $('#td_' + Codigo + ' .toggle').removeClass('toggle-active');
                    }
                } else {
                    $('#td_' + Codigo + ' .toggle').toggleClass('toggle-active');
                    $('#tituloOperacion').html('¡Actualización fállida!');
                    if (Estado == 1) {
                        $('#td_' + Codigo + ' .toggle').removeClass('toggle-active');
                    } else {
                        $('#td_' + Codigo + ' .toggle').addClass('toggle-active');
                    }
                    console.log(Data);
                }
                $('#exito').css('display', 'block');
            });
        }

        function GuardarReferee(Data) {
            $('#msjOperacion').html(Data.Mensaje);
            if (Data.EsSatisfactorio) {
                $('#tituloOperacion').html('¡Creación exitosa!');

                FormatearTabla(Data.Vista);
                $('#btnContinuar').css('display', 'inline-block');
                $('select').val(0).select2();
                $('#formBuscarPosibleReferee #DocumentoNombre').val('');
            } else {
                $('#tituloOperacion').html('¡Creación fállida!');
                $('#btnContinuar').css('display', 'none');
                console.log(Data);
            }
            $('#exito').css('display', 'block');
        }

    </script>

}