﻿@model IEnumerable<AAPolo.Entities.Equipo>


@foreach (var item in Model)
{
    <li>
        <a href="javascript:void(0);" class="aLink" data-codigo="@item.Codigo" data-agregar="1">
            <h3>@item.NombreEquipo</h3>
            <p>Club: <strong>@item.club.NombreClub</strong></p>
        </a>
        @Ajax.ActionLink(" ","AgregarEquipo", "Torneo", new { Codigo = item.Codigo }, new AjaxOptions { HttpMethod = "POST", OnSuccess = "AgregarEquipoZona" }, new { @style = "display:none", @id="aEquipo"+item.Codigo })
    </li>
}

