﻿@model IEnumerable<AAPolo.Entities.Copa>
@using AAPolo.Entities;

@foreach (var item in Model)
{
    <div class="col-md-12">
        <h3 class="fixture-h3-llave-@(item.EsPrincipal?1:2)"><span class="circle"></span> @item.Nombre</h3>
    </div>

    <div class="col-md-12 m-t-20">
        <ul class="tabs-default tabs-buttons">
            <li class="current">
                <a href="javascript:void(0);" data-tab="@(item.EsPrincipal?1:0)-octavos" class="btn btn-full btn-outline-lightblue m-t-0 m-b-10">Octavos</a>
            </li>
            <li>
                @Ajax.ActionLink("Cuartos", "_ListadoPartidoInstancia", "Torneo",
                    new { Cod_Torneo = item.Torneo.Codigo, Cod_Instancia = ConfiguracionAPP.Instancia_Cuartos, Cod_Partido = 0, SoloCopaPrincipal = (item.EsPrincipal?1:0) },
                    new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "divContenedor_"+ConfiguracionAPP.Instancia_Cuartos+"_"+ (item.EsPrincipal ? 1 : 0), OnSuccess= "ActivarIconos", OnFailure = "" }, new { @data_tab = (item.EsPrincipal ? 1 : 0) + "-cuartos", @class = "btn btn-full btn-outline-lightblue m-t-0 m-b-10" })
            </li>
            <li>
                @Ajax.ActionLink("Semifinal", "_ListadoPartidoInstancia", "Torneo",
                    new { Cod_Torneo = item.Torneo.Codigo, Cod_Instancia = ConfiguracionAPP.Instancia_Semifinal, Cod_Partido = 0, SoloCopaPrincipal = (item.EsPrincipal ? 1 : 0) },
                    new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "divContenedor_"+ConfiguracionAPP.Instancia_Semifinal+ "_" + (item.EsPrincipal ? 1 : 0), OnSuccess = "ActivarIconos", OnFailure = "" }, new { @data_tab = (item.EsPrincipal ? 1 : 0) + "-semifinal", @class = "btn btn-full btn-outline-lightblue m-t-0 m-b-10" })
            </li>
            <li>
                @Ajax.ActionLink("Final", "_ListadoPartidoInstancia", "Torneo",
                    new { Cod_Torneo = item.Torneo.Codigo, Cod_Instancia = ConfiguracionAPP.Instancia_Final, Cod_Partido = 0, SoloCopaPrincipal = (item.EsPrincipal ? 1 : 0) },
                    new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "divContenedor_"+ConfiguracionAPP.Instancia_Final+ "_" + (item.EsPrincipal ? 1 : 0), OnSuccess = "ActivarIconos", OnFailure = "" }, new { @data_tab = (item.EsPrincipal ? 1 : 0) + "-final", @class = "btn btn-full btn-outline-lightblue m-t-0 m-b-10" })
            </li>
        </ul>
    </div>

    <div class="col-md-12 tab-contents m-t-10 m-b-20">
        <div class="tab-content" id="@(item.EsPrincipal?1:0)-octavos" style="display: block">
            <div class="row" id="divContenedor_@(ConfiguracionAPP.Instancia_Zona)_@(item.EsPrincipal?1:0)">
                @Html.Action("_ListadoPartidoInstancia", "Torneo", new { Cod_Torneo = item.Torneo.Codigo, Cod_Instancia = ConfiguracionAPP.Instancia_Zona, Cod_Partido = 0, SoloCopaPrincipal = (item.EsPrincipal ? 1 : 0) })
            </div>
        </div>
        <div class="tab-content" id="@(item.EsPrincipal?1:0)-cuartos">
            <div class="row" id="divContenedor_@(ConfiguracionAPP.Instancia_Cuartos)_@(item.EsPrincipal?1:0)">
                
            </div>
        </div>
        <div class="tab-content" id="@(item.EsPrincipal?1:0)-semifinal">
            <div class="row" id="divContenedor_@(ConfiguracionAPP.Instancia_Semifinal)_@(item.EsPrincipal?1:0)">
                
            </div>
        </div>
        <div class="tab-content" id="@(item.EsPrincipal?1:0)-final">
            <div class="row" id="divContenedor_@(ConfiguracionAPP.Instancia_Final)_@(item.EsPrincipal?1:0)">
               
            </div>
        </div>
    </div>
    
}

