﻿@model AAPolo.Entities.ProductoTorneo


<div class="modal" id="divModalCrearCodigoProducto">
    <div class="modal-overlay" data-dismiss="divModalCrearCodigoProducto"></div>

    <div class="modal-dialogo modal-dialogo-600">
        <div class="modal-header">
            <h2 data-icon="&#xe04e;" id="">Crear nuevo código de producto</h2>
            <i class="icon-cross" data-dismiss="divModalCrearCodigoProducto"></i>
        </div>

        <div class="modal-contenido clearfix">
            @using (Ajax.BeginForm("GuardarCodigoProducto", "Torneo", null, new AjaxOptions { HttpMethod = "POST", OnSuccess = "fnSuccessProcesarCodigoProducto", OnFailure = "fnFailProcesarCodigoProducto" }, new { @id = "RegistroFormCodigoProducto", @class = "form-default" }))
            {
                <div class="col-md-12 clearfix" style="display:block" id="divDatos">
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <div class="col-md-12">
                        <label for="nombre">Código de producto</label>
                        @Html.TextBoxFor(model => model.Nombre, new { @onkeydown = "TriggeredKey(this)", @autocomplete = "off" })
                        <span class="feedback-note" id="spanRequiredNombre" style="color:red"></span>
                    </div>

                    <div class="modal-opciones text-right">
                        <button type="button" class="btn btn-red m-t-0" data-dismiss="divModalCrearCodigoProducto">Cancelar</button>
                        <button type="button" class="btn btn-lightblue m-t-0" onclick="javascript:ConfirmarGuardar()">Guardar</button>
                    </div>
                </div>

                <div class="col-md-12 clearfix" style="display:none" id="divConfirmacion">
                    <p id="msjNuevoCodigo"></p>

                    <div class="modal-opciones text-right">
                        <button type="button" class="btn btn-red m-t-0" onclick="javascript: $('#divConfirmacion').hide(); $('#divDatos').show();">Regresar</button>
                        <button type="submit" class="btn btn-lightblue m-t-0" data-dismiss="divModalCrearCodigoProducto">Confirmar</button>
                    </div>
                </div>
            }
        </div>
    </div>
</div>


<div class="modal" id="exitoCodigoProducto">
    <div class="modal-overlay" data-dismiss="exitoCodigoProducto"></div>

    <div class="modal-dialogo modal-dialogo-600">
        <div class="modal-header">
            <h2 data-icon="&#xe04e;" id="tituloOperacionCodigoProducto">¡Creación exitosa!</h2>
            <i class="icon-cross" data-dismiss="exitoCodigoProducto"></i>
        </div>

        <div class="modal-contenido clearfix">
            <div class="col-md-12 clearfix">
                <p id="msjOperacionCodigoProducto">.</p>

                <div class="modal-opciones text-right">
                    @*<button class="btn btn-red m-t-0" data-dismiss="exitoCodigoProducto">Cerrar</button>*@
                    <button id="btnContinuarCodigoProducto" class="btn btn-lightblue m-t-0" data-dismiss="exitoCodigoProducto">Continuar</button>
                </div>
            </div>
        </div>
    </div>
</div>



<script>

    function ConfirmarGuardar() {

        if ($('#RegistroFormCodigoProducto #Nombre').val() != '') {
            $('#RegistroFormCodigoProducto #spanRequiredNombre').html('');
            $('#divConfirmacion').show(); $('#divDatos').hide();
            $('#msjNuevoCodigo').html('Se creará el nuevo código de producto: <b>' + $('#RegistroFormCodigoProducto #Nombre').val() + '</b>');
        } else {
            $('#RegistroFormCodigoProducto #spanRequiredNombre').html('Disculpe, debe ingresar el nuevo código.');
        }
    }

    function fnSuccessProcesarCodigoProducto(Data) {

        $('#msjOperacionCodigoProducto').html(Data.Mensaje);
        $('#divModalCrearCodigoProducto').removeClass('modal-abierto').css('display', 'none');
        if (Data.EsSatisfactorio) {
            $('#tituloOperacionCodigoProducto').html('¡Creación exitosa!');
            $('#exitoCodigoProducto').addClass('modal-abierto').css('display', 'block');

            $('#btnContinuar').css('display', 'inline-block');
            $('#ProductoTorneo_Codigo').html(Data.Vista);
            $('#ProductoTorneo_Codigo').select2();
        } else {
            $('#tituloOperacionCodigoProducto').html('¡Creación fállida!');
            //$('#btnContinuarCodigoProducto').css('display', 'none');
            console.log(Data);
        }
        $('#exitoCodigoProducto').css('display', 'block');
    }

    function fnFailProcesarCodigoProducto(Data) {
        alert('Disculpe, temporalmente no es posible procesar su registro.');
        console.log(Data);
    }

    function TriggeredKey(e) {
        var keycode;
        if (window.event) keycode = window.event.keyCode;
        if (window.event.keyCode != 13) {
            console.log('false');
            return false;
        }
    }
        

</script>