﻿@model AAPolo.Entities.Equipo

<h3 class="inner-title m-t-10">@(Model != null ? Model.NombreEquipo : "")<br><small>@(Model != null && Model.club != null ? Model.club.NombreClub : "")</small></h3>
<table class="table-default table-equipo">
    <thead>
        <tr>
            <th>Nombre y apellido</th>
            <th>Incidencia</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.lPersona != null)
        {
            foreach (var item in Model.lPersona)
            {
                Html.RenderPartial("_JugadorIncidencia", item);
            }
        }
    </tbody>
</table>

