﻿@model IEnumerable<AAPolo.Entities.Torneo>

<table class="table-default table-admin paginarTabla">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Tipo de torneo</th>
            <th>Fecha de inicio</th>
            <th>Inscripción</th>
            <th>Estado</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td data-label="Nombre"><a href="@Url.Action("EditarTorneo", new { Codigo = item.Codigo})">@item.NombreTorneo</a></td>
                <td data-label="Tipo de torneo">@item.categoriaTorneo.NombreCategoriaTorneo</td>
                <td data-label="Fecha de inicio">@item.FechaInicio.ToString("dd/MM/yyyy")</td>
                <td data-label="Inscripción">
                    @if (item.InscripcionActiva)
                    {
                        <span>Abierta</span>
                    }
                    else
                    {
                        <span>Cerrada</span>
                    }
                    @*<div class="toggle toggle-active has-tooltip" title="Abierta" data-on="Abierta" data-off="Cerrada">
                            <div class="toggle-inner"></div>
                        </div>*@
                </td>
                <td data-label="Estado" onclick="javascript:cambiarEstatus(@item.Codigo, @(item.EsActivo?0:1))">
                    <div class="toggle @(item.EsActivo?"toggle-active":"") has-tooltip" title="Activo" data-on="Activo" data-off="Inactivo">
                        <div class="toggle-inner"></div>
                    </div>
                </td>
                <td class="text-right">
                    @if (!item.InscripcionActiva && !String.IsNullOrEmpty(item.strFechaFinInscripcion) && DateTime.Compare(new DateTime(Convert.ToInt32(item.strFechaFinInscripcion.Split('/')[2]), Convert.ToInt32(item.strFechaFinInscripcion.Split('/')[1]), Convert.ToInt32(item.strFechaFinInscripcion.Split('/')[0])), DateTime.UtcNow.AddHours(-3))<0)
                    {
                        <a href="@Url.Action("FixtureTorneo", new { Codigo = item.Codigo})" class="btn btn-lightblue btn-small">Crear fixture</a>
                    }
                    <a href="@Url.Action("ReporteEquipo","Reporte",new { Cod_Torneo = item.Codigo, EsIndividual = item.PermiteInscipcionIndividual==true ? 1: 0, NombreTorneo = item.NombreTorneo })" class="btn btn-lightblue btn-small">Ver inscripciones</a>
                </td>
                <td class="text-right">
                    <a href="@Url.Action("EditarTorneo", new { Codigo = item.Codigo})" class="btn btn-lightblue btn-small">Editar torneo</a>
                </td>
            </tr>
        }

    </tbody>
</table>