﻿@model AAPolo.Entities.Partido
@using AAPolo.Entities;

<div class="modal modal-abierto" id="EditarPartido" style="display: block;">
    <div class="modal-overlay"></div>

    <div class="modal-dialogo">
        <div class="modal-header">
            <h2 data-icon="&#xe02f;">Editar partido </h2>
            <i class="icon-cross" data-dismiss="EditarPartido"></i>
        </div>
        @*@if (Model != null && Model.Codigo > 0)
        {
            <div class="legend-timer">
                <p class="pull-right">Ficha disponible por 24hs</p>
                <span class="timer-countdown m-l-10"></span>
            </div>
        }*@
        <div class="modal-contenido clearfix">
            <ul class="tabs-default m-b-20">
                <li class="@((Model != null && Model.Codigo == 0)? "current":"")"><a href="javascript:void(0);" data-tab="p-informacion">Información</a></li>
                <li class="@((Model != null && Model.Codigo > 0)? "current":"")"><a href="javascript:void(0);" data-tab="p-resultados">Resultados</a></li>
                <li><a href="javascript:void(0);" data-tab="p-incidencias">Incidencias</a></li>
            </ul>
            @using (Ajax.BeginForm("GuardarPartido", "Torneo", null, new AjaxOptions { HttpMethod = "POST", OnSuccess = "GuardarPartido", OnFailure = "fGuardarPartido" }, new { @id = "FormGuardarPartido", @class = "form-default clearfix" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.Codigo)

                <input type="hidden" name="NroPartido" value="@ViewBag.NroPartido" />
                <input type="hidden" name="@Html.NameFor(model => model.Torneo.Codigo)" value="@ViewBag.Cod_Torneo" />
                <input type="hidden" name="@Html.NameFor(model => model.Zona.Codigo)" value="@ViewBag.Cod_Zona" />
                <input type="hidden" name="ValidarFecha" value="@(Model.EquipoLocal!= null && Model.EquipoVisitante!= null && Model.EquipoLocal.Codigo> 0 && Model.EquipoVisitante.Codigo > 0?"false":"true")" />

                <div class="tab-contents">
                    <div class="tab-content clearfix" id="p-informacion" style="display: @((Model != null && Model.Codigo == 0)? "block":"none");">

                        <div class="col-md-4">
                            <label for="p-instancia-1">Instancia</label>
                            @if (ViewBag.Cod_Instancia == ConfiguracionAPP.Instancia_Zona)
                            {
                                <input type="hidden" name="@Html.NameFor(model => model.Intancia.Codigo)" value="@ConfiguracionAPP.Instancia_Zona" />
                                <input type="text" name="@Html.NameFor(model => model.Intancia.Nombre)" value="Zona" readonly />
                            }
                            else if (ViewBag.Cod_Instancia == ConfiguracionAPP.Instancia_Cuartos)
                            {
                                <input type="hidden" name="@Html.NameFor(model => model.Intancia.Codigo)" value="@ConfiguracionAPP.Instancia_Cuartos" />
                                <input type="text" name="@Html.NameFor(model => model.Intancia.Nombre)" value="Cuartos" readonly />
                            }
                            else if (ViewBag.Cod_Instancia == ConfiguracionAPP.Instancia_Semifinal)
                            {
                                <input type="hidden" name="@Html.NameFor(model => model.Intancia.Codigo)" value="@ConfiguracionAPP.Instancia_Semifinal" />
                                <input type="text" name="@Html.NameFor(model => model.Intancia.Nombre)" value="Semifinal" readonly />
                            }
                            else if (ViewBag.Cod_Instancia == ConfiguracionAPP.Instancia_Final)
                            {
                                <input type="hidden" name="@Html.NameFor(model => model.Intancia.Codigo)" value="@ConfiguracionAPP.Instancia_Final" />
                                <input type="text" name="@Html.NameFor(model => model.Intancia.Nombre)" value="Final" readonly />
                            }

                        </div>

                        <div class="col-md-4">
                            <label for="p-local-1">Equipo local</label>
                            <select name="@Html.NameFor(model => model.EquipoLocal.Codigo)" id="@Html.IdFor(model => model.EquipoLocal.Codigo)" class="select2-basic">
                                @Html.Action("_SelectEquipoZona", new { Cod_Zona = ViewBag.Cod_Zona, Cod_Torneo = ViewBag.Cod_Torneo, Cod_Partido = Model.Codigo, Cod_Equipo = (Model.EquipoLocal != null ? Model.EquipoLocal.Codigo : 0), NroPartido = ViewBag.NroPartido })
                            </select>
                        </div>

                        <div class="col-md-4">
                            <label for="p-visitante-1">Equipo visitante</label>
                            <select name="@Html.NameFor(model => model.EquipoVisitante.Codigo)" id="@Html.IdFor(model => model.EquipoVisitante.Codigo)" class="select2-basic">
                                @Html.Action("_SelectEquipoZona", new { Cod_Zona = ViewBag.Cod_Zona, Cod_Torneo = ViewBag.Cod_Torneo, Cod_Partido = Model.Codigo, Cod_Equipo = (Model.EquipoVisitante != null ? Model.EquipoVisitante.Codigo : 0), NroPartido = ViewBag.NroPartido })
                            </select>
                        </div>

                        <div class="col-md-4">
                            <label for="p-fecha-1">Fecha</label>
                            <input type="text" name="strFechaPartido" id="FechaPartido" value="@(Model.FechaPartido!= null && Model.FechaPartido.Year > 1 ? Model.FechaPartido.ToString("dd/MM/yyyy"):"")" class="datepickerFuturo">
                        </div>

                        <div class="col-md-4">
                            <label for="p-hora-1">Horario (hh : mm)</label>
                            <input type="time" min="" name="HoraPartido" id="HoraPartido" value="@(Model.FechaPartido!= null && Model.FechaPartido.Year > 1 ? Model.FechaPartido.ToString("HH:mm"):"")">
                        </div>

                        <div class="col-md-4">
                            <label for="p-referee-1">Referee</label>
                            <select name="@Html.NameFor(model => model.Referee.Codigo)" id="@Html.IdFor(model => model.Referee.Codigo)" class="select2-basic">
                                @Html.Action("_SelectReferee", new { Cod_Referee = (Model.Referee != null ? Model.Referee.Codigo : 0) })
                            </select>
                        </div>

                        <div class="col-md-4">
                            <label for="p-veedor-1">Veedor</label>
                            <select name="@Html.NameFor(model => model.Veedor.Codigo)" id="@Html.IdFor(model => model.Veedor.Codigo)" class="select2-basic">
                                @Html.Action("_SelectVeedor", new { Cod_Persona = (Model.Veedor != null ? Model.Veedor.Codigo : 0) })
                            </select>
                        </div>

                        <div class="col-md-4">
                            <label for="Cancha">Cancha</label>
                            @Html.TextBoxFor(model => model.Cancha, new { @type = "number", @min = "0" })
                        </div>
                    </div>

                    <div class="tab-content" id="p-resultados" style="display: @((Model != null && Model.Codigo > 0)? "block":"none");">
                        <div class="col-md-6">
                            @if (Model.EquipoLocal != null)
                            {
                                Html.RenderPartial("_ListaJugadorEquipo", Model.EquipoLocal);
                            }
                          
                        </div>

                        <div class="col-md-6">
                            @if (Model.EquipoVisitante != null)
                            {
                                Html.RenderPartial("_ListaJugadorEquipo", Model.EquipoVisitante);
                            }
                           
                        </div>
                    </div>

                    <div class="tab-content" id="p-incidencias">
                        <div class="col-md-6">
                            @if (Model.EquipoVisitante != null)
                            {
                                Html.RenderPartial("_ListaJugadorEquipoIncidencia", Model.EquipoLocal);
                            }
                           
                        </div>

                        <div class="col-md-6">
                            @if (Model.EquipoVisitante != null)
                            {
                                Html.RenderPartial("_ListaJugadorEquipoIncidencia", Model.EquipoVisitante);
                            }
                           
                        </div>

                        <div class="col-md-12 m-t-20">
                            <label for="copete">Observaciones/Irregularidades</label>
                            @Html.TextAreaFor(model => model.Observacion, new { @style = "height: 100px;" })
                        </div>
                    </div>
                </div>
                
                @*<div class="col-md-6 col-md-offset-2">
                    <div class="toggle toggle-active pull-right m-t-30 m-b-0">
                        <div class="toggle-inner"></div>
                    </div>
                    <label class="pull-right m-t-40 m-r-10">Estado (publicado o no)</label>
                </div>*@

                <div class="col-md-offset-8 col-md-4">
                    <button type="submit" class="btn btn-full btn-lightblue text-left m-t-30 m-b-0" @*data-dismiss="EditarPartido"*@>Guardar cambios<i class="icon-arrow-thin-right pull-right"></i></button>
                </div>

            }

        </div>
    </div>
</div>


@*<script>
    console.log('Fecha: @DateTime.UtcNow.AddHours(-3).ToString("MMM dd, yyyy HH:mm:ss").Replace(".", "")');
    countDownDate = new Date(@DateTime.UtcNow.AddHours(-3).Year, @DateTime.UtcNow.AddHours(-3).Month, @DateTime.UtcNow.AddHours(-3).Day, @DateTime.UtcNow.AddHours(-3).Hour, @DateTime.UtcNow.AddHours(-3).Minute, @DateTime.UtcNow.AddHours(-3).Second).getTime();
    now = new Date(@Model.FechaPartido.Year, @Model.FechaPartido.Month, @Model.FechaPartido.Day, @Model.FechaPartido.Hour, @Model.FechaPartido.Minute, @Model.FechaPartido.Second)
</script>*@


