﻿@model AAPolo.Entities.Zona

@Ajax.ActionLink(" ", "_ModalPartidoZona", "Torneo", new { NroPartido = Model.NroPartido, Cod_Torneo = Model.Torneo.Codigo, Cod_Zona = Model.Codigo, Cod_Partido = (Model.lPartido != null && Model.lPartido.Count > Model.NroPartido ? Model.lPartido[Model.NroPartido].Codigo : 0) }, new AjaxOptions { HttpMethod = "POST", OnSuccess = "ModalPartidoZona", OnFailure = "fModalPartidoZona" }, new { @class = "editar-equipos has-tooltip", @title = "Editar partido y ver detalles" })

<h3>&nbsp;</h3>
<div class="fixture-equipo-container">
    <div class="fixture-equipo">
        @if (Model.lPartido != null && Model.lPartido.Count() > Model.NroPartido)
        {
            <span class="goles">@(Model.lPartido[Model.NroPartido].EquipoLocal.ResultadoEquipo)</span>
            <h4 data-equip="@Model.lPartido[Model.NroPartido].EquipoLocal.Codigo">@Model.lPartido[Model.NroPartido].EquipoLocal.NombreEquipo</h4>
            <div class="user-pic" style="background-image: url('@(String.IsNullOrEmpty(Model.lPartido[Model.NroPartido].EquipoLocal.club.UrlImagen)? Url.Content("~/Content/img/avatars/avatar-club.jpg"):Model.lPartido[Model.NroPartido].EquipoLocal.club.UrlImagen)')"></div>
        }
        else
        {
            <span class="goles">-</span>
            <h4>Elegir equipo</h4>
            <div class="user-pic" style="background-image: url('@Url.Content("~/Content/img/avatars/avatar-club.jpg")')"></div>
        }
    </div>
    <div class="fixture-equipo" style="flex: 1">
        <h4><span>VS</span></h4>
    </div>
    <div class="fixture-equipo">
        @if (Model.lPartido != null && Model.lPartido.Count() > Model.NroPartido)
        {
            <div class="user-pic" style="background-image: url('@(String.IsNullOrEmpty(Model.lPartido[Model.NroPartido].EquipoVisitante.club.UrlImagen)? Url.Content("~/Content/img/avatars/avatar-club.jpg"):Model.lPartido[Model.NroPartido].EquipoVisitante.club.UrlImagen)')"></div>
            <h4 data-equip="@Model.lPartido[Model.NroPartido].EquipoVisitante.Codigo">@Model.lPartido[Model.NroPartido].EquipoVisitante.NombreEquipo</h4>
            <span class="goles">@(Model.lPartido[Model.NroPartido].EquipoVisitante.ResultadoEquipo)</span>
        }
        else
        {
            <div class="user-pic" style="background-image: url('@Url.Content("~/Content/img/avatars/avatar-club.jpg")')"></div>
            <h4>Elegir equipo</h4>
            <span class="goles">-</span>
        }
    </div>
</div>