﻿@model IEnumerable<AAPolo.Entities.CategoriaHandicap>

<option value="" selected="selected">Seleccione categoría handicap</option>
@foreach (var item in Model)
{
    <option value="@item.Codigo">@item.Nombre</option>

}