﻿@model IEnumerable<AAPolo.Entities.TipoZona>

<option value="0" data-cantequipo="0">Seleccione zona</option>

@foreach (var item in Model) {
    
    <option value="@item.Codigo" data-cantequipo="@item.CantidadEquipo">@item.Nombre</option>
}

