﻿@model IEnumerable<AAPolo.Entities.Incidencia>


<option value="0" @(ViewBag.Cod_Incidencia == 0 ? "selected" : "")>Selecciona una opción</option>

@foreach (var item in Model)
{
    <option value="@item.Codigo" @(ViewBag.Cod_Incidencia == item.Codigo ? "selected" : "")>@item.Nombre</option>
}

