﻿@model IEnumerable<AAPolo.Entities.Persona>

<option value="0"  @(ViewBag.Cod_Persona == 0 ? "selected":"")>Buscá nombre o DNI</option>

@foreach (var item in Model)
{
    <option value="@item.Codigo" @(ViewBag.Cod_Persona == item.Codigo ? "selected":"")>@item.NombreCompleto (@item.DocumentoIdentidad)</option>
}
