﻿@model IEnumerable<AAPolo.Entities.ProductoTorneo>

<option value="" @(ViewBag.CodigoProducto == 0 ? "selected":"") disabled>Seleccione código de producto</option>
@foreach (var item in Model)
{
    <option value="@item.Codigo" @(ViewBag.CodigoProducto == item.Codigo ? "selected":"")>@item.Nombre</option>

}