﻿@model IEnumerable<AAPolo.Entities.Referee>

<option value="0" @(ViewBag.Cod_Referee == 0 ? "selected":"")>Buscá nombre o DNI</option>

@foreach (var item in Model)
{
    <option value="@item.Codigo" @(ViewBag.Cod_Referee == item.Codigo ? "selected":"")>@item.Persona.NombreCompleto (@item.Persona.DocumentoIdentidad)</option>
}
