﻿@model AAPolo.Entities.Zona
@using AAPolo.Entities;
@{

}

<div class="row">
    @if (Model.TipoZona.CantidadEquipo == 4)
    {
        <div class="col-lg-6 col-md-12">
            <div id="partido_1" class="fixture-partido">
                
                @if ((Model.lPartido == null) || (Model.lPartido.Count() == 0) || (Model.lPartido.Count() < 1) || (Model.lPartido != null && Model.lPartido.Count() > 0 && (Model.lPartido[0].EquipoLocal.ResultadoEquipo == 0 && Model.lPartido[0].EquipoVisitante.ResultadoEquipo == 0)))
                {
                    @Ajax.ActionLink(" ", "_ModalPartidoZona", "Torneo", new { NroPartido = 0, Cod_Torneo = Model.Torneo.Codigo, Cod_Zona = Model.Codigo, Cod_Partido = (Model.lPartido != null && Model.lPartido.Count > 0 ? Model.lPartido[0].Codigo : 0), CantidadEquipo = Model.TipoZona.CantidadEquipo }, new AjaxOptions { HttpMethod = "POST", OnSuccess = "ModalPartidoZona", OnFailure = "fModalPartidoZona" }, new { @class = "editar-equipos has-tooltip", @title = "Editar partido y ver detalles" })
                }
                <h3>&nbsp;</h3>
                <div class="fixture-equipo-container">
                    @if (Model.lPartido != null && Model.lPartido.Count() > 0)
                    {
                        <div class="fixture-equipo @(Model.lPartido[0].EquipoLocal.ResultadoEquipo > Model.lPartido[0].EquipoVisitante.ResultadoEquipo? "equipo-ganador":"")">
                            <span class="goles">@(Model.lPartido[0].EquipoLocal.ResultadoEquipo)</span>
                            <h4>@Model.lPartido[0].EquipoLocal.NombreEquipo</h4>
                            <div class="user-pic" style="background-image: url('@(String.IsNullOrEmpty(Model.lPartido[0].EquipoLocal.club.UrlImagen)? Url.Content("~/Content/img/avatars/avatar-club.jpg"):Model.lPartido[0].EquipoLocal.club.UrlImagen)')"></div>
                        </div>
                    }
                    else
                    {
                        <div class="fixture-equipo">
                            <span class="goles">-</span>
                            <h4>Elegir equipo</h4>
                            <div class="user-pic" style="background-image: url('@Url.Content("~/Content/img/avatars/avatar-club.jpg")')"></div>
                        </div>
                    }

                    <div class="fixture-equipo" style="flex: 1">
                        <h4><span>VS</span></h4>
                    </div>

                    @if (Model.lPartido != null && Model.lPartido.Count() > 0)
                    {
                        <div class="fixture-equipo @(Model.lPartido[0].EquipoVisitante.ResultadoEquipo > Model.lPartido[0].EquipoLocal.ResultadoEquipo? "equipo-ganador":"")">
                            <div class="user-pic" style="background-image: url('@(String.IsNullOrEmpty(Model.lPartido[0].EquipoVisitante.club.UrlImagen)? Url.Content("~/Content/img/avatars/avatar-club.jpg"):Model.lPartido[0].EquipoVisitante.club.UrlImagen)')"></div>
                            <h4>@Model.lPartido[0].EquipoVisitante.NombreEquipo</h4>
                            <span class="goles">@(Model.lPartido[0].EquipoVisitante.ResultadoEquipo)</span>
                        </div>
                    }
                    else
                    {
                        <div class="fixture-equipo">
                            <div class="user-pic" style="background-image: url('@Url.Content("~/Content/img/avatars/avatar-club.jpg")')"></div>
                            <h4>Elegir equipo</h4>
                            <span class="goles">-</span>
                        </div>
                    }

                </div>

            </div>
        </div>
        <div class="col-lg-6 col-md-12">
            <div id="partido_2" class="fixture-partido">

                @if ((Model.lPartido == null) || (Model.lPartido.Count() == 0) || (Model.lPartido.Count() < 2) || (Model.lPartido != null && Model.lPartido.Count() > 0 && (Model.lPartido[1].EquipoLocal.ResultadoEquipo == 0 && Model.lPartido[1].EquipoVisitante.ResultadoEquipo == 0)))
                {
                    @Ajax.ActionLink(" ", "_ModalPartidoZona", "Torneo", new { NroPartido = 1, Cod_Torneo = Model.Torneo.Codigo, Cod_Zona = Model.Codigo, Cod_Partido = (Model.lPartido != null && Model.lPartido.Count > 1 ? Model.lPartido[1].Codigo : 0), CantidadEquipo = Model.TipoZona.CantidadEquipo }, new AjaxOptions { HttpMethod = "POST", OnSuccess = "ModalPartidoZona", OnFailure = "fModalPartidoZona" }, new { @class = "editar-equipos has-tooltip", @title = "Editar partido y ver detalles" })
                }
                <h3>&nbsp;</h3>
                <div class="fixture-equipo-container">

                    @if (Model.lPartido != null && Model.lPartido.Count() > 1)
                    {
                        <div class="fixture-equipo @(Model.lPartido[1].EquipoLocal.ResultadoEquipo > Model.lPartido[1].EquipoVisitante.ResultadoEquipo? "equipo-ganador":"")">
                            <span class="goles">@(Model.lPartido[1].EquipoLocal.ResultadoEquipo)</span>
                            <h4>@Model.lPartido[1].EquipoLocal.NombreEquipo</h4>
                            <div class="user-pic" style="background-image: url('@(String.IsNullOrEmpty(Model.lPartido[1].EquipoLocal.club.UrlImagen)? Url.Content("~/Content/img/avatars/avatar-club.jpg"):Model.lPartido[1].EquipoLocal.club.UrlImagen)')"></div>
                        </div>
                    }
                    else
                    {
                        <div class="fixture-equipo">
                            <span class="goles">-</span>
                            <h4>Elegir equipo</h4>
                            <div class="user-pic" style="background-image: url('@Url.Content("~/Content/img/avatars/avatar-club.jpg")')"></div>
                        </div>
                    }

                    <div class="fixture-equipo" style="flex: 1">
                        <h4><span>VS</span></h4>
                    </div>

                    @if (Model.lPartido != null && Model.lPartido.Count() > 1)
                    {
                        <div class="fixture-equipo @(Model.lPartido[1].EquipoVisitante.ResultadoEquipo > Model.lPartido[1].EquipoLocal.ResultadoEquipo? "equipo-ganador":"")">
                            <div class="user-pic" style="background-image: url('@(String.IsNullOrEmpty(Model.lPartido[1].EquipoVisitante.club.UrlImagen)? Url.Content("~/Content/img/avatars/avatar-club.jpg"):Model.lPartido[1].EquipoVisitante.club.UrlImagen)')"></div>
                            <h4>@Model.lPartido[1].EquipoVisitante.NombreEquipo</h4>
                            <span class="goles">@(Model.lPartido[1].EquipoVisitante.ResultadoEquipo)</span>
                        </div>
                    }
                    else
                    {
                        <div class="fixture-equipo">
                            <div class="user-pic" style="background-image: url('@Url.Content("~/Content/img/avatars/avatar-club.jpg")')"></div>
                            <h4>Elegir equipo</h4>
                            <span class="goles">-</span>
                        </div>
                    }

                </div>

            </div>
        </div>

        <div class="col-lg-6 col-md-12">
            <div id="partido_3" class="fixture-partido">
                
                @if (Model.lPartido != null && Model.lPartido.Count() >= 2 && (Model.lPartido[0].EquipoLocal.ResultadoEquipo > 0 || Model.lPartido[0].EquipoVisitante.ResultadoEquipo > 0) && (Model.lPartido[1].EquipoLocal.ResultadoEquipo > 0 || Model.lPartido[1].EquipoVisitante.ResultadoEquipo > 0) && (Model.lPartido.Count() < 3 || (Model.lPartido[2].EquipoLocal.ResultadoEquipo == 0 && Model.lPartido[2].EquipoVisitante.ResultadoEquipo == 0)))
                {
                    @Ajax.ActionLink(" ", "_ModalPartidoZona", "Torneo", new { NroPartido = 2, Cod_Torneo = Model.Torneo.Codigo, Cod_Zona = Model.Codigo, Cod_Partido = (Model.lPartido != null && Model.lPartido.Count > 2 ? Model.lPartido[2].Codigo : 0), CantidadEquipo = Model.TipoZona.CantidadEquipo }, new AjaxOptions { HttpMethod = "POST", OnSuccess = "ModalPartidoZona", OnFailure = "fModalPartidoZona" }, new { @class = "editar-equipos has-tooltip iEditar", @title = "Editar partido y ver detalles" })
                }

                <h3>&nbsp;</h3>
                <div class="fixture-equipo-container">

                    @if (Model.lPartido != null && Model.lPartido.Count() > 2)
                    {
                        <div class="fixture-equipo @(Model.lPartido[2].EquipoLocal.ResultadoEquipo > Model.lPartido[2].EquipoVisitante.ResultadoEquipo? "equipo-ganador":"")">
                            <span class="goles">@(Model.lPartido[2].EquipoLocal.ResultadoEquipo)</span>
                            <h4>@Model.lPartido[2].EquipoLocal.NombreEquipo</h4>
                            <div class="user-pic" style="background-image: url('@(String.IsNullOrEmpty(Model.lPartido[2].EquipoLocal.club.UrlImagen) ? Url.Content("~/Content/img/avatars/avatar-club.jpg") : Model.lPartido[2].EquipoLocal.club.UrlImagen)')"></div>
                        </div>
                    }
                    else if (Model.lPartido != null && Model.lPartido.Count() > 1 && Model.TipoZona.CantidadEquipo == 4 && (Model.lPartido[0].EquipoLocal.ResultadoEquipo != Model.lPartido[0].EquipoVisitante.ResultadoEquipo && (Model.lPartido[0].EquipoLocal.ResultadoEquipo > 0 || Model.lPartido[0].EquipoVisitante.ResultadoEquipo > 0)))
                    {
                        if (Model.lPartido[0].EquipoLocal.ResultadoEquipo > Model.lPartido[0].EquipoVisitante.ResultadoEquipo)
                        {
                            <div class="fixture-equipo">
                                <span class="goles">-</span>
                                <h4>@Model.lPartido[0].EquipoLocal.NombreEquipo</h4>
                                <div class="user-pic" style="background-image: url('@(String.IsNullOrEmpty(Model.lPartido[0].EquipoLocal.club.UrlImagen)? Url.Content("~/Content/img/avatars/avatar-club.jpg"):Model.lPartido[0].EquipoLocal.club.UrlImagen)')"></div>
                            </div>
                        }
                        else
                        {
                            <div class="fixture-equipo">
                                <span class="goles">-</span>
                                <h4>@Model.lPartido[0].EquipoVisitante.NombreEquipo</h4>
                                <div class="user-pic" style="background-image: url('@(String.IsNullOrEmpty(Model.lPartido[0].EquipoVisitante.club.UrlImagen)? Url.Content("~/Content/img/avatars/avatar-club.jpg"):Model.lPartido[0].EquipoVisitante.club.UrlImagen)')"></div>
                            </div>
                        }
                    }
                    else
                    {
                        <div class="fixture-equipo">
                            <span class="goles">-</span>
                            <h4>Elegir equipo</h4>
                            <div class="user-pic" style="background-image: url('@Url.Content("~/Content/img/avatars/avatar-club.jpg")')"></div>
                        </div>
                    }

                    <div class="fixture-equipo" style="flex: 1">
                        <h4><span>VS</span></h4>
                    </div>

                    @if (Model.lPartido != null && Model.lPartido.Count() > 2)
                    {
                        <div class="fixture-equipo @(Model.lPartido[2].EquipoVisitante.ResultadoEquipo > Model.lPartido[2].EquipoLocal.ResultadoEquipo? "equipo-ganador":"")">
                            <div class="user-pic" style="background-image: url('@(String.IsNullOrEmpty(Model.lPartido[2].EquipoVisitante.club.UrlImagen)? Url.Content("~/Content/img/avatars/avatar-club.jpg"):Model.lPartido[2].EquipoVisitante.club.UrlImagen)')"></div>
                            <h4>@Model.lPartido[2].EquipoVisitante.NombreEquipo</h4>
                            <span class="goles">@(Model.lPartido[2].EquipoVisitante.ResultadoEquipo)</span>
                        </div>
                    }
                    else if (Model.lPartido != null && Model.lPartido.Count() > 1 && Model.TipoZona.CantidadEquipo == 4 && (Model.lPartido[1].EquipoLocal.ResultadoEquipo != Model.lPartido[1].EquipoVisitante.ResultadoEquipo && (Model.lPartido[1].EquipoLocal.ResultadoEquipo > 0 || Model.lPartido[1].EquipoVisitante.ResultadoEquipo > 0)))
                    {
                        if (Model.lPartido[1].EquipoLocal.ResultadoEquipo > Model.lPartido[1].EquipoVisitante.ResultadoEquipo)
                        {
                            <div class="fixture-equipo">
                                <div class="user-pic" style="background-image: url('@(String.IsNullOrEmpty(Model.lPartido[1].EquipoLocal.club.UrlImagen)? Url.Content("~/Content/img/avatars/avatar-club.jpg"):Model.lPartido[1].EquipoLocal.club.UrlImagen)')"></div>
                                <h4>@Model.lPartido[1].EquipoLocal.NombreEquipo</h4>
                                <span class="goles">-</span>
                            </div>
                        }
                        else
                        {
                            <div class="fixture-equipo">
                                <div class="user-pic" style="background-image: url('@(String.IsNullOrEmpty(Model.lPartido[1].EquipoVisitante.club.UrlImagen)? Url.Content("~/Content/img/avatars/avatar-club.jpg"):Model.lPartido[1].EquipoVisitante.club.UrlImagen)')"></div>
                                <h4>@Model.lPartido[1].EquipoVisitante.NombreEquipo</h4>
                                <span class="goles">-</span>
                            </div>
                        }
                    }
                    else
                    {
                        <div class="fixture-equipo">
                            <div class="user-pic" style="background-image: url('@Url.Content("~/Content/img/avatars/avatar-club.jpg")')"></div>
                            <h4>Elegir equipo</h4>
                            <span class="goles">-</span>
                        </div>
                    }
                </div>

            </div>
        </div>
    }
    else
    {
        <div class="col-lg-6 col-md-12">
            <div id="partido_1" class="fixture-partido">

                @if ((Model.lPartido == null) || (Model.lPartido.Count() == 0) || (Model.lPartido.Count() < 1) || (Model.lPartido != null && Model.lPartido.Count() > 0 && (Model.lPartido[0].EquipoLocal.ResultadoEquipo == 0 && Model.lPartido[0].EquipoVisitante.ResultadoEquipo == 0)))
                {
                    @Ajax.ActionLink(" ", "_ModalPartidoZona", "Torneo", new { NroPartido = -1, Cod_Torneo = Model.Torneo.Codigo, Cod_Zona = Model.Codigo, Cod_Partido = (Model.lPartido != null && Model.lPartido.Count > 0 ? Model.lPartido[0].Codigo : 0), CantidadEquipo = Model.TipoZona.CantidadEquipo }, new AjaxOptions { HttpMethod = "POST", OnSuccess = "ModalPartidoZona", OnFailure = "fModalPartidoZona" }, new { @class = "editar-equipos has-tooltip", @title = "Editar partido y ver detalles" })
                }

                <h3>&nbsp;</h3>
                <div class="fixture-equipo-container">
                    @if (Model.lPartido != null && Model.lPartido.Count() > 0)
                    {
                        <div class="fixture-equipo @(Model.lPartido[0].EquipoLocal.ResultadoEquipo > Model.lPartido[0].EquipoVisitante.ResultadoEquipo? "equipo-ganador":"")">
                            <span class="goles">@(Model.lPartido[0].EquipoLocal.ResultadoEquipo)</span>
                            <h4>@Model.lPartido[0].EquipoLocal.NombreEquipo</h4>
                            <div class="user-pic" style="background-image: url('@(String.IsNullOrEmpty(Model.lPartido[0].EquipoLocal.club.UrlImagen)? Url.Content("~/Content/img/avatars/avatar-club.jpg"):Model.lPartido[0].EquipoLocal.club.UrlImagen)')"></div>
                        </div>
                    }
                    else
                    {
                        <div class="fixture-equipo">
                            <span class="goles">-</span>
                            <h4>Elegir equipo</h4>
                            <div class="user-pic" style="background-image: url('@Url.Content("~/Content/img/avatars/avatar-club.jpg")')"></div>
                        </div>
                    }

                    <div class="fixture-equipo" style="flex: 1">
                        <h4><span>VS</span></h4>
                    </div>

                    @if (Model.lPartido != null && Model.lPartido.Count() > 0)
                    {
                        <div class="fixture-equipo @(Model.lPartido[0].EquipoVisitante.ResultadoEquipo > Model.lPartido[0].EquipoLocal.ResultadoEquipo? "equipo-ganador":"")">
                            <div class="user-pic" style="background-image: url('@(String.IsNullOrEmpty(Model.lPartido[0].EquipoVisitante.club.UrlImagen)? Url.Content("~/Content/img/avatars/avatar-club.jpg"):Model.lPartido[0].EquipoVisitante.club.UrlImagen)')"></div>
                            <h4>@Model.lPartido[0].EquipoVisitante.NombreEquipo</h4>
                            <span class="goles">@(Model.lPartido[0].EquipoVisitante.ResultadoEquipo)</span>
                        </div>
                    }
                    else
                    {
                        <div class="fixture-equipo">
                            <div class="user-pic" style="background-image: url('@Url.Content("~/Content/img/avatars/avatar-club.jpg")')"></div>
                            <h4>Elegir equipo</h4>
                            <span class="goles">-</span>
                        </div>
                    }
                </div>
            </div>

        </div>

        <div class="col-lg-6 col-md-12">
            <div id="partido_2" class="fixture-partido">

                @if ((Model.lPartido == null) || (Model.lPartido.Count() == 0) || (Model.lPartido.Count() < 2) || (Model.lPartido != null && Model.lPartido.Count() > 0 && (Model.lPartido[1].EquipoLocal.ResultadoEquipo == 0 && Model.lPartido[1].EquipoVisitante.ResultadoEquipo == 0)))
                {
                    @Ajax.ActionLink(" ", "_ModalPartidoZona", "Torneo", new { NroPartido = -1, Cod_Torneo = Model.Torneo.Codigo, Cod_Zona = Model.Codigo, Cod_Partido = (Model.lPartido != null && Model.lPartido.Count > 1 ? Model.lPartido[1].Codigo : 0), CantidadEquipo = Model.TipoZona.CantidadEquipo }, new AjaxOptions { HttpMethod = "POST", OnSuccess = "ModalPartidoZona", OnFailure = "fModalPartidoZona" }, new { @class = "editar-equipos has-tooltip", @title = "Editar partido y ver detalles" })
                }
                <h3>&nbsp;</h3>
                <div class="fixture-equipo-container">

                    @if (Model.lPartido != null && Model.lPartido.Count() > 1)
                    {
                        <div class="fixture-equipo @(Model.lPartido[1].EquipoLocal.ResultadoEquipo > Model.lPartido[1].EquipoVisitante.ResultadoEquipo? "equipo-ganador":"")">
                            <span class="goles">@(Model.lPartido[1].EquipoLocal.ResultadoEquipo)</span>
                            <h4>@Model.lPartido[1].EquipoLocal.NombreEquipo</h4>
                            <div class="user-pic" style="background-image: url('@(String.IsNullOrEmpty(Model.lPartido[1].EquipoLocal.club.UrlImagen)? Url.Content("~/Content/img/avatars/avatar-club.jpg"):Model.lPartido[1].EquipoLocal.club.UrlImagen)')"></div>
                        </div>
                    }
                    else
                    {
                        <div class="fixture-equipo">
                            <span class="goles">-</span>
                            <h4>Elegir equipo</h4>
                            <div class="user-pic" style="background-image: url('@Url.Content("~/Content/img/avatars/avatar-club.jpg")')"></div>
                        </div>
                    }

                    <div class="fixture-equipo" style="flex: 1">
                        <h4><span>VS</span></h4>
                    </div>

                    @if (Model.lPartido != null && Model.lPartido.Count() > 1)
                    {
                        <div class="fixture-equipo @(Model.lPartido[1].EquipoVisitante.ResultadoEquipo > Model.lPartido[1].EquipoLocal.ResultadoEquipo? "equipo-ganador":"")">
                            <div class="user-pic" style="background-image: url('@(String.IsNullOrEmpty(Model.lPartido[1].EquipoVisitante.club.UrlImagen)? Url.Content("~/Content/img/avatars/avatar-club.jpg"):Model.lPartido[1].EquipoVisitante.club.UrlImagen)')"></div>
                            <h4>@Model.lPartido[1].EquipoVisitante.NombreEquipo</h4>
                            <span class="goles">@(Model.lPartido[1].EquipoVisitante.ResultadoEquipo)</span>
                        </div>
                    }
                    else
                    {
                        <div class="fixture-equipo">
                            <div class="user-pic" style="background-image: url('@Url.Content("~/Content/img/avatars/avatar-club.jpg")')"></div>
                            <h4>Elegir equipo</h4>
                            <span class="goles">-</span>
                        </div>
                    }

                </div>

            </div>
        </div>

        <div class="col-lg-6 col-md-12">
            <div id="partido_3" class="fixture-partido">

                @if ((Model.lPartido == null) || (Model.lPartido.Count() == 0) || (Model.lPartido.Count() < 3 ) || (Model.lPartido != null && Model.lPartido.Count() > 0 && (Model.lPartido[2].EquipoLocal.ResultadoEquipo == 0 && Model.lPartido[2].EquipoVisitante.ResultadoEquipo == 0)))
                {
                    @Ajax.ActionLink(" ", "_ModalPartidoZona", "Torneo", new { NroPartido = -1, Cod_Torneo = Model.Torneo.Codigo, Cod_Zona = Model.Codigo, Cod_Partido = (Model.lPartido != null && Model.lPartido.Count > 2 ? Model.lPartido[2].Codigo : 0), CantidadEquipo = Model.TipoZona.CantidadEquipo }, new AjaxOptions { HttpMethod = "POST", OnSuccess = "ModalPartidoZona", OnFailure = "fModalPartidoZona" }, new { @class = "editar-equipos has-tooltip", @title = "Editar partido y ver detalles" })
                }
                <h3>&nbsp;</h3>
                <div class="fixture-equipo-container">

                    @if (Model.lPartido != null && Model.lPartido.Count() > 2)
                    {
                        <div class="fixture-equipo @(Model.lPartido[2].EquipoLocal.ResultadoEquipo > Model.lPartido[2].EquipoVisitante.ResultadoEquipo? "equipo-ganador":"")">
                            <span class="goles">@(Model.lPartido[2].EquipoLocal.ResultadoEquipo)</span>
                            <h4>@Model.lPartido[2].EquipoLocal.NombreEquipo</h4>
                            <div class="user-pic" style="background-image: url('@(String.IsNullOrEmpty(Model.lPartido[2].EquipoLocal.club.UrlImagen) ? Url.Content("~/Content/img/avatars/avatar-club.jpg") : Model.lPartido[2].EquipoLocal.club.UrlImagen)')"></div>
                        </div>
                    }
                    else
                    {
                        <div class="fixture-equipo">
                            <span class="goles">-</span>
                            <h4>Elegir equipo</h4>
                            <div class="user-pic" style="background-image: url('@Url.Content("~/Content/img/avatars/avatar-club.jpg")')"></div>
                        </div>
                    }

                    <div class="fixture-equipo" style="flex: 1">
                        <h4><span>VS</span></h4>
                    </div>

                    @if (Model.lPartido != null && Model.lPartido.Count() > 2)
                    {
                        <div class="fixture-equipo @(Model.lPartido[2].EquipoVisitante.ResultadoEquipo > Model.lPartido[2].EquipoLocal.ResultadoEquipo? "equipo-ganador":"")">
                            <div class="user-pic" style="background-image: url('@(String.IsNullOrEmpty(Model.lPartido[2].EquipoVisitante.club.UrlImagen)? Url.Content("~/Content/img/avatars/avatar-club.jpg"):Model.lPartido[2].EquipoVisitante.club.UrlImagen)')"></div>
                            <h4>@Model.lPartido[2].EquipoVisitante.NombreEquipo</h4>
                            <span class="goles">@(Model.lPartido[2].EquipoVisitante.ResultadoEquipo)</span>
                        </div>
                    }

                    else
                    {
                        <div class="fixture-equipo">
                            <div class="user-pic" style="background-image: url('@Url.Content("~/Content/img/avatars/avatar-club.jpg")')"></div>
                            <h4>Elegir equipo</h4>
                            <span class="goles">-</span>
                        </div>
                    }

                </div>

            </div>
        </div>
    }

    @if (Model.TipoZona.CantidadEquipo == 4)
    {
        <div class="col-lg-6 col-md-12">
            <div id="partido_4" class="fixture-partido">
               
                @if (Model.lPartido != null && Model.lPartido.Count() > 0 && (Model.lPartido[0].EquipoLocal.ResultadoEquipo > 0 || Model.lPartido[0].EquipoVisitante.ResultadoEquipo > 0) && (Model.lPartido[1].EquipoLocal.ResultadoEquipo > 0 || Model.lPartido[1].EquipoVisitante.ResultadoEquipo > 0) && (Model.lPartido.Count() < 4 || (Model.lPartido[3].EquipoLocal.ResultadoEquipo == 0 && Model.lPartido[3].EquipoVisitante.ResultadoEquipo == 0)))
                {
                    @Ajax.ActionLink(" ", "_ModalPartidoZona", "Torneo", new { NroPartido = 3, Cod_Torneo = Model.Torneo.Codigo, Cod_Zona = Model.Codigo, Cod_Partido = (Model.lPartido != null && Model.lPartido.Count > 3 ? Model.lPartido[3].Codigo : 0), CantidadEquipo = Model.TipoZona.CantidadEquipo }, new AjaxOptions { HttpMethod = "POST", OnSuccess = "ModalPartidoZona", OnFailure = "fModalPartidoZona" }, new { @class = "editar-equipos has-tooltip", @title = "Editar partido y ver detalles" })
                }
                <h3>&nbsp;</h3>
                <div class="fixture-equipo-container">

                    @if (Model.lPartido != null && Model.lPartido.Count() > 3)
                    {
                        <div class="fixture-equipo @(Model.lPartido[3].EquipoLocal.ResultadoEquipo > Model.lPartido[3].EquipoVisitante.ResultadoEquipo? "equipo-ganador":"")">
                            <span class="goles">@(Model.lPartido[3].EquipoLocal.ResultadoEquipo)</span>
                            <h4>@Model.lPartido[3].EquipoLocal.NombreEquipo</h4>
                            <div class="user-pic" style="background-image: url('@(String.IsNullOrEmpty(Model.lPartido[3].EquipoLocal.club.UrlImagen)? Url.Content("~/Content/img/avatars/avatar-club.jpg"):Model.lPartido[3].EquipoLocal.club.UrlImagen)')"></div>
                        </div>
                    }
                    else if (Model.lPartido != null && Model.lPartido.Count() > 1 && Model.TipoZona.CantidadEquipo == 4 && (Model.lPartido[0].EquipoLocal.ResultadoEquipo != Model.lPartido[0].EquipoVisitante.ResultadoEquipo && (Model.lPartido[0].EquipoLocal.ResultadoEquipo > 0 || Model.lPartido[0].EquipoVisitante.ResultadoEquipo > 0)))
                    {
                        if (Model.lPartido[0].EquipoLocal.ResultadoEquipo < Model.lPartido[0].EquipoVisitante.ResultadoEquipo)
                        {
                            <div class="fixture-equipo">
                                <span class="goles">-</span>
                                <h4>@Model.lPartido[0].EquipoLocal.NombreEquipo</h4>
                                <div class="user-pic" style="background-image: url('@(String.IsNullOrEmpty(Model.lPartido[0].EquipoLocal.club.UrlImagen)? Url.Content("~/Content/img/avatars/avatar-club.jpg"):Model.lPartido[0].EquipoLocal.club.UrlImagen)')"></div>
                            </div>
                        }
                        else
                        {
                            <div class="fixture-equipo">
                                <span class="goles">-</span>
                                <h4>@Model.lPartido[0].EquipoVisitante.NombreEquipo</h4>
                                <div class="user-pic" style="background-image: url('@(String.IsNullOrEmpty(Model.lPartido[0].EquipoVisitante.club.UrlImagen)? Url.Content("~/Content/img/avatars/avatar-club.jpg"):Model.lPartido[0].EquipoVisitante.club.UrlImagen)')"></div>
                            </div>
                        }
                    }
                    else
                    {
                        <div class="fixture-equipo">
                            <span class="goles">-</span>
                            <h4>Elegir equipo</h4>
                            <div class="user-pic" style="background-image: url('@Url.Content("~/Content/img/avatars/avatar-club.jpg")')"></div>
                        </div>
                    }

                    <div class="fixture-equipo" style="flex: 1">
                        <h4><span>VS</span></h4>
                    </div>
                    @if (Model.lPartido != null && Model.lPartido.Count() > 3)
                    {
                        <div class="fixture-equipo @(Model.lPartido[3].EquipoVisitante.ResultadoEquipo > Model.lPartido[3].EquipoLocal.ResultadoEquipo? "equipo-ganador":"")">
                            <div class="user-pic" style="background-image: url('@(String.IsNullOrEmpty(Model.lPartido[3].EquipoVisitante.club.UrlImagen)? Url.Content("~/Content/img/avatars/avatar-club.jpg"):Model.lPartido[3].EquipoVisitante.club.UrlImagen)')"></div>
                            <h4>@Model.lPartido[3].EquipoVisitante.NombreEquipo</h4>
                            <span class="goles">@(Model.lPartido[3].EquipoVisitante.ResultadoEquipo)</span>
                        </div>
                    }
                    else if (Model.lPartido != null && Model.lPartido.Count() > 1 && Model.TipoZona.CantidadEquipo == 4 && (Model.lPartido[1].EquipoLocal.ResultadoEquipo != Model.lPartido[1].EquipoVisitante.ResultadoEquipo && (Model.lPartido[1].EquipoLocal.ResultadoEquipo > 0 || Model.lPartido[1].EquipoVisitante.ResultadoEquipo > 0)))
                    {
                        if (Model.lPartido[1].EquipoLocal.ResultadoEquipo < Model.lPartido[1].EquipoVisitante.ResultadoEquipo)
                        {
                            <div class="fixture-equipo">
                                <div class="user-pic" style="background-image: url('@(String.IsNullOrEmpty(Model.lPartido[1].EquipoLocal.club.UrlImagen)? Url.Content("~/Content/img/avatars/avatar-club.jpg"):Model.lPartido[1].EquipoLocal.club.UrlImagen)')"></div>
                                <h4>@Model.lPartido[1].EquipoLocal.NombreEquipo</h4>
                                <span class="goles">-</span>
                            </div>
                        }
                        else
                        {
                            <div class="fixture-equipo">
                                <div class="user-pic" style="background-image: url('@(String.IsNullOrEmpty(Model.lPartido[1].EquipoVisitante.club.UrlImagen)? Url.Content("~/Content/img/avatars/avatar-club.jpg"):Model.lPartido[1].EquipoVisitante.club.UrlImagen)')"></div>
                                <h4>@Model.lPartido[1].EquipoVisitante.NombreEquipo</h4>
                                <span class="goles">-</span>
                            </div>
                        }
                    }
                    else
                    {
                        <div class="fixture-equipo">
                            <div class="user-pic" style="background-image: url('@Url.Content("~/Content/img/avatars/avatar-club.jpg")')"></div>
                            <h4>Elegir equipo</h4>
                            <span class="goles">-</span>
                        </div>
                    }

                </div>
            </div>
        </div>

    }
</div>