﻿@model IEnumerable<AAPolo.Entities.Zona>
@using AAPolo.Entities;
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    char c = 'A';
}


<div class="col-md-12">
    <div class="panel panel-profile">
        <div class="panel-body">
            <h1 class="title-admin pull-left m-t-10 m-b-10"><small>Fixture</small>@Model.FirstOrDefault().Torneo.NombreTorneo</h1>
            @if (!Model.Any(a => a.lPartido.Count() != 0))
            {
                <a href="@Url.Action("FixtureTorneo","Torneo",new { Codigo = @Model.FirstOrDefault().Torneo.Codigo, Actualizar = true })" class="btn btn-lightblue pull-right m-t-10" id="btnVolverACrearZona"><i class="icon-arrow-thin-left"></i> Volver a establecer zonas</a>
            }
            <div class="clearfix"></div>
            <ul class="tabs-default tabs-mobile">
                <li class="current"><a href="javascript:void(0);" data-tab="zonas" class="text-left p-l-30"><strong>1.</strong> Zonas</a></li>
                <li>
                    @*<a href="javascript:void(0);" data-tab="partidos-zonas" class="text-left p-l-30"><strong>2.</strong> Partidos de zonas</a>*@
                    @Ajax.ActionLink(" ", "_PartidoDeZona", "Torneo", new { Cod_Torneo = Model.FirstOrDefault().Torneo.Codigo }, new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "partidos-zonas", OnSuccess = "ActivarIconos" }, new { @id = "linkPartidoZona", @data_tab = "partidos-zonas", @class = "text-left p-l-30" })
                </li>
                <li>
                    @*<a href="javascript:void(0);" data-tab="llaves" class="text-left p-l-30"><strong>3.</strong> Llaves</a>*@
                    @Ajax.ActionLink(" ", "_CopaTorneo", "Torneo", new { Cod_Torneo = Model.FirstOrDefault().Torneo.Codigo }, new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "llaves", OnSuccess = "ActivarIconos" }, new { @id = "linkLlaves", @data_tab = "llaves", @class = "text-left p-l-30" })
                </li>
                <li>
                    @*<a href="javascript:void(0);" data-tab="partidos-llaves" class="text-left p-l-30"><strong>4.</strong> Partidos de llaves</a>*@
                    @Ajax.ActionLink(" ", "_GraficaCopa", "Torneo", new { Cod_Torneo = Model.FirstOrDefault().Torneo.Codigo }, new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "divGrafica", OnSuccess = "ActivarIconos" }, new { @id = "linkPartidoClasificacion", @data_tab = "partidos-llaves", @class = "text-left p-l-30" })
                </li>
            </ul>

            <div class="tab-contents">
                <div class="tab-content" id="zonas" style="display: block">
                    <div class="form-default clearfix">
                        <div class="row">
                            <div class="col-md-12">
                                <h3>Cantidad de zonas: <span class="zona-counter">@Model.Count()</span></h3>
                                <p>Asigna equipos para cada zona y pasa a la siguiente etapa.</p>
                            </div>

                            @foreach (var item in Model)
                            {
                                <div class="col-lg-3 col-sm-6">

                                    <div class="add-zona-outer" id="jugador_@item.Codigo">

                                        <div class="torneo-jugador-agregar">
                                            <span class="fixture-legend"><strong>Zona @c</strong></span>
                                            <div class="torneo-jugador-inner">
                                                <i class="icon-plus agregar-jugador has-tooltip" data-modal="EditarEquipos" onclick="javascript:ReiniciarModalEquipoZona(@item.Codigo);" title="Agregar equipos"></i>
                                            </div>
                                        </div>

                                        <div class="torneo-jugador @(item.lEquipo != null && item.lEquipo.Count() > 0 ? "jugador-agregado":"")">
                                            <div class="torneo-jugador-inner">
                                                <a href="javascript:void(0)" class="editar-equipos has-tooltip" onclick="javascript:ReiniciarModalEquipoZona(@item.Codigo);" title="Editar equipos" data-modal="EditarEquipos"><i class="icon-pencil"></i></a>
                                                <span class="fixture-legend"><strong>Zona @c</strong><span id="TipoDeZona_@item.Codigo">zona de @item.TipoZona.CantidadEquipo</span></span>
                                                <ul class="zona-equipos-agregados" id="Zona_@item.Codigo">
                                                    @if (item.lEquipo != null && item.lEquipo.Count() > 0)
                                                    {
                                                        Html.RenderPartial("_LitadoEquipoZona", item.lEquipo);
                                                    }
                                                </ul>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                { c++; }
                            }

                        </div>
                        <div class="row m-t-20">
                            
                            <div class="col-md-offset-8 col-md-4">
                                <button id="btnEditarPArtido" class="btn btn-full btn-lightblue text-left" onclick="javascript: $('#linkPartidoZona').click()" data-dismiss="EditarPartido">Partidos de zonas<i class="icon-arrow-thin-right pull-right"></i></button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="tab-content" id="partidos-zonas">

                </div>

                <div class="tab-content" id="llaves">
                    
                </div>

                <div class="tab-content" id="partidos-llaves">
                    <div action="#0" class="form-default clearfix">
                        <div class="row" id="divGrafica">
                           
                        </div>
                        <div class="row m-t-20">
                            <div class="col-md-8">
                                <div id="checkPartidoLlavesDisponible" class="toggle @(Model.FirstOrDefault().Torneo.EsDisponiblePartidoLlave? "toggle-active":"") pull-right" onclick="javascript:EsDisponiblePartidoLlaves(@(Model.FirstOrDefault().Torneo.EsDisponiblePartidoLlave? 0:1))">
                                    <div class="toggle-inner"></div>
                                </div>
                                <label class="pull-right m-t-30 m-r-10">Estado (publicado o no)</label>
                            </div>

                            <div class="col-md-4">
                                <a href="@Url.Action("Index", "Torneo")" id="btnEditarPArtido" class="btn btn-full btn-lightblue text-left" data-dismiss="EditarPartido">Ir a torneos<i class="icon-arrow-thin-right pull-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal" id="EditarEquipos">
    <div class="modal-overlay"></div>

    <div class="modal-dialogo modal-dialogo-800">
        <div class="modal-header">
            <h2 data-icon="&#xe02f;">Editar equipos de zona</h2>
            <i class="icon-cross" data-dismiss="EditarEquipos"></i>
        </div>

        <div class="modal-contenido clearfix">
            <form action="#0" class="form-default clearfix">
                <div class="col-md-12">
                    <label for="tipo-zona" class="m-b-10">
                        <h3 class="inner-title m-t-0">1. Elije el tipo de zona</h3>
                    </label>
                    <select name="Cod_TipoZona" id="Cod_TipoZona">
                        @Html.Action("_SelectTipoZona", "Torneo")
                    </select>
                </div>
            </form>
            <div class="busqueda-equipos disabled">
                @using (Ajax.BeginForm("_BuscarEquipoZona", "Torneo", null, new AjaxOptions
                {
                    HttpMethod = "POST",
                    UpdateTargetId = "resultadosBusqueda"@*, OnSuccess = "BuscarUsuario", OnFailure = "fBuscarUsuario"*@ }, new { @id = "FormBuscarEquipo", @class = "form-default clearfix" }))
                {
                    @Html.AntiForgeryToken()
                    <input type="hidden" name="Cod_Torneo" value="@Model.FirstOrDefault().Torneo.Codigo" />
                    <input type="hidden" name="Cod_Zona" id="CodZona" value="" />
                    <div class="col-md-12">
                        <label for="jugador-pagar" class="m-b-10">
                            <small><strong class="zona-type">Seleccione tipo de zona</strong></small>
                            <h3 class="inner-title m-t-0">2. Buscá por nombre de equipo</h3>
                        </label>
                    </div>
                    <div class="col-md-8">
                        <input type="text" name="Cadena" id="Cadena" placeholder="Nombre de equipo">
                    </div>
                    <div class="col-md-4">
                        <button type="submit" id="btnBuscar" class="btn btn-lightblue btn-full text-center"><i class="icon-search"></i> Buscar</button>
                    </div>

                }

                <div class="col-md-12">
                    <ul class="resultados-busqueda clearfix" id="resultadosBusqueda"></ul>

                    <hr class="m-t-0 m-b-20">
                </div>

                <div class="col-md-4 col-md-offset-8">
                    @using (Ajax.BeginForm("GuardarEquipoZona", "Torneo", null, new AjaxOptions { HttpMethod = "POST", OnSuccess = "GuardarEquipoZona", OnFailure = "fGuardarEquipoZona" }, new { @id = "FormGuardarEquipoZona", @class = "form-default clearfix" }))
                    {
                        @Html.AntiForgeryToken()
                        <input type="hidden" name="TipoZona.Codigo" id="TipoZona_Codigo" value="">
                        <input type="hidden" name="Codigo" id="Codigo">
                        <div style="display:none" id="lstEquipoZona">

                        </div>
                        <button type="submit" id="btnAgregarJugador" class="btn btn-full btn-lightblue text-left m-t-20" disabled data-dismiss="EditarEquipos">Agregar<i class="icon-arrow-thin-right pull-right"></i></button>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

<div id="divModalPartidoZona"></div>

@section scripts{

    <script>

        $(document).ready(function () {

            $('.editar-equipos, .iEditar').html('<i class="icon-pencil"></i>');
            $('#linkLlaves').html('<strong>3.</strong> Llaves');
            $('#linkPartidoZona').html('<strong>2.</strong> Partidos de zonas');
            $('#linkPartidoClasificacion').html('<strong>4.</strong> Partidos de llaves');
        });

        function ActivarIconos() {
            $('.editar-equipos, .iEditar').html('<i class="icon-pencil"></i>');
        }

        $(document).on('click', '.resultados-busqueda li .aLink', function () {
            var CantLimit = $('#Cod_TipoZona option').filter(':selected').data('cantequipo');
            if ($('.resultados-busqueda li .marked').length < CantLimit) {
                $(this).toggleClass('marked');
                if ($(this).data('agregar') == 1) {
                    $(this).data('agregar', 0);
                    $('#aEquipo' + $(this).data('codigo')).click();
                } else {
                    $(this).data('agregar', 1);
                    $('#divEquipo_' + $(this).data('codigo')).remove();
                }

            } else {
                $(this).removeClass('marked');
                $('#divEquipo_' + $(this).data('codigo')).remove();
            }

            if ($('.resultados-busqueda li .marked').length == CantLimit) {
                $('#btnAgregarJugador').attr('disabled', false);
            } else {
                $('#btnAgregarJugador').attr('disabled', true);
            }
        });

        $('#Cod_TipoZona').on('change', function () {
            var val = $(this).val();
            if (val != 0) {
                $('.busqueda-equipos').removeClass('disabled');
                $('.zona-type').html('Máximo ' + $('#' + this.id + ' option').filter(':selected').data('cantequipo') + ' equipos');
                $('form#FormBuscarEquipo #btnBuscar').click();
            } else if (val == 0) {
                $('.busqueda-equipos').addClass('disabled');
                $('.zona-type').html('Seleccione tipo de zona');
            }
            $('#FormGuardarEquipoZona #TipoZona_Codigo').val(val);
        });

        function AgregarEquipoZona(Data) {
            $('#lstEquipoZona').append(Data);
        }

        function ReiniciarModalEquipoZona(Cod_Zona) {
            $('#FormBuscarEquipo #CodZona').val(Cod_Zona);
            $('#Cod_TipoZona').val(0).change();
            $('#FormGuardarEquipoZona #Codigo').val(Cod_Zona);
            $('#resultadosBusqueda, #lstEquipoZona').html('');
            $('.busqueda-equipos').addClass('disabled');
            $('#btnAgregarJugador').attr('disabled', true);
        }

        function GuardarEquipoZona(Data) {
            if (Data.EsSatisfactorio) {
                var Cod_Zona = $('#FormGuardarEquipoZona #Codigo').val();
                $('#Zona_' + Cod_Zona).html(Data.Vista);
                $('#jugador_' + Cod_Zona + ' .torneo-jugador').addClass('jugador-agregado');
                ActivarIconos();
            } else {
                alert('Disculpe, no es posible asignacinar el equipo a la zona.');
                console.log(Data);
            }
        }

        function fGuardarEquipoZona(Data) {
            console.log(Data);
        }

        function ModalPartidoZona(Data) {
            $('#divModalPartidoZona').html(Data);
            $('#divModalPartidoZona .select2-basic').select2();
            setearCampoCalendario();
        }

        function ModalPartidoInstancia(Data) {
            $('#divModalPartidoZona').html(Data);
            $('#divModalPartidoZona .select2-basic').select2();
            setearCampoCalendario();
        }

        function fModalPartidoZona(Data) {
            console.log(Data);
        }

        function setearCampoCalendario() {

            $('.datepickerFuturo').pickadate({
                firstDay: 0,
                container: 'body',
                format: 'dd/mm/yyyy',
                //max: true,
                minDate: new Date(@DateTime.Now.Year, @(DateTime.Now.Month), @DateTime.Now.Day+10),
                min: true,
                selectYears: true,
                selectMonths: true,
                selectYears: 100
            });

        }

        $(document).on('change', '#EquipoLocal_Codigo', function () {
            var Codigo = $(this).val();
            $('#EquipoVisitante_Codigo option').attr('disabled', false).css('display', 'block');
            $('#EquipoVisitante_Codigo option[value="' + Codigo + '"]').attr('disabled', true).css('display', 'none');
            $('#EquipoVisitante_Codigo option[value="0"]').attr('disabled', true).css('display', 'none');
            $('#EquipoVisitante_Codigo').val($('#EquipoVisitante_Codigo').find('option:enabled').val()).change();
            $('#EquipoVisitante_Codigo').select2();
            var urlPersonaEquipo = '@Url.Action("_ListaJugadorEquipo", "Torneo",new { Codigo = "_Codigo"})'.replace('_Codigo', Codigo);

            $.post(urlPersonaEquipo, function (Data) {
                $('.EquipoLocal').html(Data);
            });

            var urlPersonaEquipoIncidencia = '@Url.Action("_ListaJugadorEquipoIncidencia", "Torneo",new { Codigo = "_Codigo"})'.replace('_Codigo', Codigo);
            $.post(urlPersonaEquipoIncidencia, function (Data) {
                $('.EquipoLocalIncidencia').html(Data);
            });
        });

        $(document).on('change', '#EquipoVisitante_Codigo', function () {
            var Codigo = $(this).val();
            var urlPersonaEquipo = '@Url.Action("_ListaJugadorEquipo", "Torneo",new { Codigo = "_Codigo"})'.replace('_Codigo', Codigo);
            $.post(urlPersonaEquipo, function (Data) {
                $('.EquipoVisitante').html(Data);
            });

            var urlPersonaEquipoIncidencia = '@Url.Action("_ListaJugadorEquipoIncidencia", "Torneo",new { Codigo = "_Codigo"})'.replace('_Codigo', Codigo);
            $.post(urlPersonaEquipoIncidencia, function (Data) {
                $('.EquipoVisitanteIncidencia').html(Data);
            });
        });

        function GuardarPartido(Data) {

            alert(Data.Mensaje);
            if (Data.EsSatisfactorio) {
                $('#zona_' + Data.CodigoResultado).html(Data.Vista);
                closeModal();
                ActivarIconos();
                $('#btnVolverACrearZona').remove();
            } else {
                console.log(Data);
            }
        }

        function AgregarGol(NombreElement, cant) {
            if ((parseInt($('#' + NombreElement).val()) + cant) >= 0) {
                var cont = 0;
                $('#' + NombreElement).val(parseInt($('#' + NombreElement).val()) + (cant));
                $('#' + NombreElement).closest('tbody').find('.GolPersona').each(function (element) {
                    cont += parseInt($(this).val());
                }).promise().done(function () {
                    $('#' + NombreElement + '.GolPersona').closest('tbody').find('.TotalGol strong').text(cont);
                });
            }
        }

        function GuardarPartidoInstancia(Data) {

            alert(Data.Mensaje);
            if (Data.EsSatisfactorio) {
                $('#' + Data.Cadena).html(Data.Vista);
                closeModal();
                ActivarIconos();
            } else {
                console.log(Data);
            }
        }

        $(document).on('change', '.EquipoPartido', function () {
            var selectElement = $(this).attr('id');
            var Codigo = $(this).val();
            var CodAnt = $(this).attr('data-cod');

            var divElement = $(this).closest('.divLlave').attr('id');
            $('#' + divElement + ' select.EquipoPartido option[value="' + Codigo + '"]').attr('disabled', true);
            $(this).find('option[value="' + Codigo + '"]').attr('disabled', false);
            $(this).attr('data-cod', Codigo);

            if (CodAnt > 0) {
                $('#' + divElement + ' select.EquipoPartido option[value = "' + CodAnt + '"]').attr('disabled', false);
            }

            $('#' + divElement + ' #' + selectElement).attr('data-cod', Codigo);

        });

        function GuardarCopa(Data) {
            alert(Data.Mensaje);
            if (Data.EsSatisfactorio) {
                $('#llaves').html(Data.Vista);
            } else {
                console.log(Data);
            }
        }

        function EsDisponibleZona(Disponible) {
            var UrlDisponibleZona = '@Url.Action("DisponibleZona", "Torneo", new { Cod_Torneo = Model.FirstOrDefault().Torneo.Codigo, Disponible = "_Disponible" })'.replace('_Disponible', Disponible).replace(/amp;/g, '');
            $.post(UrlDisponibleZona, function (Data) {
                if (Data.EsSatisfactorio) {
                    if (Disponible == 1) {
                        $('#checkZonaDisponible').attr('onclick', 'javascript:EsDisponibleZona(0)').addClass('toggle-active'); 
                    } else {
                        $('#checkZonaDisponible').attr('onclick', 'javascript:EsDisponibleZona(1)').removeClass('toggle-active');
                    }
                } else {
                    alter('Disculpe, no es posible conectar con el servidor');
                    console.log(Data);
                }
            });
        }

        function EsDisponibleLlaves(Disponible) {
            var UrlDisponibleLlaves = '@Url.Action("DisponibleLlaves", "Torneo", new { Cod_Torneo = Model.FirstOrDefault().Torneo.Codigo, Disponible = "_Disponible" })'.replace('_Disponible', Disponible).replace(/amp;/g, '');
            $.post(UrlDisponibleLlaves, function (Data) {
                if (Data.EsSatisfactorio) {

                    $('#CopasActiva').val(Disponible);

                    if (Disponible == 1) {
                        $('#checkLlavesDisponible').attr('onclick', 'javascript:EsDisponibleLlaves(0)').addClass('toggle-active'); 
                    } else {
                        $('#checkLlavesDisponible').attr('onclick', 'javascript:EsDisponibleLlaves(1)').removeClass('toggle-active');
                    }
                } else {
                    alter('Disculpe, no es posible conectar con el servidor');
                    console.log(Data);
                }
            });
        }

        function EsDisponiblePartidoLlaves(Disponible) {
            var UrlDisponibleParidoLlaves = '@Url.Action("DisponibleParidoLlaves", "Torneo", new { Cod_Torneo = Model.FirstOrDefault().Torneo.Codigo, Disponible = "_Disponible" })'.replace('_Disponible', Disponible).replace(/amp;/g, '');
            $.post(UrlDisponibleParidoLlaves, function (Data) {
                if (Data.EsSatisfactorio) {
                    if (Disponible == 1) {
                        $('#checkPartidoLlavesDisponible').attr('onclick', 'javascript:EsDisponiblePartidoLlaves(0)').addClass('toggle-active'); 
                    } else {
                        $('#checkPartidoLlavesDisponible').attr('onclick', 'javascript:EsDisponiblePartidoLlaves(1)').removeClass('toggle-active');
                    }
                } else {
                    alter('Disculpe, no es posible conectar con el servidor');
                    console.log(Data);
                }
            });
        }

        //----------------------------------------------------------------------------------------------------------------------------------------------------- COUNTDOWN

        // Set the date we're counting down to
        var countDownDate = new Date("Jan 5, 2021 15:37:25").getTime();

        // Update the count down every 1 second
        var x = setInterval(function () {

            // Get today's date and time
            var now = new Date().getTime();

            // Find the distance between now and the count down date
            var distance = countDownDate - now;

            // Time calculations for days, hours, minutes and seconds
            var days = Math.floor(distance / (1000 * 60 * 60 * 24));
            var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
            var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
            var seconds = Math.floor((distance % (1000 * 60)) / 1000);

            // Display the result in the element with id="demo"
            $('.timer-countdown').html(hours + "h "
                + minutes + "m " + seconds + "s ");

            // If the count down is finished, write some text
            if (distance < 0) {
                clearInterval(x);
                $('.timer-countdown').html("Tiempo expirado");
            }
        }, 1000);


    </script>

}