﻿
@{
    Layout = null;
}

<!doctype html>
<html class="no-js" lang="">
<head>
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src='https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);})(window,document,'script','dataLayer','GTM-W7WJ8TR');</script>
    <!-- End Google Tag Manager -->

    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Asociación Argentina de Polo</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, viewport-fit=cover">

    <link rel="manifest" href="site.webmanifest">
    <link rel="apple-touch-icon" href="icon.png">
    <!-- Place favicon.ico in the root directory -->
    <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700" rel="stylesheet">
    
    <link rel="stylesheet" href="~/Content//css/normalize.css">
    <link rel="stylesheet" href="~/Content//css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content//css/animate.css">
    <link rel="stylesheet" href="~/Content//css/icons.css">
    <link rel="stylesheet" href="~/Content//css/select2.css">
    <link rel="stylesheet" href="~/Content//css/main.css">

    <style>
        .wow {
            visibility: hidden;
        }
    </style>
</head>
<body class="admin-login">
    <!--[if lte IE 9]>
        <p class="browserupgrade">Estás usando un navegador <strong>desactualizado</strong>. Por favor, <a href="https://browsehappy.com/">actualiza tu navegador</a> para una mejor y más segura experiencia.</p>
    <![endif]-->    

    <p style="color:red">@ViewBag.Mensaje</p>

    <form action="@Url.Action("Login")" method="post" class="form-admin-login">
        <a href="@Url.Action("Index","Home")" class="logo"><img src="~/Content//img/logo.png" alt="AAP"></a>
        <h1>Administración</h1>
        <h3>Inicia sesión para continuar</h3>
        <p style="color:red">@ViewBag.MensajeErrorLogin</p>
        <input type="text" name="DocumentoIdentidad" id="user" placeholder="Usuario">
        <input type="password" name="Password" id="pass" placeholder="Contraseña">

        <button>Ingresar <i class="icon-arrow-thin-right"></i></button>
    </form>

    <!-- Add your site or application content here -->
    <script src="@Url.Content("~/Scripts/modernizr-3.5.0.min.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery-3.3.1.min.js")"></script>
    <script src="@Url.Content("~/Scripts/plugins.js")"></script>
    <script src="@Url.Content("~/Scripts/select2.full.min.js")"></script>
    <script src="@Url.Content("~/Scripts/vivus.min.js")"></script>
    <script src="@Url.Content("~/Scripts/wow.min.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery.easing.1.3.js")"></script>
    <script src="@Url.Content("~/Scripts/tooltip.js")"></script>
    <script src="@Url.Content("~/Scripts/slick.min.js")"></script>
    <script src="@Url.Content("~/Scripts/main.js")"></script>

    <script>

        console.log('MensajeError: ' + '@ViewBag.MensajeError');

    </script>

</body>
</html>
