﻿
@{
    ViewBag.Title = "AfterPolo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel-header-torneo p-b-20" style="background-image: url('@Url.Content("~/Content/Img/abierto-palermo-2019/after-polo.jpg")');">
    <div class="bg-back"></div>
    <div class="container-fluid">
        <div class="col-md-12">
            <h1>After Polo</h1>
        </div>
    </div>
</div>

<section class="clearfix p-b-50">
    <div class="container-fluid">
        <div class="wrapper">
            <div class="col-md-12">
                <div class="abierto-texto">
                    <p>Después de cada partido ¡Quedate que empieza el show! Música en vivo para compartir con amigos y amigas tomando algo y cerrando cada una de las fechas.</p>
                </div>
            </div>

            <div class="col-md-12">
                <div class="m-b-20">

                    <div class="calendar2-slide">
                        <div class="calendar2-holder clearfix">
                            <div class="calendar2-item has-bg-img">
                                <div class="calendar2-body" style="background-image: url('@Url.Content("~/Content/Img/abierto-palermo-2019/1-sin-ensayo.jpg")')">
                                    <div class="calendar2-date-holder">
                                        <div class="calendar2-date">
                                            <h4>16<br><span>NOV</span></h4>
                                            <h5 class="date-2"><span>Sábado</span></h5>
                                        </div>
                                    </div>
                                    <h3 class="calendar-item-title">Sin Ensayo</h3>
                                </div>
                            </div>
                            <div class="calendar2-item has-bg-img">
                                <div href="torneo.html" class="calendar2-body" style="background-image: url('@Url.Content("~/Content/Img/abierto-palermo-2019/2-tomas-dobarro.jpg")')">
                                    <div class="calendar2-date-holder">
                                        <div class="calendar2-date">
                                            <h4>16<br><span>NOV</span></h4>
                                            <h5 class="date-2"><span>Sábado</span></h5>
                                        </div>
                                    </div>
                                    <h3 class="calendar-item-title">Tomás Dobarro</h3>
                                </div>
                            </div>

                            <div class="calendar2-item has-bg-img">
                                <div class="calendar2-body" style="background-image: url('@Url.Content("~/Content/Img/abierto-palermo-2019/3-grupo-play.jpg")')">
                                    <div class="calendar2-date-holder">
                                        <div class="calendar2-date">
                                            <h4>17<br><span>NOV</span></h4>
                                            <h5 class="date-2"><span>Domingo</span></h5>
                                        </div>
                                    </div>
                                    <h3 class="calendar-item-title">Grupo Play</h3>
                                </div>
                            </div>

                            <div class="calendar2-item has-bg-img">
                                <div class="calendar2-body" style="background-image: url('@Url.Content("~/Content/Img/abierto-palermo-2019/4-tommy-munoz.jpg")')">
                                    <div class="calendar2-date-holder">
                                        <div class="calendar2-date">
                                            <h4>17<br><span>NOV</span></h4>
                                            <h5 class="date-2"><span>Domingo</span></h5>
                                        </div>
                                    </div>
                                    <h3 class="calendar-item-title">Tommy Muñoz</h3>
                                </div>
                            </div>

                            <div class="calendar2-item has-bg-img">
                                <div class="calendar2-body" style="background-image: url('@Url.Content("~/Content/Img/abierto-palermo-2019/5-leyendas.jpg")')">
                                    <div class="calendar2-date-holder">
                                        <div class="calendar2-date">
                                            <h4>23<br><span>NOV</span></h4>
                                            <h5 class="date-2"><span>Sábado</span></h5>
                                        </div>
                                    </div>
                                    <h3 class="calendar-item-title">Los Leyenda Valdés</h3>
                                </div>
                            </div>

                            <div class="calendar2-item has-bg-img">
                                <div class="calendar2-body" style="background-image: url('@Url.Content("~/Content/Img/abierto-palermo-2019/6-otto-bunge.jpg")')">
                                    <div class="calendar2-date-holder">
                                        <div class="calendar2-date">
                                            <h4>23<br><span>NOV</span></h4>
                                            <h5 class="date-2"><span>Sábado</span></h5>
                                        </div>
                                    </div>
                                    <h3 class="calendar-item-title">Otto Bunge</h3>
                                </div>
                            </div>

                            <div class="calendar2-item has-bg-img">
                                <div class="calendar2-body" style="background-image: url('@Url.Content("~/Content/Img/abierto-palermo-2019/7-champion.jpg")')">
                                    <div class="calendar2-date-holder">
                                        <div class="calendar2-date">
                                            <h4>24<br><span>NOV</span></h4>
                                            <h5 class="date-2"><span>Domingo</span></h5>
                                        </div>
                                    </div>
                                    <h3 class="calendar-item-title">La Champion Liga</h3>
                                </div>
                            </div>

                            <div class="calendar2-item has-bg-img">
                                <div class="calendar2-body" style="background-image: url('@Url.Content("~/Content/Img/abierto-palermo-2019/8-alex-dover.jpg")')">
                                    <div class="calendar2-date-holder">
                                        <div class="calendar2-date">
                                            <h4>24<br><span>NOV</span></h4>
                                            <h5 class="date-2"><span>Domingo</span></h5>
                                        </div>
                                    </div>
                                    <h3 class="calendar-item-title">Alex Dover</h3>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


@section scripts{

    <script>

        $(document).ready(function () {
            $('#liAfterPolo').addClass("current");

        });

    </script>


}