﻿
@{
    ViewBag.Title = "Cashless";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel-header-torneo p-b-20" style="background-image: url('@Url.Content("~/Content/img/abierto-palermo-2019/cashless.jpg")');">
    <div class="bg-back"></div>
    <div class="container-fluid">
        <div class="col-md-12">
            <h1>Cashless</h1>
        </div>
    </div>
</div>

<section class="clearfix p-b-50">
    <div class="container-fluid">
        <div class="wrapper">
            <div class="col-md-12">
                <div class="abierto-texto">
                    <p>Es un método que te permite cargar dinero en tu tarjeta para que puedas usar en todos los locales gastronómicos dentro del predio durante el torneo.</p>
                    <p>Conseguí tu tarjeta anticipada en las oficinas de AAP o en las cajas en el evento para empezar a disfrutar al máximo la experiencia del polo más grande del mundo.</p>
                    <a href="@Url.Action("UrlAAPoloRegistroMember","Home")" class="btn btn-red btn-lg text-center m-b-40">Pedí tu tarjeta</a>
                </div>
            </div>

            <div class="col-md-12">
                <div class="banner-home">
                    <img src="@Url.Content("~/Content/img/abierto-palermo-2019/cashless-banner.jpg")" alt="" class="img-responsive">
                </div>
            </div>

            <div class="col-md-12">
                <h2 class="page-title bluelight-tx m-b-80 text-center">¿Cómo cargar y solicitar devolución de crédito?</h2>
            </div>
            <div class="col-md-4">
                <div class="data-card-torneo">
                    <i class="icon-view-apps bluelight-bg"></i>
                    <h5 class="bluelight-tx">Código QR</h5>
                    <h3>Escaneando el código QR a través de las aplicaciones MercadoLibre / Pago</h3>
                </div>
            </div>
            <div class="col-md-4">
                <div class="data-card-torneo">
                    <i class="icon-store bluelight-bg"></i>
                    <h5 class="bluelight-tx">Cajas</h5>
                    <h3 style="flex-direction: column;">Carga: El día del evento en las cajas, con efectivo, tarjeta de débito o crédito. <span class="m-t-10" style="font-weight: 500">Devolución: Durante el evento.</span></h3>
                </div>
            </div>
            <div class="col-md-4">
                <div class="data-card-torneo">
                    <i class="icon-web bluelight-bg"></i>
                    <h5 class="bluelight-tx">Website</h5>
                    <h3 style="flex-direction: column;">Carga y devolución a través de <a href="https://ego.easygoband.com/#/app/cf9503e7-a261-49b0-bff8-340f42979bb1/signup" target="_blank">este link</a> </h3>
                </div>
            </div>

            <div class="col-md-12">
                <div class="abierto-texto p-t-0">
                    <a href="http://invoice.pokesend.com/" class="btn btn-red btn-lg text-center" target="_blank">Obtené tus facturas</a>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container-fluid" style="max-width: 960px; margin-top: -20px;">
        <div class="col-md-12">
            <div class="img-noticia-holder">
                
                @*<img src="@Url.Content("~/Content/img/abierto-palermo-2019/abierto-palermo-bg.jpg")" alt="" class="img-noticia img-responsive">*@

                @*<a href="@Url.Content("~/Video/video-noticia.mp4")" data-fancybox="gallery" class="noticia-play-video"><i class="icon-media-play"></i></a>*@

                @*<div class="noticia-share-desplegable has-tooltip" title="" data-original-title="Compartir en redes sociales">
                    <ul>
                        <li class="share-sh">
                            <a href="javascript:void(0)">
                                <svg viewBox="0 0 26 26">
                                    <path d="M 21 0 C 18.238281 0 16 2.238281 16 5 C 16 5.085938 16.027344 5.164063 16.03125 5.25 L 8.1875 9.1875 C 7.320313 8.457031 6.222656 8 5 8 C 2.238281 8 0 10.238281 0 13 C 0 15.761719 2.238281 18 5 18 C 6.222656 18 7.320313 17.542969 8.1875 16.8125 L 16.03125 20.75 C 16.027344 20.835938 16 20.914063 16 21 C 16 23.761719 18.238281 26 21 26 C 23.761719 26 26 23.761719 26 21 C 26 18.238281 23.761719 16 21 16 C 19.777344 16 18.679688 16.457031 17.8125 17.1875 L 9.96875 13.25 C 9.972656 13.164063 10 13.085938 10 13 C 10 12.914063 9.972656 12.835938 9.96875 12.75 L 17.8125 8.8125 C 18.679688 9.542969 19.777344 10 21 10 C 23.761719 10 26 7.761719 26 5 C 26 2.238281 23.761719 0 21 0 Z "></path>
                                </svg>
                            </a>
                        </li>

                        <li class="share-fb">
                            <a href="https://www.facebook.com/sharer/sharer.php?u=http://grupoamedia.com.ar/aapolo/maquetacion/noticia.html" target="_blank">
                                <svg viewBox="0 0 24 24">
                                    <path d="M17.525,9H14V7c0-1.032,0.084-1.682,1.563-1.682h1.868v-3.18C16.522,2.044,15.608,1.998,14.693,2 C11.98,2,10,3.657,10,6.699V9H7v4l3-0.001V22h4v-9.003l3.066-0.001L17.525,9z"></path>
                                </svg>
                            </a>
                        </li>

                        <li class="share-tw">
                            <a href="https://twitter.com/home?status=Asociaci%C3%B3n%20Argentina%20de%20Polo%3A%20T%C3%ADtulo%20de%20la%20nota" target="_blank">
                                <svg viewBox="0 0 26 26">
                                    <path d="M 25.855469 5.574219 C 24.914063 5.992188 23.902344 6.273438 22.839844 6.402344 C 23.921875 5.75 24.757813 4.722656 25.148438 3.496094 C 24.132813 4.097656 23.007813 4.535156 21.8125 4.769531 C 20.855469 3.75 19.492188 3.113281 17.980469 3.113281 C 15.082031 3.113281 12.730469 5.464844 12.730469 8.363281 C 12.730469 8.773438 12.777344 9.175781 12.867188 9.558594 C 8.503906 9.339844 4.636719 7.246094 2.046875 4.070313 C 1.59375 4.847656 1.335938 5.75 1.335938 6.714844 C 1.335938 8.535156 2.261719 10.140625 3.671875 11.082031 C 2.808594 11.054688 2 10.820313 1.292969 10.425781 C 1.292969 10.449219 1.292969 10.46875 1.292969 10.492188 C 1.292969 13.035156 3.101563 15.15625 5.503906 15.640625 C 5.0625 15.761719 4.601563 15.824219 4.121094 15.824219 C 3.78125 15.824219 3.453125 15.792969 3.132813 15.730469 C 3.800781 17.8125 5.738281 19.335938 8.035156 19.375 C 6.242188 20.785156 3.976563 21.621094 1.515625 21.621094 C 1.089844 21.621094 0.675781 21.597656 0.265625 21.550781 C 2.585938 23.039063 5.347656 23.90625 8.3125 23.90625 C 17.96875 23.90625 23.25 15.90625 23.25 8.972656 C 23.25 8.742188 23.246094 8.515625 23.234375 8.289063 C 24.261719 7.554688 25.152344 6.628906 25.855469 5.574219 "></path>
                                </svg>
                            </a>
                        </li>

                        <li class="share-ma">
                            <a href="mailto:?&amp;subject=Asociación Argentina de Polo: Título de la nota&amp;body=Hola!%0A%0ACreo%20que%20la%20nota%20%22T%C3%ADtulo%20de%20la%20nota%22%20podr%C3%ADa%20interesarte%3A%20http%3A//www.google.com" target="_blank">
                                <svg viewBox="0 0 24 24">
                                    <path d="M 4 4 C 2.976 4 2.1404375 4.772625 2.0234375 5.765625 L 12 12 L 21.976562 5.765625 C 21.859563 4.772625 21.024 4 20 4 L 4 4 z M 2 7.7519531 L 2 18 C 2 19.105 2.895 20 4 20 L 20 20 C 21.105 20 22 19.105 22 18 L 22 7.7519531 L 12 14 L 2 7.7519531 z"></path>
                                </svg>
                            </a>
                        </li>
                    </ul>
                </div>*@
            </div>
        </div>
    </div>
</section>

@section scripts{

    <script>

        $(document).ready(function () {
            $('#liCashless').addClass("current");

        });

    </script>


}