﻿
@{
    ViewBag.Title = "Faq";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section class="section-bg" style="background-color: #626591">
    <div class="bg-top"></div>
    <div class="bg-back"></div>
    <div class="container-fluid">
        <div class="wrapper">
            <div class="col-md-12">
                <div class="title-container">
                    <h1 class="page-title page-title-buscar m-r-20">FAQ</h1>

                </div>
            </div>
        </div>
    </div>
</section>

<section class="clearfix p-b-40">
    <div class="container-fluid">
        <div class="col-md-12">
            <div class="panel" style="margin-top: -20px;">
                <ul class="tabs-default">
                    <li class="current"><a href="javascript:void(0);" class="text-left p-l-40" data-tab="evento"><i class="icon-calendar m-r-10"></i><span>Sobre el evento</span></a></li>
                    <li><a href="javascript:void(0);" class="text-left p-l-40" data-tab="tickets"><i class="icon-ticket m-r-10"></i><span>Sobre Tickets</span></a></li>
                    <li><a href="javascript:void(0);" class="text-left p-l-40" data-tab="cashless"><i class="icon-card m-r-10"></i><span>Sobre Cashless</span></a></li>
                </ul>

                <div class="tab-contents clearfix">
                    <div class="tab-content" id="evento" style="display: block">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="accordeon">
                                        <div>
                                            <a href="javascript:void(0)" class="accordeon-trigger accordeon-default"><span><strong class="m-r-10">1.</strong> Horario</span><i class="icon-chevron-down"></i></a>
                                            <div class="accordeon-content d-none">
                                                <p>12.00hs a 23.00hs // en ediciones pasadas había distintos horarios de cierre dependiendo la fecha.</p>
                                            </div>
                                        </div>
                                        <div class="p-t-20">
                                            <a href="javascript:void(0)" class="accordeon-trigger accordeon-default"><span><strong class="m-r-10">2.</strong>Ubicación</span><i class="icon-chevron-down"></i></a>
                                            <div class="accordeon-content d-none">
                                                <p>Campo Argentino de Polo</p>
                                            </div>
                                        </div>
                                        <div class="p-t-20">
                                            <a href="javascript:void(0)" class="accordeon-trigger accordeon-default"><span><strong class="m-r-10">3.</strong> ¿Hay estacionamiento en el evento?</span><i class="icon-chevron-down"></i></a>
                                            <div class="accordeon-content d-none">
                                                <p>No. Pero se puede estacionar en la calle, enfrente en el Hipódromo y en Jumbo/ Easy.</p>
                                            </div>
                                        </div>
                                        <div class="p-t-20">
                                            <a href="javascript:void(0)" class="accordeon-trigger accordeon-default"><span><strong class="m-r-10">4.</strong> ¿Cuales son las puertas de ingreso?</span><i class="icon-chevron-down"></i></a>
                                            <div class="accordeon-content d-none">
                                                <p>Av. Del Libertador 4096 / Arévalo 3065 // Dorrego 3300</p>
                                            </div>
                                        </div>
                                        <div class="p-t-20">
                                            <a href="javascript:void(0)" class="accordeon-trigger accordeon-default"><span><strong class="m-r-10">5.</strong> ¿Como llego al evento?</span><i class="icon-chevron-down"></i></a>
                                            <div class="accordeon-content d-none">
                                                <p><strong>Colectivo:</strong> 10 – 130 – 152 – 60 – 118 – 95</p>
                                                <p><strong>Subte:</strong> Línea D, estación Palermo.</p>
                                                <p><strong>Tren:</strong> Estación 3 de Febrero del tren a Mitre – Retiro.</p>
                                            </div>
                                        </div>
                                        <div class="p-t-20">
                                            <a href="javascript:void(0)" class="accordeon-trigger accordeon-default"><span><strong class="m-r-10">6.</strong> Accesibilidad para personas con discapacidad</span><i class="icon-chevron-down"></i></a>
                                            <div class="accordeon-content d-none">
                                                <p>Si. Todo aquel que posea una discapacidad motora puede ingresar al predio de manera gratuita y se le asignará un lugar en un sector especialmente reservado para las personas con esa condición. Quien acompañe a esta persona en carácter de asistente deberá abonar la entrada de menor valor para la fecha en que concurra (los valores durante el Abierto varían según la instancia). Este sector tiene capacidad limitada.</p>
                                            </div>
                                        </div>
                                        <div class="p-t-20">
                                            <a href="javascript:void(0)" class="accordeon-trigger accordeon-default"><span><strong class="m-r-10">7.</strong> Jubilados</span><i class="icon-chevron-down"></i></a>
                                            <div class="accordeon-content d-none">
                                                <p>En las fechas 1 a 4 se les entregará un ticket gratuito en la boletería del recinto para ingresar a la Tribuna Dorrego Central.</p>
                                            </div>
                                        </div>
                                        <div class="p-t-20">
                                            <a href="javascript:void(0)" class="accordeon-trigger accordeon-default"><span><strong class="m-r-10">8.</strong> Playroom / Entretenimiento para niños</span><i class="icon-chevron-down"></i></a>
                                            <div class="accordeon-content d-none">
                                                <p>Si! Tenemos un montón de cosas pensadas para que los más chicos se entretengan. Los esperamos en familia.</p>
                                            </div>
                                        </div>
                                        <div class="p-t-20">
                                            <a href="javascript:void(0)" class="accordeon-trigger accordeon-default"><span><strong class="m-r-10">9.</strong> Si se suspende por lluvia</span><i class="icon-chevron-down"></i></a>
                                            <div class="accordeon-content d-none">
                                                <p>Todos los partidos se ven sujetos a las condiciones climáticas. Si alguno se reprograma lo estaremos anunciando de inmediato en nuestras redes para que todos estén al tanto.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-content" id="tickets">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="accordeon">
                                        <div>
                                            <a href="javascript:void(0)" class="accordeon-trigger accordeon-default"><span><strong class="m-r-10">1.</strong> ¿A partir de qué día están disponibles?</span><i class="icon-chevron-down"></i></a>
                                            <div class="accordeon-content d-none">
                                                <p>Desde el Lunes 7 de Octubre.</p>
                                            </div>
                                        </div>
                                        <div class="p-t-20">
                                            <a href="javascript:void(0)" class="accordeon-trigger accordeon-default"><span><strong class="m-r-10">2.</strong> ¿Dónde compro los tickets?</span><i class="icon-chevron-down"></i></a>
                                            <div class="accordeon-content d-none">
                                                <p>Presencial:</p>
                                                <p><strong>Campo Argentino de Polo</strong><br>Av. Libertador 4168<br>Horarios de atención: Abierto de Lunes a viernes de  11 a 17hs</p>
                                                <p><strong>La Rural</strong><br>Av. Santa Fe 4201 (Frente a Plaza Italia)<br>Medios de pago: Tarjeta de crédito, débito y efectivo<br>Horarios de atención: Abierto de Lunes a viernes de 10 a 13hs y 14 a 19hs</p>
                                                <p><strong>Teatro Vorterix</strong><br>Av. Federico Lacroze 3455 (Esquina Alvarez Thomas)<br>Medios de pago: Tarjeta de crédito, débito y efectivo<br>Horario de atención: Abierto de Martes a Sabado de 10 a 13hs y de 14 a 18:30hs</p>

                                                <p>Online: <a href="https://www.allaccess.com.ar/list/Abierto%20Argentino%20de%20Polo" target="_blank">https://www.allaccess.com.ar/list/Abierto%20Argentino%20de%20Polo</a></p>
                                            </div>
                                        </div>
                                        <div class="p-t-20">
                                            <a href="javascript:void(0)" class="accordeon-trigger accordeon-default"><span><strong class="m-r-10">3.</strong> ¿Cuáles son los puntos de venta oficiales?</span><i class="icon-chevron-down"></i></a>
                                            <div class="accordeon-content d-none">
                                                <p><strong>Campo Argentino de Polo</strong><br>Av. Libertador 4168<br>Horarios de atención: Abierto de Lunes a viernes de  11 a 17hs</p>
                                            </div>
                                        </div>
                                        <div class="p-t-20">
                                            <a href="javascript:void(0)" class="accordeon-trigger accordeon-default"><span><strong class="m-r-10">4.</strong> ¿Puedo comprar entradas el día del evento?</span><i class="icon-chevron-down"></i></a>
                                            <div class="accordeon-content d-none">
                                                <p>Sí, en nuestras boleterías sobre Av. Libertador</p>
                                            </div>
                                        </div>
                                        <div class="p-t-20">
                                            <a href="javascript:void(0)" class="accordeon-trigger accordeon-default"><span><strong class="m-r-10">5.</strong> ¿Cuál es el precio de los tickets?</span><i class="icon-chevron-down"></i></a>
                                            <div class="accordeon-content d-none">
                                                <table class="table-default">
                                                    <thead>
                                                        <tr>
                                                            <th></th>
                                                            <th>C Baja</th>
                                                            <th>A y B Central</th>
                                                            <th>A y B Lateral</th>
                                                            <th>Dorrego CTR</th>
                                                            <th>Dorrego Lateral</th>
                                                            <th>Fun Ticket</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td data-label="Abono">Abono Completo - Desde el 07/10</td>
                                                            <td data-label="C Baja">$40.000,00 + $6.000,00*</td>
                                                            <td data-label="A y B Central">$20.000,00 + $3.000,00*</td>
                                                            <td data-label="A y B Lateral">$15.000,00 + $2.250,00*</td>
                                                            <td data-label="Dorrego CTR">$9.000,00 + $1.350,00*</td>
                                                            <td data-label="Dorrego Lateral">-</td>
                                                            <td data-label="Fun Ticket">-</td>
                                                        </tr>
                                                        <tr>
                                                            <td data-label="Abono">Mini abono Semis + Final</td>
                                                            <td data-label="C Baja">$25.000,00 + $3.750,00*</td>
                                                            <td data-label="A y B Central">$16.000,00 + $2.400,00*</td>
                                                            <td data-label="A y B Lateral">$10.000,00 + $1.500,00*</td>
                                                            <td data-label="Dorrego CTR">$4.000,00 + $600,00*</td>
                                                            <td data-label="Dorrego Lateral">$2.000,00 + $300,00*</td>
                                                            <td data-label="Fun Ticket">-</td>
                                                        </tr>
                                                        <tr>
                                                            <td data-label="Abono">Fechas 1 a 8 (individual)</td>
                                                            <td data-label="C Baja">$2.000,00 + $300,00*</td>
                                                            <td data-label="A y B Central">$1.300,00 + $195,00*</td>
                                                            <td data-label="A y B Lateral">$1.000,00 + $150,00*</td>
                                                            <td data-label="Dorrego CTR">$900,00 + $135,00*</td>
                                                            <td data-label="Dorrego Lateral">-</td>
                                                            <td data-label="Fun Ticket">-</td>
                                                        </tr>
                                                        <tr>
                                                            <td data-label="Abono">Fechas 9 y 10 (individual)</td>
                                                            <td data-label="C Baja">$9.000,00 + $1.350,00*</td>
                                                            <td data-label="A y B Central">$4.200,00 + $6300,00*</td>
                                                            <td data-label="A y B Lateral">$2.300,00 + $345,00*</td>
                                                            <td data-label="Dorrego CTR">$1.200,00 + $180,00*</td>
                                                            <td data-label="Dorrego Lateral">$700,00 + $105,00*</td>
                                                            <td data-label="Fun Ticket">$700,00 + $105,00*</td>
                                                        </tr>
                                                        <tr>
                                                            <td data-label="Abono">Final (fecha 11 - individual)</td>
                                                            <td data-label="C Baja">$14.000,00 + $2.100,00*</td>
                                                            <td data-label="A y B Central">$8.500,00 + $1.275,00*</td>
                                                            <td data-label="A y B Lateral">$4.000,00 + $600,00*</td>
                                                            <td data-label="Dorrego CTR">$2.500,00 + $375,00*</td>
                                                            <td data-label="Dorrego Lateral">$1.000,00 + $150,00*</td>
                                                            <td data-label="Fun Ticket">$1.000,00 + $150,00*</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                                <p>(*) Corresponde al cargo de servicio por sistema All Access. En todos los casos la compra máxima es de 6 abonos y/o 6 entradas por persona y cualquier modalidad de pago.</p>
                                            </div>
                                        </div>
                                        <div class="p-t-20">
                                            <a href="javascript:void(0)" class="accordeon-trigger accordeon-default"><span><strong class="m-r-10">6.</strong> ¿Hay alguna promoción?</span><i class="icon-chevron-down"></i></a>
                                            <div class="accordeon-content d-none">
                                                <p>Promoción 2x1 con Club La Nación y 3 cuotas sin interés con HSBC.</p>
                                            </div>
                                        </div>
                                        <div class="p-t-20">
                                            <a href="javascript:void(0)" class="accordeon-trigger accordeon-default"><span><strong class="m-r-10">7.</strong> ¿Quienes pueden comprar las entradas? </span><i class="icon-chevron-down"></i></a>
                                            <div class="accordeon-content d-none">
                                                <p>Cualquier persona.</p>
                                            </div>
                                        </div>
                                        <div class="p-t-20">
                                            <a href="javascript:void(0)" class="accordeon-trigger accordeon-default"><span><strong class="m-r-10">8.</strong> ¿Cuál es el límite de compra por persona?</span><i class="icon-chevron-down"></i></a>
                                            <div class="accordeon-content d-none">
                                                <p>6 entradas por persona.</p>
                                            </div>
                                        </div>
                                        <div class="p-t-20">
                                            <a href="javascript:void(0)" class="accordeon-trigger accordeon-default"><span><strong class="m-r-10">9.</strong> ¿Qué formas de pago existen?</span><i class="icon-chevron-down"></i></a>
                                            <div class="accordeon-content d-none">
                                                <p>Cualquier medio de pago: efectivo / tarjeta de débido - crédito.</p>
                                            </div>
                                        </div>
                                        <div class="p-t-20">
                                            <a href="javascript:void(0)" class="accordeon-trigger accordeon-default"><span><strong class="m-r-10">10.</strong>¿Cómo puedo comprar entradas desde el exterior?</span><i class="icon-chevron-down"></i></a>
                                            <div class="accordeon-content d-none">
                                                <p>Online: <a href="https://www.allaccess.com.ar/list/Abierto%20Argentino%20de%20Polo" target="_blank">https://www.allaccess.com.ar/list/Abierto%20Argentino%20de%20Polo</a></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-content" id="cashless">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="accordeon">
                                        <div>
                                            <a href="javascript:void(0)" class="accordeon-trigger accordeon-default"><span><strong class="m-r-10">1.</strong> ¿Cómo gestiono mi tarjeta?</span><i class="icon-chevron-down"></i></a>
                                            <div class="accordeon-content d-none">
                                                <p>Si no tenés tu tarjeta Cashless, retirala por la AAP de lunes a viernes de 10 a 17hs.</p>
                                            </div>
                                        </div>
                                        <div class="p-t-20">
                                            <a href="javascript:void(0)" class="accordeon-trigger accordeon-default"><span><strong class="m-r-10">2.</strong> ¿Dónde retiro mi tarjeta?</span><i class="icon-chevron-down"></i></a>
                                            <div class="accordeon-content d-none">
                                                <p>En la Asociación Argentina de Polo (Av. Del Libertador 4168 - CABA).</p>
                                            </div>
                                        </div>
                                        <div class="p-t-20">
                                            <a href="javascript:void(0)" class="accordeon-trigger accordeon-default"><span><strong class="m-r-10">3.</strong> ¿Puedo re-utilizar mi tarjeta si conservé la del año anterior?</span><i class="icon-chevron-down"></i></a>
                                            <div class="accordeon-content d-none">
                                                <p>Sí, podrás utilizar tu tarjeta cashless del año anterior y el saldo no consumido también.</p>
                                            </div>
                                        </div>
                                        <div class="p-t-20">
                                            <a href="javascript:void(0)" class="accordeon-trigger accordeon-default"><span><strong class="m-r-10">4.</strong> ¿Cómo cargo mi tarjeta?</span><i class="icon-chevron-down"></i></a>
                                            <div class="accordeon-content d-none">
                                                <p>Antes y durante el evento podés hacerlo a través de la App de Mercado Pago/Libre utilizando el código QR de tu tarjeta. Durante el evento podés hacerlo en las cajas ubicadas dentro del predio.</p>
                                            </div>
                                        </div>
                                        <div class="p-t-20">
                                            <a href="javascript:void(0)" class="accordeon-trigger accordeon-default"><span><strong class="m-r-10">5.</strong> ¿Puedo cargarla antes del evento? ¿Cómo?</span><i class="icon-chevron-down"></i></a>
                                            <div class="accordeon-content d-none">
                                                <p>Antes y durante el evento podés hacerlo a través de la Aap de Mercado Pago/Libre utilizando el código QR de tu tarjeta.</p>
                                            </div>
                                        </div>
                                        <div class="p-t-20">
                                            <a href="javascript:void(0)" class="accordeon-trigger accordeon-default"><span><strong class="m-r-10">6.</strong> ¿Hay un monto mínimo de carga?</span><i class="icon-chevron-down"></i></a>
                                            <div class="accordeon-content d-none">
                                                <p>No.</p>
                                            </div>
                                        </div>
                                        <div class="p-t-20">
                                            <a href="javascript:void(0)" class="accordeon-trigger accordeon-default"><span><strong class="m-r-10">7.</strong> ¿Puedo pedir la devolución del dinero cargado? ¿Dónde y Cómo?</span><i class="icon-chevron-down"></i></a>
                                            <div class="accordeon-content d-none">
                                                <p>Sí. Hay dos maneras de realizarlo 1) a través de la Web de la AAP siempre y cuando el saldo haya sido cargado de manera online 2) De manera presencial en las oficinas de la AAP hasta 2 semanas luego de finalizado el Abierto 2019 (días y horarios a confirmar).</p>
                                                <p>De todas formas el saldo que no consumas podrá ser utilizado en el próximo Abierto.</p>
                                            </div>
                                        </div>
                                        <div class="p-t-20">
                                            <a href="javascript:void(0)" class="accordeon-trigger accordeon-default"><span><strong class="m-r-10">8.</strong> ¿Mi tarjeta sirve para todos los foodtrucks dentro del evento?</span><i class="icon-chevron-down"></i></a>
                                            <div class="accordeon-content d-none">
                                                <p>Sí. La tarjeta cashless es la única manera de consumir gastronomía dentro del evento. Sirve para todos los espacios gastronómicos.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>



        </div>
    </div>
</section>


@section scripts{

    <script src="http://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="http://cdn.datatables.net/plug-ins/1.10.19/i18n/Spanish.json"></script>

    <script>

        $(document).ready(function () {
            $('#liFaq').addClass("current");

        });

        $('.calendar2-slider').slick({
            dots: false,
            slidesToShow: 1,
            slidesToScroll: 1,
            arrows: true,
            autoplay: false,
            nextArrow: '.next',
            prevArrow: '.previous',
            adaptiveHeight: true,
            infinite: true,
            speed: 300,
            fade: true,
            cssEase: 'ease',
        });

        $(document).ready(function () {
            $('.data-table').dataTable({
                "language": {
                    "url": "http://cdn.datatables.net/plug-ins/1.10.19/i18n/Spanish.json"
                }
            });
        });

    </script>


}