﻿
@{
    Layout = null;

}

<!doctype html>
<html class="no-js" lang="">
<head prefix="og: http://ogp.me/ns#">
    <script>(function (w, d, s, l, i) { w[l] = w[l] || []; w[l].push({ 'gtm.start': new Date().getTime(), event: 'gtm.js' }); var f = d.getElementsByTagName(s)[0], j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src = 'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f); })(window, document, 'script', 'dataLayer', 'GTM-W7WJ8TR');</script>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Asociación Argentina de Polo</title>
    <meta name="description" content="Sitio web oficial de la AAP.">
    <meta name="viewport" content="initial-scale=1, width=device-width, height=device-height, viewport-fit=cover">
    <meta property="og:title" content="Asociación Argentina de Polo">
    <meta property="og:url" content="http://grupoamedia.com.ar/aapolo/maquetacion/index.html">
    <meta property="og:description" content="Sitio web oficial de la AAP.">
    <meta property="og:image" content="http://grupoamedia.com.ar/aapolo/maquetacion/img/share-img.jpg">
    <meta property="og:type" content="article">
    <meta name="theme-color" content="#2065a5">

    <link rel="apple-touch-icon" href="icon.png">
    <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700,900" rel="stylesheet">

    @Styles.Render("~/Content/stylesLayout")

    <style>
        .wow {
            visibility: hidden;
        }
    </style>
</head>
<body class="body-home">

    <div class="overlay-nav"></div>
    <header class="header-home main-nav-displayed">

        @*<nav class="main-nav" style="animation: bgcolorchange 10s infinite; -webkit-animation: bgcolorchange 10s infinite;">*@
        <nav class="main-nav">
            @*<div class="bg-top"></div>*@
            <ul>
                
                @Html.Partial("_Menus")


            </ul>

            <div class="user-top language-top show-mobile">
                <a href="javascript:void(0);" class="dropdown">Idioma: Español</a>
                <ul>
                    <li class="current"><a href="#.html">Español</a></li>
                    <li><a href="#.html">English</a></li>
                    <li><a href="#.html">Português</a></li>
                </ul>
            </div>
        </nav>

        <div class="header-right">


        </div>

        <div class="burger open-nav">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </header>

    <section class="abierto-palermo-home">
        <a href="https://www.allaccess.com.ar/event/abierto-argentino-de-polo-abonos" class="btn btn-outline btn-lg m-t-0 m-b-10" target="_blank"><span class="m-l-20 m-r-20">Comprar entradas</span></a>
        <div class="parallax-wrapper">
            <div id="scene" class="scene container-fluid" style="width: 100%;">
                <div class="layer text-1" data-depth="0.2">
                    <img src="@Url.Content("~/Content/img/abierto-palermo-2019/text-1.png")" alt="">
                </div>
                <div class="layer players" data-depth="0.3">
                    <img src="@Url.Content("~/Content/img/abierto-palermo-2019/players.png")" alt="">
                </div>
                <div class="layer text-2" data-depth="0.6">
                    <div>
                        <img src="@Url.Content("~/Content/img/abierto-palermo-2019/logo-abierto-home.png")" alt="Abierto de Palermo" class="m-b-40">
                        <img src="@Url.Content("~/Content/img/abierto-palermo-2019/text-2.png")" class="m-b-20" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="bg-top"></div>
        @*<div class="bg-back"></div>*@
        <div class="bg-plain-color"></div>

    </section>

    <section class="links-interes m-b-0">

        <div class="container-fluid">
            <div class="col-md-12">
                <ul class="sponsors-list">
                    <li><img src="@Url.Content("~/Content/img/sponsors/espn.png")" alt="ESPN"></li>
                    <li><img src="@Url.Content("~/Content/img/sponsors/rus.png")" alt="RUS"></li>
                    <li><img src="@Url.Content("~/Content/img/sponsors/omint.png")" alt="Omint"></li>
                    <li><img src="@Url.Content("~/Content/img/sponsors/johnniewalker.png")" alt="Johnnie Walker"></li>
                    <li><img src="@Url.Content("~/Content/img/sponsors/navarrocorreas.png")" alt="Navarro Correas"></li>
                    <li><img src="@Url.Content("~/Content/img/sponsors/wearesports.png")" alt="We Are Sports"></li>
                    <li><img src="@Url.Content("~/Content/img/sponsors/la-merced-temp.png")" alt="La merced" /></li>
                    <li><img src="@Url.Content("~/Content/img/sponsors/imperial_cerveza.png")" alt="Imperial" /></li>
                    <li><img src="@Url.Content("~/Content/img/sponsors/case.png")" alt="Case" /></li>
                </ul>
            </div>
        </div>
    </section>

    <div class="floating-access-container">
        @*<a href="@Url.Action("Faq","Home")" class="btn btn-red btn-small single-icon single-icon-lg has-tooltip" data-placement="left" title="FAQ"><i class="icon-question"></i></a>
            <a href="https://www.allaccess.com.ar/event/abierto-argentino-de-polo-abonos" class="btn btn-red btn-small single-icon single-icon-lg has-tooltip" data-placement="left" title="Tickets" target="_blank"><i class="icon-ticket"></i></a>
            <a href="https://ego.easygoband.com/#/app/cf9503e7-a261-49b0-bff8-340f42979bb1/signup" class="btn btn-red btn-small single-icon single-icon-lg has-tooltip" data-placement="left" title="Cashless"><i class="icon-card"></i></a>*@

        <a href="@Url.Action("Faq","Home")" class="btn btn-red btn-small single-icon single-icon-lg">
            <i class="icon-question"></i>
            <div class="tooltip fade left in" style="display: block;"><div class="tooltip-arrow"></div><div class="tooltip-inner">FAQ</div></div>
        </a>
        <a href="https://www.allaccess.com.ar/event/abierto-argentino-de-polo-abonos" class="btn btn-red btn-small single-icon single-icon-lg" target="_blank">
            <i class="icon-ticket"></i>
            <div class="tooltip fade left in" style="display: block;"><div class="tooltip-arrow"></div><div class="tooltip-inner">Tickets</div></div>
        </a>
        <a href="https://ego.easygoband.com/#/app/cf9503e7-a261-49b0-bff8-340f42979bb1/signup" class="btn btn-red btn-small single-icon single-icon-lg">
            <i class="icon-card"></i>
            <div class="tooltip fade left in" style="display: block;"><div class="tooltip-arrow"></div><div class="tooltip-inner">Cashless</div></div>
        </a>

    </div>

    <script src="@Url.Content("~/Scripts/modernizr-3.5.0.min.js")"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="js/vendor/jquery-3.2.1.min.js")"><\/script>')</script>
    <script src="@Url.Content("~/Scripts/plugins.js")"></script>
    <script src="@Url.Content("~/Scripts/select2.full.min.js")"></script>
    <script src="@Url.Content("~/Scripts/vivus.min.js")"></script>
    <script src="@Url.Content("~/Scripts/wow.min.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery.easing.1.3.js")"></script>
    <script src="@Url.Content("~/Scripts/tooltip.js")"></script>
    <script src="@Url.Content("~/Scripts/slick.min.js")"></script>
    <script src="@Url.Content("~/Scripts/picker.js")"></script>
    <script src="@Url.Content("~/Scripts/picker.date.js")"></script>

    <script src="@Url.Content("~/Scripts/parallax.min.js")"></script>
    <script src="@Url.Content("~/Scripts/main.js")"></script>

    <script>
        $(document).ready(function () {

            $('#liHome').addClass("current");

            setTimeout(function () {
                var linksHeight = $('.links-interes').outerHeight()
                var viewportHeight = $(window).height() - linksHeight;

                $('.abierto-palermo-home').height(viewportHeight);
            }, 300);

        });

        $('.sponsors-list').slick({
            slidesToShow: 6,
            slidesToScroll: 1,
            autoplay: true,
            infinite: true,
            autoplaySpeed: 2000,
            arrows: false,
            dots: false,
            responsive: [
                {
                    breakpoint: 1400,
                    settings: {
                        autoplaySpeed: 2000,
                        slidesToShow: 5,
                        slidesToScroll: 2
                    }
                },
                {
                    breakpoint: 1200,
                    settings: {
                        autoplaySpeed: 2000,
                        slidesToShow: 4,
                        slidesToScroll: 3
                    }
                },
                {
                    breakpoint: 800,
                    settings: {
                        autoplaySpeed: 2000,
                        slidesToShow: 3,
                        slidesToScroll: 3
                    }
                },
                {
                    breakpoint: 640,
                    settings: {
                        autoplaySpeed: 2000,
                        slidesToShow: 2,
                        slidesToScroll: 2
                    }
                },
                {
                    breakpoint: 480,
                    settings: {
                        autoplaySpeed: 750,
                        slidesToShow: 3,
                        slidesToScroll: 1
                    }
                }
            ]
        });

        $('.sponsors-list').slick('setPosition');

        var scene = $('#scene').get(0)
        if ($(window).width() > 800) {
            var parallaxInstance = new Parallax(scene);
        }

        if ($(window).width() < 1024) {
            $('.header-home').removeClass('main-nav-displayed');
        }			

    </script>

</body>
</html>

