﻿
@{
    ViewBag.Title = "InfoEvento";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<section>
    <div class="panel-header-torneo p-b-60" style="background-image: url('@Url.Content("~/Content/Img/abierto-palermo-2019/evento-bg.jpg")');">
        <div class="bg-back"></div>
        <div class="container-fluid">
            <div class="col-md-12">
                <h1>126º Abierto Argentino de Polo HSBC</h1>
            </div>
        </div>
    </div>
    <div class="container-fluid" style="margin-top: -20px; max-width: 960px;">
        <div class="col-md-6">
            <div class="data-card-torneo">
                <i class="icon-calendar"></i>
                <h5>Fecha</h5>
                <h3>16 de noviembre al 14 de diciembre 2019</h3>
            </div>
        </div>
        <div class="col-md-6">
            <div class="data-card-torneo">
                <i class="icon-location"></i>
                <h5>Ubicación</h5>
                <h3>Campo Argentino de Polo<br>Av. del Libertador 4168</h3>
            </div>
        </div>

        <div class="col-md-12">
            <div class="abierto-texto p-b-60">
                <p>El Abierto de Polo de Palermo es la cita máxima de este deporte a nivel mundial y el mejor momento del año para disfrutar de un lugar y evento único.</p>
                <p>Momento ideal para compartir con amigos y familia en cada jornada, con una oferta que va mucho más allá de lo deportivo.</p>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="col-md-12">
            <div class="banner-home">
                <img src="@Url.Content("~/Content/Img/abierto-palermo-2019/evento-banner.jpg")" alt="" class="img-responsive">
            </div>
        </div>
    </div>
</section>

<section class="p-b-50">
    <div class="container-fluid">
        <div class="col-md-12">
            <h2 class="page-title bluelight-tx m-t-0 m-b-80 text-center">¿Cómo llegar al evento?</h2>
        </div>
        <div class="col-md-4">
            <div class="data-card-torneo">
                <div class="img-rounded bluelight-bg">
                    <img src="@Url.Content("~/Content/Img/abierto-palermo-2019/1-bus.svg")" alt="Colectivo">
                </div>
                <h5 class="bluelight-tx">Colectivo</h5>
                <h3>10 – 130 – 152 – 60 – 118 – 95</h3>
            </div>
        </div>
        <div class="col-md-4">
            <div class="data-card-torneo">
                <div class="img-rounded bluelight-bg">
                    <img src="@Url.Content("~/Content/Img/abierto-palermo-2019/2-subway.svg")" alt="Subte">
                </div>
                <h5 class="bluelight-tx">Subte</h5>
                <h3>Línea D, estación Palermo</h3>
            </div>
        </div>
        <div class="col-md-4">
            <div class="data-card-torneo">
                <div class="img-rounded bluelight-bg">
                    <img src="@Url.Content("~/Content/Img/abierto-palermo-2019/3-train.svg")" alt="Tren">
                </div>
                <h5 class="bluelight-tx">Tren</h5>
                <h3>Estación 3 de Febrero del tren a Mitre – Retiro</h3>
            </div>
        </div>
    </div>
</section>


<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d6570.821241125278!2d-58.43126292848139!3d-34.56847523136337!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x5096198d43db1f75!2sArgentine+Polo+Association!5e0!3m2!1sen!2sar!4v1541781057660" width="100%" height="600" frameborder="0" style="border:0;" allowfullscreen></iframe>



@section scripts{

    <script>

        $(document).ready(function () {
            $('#liInfoEvento').addClass("current");

        });

    </script>


}