body {
    padding-top: 80px;
}

h3 span {
    font-weight: 700;
}

.btn-login {
    width: auto;
    box-shadow: #fff 0 0 0 2px;
}

    .btn-login:hover {
        background: #fff;
        color: #00adc1;
    }

.banner-noticia:hover {
    box-shadow: #ff1300 0 0 0 5px, rgba(0,0,0,.2) 0 20px 15px -10px;
}

.banner-home:hover img {
    opacity: 1;
}

a {
    color: #ec008c;
}

    a:focus, a:hover {
        color: #c10273;
    }

.page-title {
    font-size: 26px;
}

.iframe-torneos-holder {
    overflow: hidden;
    margin-bottom: 40px;
}

/*.iframe-torneos-holder iframe {
	filter: grayscale(1);
    opacity: .5;
}

.iframe-torneos-holder iframe:hover {
	filter: grayscale(0);
    opacity: 1;
}*/

.btn.focus, .btn:focus:not(.previous):not(.next), .form-default select:focus, .form-default input:not(.select2-search__field):focus, .form-default textarea:focus, .note-editor .note-editing-area .note-editable:focus, .select2-search--dropdown .select2-search__field:focus, .select2-container--focus {
    box-shadow: 0 0 0 3px rgba(106, 113, 121, .25) !important;
}

/*---- Data card torneo ----*/

.data-card-torneo {
    background: #fff;
    padding: 20px;
    box-shadow: rgba(0,0,0,.05) 0 20px 10px -10px;
    /*border-bottom: #f5f5f5 6px solid;*/
    border-radius: 4px;
    margin-bottom: 20px;
}

    .data-card-torneo i, .data-card-torneo .img-rounded {
        width: 80px;
        height: 80px;
        background: #ec008c;
        color: #fff;
        border-radius: 50%;
        text-align: center;
        display: block;
        margin: -60px auto 0;
        font-size: 28px;
        line-height: 80px;
    }

.img-rounded img {
    width: 36px;
    margin-top: -6px;
}

.data-card-torneo h3 {
    min-height: 2.4em;
    line-height: 1.2em;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
}

.data-card-torneo h5 {
    color: #ec008c;
    font-size: 15px;
    margin: 10px 0;
    font-weight: 900;
    text-align: center;
    text-transform: uppercase;
}

.bluelight-bg {
    background: #00adc1 !important;
}

.bluelight-tx {
    color: #00adc1 !important;
}

.red-bg {
    background: #ec008c !important;
}

.red-tx {
    color: #ec008c !important;
}

.torneo-header {
    margin-top: -100px;
    background: #000 url('../img/abierto-header.jpg') center bottom no-repeat;
}

    .torneo-header h1 {
        text-align: center;
        margin: 0;
        padding: 500px 0 40px;
        color: #fff;
        font-size: 52px;
    }

.abierto-texto {
    padding: 60px 0 30px;
    text-align: center;
}

    .abierto-texto p {
        font-weight: 300;
        text-align: center;
        font-size: 25px;
        margin: 20px auto;
    }

        .abierto-texto p:first-child:after {
            content: '';
            width: 100px;
            height: 2px;
            background: #ec008c;
            margin: 40px auto;
            display: block;
        }

/*--- Noticia --*/

.noticia-categoria {
    background: #ec008c;
}

a.noticia-categoria:hover {
    color: #ec008c;
    box-shadow: inset 0 0 0 1px #ec008c;
}

.has-video .noticia-img:after {
    background: rgba(0, 173, 201, .6);
}

.noticia-footer > a {
    color: #00adc1;
    border: 1px solid #00adc1;
}

    .noticia-footer > a:hover {
        background: #00adc1;
        color: #fff;
    }

.noticia h3 a {
    color: #2e4259
}

/*--- main nav displayed ----*/

.main-nav-displayed .burger {
    display: none;
}

.main-nav-displayed .main-nav {
    float: left;
    margin: 0px 0 10px;
    position: static;
    height: auto;
    width: auto;
    background: transparent;
    overflow: unset;
}

    .main-nav-displayed .main-nav li {
        float: left;
        margin: 0 2px;
    }

        .main-nav-displayed .main-nav li a {
            color: #ffebcf;
            font-size: 13px;
            text-transform: uppercase;
            letter-spacing: 1.5px;
            margin: 0 10px;
            font-weight: 900;
            display: block;
            position: relative;
            padding: 0;
            border-radius: unset;
        }

            .main-nav-displayed .main-nav li a:after {
                content: '';
                position: absolute;
                bottom: -5px;
                left: 0;
                width: 100%;
                height: 2px;
                background: #ffebcf;
                opacity: 0;
                display: block;
            }

            .main-nav-displayed .main-nav li a:hover, .main-nav-displayed .main-nav li.current > a {
                background: transparent;
            }

                .main-nav-displayed .main-nav li a:hover:after, .main-nav-displayed .main-nav li.current a:after {
                    bottom: -1px;
                    opacity: .8;
                }

.main-nav-displayed .abierto-palermo-home:before {
    content: none;
}

/*--- Header ----*/

header {
    height: 80px;
    background: #00adc1;
}

    header .logo img {
        height: 55px;
        margin-top: -2px;
    }

    header:not(.bg-top) * {
        z-index: 5;
    }

    header .bg-top {
        z-index: 1;
        opacity: .4
    }

.header-home .logo img {
    height: 70px;
}

.header-home {
    height: 100px;
    /*    border-bottom: 1px solid rgba(255, 255, 255, .25);*/
}

    .header-home .burger {
        margin-top: -12px;
    }

        .header-home .burger span {
            animation: bgcolorchange 10s infinite;
            -webkit-animation: bgcolorchange 10s infinite;
        }

        .header-home .burger:before {
            animation: colorchange 10s infinite;
            -webkit-animation: colorchange 10s infinite;
        }

    .header-home.header-scroll, .header-home.header-fakescroll, .header-home.header-fakescroll2 {
        height: 80px;
        border-bottom: none;
        background: #222;
    }

        .header-home.header-scroll .logo img, .header-home.header-fakescroll .logo img, .header-home.header-fakescroll2 .logo img {
            height: 55px;
        }

.section-bg .container-fluid {
    z-index: 16;
}

/*--- Tooltips ----*/

.tooltip-inner {
    background-color: #6a7179;
}

.tooltip.top .tooltip-arrow {
    border-top-color: #6a7179;
}

.tooltip.top-left .tooltip-arrow {
    border-top-color: #6a7179;
}

.tooltip.top-right .tooltip-arrow {
    border-top-color: #6a7179;
}

.tooltip.right .tooltip-arrow {
    border-right-color: #6a7179;
}

.tooltip.left .tooltip-arrow {
    border-left-color: #6a7179;
}

.tooltip.bottom .tooltip-arrow {
    border-bottom-color: #6a7179;
}

.tooltip.bottom-left .tooltip-arrow {
    border-bottom-color: #6a7179;
}

.tooltip.bottom-right .tooltip-arrow {
    border-bottom-color: #6a7179;
}

/*--- Colores ----*/

.main-nav, .admin-nav {
    background: #00adc1;
}

.btn-lightblue, .note-link-btn {
    background: #00adc1;
}

.btn-white {
    color: #00adc1 !important;
}

.btn-outline:hover {
    color: #00adc1 !important;
}

.tabs-buttons li.current a {
    background: #ec008c;
}

.btn-lightblue:hover, .note-link-btn:hover {
    box-shadow: inset 0 0 0 2px #00adc1;
    color: #00adc1;
}

a.noticia-img:before {
    background: #333;
}


/*--- links interes ---*/

section.links-interes {
    padding: 20px 0;
}

.sponsors-list {
    margin-bottom: 0;
}

/*--- floating access ---*/

.floating-access-container {
    position: fixed;
    bottom: 25px;
    right: 25px;
    z-index: 50;
    display: flex;
    flex-direction: column;
}

    .floating-access-container .btn {
        margin: 0 0 10px;
        box-shadow: 0 12px 24px 0 rgba(0, 0, 0, 0.16);
    }

        .floating-access-container .btn:last-child {
            margin: 0;
        }

        .floating-access-container .btn:hover {
            background: #d0037c;
        }

            .floating-access-container .btn:hover i:before {
                color: #fff !important;
            }

    .floating-access-container a .tooltip {
        position: absolute;
        right: 100%;
        top: 50%;
        transform: translateY(-50%);
        margin-right: 2px;
    }

/*--- tabs ---*/

.tabs-default a {
    font-size: 16px;
    padding: 20px;
}


/*--- parallax home ---*/

.abierto-palermo-home:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 590px;
    height: 84px;
    background: #ffebcf;
    /*background: -webkit-linear-gradient(rgba(15, 14, 14, .65), rgba(0, 0, 0, 0));
	background: -o-linear-gradient(rgba(15, 14, 14, .65), rgba(0, 0, 0, 0));
	background: linear-gradient(rgba(15, 14, 14, .65), rgba(0, 0, 0, 0));*/
    z-index: 10;
}

.abierto-palermo-home .btn {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    border: 2px solid #fff !important;
    z-index: 11;
}

.scene {
    z-index: 4;
    margin-top: -60px;
    width: 100%;
}

.bg-top {
    background-image: url(/content/img/abierto-palermo-2019/bg-top.png);
    background-size: cover;
    background-position: center bottom;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    pointer-events: none;
    opacity: .85;
}

.bg-back {
    background-image: url(/content/img/abierto-palermo-2019/bg-back.png);
    background-repeat: repeat;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
}

.bg-plain-color {
    background: #ec008c;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 20px solid #ffebcf;
    z-index: 1;
    animation: bgcolorchange 10s infinite;
    -webkit-animation: bgcolorchange 10s infinite;
}

@keyframes bgcolorchange {
    0% {
        background: #626591;
    }

    50% {
        background: #00adc1;
    }

    100% {
        background: #626591;
    }
}

@-webkit-keyframes bgcolorchange {
    0% {
        background: #626591;
    }

    50% {
        background: #00adc1;
    }

    100% {
        background: #626591;
    }
}

@keyframes colorchange {
    0% {
        color: #626591;
    }

    50% {
        color: #00adc1;
    }

    100% {
        color: #626591;
    }
}

@-webkit-keyframes colorchange {
    0% {
        color: #626591;
    }

    50% {
        color: #00adc1;
    }

    100% {
        color: #626591;
    }
}

.text-1 img {
    position: absolute;
    left: 15%;
    top: 50%;
    transform: translateY(-50%);
}

.text-2 div {
    position: absolute;
    right: 15%;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.players img {
    position: absolute;
    left: 40%;
    top: 50%;
    transform: translateY(-50%);
}

.parallax-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    /*	align-items: center;
	justify-content: center;*/
}

.layer {
    position: relative;
    width: 100%;
    height: 100%;
    pointer-events: auto;
}

/*---- footer ----*/

footer {
    background: #41435f;
}

    footer img.img-wesupport {
        margin-right: 80px;
    }

.social-links a:hover {
    background: rgba(255, 255, 255, .85);
}

/*---- calendar ----*/

.calendar2-item {
    /*    -ms-flex: 0 0 33.33%;
    flex: 0 0 33.33%;
    max-width: 33.33%;*/
    min-height: 280px;
}

.has-bg-img .calendar2-body:before {
    background: -webkit-linear-gradient(-45deg, rgba(33, 33, 33, 0.45) 30%, rgb(33, 33, 33, 0.75));
    background: -o-linear-gradient(-35deg, rgba(33, 33, 33, 0.45) 30%, rgb(33, 33, 33, 0.75));
    background: linear-gradient(to left top, rgba(33, 33, 33, 0.45) 30%, rgb(33, 33, 33, 0.75));
}

.has-bg-img .calendar2-body:hover:before {
    background: -webkit-linear-gradient(-45deg, rgba(65, 67, 95, .75) 30%, rgb(65, 67, 95) 90%);
    background: -o-linear-gradient(-45deg, rgba(65, 67, 95, .75) 30%, rgb(65, 67, 95) 90%);
    background: linear-gradient(to left top, rgba(65, 67, 95, .75) 30%, rgb(65, 67, 95) 90%);
}

.has-bg-img .calendar2-date h5:before {
    background: rgb(236, 0, 140, .75);
    right: 120%;
    width: 2px;
}

.has-bg-img .calendar2-date h5 {
    opacity: 1;
    font-weight: 700;
    color: #ec008c;
}

h3.calendar-item-title {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
}

/*--- Header ----*/

.panel-header-torneo {
    text-align: center;
    padding: 150px 0 80px;
    color: #fff;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 0;
}

    .panel-header-torneo:before, .section-bg:before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: -webkit-linear-gradient(to top, rgba(30, 30, 30, 0.4) 60%, rgba(30, 30, 30, 0.8));
        background: -o-linear-gradient(to top, rgba(30, 30, 30, 0.4) 60%, rgba(30, 30, 30, 0.8));
        background: linear-gradient(to bottom, rgba(30, 30, 30, 0.4) 60%, rgba(30, 30, 30, 0.8));
    }

    .panel-header-torneo h1 {
        text-transform: none;
        font-size: 42px;
    }

.panel-profile .panel-header, .panel-header-jugador {
    background: #626591;
}

/*---- faq ----*/

.accordeon-default {
    color: #00adc1;
}

    .accordeon-default.current, .accordeon-default:hover, .accordeon-default:focus, .accordeon-default:active {
        color: #ec008c;
        border-bottom: 1px solid #ec008c;
    }

    .accordeon-default strong {
        font-weight: 900;
    }

.tabs-default li.current a {
    color: #ec008c;
    box-shadow: #ec008c 0 -3px 0;
}

.tabs-default li:not(.current) a:hover {
    color: #ec008c;
}

.noticia-play-video i {
    background: #00adc1;
}

.noticia-play-video:hover {
    background: rgba(0, 0, 0, 0.2);
}

.noticia-tags li a {
    color: #00adc1;
    border: 1px solid #00adc1;
}

    .noticia-tags li a:hover {
        background: #00adc1;
        color: #fff;
    }

/*---- iframe ----*/

.has-iframe {
    overflow-y: scroll;
}

    .has-iframe::-webkit-scrollbar {
        width: 5px;
    }

    .has-iframe::-webkit-scrollbar-track {
        background: transparent;
    }

    .has-iframe::-webkit-scrollbar-thumb {
        background: #4bc4d2;
        border-radius: 10px;
        opacity: .5;
    }

    .has-iframe:hover::-webkit-scrollbar-thumb {
        background: #00adc1;
    }

    .has-iframe:hover::-webkit-scrollbar-track {
        background: rgba(0,0,0,.1);
    }

@media(max-width: 1024px) {

    .img-wesupport {
        margin-right: 0 !important;
    }

    .text-1 img {
        left: 10%;
        height: 55%;
    }

    .players img {
        width: auto;
        height: 65%;
    }

    .text-2 div {
        right: 10%;
    }

    .header-home .burger {
        margin-top: 0;
    }

    .abierto-palermo-home:before {
        width: 110px;
        height: 56px;
        content: '';
    }

    .bg-plain-color {
        border: 15px solid #ffebcf;
    }

    body {
        min-height: 100%;
        overflow-x: hidden;
        padding-top: 50px;
        padding-top: calc(constant(safe-area-inset-top) + 50px);
        padding-top: calc(env(safe-area-inset-top) + 50px);
    }

    header .logo img {
        height: 30px;
        margin: 0;
    }

    .header-home.header-scroll, .header-home.header-fakescroll, .header-home.header-fakescroll2, header, .header-home, .header-scroll {
        height: auto;
        padding: 12.5px 20px;
    }

        .header-home.header-scroll .logo img, .header-home.header-fakescroll .logo img, .header-home.header-fakescroll2 .logo img {
            height: 30px;
        }

    .main-nav-displayed .burger {
        position: relative;
        display: block;
        cursor: pointer;
        order: 1;
        flex: 1;
    }

        .main-nav-displayed .burger:before {
            content: 'MENU';
            text-transform: uppercase;
            font-size: 12px;
            font-weight: 600;
            color: #fff;
            position: absolute;
            bottom: 50%;
            left: 35px;
            transform: translateY(50%);
        }

    .main-nav-displayed .contenido-asociacion h2 .burger {
        display: none;
    }

    .main-nav-displayed .burger span {
        margin: 5px 0;
        background: #fff;
        height: 3px;
        width: 20px;
        display: block;
        border-radius: 5px;
    }

    .main-nav-displayed .burger.close-nav {
        margin-right: -10px;
    }

        .main-nav-displayed .burger.close-nav span:nth-child(2) {
            width: 0;
        }

        .main-nav-displayed .burger.close-nav span:first-child {
            -webkit-transform: rotate(45deg) translateY(11px);
            -ms-transform: rotate(45deg) translateY(11px);
            -o-transform: rotate(45deg) translateY(11px);
            transform: rotate(45deg) translateY(11px);
        }

        .main-nav-displayed .burger.close-nav span:last-child {
            -webkit-transform: rotate(-45deg) translateY(-11px);
            -ms-transform: rotate(-45deg) translateY(-11px);
            -o-transform: rotate(-45deg) translateY(-11px);
            transform: rotate(-45deg) translateY(-11px);
        }

    .main-nav-displayed .main-nav, .admin-nav {
        position: fixed;
        right: 0;
        top: 0;
        height: 100vh;
        background: #2065a5;
        margin: 0;
        width: 250px;
        left: -250px;
        z-index: 13;
        overflow: auto;
        padding: 0;
        padding-top: constant(safe-area-inset-top);
        padding-top: env(safe-area-inset-top);
    }

    .main-nav-displayed .admin-nav a {
        font-size: 16px;
    }

    .main-nav-displayed .overlay-nav {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,.6);
        z-index: 13;
        display: none;
        -webkit-transition: transform .4s ease-in-out;
        -o-transition: transform .4s ease-in-out;
        transition: transform .4s ease-in-out;
    }

    body.main-nav-open header > *, body.main-nav-open > * {
        -webkit-transform: translateX(250px);
        -ms-transform: translateX(250px);
        -o-transform: translateX(250px);
        transform: translateX(250px);
    }

    body.main-nav-open header, body.main-nav-open .notificaciones {
        -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
        transform: translateX(0);
    }

    body.main-nav-open .notificaciones {
        display: none;
    }

    .main-nav-displayed .main-nav:before {
        position: absolute;
        top: 0;
        left: 0;
        width: 35px;
        height: 100%;
        content: '';
    }

    .main-nav-displayed .main-nav ul {
        margin: 15px 0;
    }

    .main-nav-displayed .main-nav li {
        float: none;
        display: block;
        margin: 10px 20px 10px 0;
        position: relative;
    }

        .main-nav-displayed .main-nav li a {
            margin: 0;
            display: block;
            border-radius: 0 30px 30px 0;
            box-sizing: border-box;
            padding: 8px 15px 8px 15px;
            transition: 400ms cubic-bezier(.08,.52,.52,1) background-color, 400ms cubic-bezier(.08,.52,.52,1) border-color, 400ms cubic-bezier(.08,.52,.52,1) opacity;
        }

            .main-nav-displayed .main-nav li a:hover {
                background: rgba(255, 255, 255, .15);
            }

        .main-nav-displayed .main-nav li.current > a {
            background: rgba(255, 255, 255, .25);
        }


        .main-nav-displayed .main-nav li a:after {
            content: none;
        }

        .main-nav-displayed .main-nav li a:hover:not(.show-mobile a), .main-nav li.current a {
            background: rgba(255,255,255,.2);
            color: #fff;
        }

    .main-nav-displayed .main-nav .user-top ul, .admin-nav .user-top ul {
        background: rgba(0,0,50,.4);
        box-shadow: none;
        position: relative;
        box-shadow: rgba(255,255,255,.1) 0 1px 0;
    }

        .main-nav-displayed .main-nav .user-top ul:before, .admin-nav .user-top ul:before {
            content: '';
            position: absolute;
            width: 100%;
            height: 50px;
            background: -webkit-linear-gradient(rgba(0,0,0,.3), rgba(0,0,0,0));
            background: -o-linear-gradient(rgba(0,0,0,.3), rgba(0,0,0,0));
            background: linear-gradient(rgba(0,0,0,.3), rgba(0,0,0,0));
        }

    .main-nav-displayed .language-top.user-top-abierto {
        background: rgba(255,255,255,.2)
    }

    .main-nav-displayed .language-top ul li a {
        height: 40px;
        padding: 13px 20px;
    }

    .main-nav-displayed .language-top ul li.current a {
        background: rgba(0,0,0,.2);
    }

    .main-nav-displayed .main-nav .user-top ul a {
        color: #fff;
        position: relative;
    }
}

@media(max-height:768px) {

    .text-1 img {
        height: 50%;
        top: 60%;
        left: 20%;
    }

    .players img {
        height: 80%;
        top: 55%;
    }

    .text-2 div {
        top: 60%;
    }

        .text-2 div img {
            width: 75%;
        }

    .scene.container-fluid {
        max-width: 1024px;
    }

    .parallax-wrapper {
        margin-top: -20px;
    }
}

@media(max-width: 800px) {

    .main-nav-displayed .burger:before {
        content: none;
    }

    section.links-interes {
        padding: 15px 0 15px;
    }

    .scene.container-fluid {
        max-width: 430px;
    }

    .text-1 img {
        width: auto;
        left: 30px;
        height: 35%;
        top: 20%;
        transform: none;
    }

    .players img {
        width: auto;
        left: 35px;
        height: 45%;
        bottom: 10%;
        top: auto;
        transform: none;
    }

    .text-2 div {
        right: -25px;
        top: 55%;
        /*	    transform: none;*/
    }

        .text-2 div img {
            height: auto;
            width: 50%;
        }

            .text-2 div img:first-child {
                margin-bottom: 20px !important;
            }

    .floating-access-container {
        right: 20px;
    }

        .floating-access-container .btn {
            height: 40px !important;
            width: 40px !important;
            font-size: 14px !important;
        }

    .abierto-palermo-home .btn {
        bottom: 30px;
    }

    .abierto-palermo-home:before {
        width: 50px;
        height: 50px;
    }

    .panel-header-torneo {
        padding: 60px 0 80px;
    }

        .panel-header-torneo h1 {
            font-size: 32px;
        }

    .data-card-torneo i, .noticia-play-video i {
        width: 64px;
        height: 64px;
        font-size: 18px;
        line-height: 65px;
    }

    .tabs-default a {
        justify-content: center !important;
        text-align: center !important;
        padding: 15px 10px !important;
    }

        .tabs-default a i {
            display: none;
        }

    .layer.text-1, .layer.players, .layer.text-1 {
        position: absolute;
        z-index: 1
    }

    .bg-top {
        background-image: url(../img/abierto-palermo-2019/bg-top-low.png);
    }

    .bg-back {
        background-image: url(../img/abierto-palermo-2019/bg-back-low.png);
    }

    .table-default td:first-child {
        background: #00adc1;
    }
}

@media(max-width: 640px) {

    .scene.container-fluid {
        width: calc(100% - 30px) !important;
    }

    .abierto-texto {
        padding: 50px 0 30px;
    }

        .abierto-texto p:first-child:after {
            width: 60px;
        }

        .abierto-texto p {
            font-size: 18px;
        }

    .data-card-torneo {
        margin-bottom: 60px;
    }
}

@media(max-width: 400px) {
    .scene.container-fluid {
        max-width: 330px;
    }
}
