/* ==========================================================================
	 $BASE-PICKER
	 ========================================================================== */
/**
 * Note: the root picker element should *NOT* be styled more than what’s here.
 */
 .picker {
	font-size: 16px;
	text-align: left;
	line-height: 1.2;
	color: #000;
	position: absolute;
	z-index: 10000;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	font-family: 'Raleway', sans-serif;
}
/**
 * The picker input element.
 */
 .picker__input {
	cursor: default;
}
/**
 * When the picker is opened, the input element is “activated”.
 */
 .picker__input.picker__input--active {
}
/**
 * The holder is the only “scrollable” top-level container element.
 */
 .picker__holder {
	width: 100%;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
}

/*!
 * Default mobile-first, responsive styling for pickadate.js
 * Demo: http://amsul.github.io/pickadate.js
 */
/**
 * Note: the root picker element should *NOT* be styled more than what’s here.
 */
/**
 * Make the holder and frame fullscreen.
 */
 .picker__holder,
 .picker__frame {
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	-webkit-transform: translateY(100%);
	-ms-transform: translateY(100%);
	transform: translateY(100%);
}
/**
 * The holder should overlay the entire screen.
 */
 .picker__holder {
	position: fixed;
	transition: background 0.15s ease-out, -webkit-transform 0s 0.15s;
	transition: background 0.15s ease-out, transform 0s 0.15s;
	-webkit-backface-visibility: hidden;
}
/**
 * The frame that bounds the box contents of the picker.
 */
 .picker__frame {
	position: absolute;
	margin: 0 auto;
	min-width: 256px;
	max-width: 666px;
	width: 100%;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	-moz-opacity: 0;
	opacity: 0;
	transition: all 0.15s ease-out;
}
/**
 * The wrapper sets the stage to vertically align the box contents.
 */
 .picker__wrap {
	display: table;
	width: 100%;
	height: 100%;
}

/**
 * The box contains all the picker contents.
 */
.picker__box {
	display: table-cell;
	vertical-align: middle;
	font-size: 1.33em;
	border-radius: 3px;
	overflow: hidden;
	box-shadow: 0 2px 0 rgba(0, 0, 0, 0.05);
}

/**
 * When the picker opens...
 */
 .picker--opened .picker__holder {
	-webkit-transform: translateY(0);
	-ms-transform: translateY(0);
	transform: translateY(0);
	background: transparent;
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#1E000000,endColorstr=#1E000000)";
	zoom: 1;
	background: rgba(0, 0, 0, 0.32);
	transition: background 0.15s ease-out;
}
.picker--opened .picker__frame {
	-webkit-transform: translateY(0);
	-ms-transform: translateY(0);
	transform: translateY(0);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	-moz-opacity: 1;
	opacity: 1;
	top: 50%;
	bottom: auto;
	transform: translateY(-50%);
}

/* ==========================================================================
	 $BASE-DATE-PICKER
	 ========================================================================== */
/**
 * The picker box.
 */
/**
 * The header containing the month and year stuff.
 */
.picker__header {
	text-align: center;
	position: relative;
	background: #2065a5;
	color: #fff;
	text-transform: uppercase;
	font-size: 20px;
	padding: 20px;
	border-radius: 3px 3px 0 0;
}
/**
 * The month and year labels.
 */
.picker__month,
.picker__year {
	font-weight: 700;
	display: inline-block;
	margin-left: .25em;
	margin-right: .25em;
}
.picker__year {
	font-weight: 300;
	font-style: italic;
}
/**
 * The month and year selectors.
 */
.picker__select--month,
.picker__select--year {
	height: 2em;
	padding: .5em;
	margin-left: .25em;
	margin-right: .25em;
	width: 22.5%;
	background: transparent;
	padding: 0;
	border: none;
	border-bottom: 1px solid #fff;
	outline: none;
}

.picker__select--month option,
.picker__select--year option {
	font-size: 16px;
	color: #1A2D8C;
}

.picker__select--month option:disabled,
.picker__select--year option:disabled {
	color: #ccc;
}

.picker__select--month {
	width: 35%;
}
.picker__select--year {
	width: 22.5%;
}
.picker__select--month:focus,
.picker__select--year:focus {
}
/**
 * The month navigation buttons.
 */
 .picker__nav--prev,
 .picker__nav--next {
	position: absolute;
	padding: 0 10px;
	width: 40px;
	height: 100%;
	box-sizing: content-box;
	top: 0;
	display: flex;
	align-items: center;
	cursor: pointer;
	opacity: .8;
	-webkit-transition: all .2s linear;
	-o-transition: all .2s linear;
	transition: all .2s linear;
	text-align: center;
}

.picker__nav--prev {
	left: 0;
}

.picker__nav--next {
	right: 0;
}

.picker__nav--prev:before,
.picker__nav--next:before {
	content: "U";
	font-family: 'dripicons-v2';
	margin: 0 auto;
}
.picker__nav--next:before {
	content: "V";
}
.picker__nav--prev:hover,
.picker__nav--next:hover {
	opacity: 1;
}
.picker__nav--disabled,
.picker__nav--disabled:hover,
.picker__nav--disabled:before,
.picker__nav--disabled:before:hover {
	cursor: default;
	background: none;
}

.picker__nav--prev:hover {
	-webkit-transform: translateX(-7px);
	-ms-transform: translateX(-7px);
	-o-transform: translateX(-7px);
	transform: translateX(-7px);
}

.picker__nav--next:hover {
	-webkit-transform: translateX(7px);
	-ms-transform: translateX(7px);
	-o-transform: translateX(7px);
	transform: translateX(7px);
}

/**
 * The calendar table of dates
 */
 .picker__table {
	text-align: center;
	border-collapse: collapse;
	border-spacing: 0;
	table-layout: fixed;
	font-size: inherit;
	width: 100%;
	background: #fff;
}

.picker__table td {
	margin: 0;
	padding: 0;
	border: 1px solid #D2DEE9;
}

.picker__table tr:first-child td {
	border-top: none;
}

.picker__table td:nth-child(even) {
	background: rgba(0,0,0,.02);
	margin: 0;
	padding: 0;
}
/**
 * The weekday labels
 */
 .picker__weekday {
	width: 14.285714286%;
	font-size: 16px;
	font-weight: 500;
	color: #fff;
	background: #588cb8;
	text-transform: capitalize;
	padding: 15px 0;
	text-align: center;
}
/**
 * The days on the calendar
 */
 .picker__day {
	padding: 20px 0;
	font-weight: 400;
	font-size: 16px;
	color: #333;
}
.picker__day--today {
	position: relative;
}
.picker__day--today:before {
	content: " ";
	position: absolute;
	top: 2px;
	right: 2px;
	width: 0;
	height: 0;
}
.picker__day--disabled:before {
}
.picker__day--outfocus {
	color: #ccc;
}
.picker__day--infocus:hover,
.picker__day--outfocus:hover {
	cursor: pointer;
	color: #000;
	background: #dee9f3;
}
.picker__day--highlighted {
}
.picker__day--highlighted:hover,
.picker--focused .picker__day--highlighted {
	cursor: pointer;
	color: #000;
	background: #dee9f3;
}
.picker__day--selected,
.picker__day--selected:hover,
.picker--focused .picker__day--selected {
	background: #37CB52;
	color: #fff;
}
.picker__day--disabled,
.picker__day--disabled:hover,
.picker--focused .picker__day--disabled {
	background: #f5f5f5;
	color: #ddd;
	cursor: default;
}
.picker__day--highlighted.picker__day--disabled,
.picker__day--highlighted.picker__day--disabled:hover {
	background: #bbbbbb;
}
/**
 * The footer containing the "today", "clear", and "close" buttons.
 */
 .picker__footer {
 	text-align: center;
 	background: #eee;
 	background: -webkit-linear-gradient(#ddd, #eee 30%);
 	background: -o-linear-gradient(#ddd, #eee 30%);
 	background: linear-gradient(#ddd, #eee 30%);
 	border-radius: 0 0 3px 3px;
 	overflow: hidden;
 	display: flex;
 }
.picker__button--today,
.picker__button--clear,
.picker__button--close {
	flex-basis: 0;
	flex-grow: 1;
	border: none;
	padding: 15px 0;
	font-size: 16px;
	color: #fff;
	background: transparent;
	color: #2a4076;
	outline: none !important;
}
.picker__button--today:nth-child(2),
.picker__button--clear:nth-child(2),
.picker__button--close:nth-child(2) {
	width: 33.34%;
}
.picker__button--today:hover,
.picker__button--clear:hover,
.picker__button--close:hover {
	cursor: pointer;
	color: #fff;
	background: #588cb8;
}
.picker__button--today:hover {
	background: #588cb8;
}
.picker__button--clear:hover {
	background: #588cb8;
}
.picker__button--today:before,
.picker__button--clear:before,
.picker__button--close:before {
	position: relative;
	display: inline-block;
	height: 0;
	font-family: 'dripicons-v2';
	vertical-align: top;
	font-size: 16px;
	margin-right: .35em;
}
.picker__button--today:before {
	content: "M";
}
.picker__button--clear:before {
	content: ")";
}
.picker__button--close:before {
	content: "9";
}
.picker__button--today[disabled],
.picker__button--today[disabled]:hover {
	background: #f5f5f5;
	color: #ddd;
	cursor: default;
}
.picker__button--today[disabled]:before {
}

/* ==========================================================================
	 $DEFAULT-DATE-PICKER
	 ========================================================================== */
