body {
	padding-top: 100px;
}

h1, h2, h3, h3 span {
	font-family: 'Oswald', sans-serif !important;
	text-transform: uppercase;
}

h3 span {
	font-weight: 700;
}

a:focus, a:hover {
	color: #ffffff;
}

.video-caption h1 {
	font-size: 48px;
	margin: 0;
	display: block;
	position: relative;
	line-height: 1.2em;
	letter-spacing: -0.5px;
}

.video-caption h3 {
	line-height: 1.2em;
}

.btn-login {
	width: auto;
}

.btn-login:hover {
	background: #fff;
	color: #ff1300;
}

header .logo img {
	height: 70px;
}

header .logo {
	margin-top: -10px;
	margin-right: 20px;
}

.header-right {
	margin-top: 2px;
}

.video-home {
	min-height: 100vh;
	background-position: center;
}

.slide-home:after, .video-home:after {
	background: -webkit-linear-gradient(bottom left, rgba(72, 207, 220, .8) 10%, rgba(0,0,0,0) 60%, rgba(255, 19, 0, .8));
	background: -o-linear-gradient(bottom left, rgba(72, 207, 220, .8) 10%, rgba(0,0,0,0) 60%, rgba(255, 19, 0, .8));
	background: linear-gradient(to top right, rgb(72, 207, 220, .8) 10%, rgba(0,0,0,0) 60%, rgb(255, 19, 0, .8));
}

/*.slide-home:before, .video-home:before {
	background: -webkit-linear-gradient(rgba(0,0,0,.85), rgba(0,0,0,.2) 150px, rgba(0,0,0,.6));
	background: -o-linear-gradient(rgba(0,0,0,.85), rgba(0,0,0,.2) 150px, rgba(0,0,0,.6));
	background: linear-gradient(rgba(0,0,0,.85), rgba(0,0,0,.2) 150px, rgba(0,0,0,.6));
}*/

.main-nav li a:after {
	background: #ff1300;
}

.panel-header-torneo {
	text-align: center;
	padding: 150px 0 80px !important;
}

.panel-header-torneo h1 {
	text-transform: none;
	font-size: 42px;
}

.iframe-torneos-holder {
	overflow: hidden;
	margin-bottom: 40px;
}

.iframe-torneos-holder iframe {
	margin-top: -80px;
}

.data-card-torneo {
	text-align: center;
	border-radius: 3px;
}

.data-card-torneo i {
	width: 80px;
	height: 80px;
	background: #ff1300;
	color: #fff;
	border-radius: 50%;
	text-align: center;
	display: block;
	margin: -60px auto 0;
	font-size: 36px;
	line-height: 80px;
}

.data-card-torneo h3 {
	min-height: 2.4em;
	line-height: 1.2em;
	text-align: center;
}

.data-card-torneo h5 {
	color: #48cfdc;
	font-size: 14px;
	margin: 10px 0;
}

.video-caption h1:after {
	content: '';
	display: block;
	position: relative;
	height: 2px;
	box-shadow: 0 0 5px #ffacac, inset 0 0 5px #ffacac, 0 0 20px #ff1300, inset 0 0 20px #ff1300, 0 0 20px 2px #ff1300, inset 0 0 20px 2px #ff1300;
	border-radius: 2px;
	left: -20px;
	top: -76px;
	margin: 20px 0;
	width: 500px;
	-webkit-transform: skew(15deg, 15deg);
	-ms-transform: skew(15deg, 15deg);
	-o-transform: skew(15deg, 15deg);
	transform: skew(15deg, 15deg);
	z-index: -1;
}

.banner-home:hover, .banner-noticia:hover {
	box-shadow: #ff1300 0 0 0 5px, rgba(0,0,0,.2) 0 20px 15px -10px;
}

header:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(to top, rgba(0, 0, 0, .8), rgba(0, 0, 0) 80%);
	opacity: 0;
}

.header-home.header-scroll:before {
	opacity: 1;
}

header {
	padding: 10px 30px 0;
	background: linear-gradient(to top, rgba(0, 0, 0, .8), rgba(0, 0, 0) 80%);
	height: 100px;
}

.header-home.header-scroll {
	height: 110px;
	padding: 10px 30px 0;
	background: unset;
 }

 .header-home.header-scroll .btn-login:hover, header.header-scroll .btn-login:hover {
	color: #fff;
	background: rgba(255, 19, 0, 0.3);
	box-shadow: rgba(255, 19, 0, 0.3) 0 0 0 1px;
 }
	

.header-home.header-scroll .btn-login, header.header-scroll .btn-login {
	-webkit-box-shadow: #ff1300 0 0 0 1px;
	box-shadow: #ff1300 0 0 0 1px;
	background: #ff1300;
}

.noticia-categoria {
	background: #e42f21;
}

.noticia-footer > a {
	color: #48cfdc;
	border: 1px solid #48cfdc;
}

.noticia-footer > a:hover {
	background: #48cfdc;
	color: #fff;
}

.social-links a:hover {
	background: #383838;
}

.paper-after-grey:after {
	background: url(../img/abierto-palermo/header-after-grey.png) center bottom repeat-x;
}

.btn-lightblue, .note-link-btn {
	background: #48cfdc;
}

.btn-lightblue:hover, .note-link-btn:hover {
	background: #35b5c1;
}

.page-title, .panel h2 {
	color: #3d3d52;
}

.has-video .noticia-img:before {
	background: rgba(228, 47, 33, .6);
}

.section-bg {
	padding: 160px 0 60px;
	top: -70px;
	margin-bottom: -70px;
}

footer {
	background: #151515;
	padding: 40px 0;
	margin: 100px 0 0;
}

.cargarTarjeta i {
	background: #ff1300;
	box-shadow: #333 0 0 0 5px, rgba(0,0,0,.15) 0 3px 3px;
}

.cargarTarjeta:hover i {
	background: #48cfdc;
	box-shadow: #333 0 0 0 5px, rgba(0,0,0,.15) 0 3px 3px;
}

.cargarTarjeta span {
	background: #333;
	font-weight: 700;
}

.cargarTarjeta:hover span {
	color: #48cfdc;
	background: #333;
}

.torneo-header {
	margin-top: -100px;
	background: #000 url('../img/abierto-header.jpg') center bottom no-repeat;
}

.torneo-header h1 {
	text-align: center;
	margin: 0;
	padding: 500px 0 40px;
	color: #fff;
	font-size: 52px;
}

.abierto-texto {
	padding: 80px 0;
	text-align: center;
}

.abierto-texto p {
	font-weight: 300;
	text-align: center;
	font-size: 28px;
	margin: 20px auto;
}

.abierto-texto p:first-child:after {
	content: '';
	width: 100px;
	height: 2px;
	background: #ff1300;
	margin: 40px auto;
	display: block;
}

.videotutoriales li:first-of-type a {
	background: #ff1300;
}

.videotutoriales li:first-of-type a i {
	background: #fff;
	color: #ff1300
}

.videotutoriales li:first-of-type a:hover {
	background: #48cfdc;
}

.videotutoriales li:first-of-type a:hover i {
	color: #48cfdc;
	background: #fff;
}

@media (max-width: 1024px) {
	.header-home:not(.header-scroll) {
		box-shadow: none;
		height: 110px;
	}

	header, .header-home.header-scroll {    
		padding: 10px 30px 0 !important;
	}

	header, .header-home.header-scroll {
		box-shadow: none;
	}

	.btn-login {
		position: relative; 
		right: 0; 
	}

	.main-nav, .admin-nav {	    
		background: #bf2c21;
	}
}

@media (max-width: 800px) {
	.videotutoriales {
		bottom: 0;
		width: 100%;
		box-sizing: border-box;
		background: #333;
	}
	.hideTutoriales {
		background: #333;
	}
}

@media(max-width: 480px) {
	.video-caption h1 {
		font-size: 32px
	}

	.video-caption h1:after {
		top: -60px;
		width: 350px;
	}

	.btn-login {
		display: none;
	}

	header, .header-home.header-scroll {
		padding: 10px 20px 0 !important;
	}
}

@media(max-width: 523px) {
	.iframe-torneos-holder iframe {
		margin-top: -110px;
	}
}

@media(max-width: 512px) {
	.iframe-torneos-holder iframe {
		margin-top: -140px;
	}
}

@media(max-width: 497px) {
	.iframe-torneos-holder iframe {
		margin-top: -70px;
	}
}

@media(max-width: 440px) {
	.iframe-torneos-holder iframe {
		margin-top: -93px;
	}
}