﻿@model IEnumerable<AAPolo.Entities.Equipo>
@using AAPolo.Entities;
@foreach (var item in Model)
{
    <div class="col-md-4" id="divPago_@item.detallePago.Codigo">
        <div class="panel flex-column">
            <h3>@item.torneo.NombreTorneo</h3>
            <dl>
                <dt>@AAPolo.Recursos.Recurso.Fecha</dt>
                <dd class="m-b-10">@item.torneo.strFechaInicio</dd>
                <dt>
                    @if (item.torneo.PermiteInscipcionIndividual)
                    {
                        <span>Jugador</span>
                    }
                    else
                    {
                        <span>Equipo: @item.NombreEquipo</span>
                    }
                </dt>
                <dd>
                    @foreach (var pers in item.lPersona)
                    {
                        <span>
                            @pers.NombreCompleto

                            @(pers.EsCapitan ? "(capitán)" : "")
                            <br>
                        </span>
                    }

                </dd>

            </dl>
            @if (item.detallePago.estado.Codigo == ConfiguracionAPP.Pago_Satisfactorio)
            {
                <p class="estado-pago estado-confirmado"><strong>Estado del pago:</strong> <br>Confirmado</p>
            }
            else
            {
                <div class="estado-pago estado-esperando">
                    <p class="m-t-0 m-b-0">
                        <strong>Estado del pago:</strong> <br>
                        Esperando confirmación de AAP
                    </p>
                    @Ajax.ActionLink(" ", "_DeclinarInscripcion", "PerfilTorneo", new { Codigo = item.detallePago.Codigo, NombreEquipo = item.NombreEquipo, NombreTorneo = item.torneo.NombreTorneo }, new AjaxOptions { HttpMethod = "Post", OnSuccess = "ModalDeclinarInscripcion" }, new { @class = "btn btn-lightblue btn-small pull-left m-t-10 m-b-0 btnEliminarEquipo" })
                </div>
            }
        </div>
    </div>
}