﻿

<div class="modal modal-abierto" id="confirmarPago" style="display:block">
    <div class="modal-overlay" c data-dismiss="confirmarPago"></div>

    <div class="modal-dialogo modal-dialogo-800">
        <div class="modal-header">
            <h2 data-icon="">Eliminar inscripción del torneo: @ViewBag.NombreTorneo</h2>
            <i class="icon-cross" onclick="javascript: $('#divModal').removeClass('modal').hide(); $('#confirmarPago').remove()" data-dismiss="confirmarPago"></i>
        </div>

        <div class="modal-contenido clearfix">

            @using (Ajax.BeginForm("DeclinarPagoEquipo", "Reporte", null, new AjaxOptions { HttpMethod = "POST", OnSuccess = "DeclinarPagoEquipo", OnFailure = "fnFailProcesar" }, new { @id = "RegistroForm", @class = "border-bottom-striped form-default clearfix " }))
            {
                @Html.AntiForgeryToken()

                <input type="hidden" name="Cod_Pago" id="Cod_Pago" value="@ViewBag.Cod_Pago" />

                <div class="clearfix"></div>

                <div id="confirma-efectivo" style="display: block;">

                    <div class="col-md-12">
                        <p>Al confirmar eliminarás al equipo: @ViewBag.NombreEquipo del torneo @ViewBag.NombreTorneo.</p>
                    </div>

                    <div class="col-md-6">
                        <button type="button" onclick="javascript: $('#divModal').removeClass('modal').hide(); $('#confirmarPago').remove()" class="btn btn-lightblue btn-full m-b-0" style="margin-top: 33px;">Cancelar</button>
                    </div>
                    <div class="col-md-6">
                        <button type="submit" class="btn btn-lightblue btn-full m-b-0" style="margin-top: 33px;"><i class="icon-checkmark"></i> Confirmar</button>
                    </div>

                </div>
            }
        </div>

    </div>
</div>


