﻿@model IEnumerable<AAPolo.Entities.Persona>

@foreach (var item in Model)
{
    if (item.HandicapPago)
    {
        if (!item.InscriptoEnTorneo)
        {
            if (ViewBag.Cod_TipoTorneo == 2)
            {
                <li class="has-tooltip" onclick="javascript:agregarPersona(@item.Codigo, '@item.NombreCompleto', '@item.clubUsuarioPrincipal.NombreClub', '@item.TipoDocumento.Nombre', '@item.DocumentoIdentidad', @item.HandicapPersona.NroHandicap, @item.HandicapPersona.NroHandicapSecundario, @item.Genero.Codigo, '@ViewBag.ElementoHtml')" data-placement="left" title="Agregar al equipo">
                    @item.NombreCompleto<br><small>@item.TipoDocumento.Nombre @item.DocumentoIdentidad</small>
                </li>
            }
            else if (ViewBag.Cod_TipoTorneo == 1)
            {
                if (item.HandicapPersona.Categoria.Codigo == 1)
                {
                    <li class="has-tooltip" onclick="javascript:agregarPersona(@item.Codigo, '@item.NombreCompleto', '@item.clubUsuarioPrincipal.NombreClub', '@item.TipoDocumento.Nombre', '@item.DocumentoIdentidad', @item.HandicapPersona.NroHandicap, @item.HandicapPersona.NroHandicapSecundario, @item.Genero.Codigo, '@ViewBag.ElementoHtml')" data-placement="left" title="Agregar al equipo">
                        @item.NombreCompleto<br><small>@item.TipoDocumento.Nombre @item.DocumentoIdentidad</small>
                    </li>
                }
                else
                {
                    <li class="has-tooltip" onclick="javascript:ModalMensajeTransaccion('La persona: @item.NombreCompleto no cumple con categoría de torneo.')" data-placement="left" title="Agregar al equipo">
                        @item.NombreCompleto<br><small>@item.TipoDocumento.Nombre @item.DocumentoIdentidad</small>
                    </li>
                }
            }
        }
        else
        {
            <li class="has-tooltip" onclick="javascript:ModalMensajeTransaccion('@Html.Raw(item.MsjInscripcionTorneo)')" data-placement="left" title="Agregar al equipo">
                @item.NombreCompleto<br><small>@item.TipoDocumento.Nombre @item.DocumentoIdentidad</small>
            </li>
        }
    }
    else
    {
        <li class="has-tooltip" onclick="javascript:ModalMensajeTransaccion('La persona: @item.NombreCompleto no posee handicap pago.')" data-placement="left" title="Agregar al equipo">
            @item.NombreCompleto<br><small>@item.TipoDocumento.Nombre @item.DocumentoIdentidad</small>
        </li>
    }
}
