﻿@model AAPolo.Entities.Persona
@using AAPolo.Entities;

<style>
    #divJugador1 span.torneo-jugador-capitan {
        display: block !important
    }

    .floating-access {
        display: none !important
    }
</style>

<div class="panel-profile">
    <div class="panel-header line-texture-after">
        <div class="user-profile-pic">
            @Html.Action("_ImgPerfilUsuario", "PerfilJugador")

        </div>

        <hgroup class="user-profile-title">
            <h1>@Model.NombreCompleto</h1>
            <h3>Socio N° @Model.JugadorID</h3>
            @if (Model.lClubUsuarioSecundario.Where(x => x.EsPrincipal).Count() > 0)
            {
                <h4>Club: <strong>@Model.lClubUsuarioSecundario.Find(f => f.EsPrincipal).NombreClub</strong></h4>
            }
            @if (Model.HandicapPago)
            {
                <h4>Handicap: <strong>@Model.HandicapPersona.DescripcionHandicapUsuario</strong></h4>
            }
        </hgroup>

        <ul class="featured-values">
            @*<li>
                    <h4>13</h4>
                    <span>Torneos</span>
                </li>*@
            @if (Model.Genero.Codigo == ConfiguracionAPP.Genero_Femenino)
            {
                <li>
                    <div class="featured-main featured-main-xs">
                        <h4>@Model.HandicapPersona.NroHandicap</h4>
                        <span>Handicap</span>
                    </div>
                    <div class="featured-main featured-main-xs" style="margin-bottom: 0; background: #ec008c">
                        <h4>@Model.HandicapPersonaSecundario.NroHandicap</h4>
                        <span>Handicap femenino</span>
                    </div>
                </li>
            }
            else
            {
                <li class="featured-main">
                    <h4>@Model.HandicapPersona.NroHandicap</h4>
                    <span>Handicap</span>
                </li>
            }
        </ul>
    </div>
    <ul class="tabs-default">
        <li class="current"><a href="javascript:void(0);" data-tab="inscribir">@AAPolo.Recursos.Recurso.InscripcionPorEquipo</a></li>
        <li style="display:@(((List<Torneo>)ViewBag.lTorneo).Where(x => x.PermiteInscipcionIndividual).Count()>0?"inline":"none")"><a href="javascript:void(0);" data-tab="inscripcion-individual">@AAPolo.Recursos.Recurso.InscripcionIndividual</a></li>
        <li id="liIncripcionesEfectivas" style="display:none">
            @Ajax.ActionLink(AAPolo.Recursos.Recurso.InscripcionesRealizadas, "_BuscarEquipo", "PerfilTorneo", new AjaxOptions { HttpMethod = "Post", UpdateTargetId = "ListadoInscripciones", InsertionMode = InsertionMode.Replace, OnSuccess = "FormatearBtn" }, new { @data_tab = "inscripciones", @id = "aBuscarEquipos" })
        </li>
    </ul>
    <div class="panel-body">
        <div class="tab-contents">
            <div class="tab-content" id="inscribir" style="display: block;">
                @using (Ajax.BeginForm("GuardarInscripcionEquipo", "PerfilTorneo", null, new AjaxOptions { HttpMethod = "POST", OnSuccess = "fnSuccessProcesar", OnFailure = "fnFailProcesar" }, new { @id = "RegistroForm", @class = "form-default" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <input type="hidden" name="Equipo_tipoTorneo_Codigo" id="Equipo_tipoTorneo_Codigo" value="" />
                    <input type="hidden" name="Equipo_categoriaHandicap_Codigo" id="Equipo_categoriaHandicap_Codigo" value="" />
                    <input type="hidden" name="EsInscripcionEquipo" value="1" />
                    <input type="hidden" name="torneo.NombreTorneo" value="" class="txtNombreTorneo" />

                    <div class="row">
                        <div class="col-md-12">
                            <div class="panel">

                                <div class="row clearfix">
                                    <div class="col-md-12">
                                        <h3> 1. @AAPolo.Recursos.Recurso.SeleccionaUnTorneo</h3>
                                    </div>
                                    <div class="col-md-8">

                                        <select name="torneo.Codigo" id="TorneoEquipo" class="select2-basic">
                                            <option value="0" selected disabled>@AAPolo.Recursos.Recurso.SeleccionaUnTorneo</option>
                                            @foreach (var item in ((List<Torneo>)ViewBag.lTorneo).Where(x => !x.PermiteInscipcionIndividual).ToList())
                                            {
                                                <option value="@item.Codigo" data-permitemenor="@(item.PermiteMenor?1:0)" data-costo="@item.strCostoInscripcion" data-EHandMax="@item.Handicap_Max_XEquipo" data-EHandMin="@item.Handicap_Min_XEquipo" data-EHandMaxJug="@item.Handicap_Max_XJugador" data-EHandMinJug="@item.Handicap_Min_XJugador" data-EHandObligatorio="@item.Handicap_JugadorMin" data-EquipoTipoTorneoCodigo="@item.tipoTorneo.Codigo" data-EquipoCategoriaHandicapCodigo="@item.categoriaTorneo.Codigo" data-categoriaTorneo="@item.categoriaTorneo.NombreCategoriaTorneo - @item.tipoTorneo.Nombre">@item.NombreTorneo @(item.InscripcionActiva ? "" : "- Inscripciones cerradas el " + item.strFechaFinInscripcion)</option>
                                            }
                                        </select>
                                    </div>


                                    <div class="col-md-4">
                                        <input type="text" name="torneo-categoria" id="categoriaTorneo" placeholder="Categoría" disabled>
                                    </div>

                                    <div class="col-md-12">
                                        <div class="torneo-condiciones" id="torneoCondicionesEquipo">
                                            <h3>Condiciones del torneo:</h3>

                                            <div class="row">

                                                <div class="col-md-6">
                                                    <dl class="user-data user-data-sedes">
                                                        <div class="user-data-item col-md-12">
                                                            <dt>Handicap max. por equipo</dt>
                                                            <dd id="EHandMax">35</dd>
                                                        </div>
                                                        <div class="user-data-item col-md-12">
                                                            <dt>Handicap min. por equipo</dt>
                                                            <dd id="EHandMin">24</dd>
                                                        </div>
                                                    </dl>
                                                </div>

                                                <div class="col-md-6">
                                                    <dl class="user-data user-data-sedes">
                                                        <div class="user-data-item col-md-12">
                                                            <dt>Handicap max. por jugador</dt>
                                                            <dd id="EHandMaxJug">8</dd>
                                                        </div>
                                                        <div class="user-data-item col-md-12">
                                                            <dt>Handicap min, por jugador</dt>
                                                            <dd id="EHandMinJug">9</dd>
                                                        </div>
                                                    </dl>
                                                </div>
                                            </div>

                                        </div>
                                    </div>

                                    <div class="col-md-12">
                                        <h3>2. @AAPolo.Recursos.Recurso.ElegiUnClubParaRepresentar</h3>
                                    </div>

                                    <div class="col-md-12">

                                        <select name="club.Codigo" id="torneo-club" class="select2-basic">
                                            <option value="0" disabled>Seleccione club</option>
                                            @foreach (var item in (List<Club>)ViewBag.lClub)
                                            {
                                                <option value="@item.Codigo" @(Model.lClubUsuarioSecundario.Find(f => f.EsPrincipal).Codigo == item.Codigo ? "selected" : "")>@item.NombreClub</option>
                                            }
                                        </select>
                                    </div>

                                    <div class="col-md-12">
                                        <h3>3. @AAPolo.Recursos.Recurso.FormaTuEquipo</h3>
                                    </div>

                                    <div class="col-md-12">
                                        <input type="text" name="NombreEquipo" id="NombreEquipo" placeholder="@AAPolo.Recursos.Recurso.EscribiElNombreDeTuEquipo">
                                    </div>

                                    <div class="col-lg-3 col-sm-6">
                                        <div class="torneo-jugador-outer" id="jugador_2">

                                            <div class="torneo-jugador-agregar" style="display:flex" id="divBtnCapitan">
                                                <div class="torneo-jugador-inner" onclick="javascript: $('#divBuscardorCapitan').css('display', 'flex');">
                                                    <i class="icon-plus agregar-jugador has-tooltip" title="@AAPolo.Recursos.Recurso.Agregar @AAPolo.Recursos.Recurso.Jugador.ToLower()"></i>
                                                </div>
                                            </div>

                                            <div class="torneo-jugador-buscar" id="divBuscardorCapitan">
                                                <div class="jugador-buscar">
                                                    <input type="text" id="InputJugador1" placeholder="Buscá nombre o DNI">
                                                    <a href="javascript:void(0);" id="Jugador1" class="JugadorBtn"><i class="icon-search"></i></a>
                                                </div>

                                                <ul class="torneo-jugador-resultados" id="liJugador1"></ul>
                                            </div>

                                            <div class="torneo-jugador" id="divJugador1">
                                                @*@if (((List<Club>)ViewBag.lClub).Any(a => a.Codigo == Model.lClubUsuarioSecundario.Find(f => f.EsPrincipal).Codigo))
                                                    {
                                                        @Html.Action("_DatosPersonaInscripcion", new { Codigo = Model.Codigo, NombreCompleto = Model.NombreCompleto, NombreClub = Model.lClubUsuarioSecundario.Find(f => f.EsPrincipal).NombreClub, NombreTipoDocumento = Model.TipoDocumento.Nombre, Documento = Model.DocumentoIdentidad, NroHandicap = Model.HandicapPersona.NroHandicap, NroHandicapSecundario = Model.HandicapPersona.NroHandicapSecundario, Cod_Genero = Model.Genero.Codigo })
                                                    }*@
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-3 col-sm-6">
                                        <div class="torneo-jugador-outer" id="jugador_2">
                                            <!--<div class="messageValidation">
                                                <div>Ejemplo de alerta por ingreso incorrecto.</div>
                                            </div>-->
                                            <div class="torneo-jugador-agregar">
                                                <div class="torneo-jugador-inner" onclick="javascript: $('#divBuscardorJugador2').css('display', 'flex');">
                                                    <i class="icon-plus agregar-jugador has-tooltip" title="@AAPolo.Recursos.Recurso.Agregar @AAPolo.Recursos.Recurso.Jugador.ToLower()"></i>
                                                </div>
                                            </div>

                                            <div class="torneo-jugador-buscar" id="divBuscardorJugador2">
                                                <div class="jugador-buscar">
                                                    <input type="text" id="InputJugador2" placeholder="Buscá nombre o DNI">
                                                    <a href="javascript:void(0);" id="Jugador2" class="JugadorBtn"><i class="icon-search"></i></a>
                                                </div>

                                                <ul class="torneo-jugador-resultados" id="liJugador2"></ul>
                                            </div>

                                            <div class="torneo-jugador" id="divJugador2">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-3 col-sm-6">
                                        <div class="torneo-jugador-outer" id="jugador_3">
                                            <div class="torneo-jugador-agregar">
                                                <div class="torneo-jugador-inner" onclick="javascript: $('#divBuscardorJugador3').css('display', 'flex');">
                                                    <i class="icon-plus agregar-jugador has-tooltip" title="Agregar jugador"></i>
                                                </div>
                                            </div>

                                            <div class="torneo-jugador-buscar" id="divBuscardorJugador3">
                                                <div class="jugador-buscar">
                                                    <input type="text" id="InputJugador3" placeholder="Buscá nombre o DNI">
                                                    <a href="javascript:void(0);" id="Jugador3" class="JugadorBtn"><i class="icon-search"></i></a>
                                                </div>

                                                <ul class="torneo-jugador-resultados" id="liJugador3"></ul>
                                            </div>

                                            <div class="torneo-jugador" id="divJugador3">

                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-3 col-sm-6">
                                        <div class="torneo-jugador-outer" id="jugador_4">
                                            <!--<div class="messageValidation messageWarning">
                                                <div>Ejemplo de advertencia por ingreso dudoso.</div>
                                            </div>-->
                                            <div class="torneo-jugador-agregar">
                                                <div class="torneo-jugador-inner" onclick="javascript: $('#divBuscardorJugador4').css('display', 'flex');">
                                                    <i class="icon-plus agregar-jugador has-tooltip" title="Agregar jugador"></i>
                                                </div>
                                            </div>

                                            <div class="torneo-jugador-buscar" id="divBuscardorJugador4">
                                                <div class="jugador-buscar">
                                                    <input type="text" id="InputJugador4" placeholder="Buscá nombre o DNI">
                                                    <a href="javascript:void(0);" id="Jugador4" class="JugadorBtn"><i class="icon-search"></i></a>
                                                </div>

                                                <ul class="torneo-jugador-resultados" id="liJugador4"></ul>
                                            </div>

                                            <div class="torneo-jugador" id="divJugador4">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="clearfix"></div>

                                    <div class="col-md-12">
                                        <h3 class="m-t-40">@AAPolo.Recursos.Recurso.Suplentes <em>(@AAPolo.Recursos.Recurso.Opcional.ToLower())</em></h3>
                                    </div>

                                    <div class="col-lg-3 col-sm-6">
                                        <div class="torneo-jugador-outer" id="jugador_5">
                                            <div class="torneo-jugador-agregar">
                                                <div class="torneo-jugador-inner" onclick="javascript: $('#divBuscardorJugador5').css('display', 'flex');">
                                                    <i class="icon-plus agregar-jugador has-tooltip" title="Agregar jugador"></i>
                                                </div>
                                            </div>

                                            <div class="torneo-jugador-buscar" id="divBuscardorJugador5">
                                                <div class="jugador-buscar">
                                                    <input type="text" id="InputJugador5" placeholder="Buscá nombre o DNI">
                                                    <a href="javascript:void(0);" id="Jugador5" class="JugadorBtn"><i class="icon-search"></i></a>
                                                </div>
                                                <ul class="torneo-jugador-resultados" id="liJugador5"></ul>
                                            </div>

                                            <div class="torneo-jugador" id="divJugador5">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-3 col-sm-6">
                                        <div class="torneo-jugador-outer" id="jugador_6">
                                            <div class="torneo-jugador-agregar">
                                                <div class="torneo-jugador-inner" onclick="javascript: $('#divBuscardorJugador6').css('display', 'flex');">
                                                    <i class="icon-plus agregar-jugador has-tooltip" title="Agregar jugador"></i>
                                                </div>
                                            </div>

                                            <div class="torneo-jugador-buscar" id="divBuscardorJugador6">
                                                <div class="jugador-buscar">
                                                    <input type="text" id="InputJugador6" placeholder="Buscá nombre o DNI">
                                                    <a href="javascript:void(0);" id="Jugador6" class="JugadorBtn"><i class="icon-search"></i></a>
                                                </div>
                                                <ul class="torneo-jugador-resultados" id="liJugador6"></ul>
                                            </div>

                                            <div class="torneo-jugador" id="divJugador5">
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="col-md-12" id="divMsjRequisitosTorneoEquipo" style="display:none">
                            <div class="panel">
                                <h3>Condiciones del torneo:</h3>
                                <p style="color: #ec008c;" id="MsjRequisitosTorneoEquipo"></p>
                            </div>
                        </div>

                        <div class="col-md-12" id="fix-bottom">
                            <div class="panel panel-payment fixed-bottom text-center">
                                <div class="pay-group">
                                    <p>@AAPolo.Recursos.Recurso.MontoTotalAbonar: </p>
                                    <div class="price-tag">$<span id="PrecionTorneoEquipo"></span></div>
                                </div>
                                <button type="submit" class="btn btn-white btn-xl">Pagar</button>

                                @*<p>
                                        <input type="checkbox" name="torneo-terminos" id="torneo-terminos">
                                        <label>he leído y acepto las <a href="javascript:void();" data-modal="condicionestorneo">condiciones de participación del torneo.</a></label>
                                    </p>*@
                                <p class="text-center">
                                    @*@AAPolo.Recursos.Recurso.ConfirmacionInmPago*@
                                    Si en MercadoPago elegís pagar en efectivo deberás enviar el comprobante a administracion@aapolo.com
                                    <br />
                                </p>

                            </div>
                        </div>
                    </div>

                }
            </div>

            <div class="tab-content" id="inscripcion-individual">
                @using (Ajax.BeginForm("GuardarInscripcionEquipo", "PerfilTorneo", null, new AjaxOptions { HttpMethod = "POST", OnSuccess = "fnSuccessProcesar", OnFailure = "fnFailProcesar" }, new { @id = "RegistroForm", @class = "form-default" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <input type="hidden" name="Individual_tipoTorneo_Codigo" id="Individual_tipoTorneo_Codigo" value="" />
                    <input type="hidden" name="Individual_categoriaHandicap_Codigo" id="Individual_categoriaHandicap_Codigo" value="" />
                    <input type="hidden" name="EsInscripcionEquipo" value="0" />
                    <input type="hidden" name="torneo.NombreTorneo" value="" class="txtNombreTorneoIndividual" />

                    <div class="row">
                        <div class="col-md-12">
                            <div class="panel">

                                <div class="row clearfix">
                                    <div class="col-md-12">
                                        <h3>1. @AAPolo.Recursos.Recurso.SeleccionaUnTorneo</h3>
                                    </div>
                                    <div class="col-md-8">

                                        <select name="torneo.Codigo" id="TorneoIndividual" class="select2-basic">
                                            @if (((List<Torneo>)ViewBag.lTorneo).Where(x => x.PermiteInscipcionIndividual).Count() == 1)
                                            {
                                                <option value="0" disabled>@AAPolo.Recursos.Recurso.SeleccionaUnTorneo</option>
                                                foreach (var item in ((List<Torneo>)ViewBag.lTorneo).Where(x => x.PermiteInscipcionIndividual).ToList())
                                                {
                                                    <option value="@item.Codigo" selected data-permitemenor="@(item.PermiteMenor ? 1 : 0)" data-costo="@item.strCostoInscripcion" data-EHandMax="@item.Handicap_Max_XEquipo" data-EHandMin="@item.Handicap_Min_XEquipo" data-EHandMaxJug="@item.Handicap_Max_XJugador" data-EHandMinJug="@item.Handicap_Min_XJugador" data-EHandObligatorio="@item.Handicap_JugadorMin" data-EquipoTipoTorneoCodigo="@item.tipoTorneo.Codigo" data-EquipoCategoriaHandicapCodigo="@item.categoriaTorneo.Codigo" data-categoriaTorneo="@item.categoriaTorneo.NombreCategoriaTorneo - @item.tipoTorneo.Nombre">@item.NombreTorneo @(item.InscripcionActiva ? "" : "- Inscripciones cerradas el "+item.strFechaFinInscripcion)</option>
                                                }

                                            }
                                            else
                                            {
                                                <option value="0" selected disabled>@AAPolo.Recursos.Recurso.SeleccionaUnTorneo</option>
                                                foreach (var item in ((List<Torneo>)ViewBag.lTorneo).Where(x => x.PermiteInscipcionIndividual).ToList())
                                                {
                                                    <option value="@item.Codigo" data-permitemenor="@(item.PermiteMenor ? 1 : 0)" data-costo="@item.strCostoInscripcion" data-EHandMax="@item.Handicap_Max_XEquipo" data-EHandMin="@item.Handicap_Min_XEquipo" data-EHandMaxJug="@item.Handicap_Max_XJugador" data-EHandMinJug="@item.Handicap_Min_XJugador" data-EHandObligatorio="@item.Handicap_JugadorMin" data-EquipoTipoTorneoCodigo="@item.tipoTorneo.Codigo" data-EquipoCategoriaHandicapCodigo="@item.categoriaTorneo.Codigo" data-categoriaTorneo="@item.categoriaTorneo.NombreCategoriaTorneo - @item.tipoTorneo.Nombre">@item.NombreTorneo @(item.InscripcionActiva ? "" : "- Inscripciones cerradas el " + item.strFechaFinInscripcion)</option>
                                                }
                                            }
                                        </select>
                                    </div>

                                    <div class="col-md-4">
                                        <input type="text" name="torneo-categoria-individual" id="torneo-categoria-individual" placeholder="Categoría" disabled>
                                    </div>

                                    <div class="col-md-12">
                                        <div class="torneo-condiciones" id="torneoCondicionesIndividual" style="display:none">
                                            <h3>Condiciones del torneo:</h3>

                                            <div class="row">
                                                <div class="col-md-12">
                                                    <p>solo se podrán inscribir los jugadores que son categoría <strong>menores y juveniles nacidos desde el 2003 en adelante</strong></p>
                                                </div>
                                                <div class="col-md-6">
                                                    <dl class="user-data user-data-sedes">
                                                        <div class="user-data-item col-md-12">
                                                            <dt>Handicap max. por jugador</dt>
                                                            <dd id="IHandMaxJug">8</dd>
                                                        </div>
                                                    </dl>
                                                </div>

                                                <div class="col-md-6">
                                                    <dl class="user-data user-data-sedes">

                                                        <div class="user-data-item col-md-12">
                                                            <dt>Handicap min, por jugador</dt>
                                                            <dd id="IHandMinJug">9</dd>
                                                        </div>
                                                    </dl>
                                                </div>

                                            </div>

                                        </div>
                                    </div>

                                    <div class="col-md-12">
                                        <h3>2. @AAPolo.Recursos.Recurso.ElegiAlJugador</h3>
                                    </div>


                                    <div class="col-lg-3 col-sm-6">

                                        <div class="torneo-jugador-outer" id="jugador1Individual">

                                            <div class="torneo-jugador-agregar" style="display:flex" id="divBtnIndividual">
                                                <div class="torneo-jugador-inner" onclick="javascript: $('#divBuscardorIndividual').css('display', 'flex');">
                                                    <i class="icon-plus agregar-jugador has-tooltip" title="Agregar jugador"></i>
                                                </div>
                                            </div>

                                            <div class="torneo-jugador-buscar" id="divBuscardorIndividual">
                                                <div class="jugador-buscar">
                                                    <input type="text" id="InputJugador1Individual" placeholder="Buscá nombre o DNI">
                                                    <a href="javascript:void(0);" id="Jugador1Individual" class="JugadorBtn"><i class="icon-search"></i></a>
                                                </div>

                                                <ul class="torneo-jugador-resultados" id="liJugador1Individual"></ul>
                                            </div>

                                            <div class="torneo-jugador" id="divJugador1Individual">
                                                @*@if (((List<Club>)ViewBag.lClub).Any(a => a.Codigo == Model.lClubUsuarioSecundario.Find(f => f.EsPrincipal).Codigo))
                                                    {
                                                        @Html.Action("_DatosPersonaInscripcion", new { Codigo = Model.Codigo, NombreCompleto = Model.NombreCompleto, NombreClub = Model.lClubUsuarioSecundario.Find(f => f.EsPrincipal).NombreClub, NombreTipoDocumento = Model.TipoDocumento.Nombre, Documento = Model.DocumentoIdentidad, NroHandicap = Model.HandicapPersona.NroHandicap, NroHandicapSecundario = Model.HandicapPersona.NroHandicapSecundario, Cod_Genero = Model.Genero.Codigo })
                                                    }*@
                                            </div>
                                        </div>
                                    </div>

                                    <div class="clearfix"></div>

                                </div>

                            </div>
                        </div>

                        <div class="col-md-12" id="divMsjRequisitosTorneoIndividual" style="display:none">
                            <div class="panel">
                                <h3>Condiciones del torneo:</h3>
                                <p style="color: #ec008c;" id="MsjRequisitosTorneoIndividual"></p>
                            </div>
                        </div>

                        <div class="col-md-12" id="fix-bottom">
                            <div class="panel panel-payment fixed-bottom text-center">
                                <div class="pay-group">
                                    <p>@AAPolo.Recursos.Recurso.MontoTotalAbonar: </p>
                                    <div class="price-tag">$<span id="PrecionTorneoIndividual">0</span></div>
                                </div>
                                <button href="javascript:void(0);" class="btn btn-white btn-xl">Pagar</button>

                                @*<p>
                                        <input type="checkbox" name="torneo-terminos" id="torneo-terminos">
                                        <label>He leído y acepto las <a href="javascript:void();" data-modal="condicionesTorneo">condiciones de participación del torneo.</a></label>
                                    </p>*@
                                <p class="text-center">
                                    @*@AAPolo.Recursos.Recurso.ConfirmacionInmPago*@
                                    Si en MercadoPago elegís pagar en efectivo deberás enviar el comprobante a administracion@aapolo.com
                                    <br />
                                </p>

                            </div>
                        </div>
                    </div>

                }
            </div>

            <div class="tab-content" id="inscripciones">
                <div class="row clearfix" id="ListadoInscripciones">@Html.Action("_BuscarEquipo", "PerfilTorneo")</div>
            </div>
        </div>
    </div>
</div>

@section scripts{

    <script>

        localStorage.setItem('opMenu', 'liTorneos')

        $(document).ready(function () {
            if ($('#ListadoInscripciones').html() != '') {
                $('#liIncripcionesEfectivas').css('display', 'inline');
            }
            $('.btnEliminarEquipo').html('<i class="icon-cross m-r-10"></i>Cancelar inscripción');
            $('[data-tab]').click();
        });

        function DeclinarPagoEquipo(Data) {
            alert(Data.Mensaje)
            if (Data.EsSatisfactorio) {
                $('#divModal').removeClass('modal').hide();
                $('#divModal > div').remove('');
                $('#divPago_' + Data.CodigoResultado).remove();
                //$('#aBuscarEquipos').click();
            } else {
                console.log(Data);
            }
        }

        function ModalDeclinarInscripcion(Data) {
            $('#divModal').html(Data).show();
        }

        function FormatearBtn() {
            $('.btnEliminarEquipo').html('<i class="icon-cross m-r-10"></i>Cancelar inscripción');
            $('[data-tab]').click();
        }

        $('#TorneoEquipo').change(function () {
            if ($(this).val() > 0) {

                $('#Equipo_tipoTorneo_Codigo').val($('#TorneoEquipo option:selected').data('equipotipotorneocodigo'));
                $('#Equipo_categoriaHandicap_Codigo').val($('#TorneoEquipo option:selected').data('equipocategoriahandicapcodigo'));
                //console.log('permitemenor: ' + $('#TorneoEquipo option:selected').data('permitemenor'));
                if ($('#TorneoEquipo option:selected').data('permitemenor') == 1) {
                    $('#categoriaTorneo').val('Menores - ' + $('#TorneoEquipo option:selected').data('categoriatorneo'));
                } else {
                    $('#categoriaTorneo').val($('#TorneoEquipo option:selected').data('categoriatorneo'));
                }

                $('.txtNombreTorneo').val($('#TorneoEquipo option:selected').text());
                $('#EHandMax').text($('#TorneoEquipo option:selected').data('ehandmax'));
                $('#EHandMin').text($('#TorneoEquipo option:selected').data('ehandmin'));
                $('#EHandMaxJug').text($('#TorneoEquipo option:selected').data('ehandmaxjug'));
                $('#EHandMinJug').text($('#TorneoEquipo option:selected').data('ehandminjug'));
                $('#EHandObligatorio').text($('#TorneoEquipo option:selected').data('ehandobligatorio'));
                $('#torneoCondicionesEquipo').slideDown(300);
                $('#PrecionTorneoEquipo').text($('#TorneoEquipo option:selected').data('costo'));
                $('.torneo-jugador').html('').css('display', 'none')
                $('.torneo-jugador-buscar').css('display', 'none')
            }

        });

        $(document).ready(function () {
            if ('@(((List<Torneo>)ViewBag.lTorneo).Where(x => x.PermiteInscipcionIndividual).Count())' == 1) {
                $('#TorneoIndividual').change();
            }
        });

        $('#TorneoIndividual').change(function () {

            if ($(this).val() > 0) {

                $('#Individual_tipoTorneo_Codigo').val($('#TorneoIndividual option:selected').data('equipotipotorneocodigo'));
                $('#Individual_categoriaHandicap_Codigo').val($('#TorneoIndividual option:selected').data('equipocategoriahandicapcodigo'));

                if ($('#TorneoIndividual option:selected').data('permitemenor') == 1) {
                    $('#torneo-categoria-individual').val('Menores - ' + $('#TorneoIndividual option:selected').data('categoriatorneo'));
                } else {
                    $('#torneo-categoria-individual').val($('#TorneoIndividual option:selected').data('categoriatorneo'));
                }

                $('.txtNombreTorneoIndividual').val($('#TorneoIndividual option:selected').text());
                $('#IHandMax').text($('#TorneoIndividual option:selected').data('ehandmax'));
                $('#IHandMin').text($('#TorneoIndividual option:selected').data('ehandmin'));
                $('#IHandMaxJug').text($('#TorneoIndividual option:selected').data('ehandmaxjug'));
                $('#IHandMinJug').text($('#TorneoIndividual option:selected').data('ehandminjug'));
                $('#IHandObligatorio').text($('#TorneoIndividual option:selected').data('ehandobligatorio'));
                $('#torneoCondicionesIndividual').slideDown(300);
                $('#PrecionTorneoIndividual').text($('#TorneoIndividual option:selected').data('costo'));
                $('.torneo-jugador').html('').css('display', 'none')
                $('.torneo-jugador-buscar').css('display', 'none')
            }
        });

        var idElemento = '';
        $('.JugadorBtn').click(function (data) {

            idElemento = $(this).attr('id');
            var NombreSelect = 'TorneoEquipo',
                CampoTipoTorneo = 'Equipo_tipoTorneo_Codigo';
            if (idElemento == 'Jugador1Individual') {
                NombreSelect = 'TorneoIndividual';
                CampoTipoTorneo = 'Individual_tipoTorneo_Codigo';
            }
            //console.log('NombreSelect: ' + NombreSelect);
            var Url = '@Url.Action("BuscarPersona", new { Cod_Torneo = "_Cod_Torneo", Cadena = "_Cadena", Cod_TipoTorneo = "_Cod_TipoTorneo", Cod_CategoriaTorneo = "_Cod_CategoriaTorneo", HandMax = "_EHandMax", EHandMin = "_EHandMin", EHandMaxJug = "_EHandMaxJug", EHandMinJug = "_EHandMinJug", ElementoHtml = "_ElementoHtml", PermiteMenor = "_PermiteMenor" })'
                .replace('_Cadena', $('#Input' + idElemento).val())
                .replace('_Cod_TipoTorneo', $('#' + CampoTipoTorneo).val())
                .replace('_Cod_CategoriaTorneo', $('#' + NombreSelect+' option:selected').data('equipocategoriahandicapcodigo'))
                .replace('_EHandMax', $('#' + NombreSelect +' option:selected').data('ehandmax'))
                .replace('_EHandMin', $('#' + NombreSelect +' option:selected').data('ehandmin'))
                .replace('_EHandMaxJug', $('#' + NombreSelect +' option:selected').data('ehandmaxjug'))
                .replace('_EHandMinJug', $('#' + NombreSelect +' option:selected').data('ehandminjug'))
                .replace('_ElementoHtml', idElemento)
                .replace('_PermiteMenor', $('#' + NombreSelect + ' option:selected').data('permitemenor'))
                .replace('_Cod_Torneo', $('#' + NombreSelect).val())
                .replace(/amp;/g,'');

            if (($('#TorneoEquipo').val() > 0 && idElemento != 'Jugador1Individual') || ($('#TorneoIndividual').val() > 0 && idElemento == 'Jugador1Individual')) {
                $.post(Url, function (Data) {
                    if (Data != null && Data != '') {
                        $('#li' + idElemento).html(Data).css('display', 'block');
                    } else {
                        $('#li' + idElemento).html('<li>No se encontraron resultados </li>').css('display', 'block');
                    }
                    if ($('#li' + idElemento + ' > li').length == 1) {
                        $('#li' + idElemento + ' > li').click();
                    }
                });
            } else {
                alert('Disculpe, primero debe seleccionar un torneo.');
            }

        });

        function agregarPersona(Codigo, NombreCompleto, NombreClub, NombreTipoDocumento, Documento, NroHandicap, NroHandicapSecundario, Cod_Genero, ElementoHtml ) {
            var url = '@Url.Action("_DatosPersonaInscripcion", new { Codigo = "_Codigo", NombreCompleto = "_NombreCompleto", NombreClub = "_NombreClub", NombreTipoDocumento = "_NombreTipoDocumento", Documento = "_Documento", NroHandicap = "_NroHandicap", NroHandicapSecundario = "_NroHandicapSecundario", Cod_Genero = "_Cod_Genero" })'
                .replace('_Codigo', Codigo)
                .replace('_NombreCompleto', NombreCompleto)
                .replace('_NombreClub', NombreClub)
                .replace('_NombreTipoDocumento', NombreTipoDocumento)
                .replace('_Documento', Documento)
                .replace('_NroHandicap', NroHandicap)
                .replace('_NroHandicapSecundario', NroHandicapSecundario)
                .replace('_Cod_Genero', Cod_Genero)
                .replace(/amp;/g, '');
            //console.log('Codigo: ' + Codigo);
            $.post(url, function (Data) {

                $('#div' + ElementoHtml).html(Data).css('display', 'flex');
            });
        }

        function fnSuccessProcesar(Data) {
            if (Data.EsSatisfactorio) {
                window.location.href = Data.Cadena;
                $('#liIncripcionesEfectivas').css('display', 'inline');
            } else {
                if ($('#inscribir').is(':visible') == true) {
                    $('#divMsjRequisitosTorneoEquipo').show();
                    $('#MsjRequisitosTorneoEquipo').html(Data.MensajeRequerimiento);
                } else {
                    $('#divMsjRequisitosTorneoIndividual').show();
                    $('#MsjRequisitosTorneoIndividual').html(Data.MensajeRequerimiento);
                }
                console.log(Data);
                alert(Data.Mensaje);
            }
        }

        function fnFailProcesar(Data) {
            alert('Disculpe, no es posible realizar su transacción.');
            console.log(Data)
        }


        /************************************************************************************************************************************************/

        var scrollHandler = function () {
            var y = $(this).scrollTop();
            var panelHeight = $('.panel-payment').outerHeight();
            marginTop = $(window).height() - panelHeight;
            var navWrap = $('#fix-bottom').offset().top - marginTop;
            if (y > navWrap) {
                $('.panel-payment').removeClass('fixed-bottom');
            } else {
                $('.panel-payment').addClass('fixed-bottom');
            }
        };

        $(window).on('scroll', scrollHandler);

        $(document).ready(function () {
            var originalSize = $(window).width() + $(window).height()
            $(window).resize(function () {
                if ($(window).width() + $(window).height() < originalSize - 50) {
                    $('.panel-payment').removeClass('fixed-bottom');
                    $(window).off('scroll');
                } else {
                    $('.panel-payment').addClass('fixed-bottom');
                    $(window).on('scroll', scrollHandler);
                }
            });
        });

    </script>

}