﻿@model AAPolo.Models.ViewModelFixture
@using AAPolo.Entities;
@{
    int i;

}


<div class="col-md-12 p-0-mobile">
    <div class="panel m-t-30 m-b-20">
        <ul class="tabs-default tabs-mobile">
            <li class="current"><a href="javascript:void(0);" data-tab="equipos">Equipos</a></li>
            <li><a href="javascript:void(0);" data-tab="zonas">Partidos</a></li>
            <li><a href="javascript:void(0);" data-tab="posiciones">Zonas</a></li>
            @if (Model.lCopa != null && Model.lCopa.Count() > 0 && Model.lCopa.Where(a => a.EsActivo).Count() == 2)
            {
                <li><a href="javascript:void(0);" data-tab="copa-2">@Model.lCopa[1].Nombre</a></li>
                <li><a href="javascript:void(0);" data-tab="copa-1">@Model.lCopa[0].Nombre</a></li>
            }
        </ul>

        <div class="tab-contents clearfix LlavesTorneo">
            <div class="tab-content" id="equipos" style="display: block">
                <div class="col-md-12 m-t-20 m-b-20">
                    <div class="row">
                        @foreach (var item in Model.lEquipo)
                        {
                            <div class="col-lg-4 col-sm-6">
                                <div class="fixture-partido fixture-partido-publico ">
                                    <h3>@item.NombreEquipo</h3>
                                    <table class="table-default-mobile">
                                        <thead>
                                            <tr>
                                                <th>Nombre y apellido</th>
                                                <th class="text-center">Club</th>
                                                <th class="text-center">Nacionalidad</th>
                                                <th class="text-center">Handicap</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var pers in item.lPersona)
                                            {
                                                <tr>
                                                    <td data-label="Nombre y apellido">@pers.NombreCompleto</td>
                                                    <td data-label="Club">
                                                        <div class="table-equipos-jugador">
                                                            <div class="user-pic has-tooltip m-x-auto" style="background-image: url('@(String.IsNullOrEmpty(item.club.UrlImagen)? Url.Content("~/Content/img/avatars/avatar-club.jpg"):item.club.UrlImagen)')" title="@item.club.NombreClub"></div>
                                                        </div>
                                                    </td>
                                                    <td data-label="Nacionalidad">
                                                        <div class="table-equipos-jugador">
                                                            <div class="user-pic has-tooltip m-x-auto" style="background-image: url('@Html.Raw(String.IsNullOrEmpty(pers.Pais.UrlImagen) ? Url.Content("~/Content/img/flags/argentina.svg"):Url.Content("~/Content/img/flags/"+pers.Pais.UrlImagen) )')" title="@pers.Pais.Nombre"></div>
                                                        </div>
                                                    </td>
                                                    <td class="text-center" data-label="Handicap">@pers.HandicapPersona.NroHandicap</td>
                                                </tr>
                                            }

                                            <tr>
                                                <td></td>
                                                <td></td>
                                                <th class="text-center" data-label="Total">Total</th>
                                                <td class="text-center" data-label="Total handicap"><strong>@item.SumaHandicap</strong></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        }
                    </div>
                </div>

            </div>

            <div class="tab-content" id="posiciones">
                <div class="col-md-12 m-t-20 m-b-20">
                    <div class="row">
                        @foreach (var item in Model.lZona)
                        {
                            <div class="col-lg-4 col-sm-6">
                                <div class="fixture-partido fixture-partido-publico ">
                                    <h3>Zona @item.LetraZona</h3>
                                    <table class="table-default-mobile">
                                        <thead>
                                            <tr>
                                                <th class="text-center">Ranking</th>
                                                <th>Equipo</th>
                                                <th class="text-center">Goles</th>
                                                <th class="text-center">Puntos</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @{i = 0;}
                                            @foreach (var Eq in item.lEquipo.OrderByDescending(o => o.PartidosGanados).ThenByDescending(o => o.TotalGolZona))
                                            {
                                                i++;
                                                <tr>
                                                    <td class="text-center" data-label="Ranking"><strong>#@i</strong></td>
                                                    <td data-label="Club">
                                                        <div class="table-equipos-jugador">
                                                            <div class="user-pic hide-mobile" style="background-image: url('@(String.IsNullOrEmpty(Eq.club.UrlImagen)? Url.Content("~/Content/img/avatars/avatar-club.jpg"):Eq.club.UrlImagen)')"></div>
                                                            <span>@Eq.NombreEquipo</span>
                                                        </div>
                                                    </td>
                                                    <td class="text-center" data-label="Goles">@Eq.TotalGolZona</td>
                                                    <td class="text-center" data-label="Puntos">@Eq.PartidosGanados</td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        }

                    </div>
                </div>
            </div>

            <div class="tab-content" id="zonas">
                <div class="col-md-12 m-t-50">
                    <ul class="tabs-default tabs-buttons">
                        @{i = 0;}
                        @foreach (var item in Model.lZona)
                        {
                            i++;
                            <li class="@(i==1?"current":"")"><a href="javascript:void(0);" data-tab="zona-@item.LetraZona" class="btn btn-full btn-outline-lightblue btn-small m-t-0 m-b-10">Zona @item.LetraZona</a></li>
                        }
                    </ul>
                </div>
                <div class="col-md-12 tab-contents m-b-20">
                    @{i = 0;}
                    @foreach (var item in Model.lZona)
                    {
                        i++;
                        <div class="tab-content" id="zona-@item.LetraZona" style="display: @(i==1?"block":"")">
                            <div class="row">
                                @foreach (var part in item.lPartido)
                                {
                                    <div class="col-lg-6 col-md-12">
                                        <div class="fixture-partido fixture-partido-publico">
                                            <h3>@part.FechaPartido.ToString("MMMM dd - HH:mm")hs @*<span class="fixture-partido-llave-1">Pasa a Copa Oro</span>*@</h3>
                                            <div class="fixture-equipo-container">
                                                <div class="fixture-equipo @(part.EquipoLocal.ResultadoEquipo > part.EquipoVisitante.ResultadoEquipo && part.EquipoLocal.ResultadoEquipo > 0 ? "equipo-ganador":"") ">
                                                    <span class="goles">@part.EquipoLocal.ResultadoEquipo</span>
                                                    <h4><a href="javascript:void();" data-tab="equipos,equipo-@part.EquipoLocal.Codigo">@part.EquipoLocal.NombreEquipo</a></h4>
                                                    <div class="user-pic" style="background-image: url('@(String.IsNullOrEmpty(part.EquipoLocal.club.UrlImagen)? Url.Content("~/Content/img/avatars/avatar-club.jpg"):part.EquipoLocal.club.UrlImagen)')"></div>
                                                </div>
                                                <div class="fixture-equipo" style="flex: 1">
                                                    <h4><span>VS</span></h4>
                                                </div>
                                                <div class="fixture-equipo @(part.EquipoVisitante.ResultadoEquipo > part.EquipoLocal.ResultadoEquipo && part.EquipoVisitante.ResultadoEquipo > 0 ? "equipo-ganador":"")">
                                                    <div class="user-pic" style="background-image: url('@(String.IsNullOrEmpty(part.EquipoVisitante.club.UrlImagen)? Url.Content("~/Content/img/avatars/avatar-club.jpg"):part.EquipoVisitante.club.UrlImagen)')"></div>
                                                    <h4><a href="javascript:void();" data-tab="equipos,equipo-@part.EquipoVisitante.Codigo">@part.EquipoVisitante.NombreEquipo</a></h4>
                                                    <span class="goles">@part.EquipoVisitante.ResultadoEquipo</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    }
                </div>
            </div>

            <div class="tab-content" id="copa-2">
                <div class="row">
                    <div class="col-md-12">
                        <div class="llave-container m-t-40">
                            @if (Model.lCopa.Count > 0 && Model.lCopa.Find(f => f.EsPrincipal).lPartido != null && Model.lCopa.Where(a => a.EsActivo).Count() == 2)
                            {
                                Html.RenderPartial("_GraficaCopaTorneo", Model.lCopa.Find(f => f.EsPrincipal).lPartido);
                            }
                        </div>
                    </div>
                </div>
            </div>

            <div class="tab-content" id="copa-1">
                <div class="row">
                    <div class="col-md-12">
                        <div class="llave-container llave-1-color m-t-40">
                            @if (Model.lCopa.Count > 0 && Model.lCopa.Find(f => !f.EsPrincipal).lPartido != null && Model.lCopa.Where(a => a.EsActivo).Count() == 2)
                            {
                                Html.RenderPartial("_GraficaCopaTorneo", Model.lCopa.Find(f => !f.EsPrincipal).lPartido);
                            }
                        </div>

                    </div>
                </div>
            </div>

        </div>

    </div>
</div>


