﻿@model List<AAPolo.Entities.Partido>
@using AAPolo.Entities;
@{
    int i, h = 0;
}

<div class="llave-col has-partido">
    @{i = 0;}
    @foreach (var item in Model.Where(x => x.Intancia.Codigo == ConfiguracionAPP.Instancia_Zona).ToList())
    {
        i++;
        if (i % 2 != 0)
        {
            @Html.Raw("<div class=\"llave-partido\">")
        }

        <div class="llave-equipo">
            @if (i == 1)
            {
                <div class="llave-col-title">Octavos</div>
            }
            @if (item.Torneo.EsDisponiblePartidoLlave)
            {
                <div class="fixture-partido fixture-partido-publico">
                    <h3>@(item.FechaPartido.Year >= DateTime.Now.Year ? item.FechaPartido.ToString("MMMM dd - HH:mm") + "hs" : "")</h3>
                    <div class="fixture-equipo-container">
                        <div class="fixture-equipo @(item.EquipoLocal.ResultadoEquipo > item.EquipoVisitante.ResultadoEquipo ? "equipo-ganador" : "")">
                            <h4>@(!String.IsNullOrEmpty(item.EquipoLocal.NombreEquipo) ? item.EquipoLocal.NombreEquipo : "Zona " + item.ZonaLocal.LetraZona)</h4>
                            <span class="goles">@(!String.IsNullOrEmpty(item.EquipoLocal.NombreEquipo) ? item.EquipoLocal.ResultadoEquipo.ToString() : "")</span>
                        </div>
                        <div class="fixture-equipo @(item.EquipoLocal.ResultadoEquipo < item.EquipoVisitante.ResultadoEquipo ? "equipo-ganador" : "")">
                            <h4>@(!String.IsNullOrEmpty(item.EquipoVisitante.NombreEquipo) ? item.EquipoVisitante.NombreEquipo : (item.ZonaLocal.Codigo != item.ZonaVisitante.Codigo ? "Zona " + item.ZonaVisitante.LetraZona:""))</h4>
                            <span class="goles">@(!String.IsNullOrEmpty(item.EquipoVisitante.NombreEquipo) ? item.EquipoVisitante.ResultadoEquipo.ToString() : "")</span>
                        </div>
                    </div>
                </div>
            }
            else
            {
                <div class="fixture-partido fixture-partido-publico">
                    <h3></h3>
                    <div class="fixture-equipo-container">
                        <div class="fixture-equipo">
                            <h4>@("Zona " + item.ZonaLocal.LetraZona)</h4>
                            <span class="goles"></span>
                        </div>
                        <div class="fixture-equipo">
                            <h4>@(item.ZonaLocal.Codigo != item.ZonaVisitante.Codigo ? "Zona " + item.ZonaVisitante.LetraZona: "")</h4>
                            <span class="goles"></span>
                        </div>
                    </div>
                </div>
            }
        </div>

        if (i % 2 == 0)
        {
            @Html.Raw("</div>")
        }
    }

    @for (int j = i; j < 8; j++)
    {
        i++;
        if (i % 2 != 0)
        {
            @Html.Raw("<div class=\"llave-partido disabled\">")
        }

        <div class="llave-equipo disabled">
            <div class="fixture-partido fixture-partido-publico">
                <h3></h3>
                <div class="fixture-equipo-container">
                    <div class="fixture-equipo">
                        <h4>-</h4>
                        <span class="goles"></span>
                    </div>
                    <div class="fixture-equipo">
                        <h4>-</h4>
                        <span class="goles"></span>
                    </div>
                </div>
            </div>
        </div>
        if (i % 2 == 0 || j == 8)
        {
            @Html.Raw("</div>")
        }

    }

</div>

<div class="llave-col has-partido">
    @for (int k = 1; k <= 4; k++)
    {
        if ((k % 2 == 0 && k > 1) || (k > 2 && k % 3 == 0))
        {
            h++;
        }
        if (Model != null && Model.Where(x => x.NroOrdenSiguientePartido == k && x.Intancia.Codigo == ConfiguracionAPP.Instancia_Cuartos && x.Torneo.EsDisponiblePartidoLlave).Count() > 0)
        {
            if (k % 2 != 0)
            {
                @Html.Raw("<div class=\"llave-partido\">")
            }
            <div class="llave-equipo">
                @if (k == 1)
                {
                    <div class="llave-col-title">Cuartos</div>
                }
                <div class="fixture-partido fixture-partido-publico">
                    <h3>@Model.Find(x => x.NroOrdenSiguientePartido == k && x.Intancia.Codigo == ConfiguracionAPP.Instancia_Cuartos).FechaPartido.ToString("MMMM dd - HH:mm")hs</h3>
                    <div class="fixture-equipo-container">
                        <div class="fixture-equipo">
                            @if (Model.Any(a => a.NroOrdenSiguientePartido == (k > 1 ? k + h : k) && a.Intancia.Codigo == ConfiguracionAPP.Instancia_Zona && (a.EquipoLocal.Codigo == Model.Find(x => x.NroOrdenSiguientePartido == k && x.Intancia.Codigo == ConfiguracionAPP.Instancia_Cuartos).EquipoLocal.Codigo || a.EquipoVisitante.Codigo == Model.Find(x => x.NroOrdenSiguientePartido == k && x.Intancia.Codigo == ConfiguracionAPP.Instancia_Cuartos).EquipoLocal.Codigo)))
                            {
                                <h4>@Model.Find(x => x.NroOrdenSiguientePartido == k && x.Intancia.Codigo == ConfiguracionAPP.Instancia_Cuartos).EquipoLocal.NombreEquipo</h4>
                                <span class="goles">@Model.Find(x => x.NroOrdenSiguientePartido == k && x.Intancia.Codigo == ConfiguracionAPP.Instancia_Cuartos).EquipoLocal.ResultadoEquipo</span>
                            }
                            else
                            {
                                <h4>@Model.Find(x => x.NroOrdenSiguientePartido == k && x.Intancia.Codigo == ConfiguracionAPP.Instancia_Cuartos).EquipoVisitante.NombreEquipo</h4>
                                <span class="goles">@Model.Find(x => x.NroOrdenSiguientePartido == k && x.Intancia.Codigo == ConfiguracionAPP.Instancia_Cuartos).EquipoVisitante.ResultadoEquipo</span>
                            }
                        </div>
                        @*-------------------------------------------------------------------------------------------------------------------------------------*@
                        <div class="fixture-equipo equipo-ganador">
                            @{int CodLocal = Model.Find(x => x.NroOrdenSiguientePartido == (k > 1 ? k + h : k) && x.Intancia.Codigo == ConfiguracionAPP.Instancia_Zona).EquipoLocal.Codigo,
                                                                                        CodVisitante = Model.Find(x => x.NroOrdenSiguientePartido == (k > 1 ? k + h : k) && x.Intancia.Codigo == ConfiguracionAPP.Instancia_Zona).EquipoVisitante.Codigo;
                            }
                            @if (CodLocal != CodVisitante)
                            {
                                if (Model.Any(a => a.NroOrdenSiguientePartido == (k > 1 ? k + h : k) && a.Intancia.Codigo == ConfiguracionAPP.Instancia_Zona && (a.EquipoLocal.Codigo == Model.Find(x => x.NroOrdenSiguientePartido == k && x.Intancia.Codigo == ConfiguracionAPP.Instancia_Cuartos).EquipoLocal.Codigo || a.EquipoVisitante.Codigo == Model.Find(x => x.NroOrdenSiguientePartido == k && x.Intancia.Codigo == ConfiguracionAPP.Instancia_Cuartos).EquipoLocal.Codigo)))
                                {
                                    if (Model.Find(x => x.NroOrdenSiguientePartido == k && x.Intancia.Codigo == ConfiguracionAPP.Instancia_Cuartos).EquipoLocal.Codigo != Model.Find(x => x.NroOrdenSiguientePartido == k && x.Intancia.Codigo == ConfiguracionAPP.Instancia_Cuartos).EquipoVisitante.Codigo)
                                    {
                                        <h4>@Model.Find(x => x.NroOrdenSiguientePartido == k && x.Intancia.Codigo == ConfiguracionAPP.Instancia_Cuartos).EquipoVisitante.NombreEquipo</h4>
                                        <span class="goles">@Model.Find(x => x.NroOrdenSiguientePartido == k && x.Intancia.Codigo == ConfiguracionAPP.Instancia_Cuartos).EquipoVisitante.ResultadoEquipo</span>
                                    }
                                    else
                                    {
                                        <h4>-</h4>
                                        <span class="goles"></span>
                                    }
                                }
                                else
                                {
                                    if (Model.Find(x => x.NroOrdenSiguientePartido == k && x.Intancia.Codigo == ConfiguracionAPP.Instancia_Cuartos).EquipoLocal.Codigo != Model.Find(x => x.NroOrdenSiguientePartido == k && x.Intancia.Codigo == ConfiguracionAPP.Instancia_Cuartos).EquipoVisitante.Codigo)
                                    {
                                        <h4>@Model.Find(x => x.NroOrdenSiguientePartido == k && x.Intancia.Codigo == ConfiguracionAPP.Instancia_Cuartos).EquipoLocal.NombreEquipo</h4>
                                        <span class="goles"></span>
                                    }
                                    else
                                    {
                                        <h4>-</h4>
                                        <span class="goles"></span>
                                    }
                                }
                            }
                            else
                            {
                                <h4>-</h4>
                                <span class="goles"></span>
                            }
                        </div>
                    </div>
                </div>
            </div>
            if (k % 2 == 0)
            {
                @Html.Raw("</div>")
            }
        }
        else
        {
            if (k % 2 != 0)
            {
                @Html.Raw("<div class=\"llave-partido\">")
            }
            <div class="llave-equipo disabled">
                @if (k == 1)
                {
                    <div class="llave-col-title">Cuartos</div>
                }
                <div class="fixture-partido fixture-partido-publico">
                    <h3></h3>
                    <div class="fixture-equipo-container">
                        <div class="fixture-equipo">
                            <h4>-</h4>
                            <span class="goles"></span>
                        </div>
                        <div class="fixture-equipo">
                            <h4>-</h4>
                            <span class="goles"></span>
                        </div>
                    </div>
                </div>
            </div>
            if (k % 2 == 0)
            {
                @Html.Raw("</div>")
            }
        }
    }
</div>

<div class="llave-col has-partido">
    @for (int k = 1; k <= 2; k++)
    {
        if (Model != null && Model.Where(x => x.NroOrdenSiguientePartido == k && x.Intancia.Codigo == ConfiguracionAPP.Instancia_Semifinal && x.Torneo.EsDisponiblePartidoLlave).Count() > 0)
        {
            if (k % 2 != 0)
            {
                @Html.Raw("<div class=\"llave-partido\">")
            }
            <div class="llave-equipo">
                @if (k == 1)
                {
                    <div class="llave-col-title">Semifinal</div>
                }
                <div class="fixture-partido fixture-partido-publico">
                    <h3>@Model.Find(x => x.NroOrdenSiguientePartido == k && x.Intancia.Codigo == ConfiguracionAPP.Instancia_Semifinal).FechaPartido.ToString("MMMM dd - HH:mm")hs</h3>
                    <div class="fixture-equipo-container">
                        <div class="fixture-equipo">
                            @if (Model.Any(a => a.NroOrdenSiguientePartido == k && a.Intancia.Codigo == ConfiguracionAPP.Instancia_Cuartos && (a.EquipoLocal.Codigo == Model.Find(x => x.NroOrdenSiguientePartido == k && x.Intancia.Codigo == ConfiguracionAPP.Instancia_Semifinal).EquipoLocal.Codigo || a.EquipoVisitante.Codigo == Model.Find(x => x.NroOrdenSiguientePartido == k && x.Intancia.Codigo == ConfiguracionAPP.Instancia_Semifinal).EquipoLocal.Codigo)))
                            {
                                <h4>@Model.Find(x => x.NroOrdenSiguientePartido == k && x.Intancia.Codigo == ConfiguracionAPP.Instancia_Semifinal).EquipoLocal.NombreEquipo</h4>
                                <span class="goles">@Model.Find(x => x.NroOrdenSiguientePartido == k && x.Intancia.Codigo == ConfiguracionAPP.Instancia_Semifinal).EquipoLocal.ResultadoEquipo</span>
                            }
                            else
                            {
                                <h4>@Model.Find(x => x.NroOrdenSiguientePartido == k && x.Intancia.Codigo == ConfiguracionAPP.Instancia_Semifinal).EquipoVisitante.NombreEquipo</h4>
                                <span class="goles">@Model.Find(x => x.NroOrdenSiguientePartido == k && x.Intancia.Codigo == ConfiguracionAPP.Instancia_Semifinal).EquipoVisitante.ResultadoEquipo</span>
                            }
                        </div>
                        @*-------------------------------------------------------------------------------------------------------------------------------------*@
                        <div class="fixture-equipo equipo-ganador">
                            @if (Model.Find(x => x.NroOrdenSiguientePartido == k && x.Intancia.Codigo == ConfiguracionAPP.Instancia_Semifinal).EquipoLocal.Codigo != Model.Find(x => x.NroOrdenSiguientePartido == k && x.Intancia.Codigo == ConfiguracionAPP.Instancia_Semifinal).EquipoVisitante.Codigo)
                            {
                                if (Model.Any(a => a.NroOrdenSiguientePartido == k && a.Intancia.Codigo == ConfiguracionAPP.Instancia_Cuartos && (a.EquipoLocal.Codigo == Model.Find(x => x.NroOrdenSiguientePartido == k && x.Intancia.Codigo == ConfiguracionAPP.Instancia_Semifinal).EquipoLocal.Codigo || a.EquipoVisitante.Codigo == Model.Find(x => x.NroOrdenSiguientePartido == k && x.Intancia.Codigo == ConfiguracionAPP.Instancia_Semifinal).EquipoLocal.Codigo)))
                                {
                                    <h4>@Model.Find(x => x.NroOrdenSiguientePartido == k && x.Intancia.Codigo == ConfiguracionAPP.Instancia_Semifinal).EquipoVisitante.NombreEquipo</h4>
                                    <span class="goles">@Model.Find(x => x.NroOrdenSiguientePartido == k && x.Intancia.Codigo == ConfiguracionAPP.Instancia_Semifinal).EquipoVisitante.ResultadoEquipo</span>
                                }
                                else
                                {
                                    <h4>@Model.Find(x => x.NroOrdenSiguientePartido == k && x.Intancia.Codigo == ConfiguracionAPP.Instancia_Semifinal).EquipoLocal.NombreEquipo</h4>
                                    <span class="goles">@Model.Find(x => x.NroOrdenSiguientePartido == k && x.Intancia.Codigo == ConfiguracionAPP.Instancia_Semifinal).EquipoLocal.ResultadoEquipo</span>

                                }
                            }
                            else
                            {
                                <h4>-</h4>
                            }
                        </div>
                    </div>
                </div>
            </div>
            if (k % 2 == 0)
            {
                @Html.Raw("</div>")
            }
        }
        else
        {
            if (k % 2 != 0)
            {
                @Html.Raw("<div class=\"llave-partido\">")
            }
            <div class="llave-equipo disabled">
                @if (k == 1)
                {
                    <div class="llave-col-title">Semifinal</div>
                }
                <div class="fixture-partido fixture-partido-publico">
                    <h3></h3>
                    <div class="fixture-equipo-container">
                        <div class="fixture-equipo">
                            <h4>-</h4>
                            <span class="goles"></span>
                        </div>
                        <div class="fixture-equipo">
                            <h4>-</h4>
                            <span class="goles"></span>
                        </div>
                    </div>
                </div>
            </div>
            if (k % 2 == 0)
            {
                @Html.Raw("</div>")
            }
        }
    }

</div>

<div class="llave-col has-partido">
    @if (Model != null && Model.Where(x => x.NroOrdenSiguientePartido == 1 && x.Intancia.Codigo == ConfiguracionAPP.Instancia_Final && x.Torneo.EsDisponiblePartidoLlave).Count() > 0)
    {
        <div class="llave-partido">
            <div class="llave-equipo">
                <div class="llave-col-title">Final</div>
                <div class="fixture-partido fixture-partido-publico">
                    <h3>@Model.Find(x => x.NroOrdenSiguientePartido == 1 && x.Intancia.Codigo == ConfiguracionAPP.Instancia_Final).FechaPartido.ToString("MMMM dd - HH:mm")hs</h3>
                    <div class="fixture-equipo-container">
                        <div class="fixture-equipo">
                            @if (Model.Find(x => x.NroOrdenSiguientePartido == 1 && x.Intancia.Codigo == ConfiguracionAPP.Instancia_Semifinal).EquipoLocal.Codigo == Model.Find(x => x.NroOrdenSiguientePartido == 1 && x.Intancia.Codigo == ConfiguracionAPP.Instancia_Final).EquipoLocal.Codigo)
                            {
                                <h4>@Model.Find(x => x.NroOrdenSiguientePartido == 1 && x.Intancia.Codigo == ConfiguracionAPP.Instancia_Final).EquipoLocal.NombreEquipo</h4>
                                <span class="goles">@Model.Find(x => x.NroOrdenSiguientePartido == 1 && x.Intancia.Codigo == ConfiguracionAPP.Instancia_Final).EquipoLocal.ResultadoEquipo</span>
                            }
                            else
                            {
                                <h4>@Model.Find(x => x.NroOrdenSiguientePartido == 1 && x.Intancia.Codigo == ConfiguracionAPP.Instancia_Final).EquipoVisitante.NombreEquipo</h4>
                                <span class="goles">@Model.Find(x => x.NroOrdenSiguientePartido == 1 && x.Intancia.Codigo == ConfiguracionAPP.Instancia_Final).EquipoVisitante.ResultadoEquipo</span>
                            }
                        </div>
                        <div class="fixture-equipo equipo-ganador">
                            @if (Model.Find(x => x.NroOrdenSiguientePartido == 1 && x.Intancia.Codigo == ConfiguracionAPP.Instancia_Final).EquipoLocal.Codigo != Model.Find(x => x.NroOrdenSiguientePartido == 1 && x.Intancia.Codigo == ConfiguracionAPP.Instancia_Final).EquipoVisitante.Codigo)
                            {
                                if (Model.Find(x => x.NroOrdenSiguientePartido == 1 && x.Intancia.Codigo == ConfiguracionAPP.Instancia_Semifinal).EquipoLocal.Codigo == Model.Find(x => x.NroOrdenSiguientePartido == 1 && x.Intancia.Codigo == ConfiguracionAPP.Instancia_Final).EquipoLocal.Codigo)
                                {
                                    <h4>@Model.Find(x => x.NroOrdenSiguientePartido == 1 && x.Intancia.Codigo == ConfiguracionAPP.Instancia_Final).EquipoVisitante.NombreEquipo</h4>
                                    <span class="goles">@Model.Find(x => x.NroOrdenSiguientePartido == 1 && x.Intancia.Codigo == ConfiguracionAPP.Instancia_Final).EquipoVisitante.ResultadoEquipo</span>
                                }
                                else
                                {
                                    <h4>@Model.Find(x => x.NroOrdenSiguientePartido == 1 && x.Intancia.Codigo == ConfiguracionAPP.Instancia_Final).EquipoLocal.NombreEquipo</h4>
                                    <span class="goles">@Model.Find(x => x.NroOrdenSiguientePartido == 1 && x.Intancia.Codigo == ConfiguracionAPP.Instancia_Final).EquipoLocal.ResultadoEquipo</span>

                                }
                            }
                            else
                            {
                                <h4>-</h4>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
    else
    {
        <div class="llave-partido">
            <div class="llave-equipo disabled">

                <div class="llave-col-title">Final</div>

                <div class="fixture-partido fixture-partido-publico">
                    <h3></h3>
                    <div class="fixture-equipo-container">
                        <div class="fixture-equipo">
                            <h4>-</h4>
                            <span class="goles"></span>
                        </div>
                        <div class="fixture-equipo">
                            <h4>-</h4>
                            <span class="goles"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }

</div>
