﻿@model IEnumerable<AAPolo.Entities.Club>
@using AAPolo.Entities

@if (Model.Any(a => a.EsDestacado))
{

    <h2 class="page-title m-t-20">Clubes destacados</h2>

    <ul class="listado-jugadores carousel-jugadores-destacados row clearfix m-b-60">

        @foreach (var item in Model.Where(x => x.EsDestacado))
        {
            <li class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="item-jugador item-club item-jugador-destacado">
                    <div class="item-jugador-header">
                        <div class="user-pic" style="background-image: url('@(String.IsNullOrEmpty(item.UrlImagen)?Url.Content("~/Content/img/avatars/avatar-club.jpg"):item.UrlImagen)')"></div>
                    </div>

                    <div class="nombre-jugador">
                        <h3>@item.NombreClub</h3>
                    </div>
                    <ul class="item-jugador-datos">
                        <li title="Categoría"><i class="icon-flag"></i> @item.Categoria.NombreCategoria</li>
                        @if (item.lDomicilio.FirstOrDefault().pais.Codigo > 0) {
                            <li title="Provincia"><i class="icon-location"></i> 
                                @(String.IsNullOrEmpty(item.lDomicilio.FirstOrDefault().provincia.Nombre)?"": item.lDomicilio.FirstOrDefault().provincia.Nombre + ", ") @item.lDomicilio.FirstOrDefault().pais.Nombre
                            </li>
                        }
                        @if (item.FechaFundacion.ToString("dd/MM/yyyy") != "01/01/0001" && item.FechaFundacion.ToString("dd/MM/yyyy") != "01/01/1753")
                        {
                            <li title="Fecha de inicio"><i class="icon-calendar"></i> @AAPolo.Recursos.Recurso.Fundacion: @item.FechaFundacion.ToString("dd/MM/yyyy")</li>
                        }
                    </ul>
                    @*<a href="club.html" class="btn btn-outline btn-small btn-full text-center">Visitar club</a>*@
                    <div class="item-jugador-curva"></div>
                </div>
            </li>

        }

    </ul>
    <hr style="border-top: 2px solid #ccc">

}

<ul class="listado-jugadores row clearfix">

    @foreach (var item in Model.Where(x => !x.EsDestacado))
    {
        <li class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <div class="item-jugador item-club">
                <div class="user-pic" style="background-image: url('@(String.IsNullOrEmpty(item.UrlImagen)?Url.Content("~/Content/img/avatars/avatar-club.jpg"):item.UrlImagen)')"></div>
                <div class="nombre-jugador">
                    <h3>@item.NombreClub</h3>
                </div>
                <ul class="item-jugador-datos">
                    <li title="Categoría"><i class="icon-flag"></i> @item.Categoria.NombreCategoria</li>
                    <li title="Provincia">
                        <i class="icon-location"></i>
                        @(String.IsNullOrEmpty(item.lDomicilio.FirstOrDefault().provincia.Nombre) ? "" : item.lDomicilio.FirstOrDefault().provincia.Nombre + ", ") @item.lDomicilio.FirstOrDefault().pais.Nombre
                    </li>
                    @if (item.FechaFundacion.ToString("dd/MM/yyyy") != "01/01/0001" && item.FechaFundacion.ToString("dd/MM/yyyy") != "01/01/1753")
                    {
                        <li title="Fecha de inicio"><i class="icon-calendar"></i> @AAPolo.Recursos.Recurso.Fundacion: @item.FechaFundacion.ToString("dd/MM/yyyy")</li>
                    }
                </ul>
                @*<a href="club.html" class="btn btn-outline-lightblue btn-small btn-full text-center">Visitar club</a>*@
            </div>
        </li>
    }
</ul>