﻿@model IEnumerable<AAPolo.Entities.Torneo>

<table class="table-default table-bg data-table m-t-0 m-b-20">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Categoría</th>
            <th>Goles</th>
            <th>Fecha inicio</th>
            @*<th>Fecha término</th>*@
            <th class="no-sort"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td data-label="Nombre torneo">@item.NombreTorneo</td>
                <td data-label="Categoría">@item.categoriaTorneo.NombreCategoriaTorneo</td>
                @if (item.PermiteInscipcionIndividual)
                {
                    <td data-label="Goles">@item.Handicap_Min_XJugador - @item.Handicap_Max_XJugador</td>
                }
                else
                {
                    <td data-label="Goles">@item.Handicap_Min_XEquipo - @item.Handicap_Max_XEquipo</td>
                }
                <td data-label="Fecha inicio">@item.FechaInicio.ToString("dd/MM/yyyy")</td>
                @*<td data-label="Fecha término">30/09/2019</td>*@
                <td class="text-right"><a href="@Url.Action("DetalleTorneo", "Home", new { Codigo = item.Codigo })" class="btn btn-lightblue btn-small">Ver torneo</a></td>
            </tr>
        }
    </tbody>
</table>