﻿@model IEnumerable<AAPolo.Entities.Torneo>

@foreach (var item in Model)
{
    @*<div class="col-md-4 col-sm-6">
        <div class="torneo-card panel @(item.FechaInicio<=DateTime.Now? "torneo-card-destacado":"")">
            <a href="@Url.Action("DetalleTorneo", "Home", new { Codigo = item.Codigo })">
                <div class="torneo-date">
                    <small>Inicio</small>
                    <h4>@item.FechaInicio.ToString("dd")<br><span>@item.FechaInicio.ToString("MMM")</span></h4>
                </div>
                <div class="torneo-title">
                    @if (item.PermiteInscipcionIndividual)
                    {
                        <span class="torneo-goles">GOLES: @item.Handicap_Min_XJugador - @item.Handicap_Max_XJugador</span>
                    }
                    else
                    {
                        <span class="torneo-goles">GOLES: @item.Handicap_Min_XEquipo - @item.Handicap_Max_XEquipo</span>
                    }
                    <h3>@item.NombreTorneo</h3>
                    <span class="torneo-categoria">@item.categoriaTorneo.NombreCategoriaTorneo</span>
                </div>
            </a>
            @if (item.InscripcionActiva)
            {
                <span class="torneo-flag">Inscripción<br>hasta @item.strFechaFinInscripcion</span>
            }
        </div>
    </div>*@

    <li>
        <div class="torneo-card panel @(item.FechaInicio<=DateTime.Now? "torneo-card-destacado":"")">
            <a href="@Url.Action("DetalleTorneo", "Home", new { Codigo = item.Codigo })">
                <div class="torneo-date">
                    <small>Inicio</small>
                    <h4>@item.FechaInicio.ToString("dd")<br><span>@item.FechaInicio.ToString("MMM")</span></h4>
                </div>
                <div class="torneo-title">
                    @if (item.PermiteInscipcionIndividual)
                    {
                        <span class="torneo-goles">GOLES: @item.Handicap_Min_XJugador - @item.Handicap_Max_XJugador</span>
                    }
                    else
                    {
                        <span class="torneo-goles">GOLES: @item.Handicap_Min_XEquipo - @item.Handicap_Max_XEquipo</span>
                    }
                    <h3>@item.NombreTorneo</h3>
                    <span class="torneo-categoria">@item.categoriaTorneo.NombreCategoriaTorneo</span>
                </div>
            </a>
            @if (item.InscripcionActiva)
            {
                <span class="torneo-flag">Inscripción<br>HASTA @item.strFechaFinInscripcion</span>
            }
        </div>
    </li>
}