﻿@model List<AAPolo.Entities.Torneo>
@using AAPolo.Entities;
@{

    List<Torneo> lTorneo = Model.OrderBy(o => o.FechaInicio).ToList();
    //List<DateTime> lAnioMes = Model.GroupBy(g => g.FechaInicio.ToString("yyyy/MM")).Select(s => s.FirstOrDefault()).ToList().Select(s => s.FechaInicio).ToList();

    List<DateTime> lAnioMes = Model
                            .Where(x => (x.FechaInicio.Year >= DateTime.Now.Year && x.FechaInicio.Month >= DateTime.Now.Month) || (x.FechaInicio.Year > DateTime.Now.Year))
                            .OrderBy(o => o.FechaInicio)
                            .Concat(
                                Model
                                    .Where(x => (x.FechaInicio.Year <= DateTime.Now.Year && x.FechaInicio.Month < DateTime.Now.Month) || (x.FechaInicio.Year < DateTime.Now.Year))
                                    .OrderBy(o => o.FechaInicio)
                                    .ToList()
                                )
                                .GroupBy(g => g.FechaInicio.ToString("yyyy/MM")).Select(s => s.FirstOrDefault()).ToList().Select(s => s.FechaInicio).ToList();

}

<div class="calendar2-slider m-b-40">
    @for (int i = 0; i < lAnioMes.Count(); i++)
    {

        <div class="calendar2-slide">
            <div class="calendar2-main-title">
                <div class="m-r-10">
                    <a href="javascript:void(0);" class="btn btn-lightblue-outline btn-small single-icon m-t-0 m-b-0 previous"><i class="icon-chevron-left"></i></a>
                    <a href="javascript:void(0);" class="btn btn-lightblue-outline btn-small single-icon m-t-0 m-b-0 next"><i class="icon-chevron-right"></i></a>
                </div>
                <h2>@lAnioMes[i].ToString("MMMM - yyyy")</h2>
            </div>
            <div class="calendar2-holder clearfix">
                @foreach (var item in Model.Where(x => x.FechaInicio.ToString("yyyy/MM").Equals(lAnioMes[i].ToString("yyyy/MM"))))
                {
                    <div class="calendar2-item @(!item.InscripcionActiva? "has-bg-img":"") ">
                        <a href="@Url.Action("DetalleTorneo", "Home", new { Codigo = item.Codigo })" class="calendar2-body" style="background-image: url('@((item.InscripcionActiva? "" : (String.IsNullOrEmpty(item.Url_Imagen))? Url.Content( "~/Content/img/bg-jugadores.jpg") : Url.Content(item.Url_Imagen)))')">
                            <div class="calendar2-date-holder">
                                <div class="calendar2-date">
                                    <h4>@item.FechaInicio.ToString("dd")<br><span>@item.FechaInicio.ToString("MMM")</span></h4>
                                    @*<h5 class="date-2">@item.FechaFin.ToString("dd")<br><span>@item.FechaFin.ToString("MMM")</span></h5>*@
                                </div>
                            </div>
                            <div class="flex align-items-center" style="margin-left: -4px;">
                                @if (item.PermiteInscipcionIndividual)
                                {
                                    <span class="torneo-goles">GOLES: <strong>@item.Handicap_Min_XJugador - @item.Handicap_Max_XJugador</strong></span>
                                }
                                else
                                {
                                    <span class="torneo-goles">GOLES: <strong>@item.Handicap_Min_XEquipo - @item.Handicap_Max_XEquipo</strong></span>
                                }
                                <span class="torneo-categoria m-l-10">@item.categoriaTorneo.NombreCategoriaTorneo</span>
                            </div>
                            <h3 class="calendar-item-title">@item.NombreTorneo</h3>
                            @if (item.InscripcionActiva) {
                                <span class="torneo-inscripcion">Inscripción hasta <strong>@item.strFechaFinInscripcion</strong></span>
                            }
                        </a>
                    </div>
                }
            </div>
        </div>

    }

</div>