﻿@model IEnumerable<AAPolo.Entities.CategoriaHandicap>

<option value="" selected="selected">@AAPolo.Recursos.Recurso.Seleccione @AAPolo.Recursos.Recurso.Categoria.ToLower() handicap</option>
@foreach (var item in Model)
{
    <option value="@item.Codigo">@item.Nombre</option>

}