﻿@model IEnumerable<AAPolo.Entities.Pais>


<option value="0" @(ViewBag.Cod_Pais == 0 ? "selected":"") disabled>Seleccione país</option>

@foreach (var item in Model)
{
    <option value="@item.Codigo" @(ViewBag.Cod_Pais == item.Codigo ? "selected":"")>@item.Nombre</option>

}

