﻿@model IEnumerable<AAPolo.Entities.Genero>


<option value="0" selected disabled>Seleccione género</option>

@foreach (var item in Model)
{
    <option value="@item.Codigo">@item.Nombre</option>

}

