﻿
@{
    ViewBag.Title = "Asociacion";
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";
}


<section class="section-bg line-texture-after" style="background-image: url('@Url.Content("~/Contentimg/bgs/3.jpg")');">
    <div class="container-fluid">
        <div class="wrapper">
            <div class="col-md-12">
                <h1 class="page-title">La Asociación</h1>
            </div>
        </div>
    </div>
</section>

<section class="clearfix p-t-50 p-b-50">
    <div class="container-fluid">
        <div class="col-md-3">
            <ul class="sidenav">
                <li><a href="@Url.Action("Asociacion","Home")"><i class="icon-preview"></i> Visión</a></li>
                <li><a href="@Url.Action("AsociacionHistoria","Home")"><i class="icon-hourglass"></i> Historia</a></li>
                <li><a href="@Url.Action("AsociacionSede","Home")"><i class="icon-location"></i> Sedes</a></li>
                <li><a href="@Url.Action("AsociacionConsejo","Home")"><i class="icon-user-id"></i> Consejo directivo</a></li>
                <li class="current"><a href="@Url.Action("AsociacionSubComision","Home")"><i class="icon-network-3"></i> Subcomisiones</a></li>
                <li><a href="@Url.Action("AsociacionStaff","Home")"><i class="icon-user-group"></i> Staff</a></li>
                <li><a href="@Url.Action("AsociacionStatutos","Home")"><i class="icon-blog"></i> Estatutos y reglamentos</a></li>
                <li><a href="@Url.Action("AsociacionRse","Home")"><i class="icon-brightness-max"></i> RSE</a></li>
            </ul>
        </div>

        <div class="col-md-9 contenido-asociacion">
            <h2 class="page-title m-t-20">
                Subcomisiones AAP
                <div class="burger open-sidenav pull-right">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </h2>

            <p class="quote">El Consejo Directivo de la AAP da a conocer las Subcomisiones de trabajo.</p>

            <h3 class="inner-title">Subcomisión de Disciplina</h3>

            <dl class="row staff clearfix">
                <div class="col-sm-6">
                    <dt>Presidente</dt>
                    <dd>Dr. Rafael Cuneo Libarona</dd>
                </div>

                <div class="col-sm-6">
                    <dt>Vicepresidente</dt>
                    <dd>Dr. Nicolás Pisarenko</dd>
                </div>

                <div class="col-sm-6">
                    <dt>Secretario</dt>
                    <dd>Dr. Federico Fleitas (h)</dd>
                </div>

                <div class="col-sm-6">
                    <dt>Vocal</dt>
                    <dd>Dr. Tomás Allende</dd>
                </div>

                <div class="col-sm-6">
                    <dt>Vocal</dt>
                    <dd>Dr. Santiago Daireaux</dd>
                </div>

                <div class="col-sm-6">
                    <dt>Vocal</dt>
                    <dd>Javier Uranga</dd>
                </div>

                <div class="col-sm-6">
                    <dt>Vocal</dt>
                    <dd>Esc. Guillermo Fornieles</dd>
                </div>

                <div class="col-sm-6">
                    <dt>Vocal</dt>
                    <dd>Lic. Juan José Llorente</dd>
                </div>

                <div class="col-sm-6">
                    <dt>Vocal</dt>
                    <dd>Justo Saavedra</dd>
                </div>

                <div class="col-sm-6">
                    <dt>Vocal</dt>
                    <dd>Juan José Díaz Alberdi</dd>
                </div>

            </dl>

            <h3 class="inner-title">Subcomisión de Referees y Reglamento</h3>

            <dl class="row staff clearfix">
                <div class="col-sm-6">
                    <dt>Presidente</dt>
                    <dd>Marcos Aldao </dd>
                </div>

                <div class="col-sm-6">
                    <dt>Vocal</dt>
                    <dd>Delfin Uranga</dd>
                </div>

                <div class="col-sm-6">
                    <dt>Vocal</dt>
                    <dd>Rafael Cuneo Libarona</dd>
                </div>

                <div class="col-sm-6">
                    <dt>vocal</dt>
                    <dd>Marcos Di Paola</dd>
                </div>

                <div class="col-sm-6">
                    <dt>Vocal</dt>
                    <dd>Fernando Pereyra</dd>
                </div>
            </dl>

            <h3 class="inner-title">Subcomisión Médica AAP</h3>

            <p>El consejo directivo, aprueba la iniciativa del presidente para la creación de una SC Medica para que a través de la misma se analicen específicamente los temas relacionados con la salud, prevención y la accidentologia en nuestro deporte. La misma quedaría integrada según el siguiente detalle:</p>

            <dl class="row staff clearfix">
                <div class="col-sm-6">
                    <dt>Presidente</dt>
                    <dd>Dr. Gabriel Clembosky</dd>
                </div>

                <div class="col-sm-6">
                    <dt>Vocal</dt>
                    <dd>Dr. Walter Mira</dd>
                </div>

                <div class="col-sm-6">
                    <dt>Vocal</dt>
                    <dd>Dr. Diego Rivas</dd>
                </div>

                <div class="col-sm-6">
                    <dt>Vocal</dt>
                    <dd>Dr. Fernando Pereyra</dd>
                </div>

                <div class="col-sm-6">
                    <dt>Vocal</dt>
                    <dd>Dr. Jorge Villamarín</dd>
                </div>

                <div class="col-sm-6">
                    <dt>Vocal</dt>
                    <dd>Sr. Marcos Aldao</dd>
                </div>
            </dl>

            <h3 class="inner-title">Subcomisión Handicap de <small>7 a 10 goles</small></h3>

            <dl class="row staff clearfix">
                <div class="col-sm-6">
                    <dt>Presidente</dt>
                    <dd>Marcos Di Paola</dd>
                </div>

                <div class="col-sm-6">
                    <dt>Vocal</dt>
                    <dd>Bartolome Castagnola</dd>
                </div>

                <div class="col-sm-6">
                    <dt>Vocal</dt>
                    <dd>Diego Araya</dd>
                </div>

                <div class="col-sm-6">
                    <dt>Vocal</dt>
                    <dd>Alejandro Diaz Alberdi</dd>
                </div>

                <div class="col-sm-6">
                    <dt>Vocal</dt>
                    <dd>Tomas Fernandez Llorente</dd>
                </div>

                <div class="col-sm-6">
                    <dt>Vocal</dt>
                    <dd>Ricardo Fanelli</dd>
                </div>

                <div class="col-sm-6">
                    <dt>Vocal</dt>
                    <dd>Mariano Gonzalez</dd>
                </div>

                <div class="col-sm-6">
                    <dt>Vocal</dt>
                    <dd>Juan Ignacio Merlos</dd>
                </div>

                <div class="col-sm-6">
                    <dt>Vocal</dt>
                    <dd>Francisco De Narvaez (h)</dd>
                </div>

                <div class="col-sm-6">
                    <dt>Vocal</dt>
                    <dd>Eduardo Novillo Astrada (h)</dd>
                </div>

                <div class="col-sm-6">
                    <dt>Vocal</dt>
                    <dd>Delfín Uranga</dd>
                </div>
            </dl>

            <h3 class="inner-title">Subcomisión Handicap de <small>0 a 6 goles</small></h3>

            <dl class="row staff clearfix">
                <div class="col-sm-6">
                    <dt>Presidente</dt>
                    <dd>Sebastián Pistone</dd>
                </div>

                <div class="col-sm-6">
                    <dt>Vocal</dt>
                    <dd>Agustín Nero</dd>
                </div>

                <div class="col-sm-6">
                    <dt>Vocal</dt>
                    <dd>Guillermo Willington</dd>
                </div>

                <div class="col-sm-6">
                    <dt>Vocal</dt>
                    <dd>Tomás Dartiguelongue</dd>
                </div>

                <div class="col-sm-6">
                    <dt>Vocal</dt>
                    <dd>Christian Nordheimer</dd>
                </div>

                <div class="col-sm-6">
                    <dt>Vocal</dt>
                    <dd>Marcos Aldao</dd>
                </div>

                <div class="col-sm-6">
                    <dt>Vocal</dt>
                    <dd>Maximiliano Pistone</dd>
                </div>

                <div class="col-sm-6">
                    <dt>Vocal</dt>
                    <dd>Matías Sánchez Fontán</dd>
                </div>

                <div class="col-sm-6">
                    <dt>Vocal</dt>
                    <dd>Martín De Narvaez</dd>
                </div>

                <div class="col-sm-6">
                    <dt>Vocal</dt>
                    <dd>Octavio Olmedo</dd>
                </div>
            </dl>

            <h3 class="inner-title">Subcomisión de Torneos Alto hándicap <small>| 21 goles en adelante</small></h3>

            <dl class="row staff clearfix">
                <div class="col-sm-6">
                    <dt>Presidente</dt>
                    <dd>Delfín Uranga</dd>
                </div>

                <div class="col-sm-6">
                    <dt>Vocal</dt>
                    <dd>Alejandro Agote</dd>
                </div>
            </dl>

            <h3 class="inner-title">Subcomisión de Torneos Mediano handicap <small>| 15 a 20 goles</small></h3>

            <dl class="row staff clearfix">
                <div class="col-sm-6">
                    <dt>Presidente</dt>
                    <dd>Ignacio Lafuente</dd>
                </div>

                <div class="col-sm-6">
                    <dt>Vocal</dt>
                    <dd>Jorge Monsegou</dd>
                </div>

                <div class="col-sm-6">
                    <dt>Vocal</dt>
                    <dd>Gonzalo Azumendi</dd>
                </div>
            </dl>

            <h3 class="inner-title">Subcomisión de Torneos Bajo handicap <small>| 0 a 14 goles</small></h3>

            <dl class="row staff clearfix">
                <div class="col-sm-6">
                    <dt>Presidente</dt>
                    <dd>Sebastian Pistone</dd>
                </div>

                <div class="col-sm-6">
                    <dt>Vocal</dt>
                    <dd>Maximiliano Pistone</dd>
                </div>

                <div class="col-sm-6">
                    <dt>Vocal</dt>
                    <dd>Christian Nordheimer</dd>
                </div>
            </dl>

            <h3 class="inner-title">Subcomisión Liga Argentina</h3>

            <dl class="row staff clearfix">
                <div class="col-sm-6">
                    <dt>Presidente</dt>
                    <dd>Santiago Olivera</dd>
                </div>

                <div class="col-sm-6">
                    <dt>Secretario</dt>
                    <dd>Federico Fleitas (h)</dd>
                </div>

                <div class="col-sm-6">
                    <dt>Vocal</dt>
                    <dd>Francisco Moretti</dd>
                </div>

                <div class="col-sm-6">
                    <dt>Vocal</dt>
                    <dd>Pablo Bagnardi</dd>
                </div>

                <div class="col-sm-6">
                    <dt>Vocal</dt>
                    <dd>Christian Maria Codomi Alcorta</dd>
                </div>

                <div class="col-sm-6">
                    <dt>Vocal</dt>
                    <dd>Federico Segundo Bunge Frers</dd>
                </div>

                <div class="col-sm-6">
                    <dt>Vocal</dt>
                    <dd>Federico Gustavo Virasoro</dd>
                </div>

                <div class="col-sm-6">
                    <dt>Vocal</dt>
                    <dd>Patricio Amespil</dd>
                </div>
            </dl>

            <h3 class="inner-title">Subcomisión de Mujeres</h3>

            <dl class="row staff clearfix">
                <div class="col-sm-6">
                    <dt>Presidente</dt>
                    <dd>Veronica Guerrero</dd>
                </div>

                <div class="col-sm-6">
                    <dt>Secretario</dt>
                    <dd>Milo Fernandez Araujo</dd>
                </div>

                <div class="col-sm-6">
                    <dt>Vocal</dt>
                    <dd>Lia Salvo</dd>
                </div>

                <div class="col-sm-6">
                    <dt>Vocal</dt>
                    <dd>Maria Bellande</dd>
                </div>

                <div class="col-sm-6">
                    <dt>Vocal</dt>
                    <dd>Clelia Crespo</dd>
                </div>

                <div class="col-sm-6">
                    <dt>Vocal</dt>
                    <dd>Veronica Magnasco</dd>
                </div>

                <div class="col-sm-6">
                    <dt>Vocal</dt>
                    <dd>Marcos Aldao</dd>
                </div>

                <div class="col-sm-6">
                    <dt>Vocal</dt>
                    <dd>Delfín Uranga</dd>
                </div>
            </dl>

            <h3 class="inner-title">Subcomisión de Menores</h3>

            <dl class="row staff clearfix">
                <div class="col-sm-6">
                    <dt>Presidente</dt>
                    <dd>Sebastian Pistone</dd>
                </div>

                <div class="col-sm-6">
                    <dt>Vocal</dt>
                    <dd>Christian Nordheimer</dd>
                </div>

                <div class="col-sm-6">
                    <dt>Vocal</dt>
                    <dd>Delfina Donovan</dd>
                </div>

                <div class="col-sm-6">
                    <dt>Vocal</dt>
                    <dd>Maria Chavanne</dd>
                </div>

                <div class="col-sm-6">
                    <dt>Vocal</dt>
                    <dd>Diego Banchero</dd>
                </div>

                <div class="col-sm-6">
                    <dt>Vocal</dt>
                    <dd>Jorge Esain</dd>
                </div>
            </dl>

            <h3 class="inner-title">Subcomisión Polo Interior</h3>

            <dl class="row staff clearfix">
                <div class="col-sm-6">
                    <dt>Presidente</dt>
                    <dd>Agustín Álvarez</dd>
                </div>

                <div class="col-sm-6">
                    <dt>Vocal</dt>
                    <dd>Hugo Iturraspe</dd>
                </div>

                <div class="col-sm-6">
                    <dt>Vocal</dt>
                    <dd>Fernando Reynot Blanco</dd>
                </div>

                <div class="col-sm-6">
                    <dt>Vocal</dt>
                    <dd>Andrés Laumann</dd>
                </div>

                <div class="col-sm-6">
                    <dt>Vocal</dt>
                    <dd>Walter Cardozo</dd>
                </div>

                <div class="col-sm-6">
                    <dt>Vocal</dt>
                    <dd>Andrés Lariguet</dd>
                </div>

                <div class="col-sm-6">
                    <dt>Vocal</dt>
                    <dd>Esteban Iturrioz</dd>
                </div>
                
                <div class="col-sm-6">
                    <dt>Vocal</dt>
                    <dd>Alfredo Boden</dd>
                </div>

                <div class="col-sm-6">
                    <dt>Vocal</dt>
                    <dd>Marcos Aldao</dd>
                </div>
            </dl>

            <h3 class="inner-title">Subcomisión de Gestión y Compras Integradas</h3>

            <dl class="row staff clearfix">

                <div class="col-sm-6">
                    <dt>Presidente</dt>
                    <dd>Federico Virasoro</dd>
                </div>

                <div class="col-sm-6">
                    <dt>Vocal</dt>
                    <dd>Andrés Laumann</dd>
                </div>
                
                <div class="col-sm-6">
                    <dt>Vocal</dt>
                    <dd>Martín de Narvaez</dd>
                </div>

                <div class="col-sm-6">
                    <dt>Vocal</dt>
                    <dd>José Ignacio Stefanoni</dd>
                </div>
            </dl>

            <h3 class="inner-title">Subcomisión de Turismo y Relaciones Internacionales</h3>

            <dl class="row staff clearfix">
                <div class="col-sm-6">
                    <dt>Presidente</dt>
                    <dd>Lic. Emiliano Néspola.</dd>
                </div>

                <div class="col-sm-6">
                    <dt>Secretario</dt>
                    <dd>Grl. Br. José L. Yofre</dd>
                </div>

                <div class="col-sm-6">
                    <dt>Vocal</dt>
                    <dd>Vanessa Nova</dd>
                </div>

                <div class="col-sm-6">
                    <dt>Vocal</dt>
                    <dd>Lucía Ibarra</dd>
                </div>

                <div class="col-sm-6">
                    <dt>Vocal</dt>
                    <dd>Perie Sumner</dd>
                </div>

                <div class="col-sm-6">
                    <dt>Vocal</dt>
                    <dd>Celia Alfie</dd>
                </div>

                <div class="col-sm-6">
                    <dt>Vocal</dt>
                    <dd>Rubén Jabib</dd>
                </div>
            </dl>

        </div>
    </div>
</section>