﻿
@{
    ViewBag.Title = "Asociacion";
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";
}


<section class="section-bg line-texture-after" style="background-image: url('@Url.Content("~/Content/img/bgs/3.jpg")');">
    <div class="container-fluid">
        <div class="wrapper">
            <div class="col-md-12">
                <h1 class="page-title">La Asociación</h1>
            </div>
        </div>
    </div>
</section>

<section class="clearfix p-t-50 p-b-50">
    <div class="container-fluid">
        <div class="col-md-3">
            <ul class="sidenav">
                <li><a href="@Url.Action("Asociacion","Home")"><i class="icon-preview"></i> Visión</a></li>
                <li><a href="@Url.Action("AsociacionHistoria","Home")"><i class="icon-hourglass"></i> Historia</a></li>
                <li><a href="@Url.Action("AsociacionSede","Home")"><i class="icon-location"></i> Sedes</a></li>
                <li><a href="@Url.Action("AsociacionConsejo","Home")"><i class="icon-user-id"></i> Consejo directivo</a></li>
                <li><a href="@Url.Action("AsociacionSubComision","Home")"><i class="icon-network-3"></i> Subcomisiones</a></li>
                <li><a href="@Url.Action("AsociacionStaff","Home")"><i class="icon-user-group"></i> Staff</a></li>
                <li><a href="@Url.Action("AsociacionStatutos","Home")"><i class="icon-blog"></i> Estatutos y reglamentos</a></li>
                <li class="current"><a href="@Url.Action("AsociacionRse","Home")"><i class="icon-brightness-max"></i> RSE</a></li>
            </ul>
        </div>

        <div class="col-md-9 contenido-asociacion">
            <h2 class="page-title m-t-20">
                Responsabilidad social
                <div class="burger open-sidenav pull-right">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </h2>

            <p class="quote">Conocé nuestras ONG aliadas.</p>

            <h3 class="inner-title">Banco de alimentos</h3>
            <video src="@Url.Content("~/Content/video/alimentos.mp4")" class="video-rse" controls></video>

            <h3 class="inner-title">Raíz</h3>
            <video src="@Url.Content("~/Content/video/raiz.mp4")" class="video-rse" controls></video>

            <h3 class="inner-title">Granos de mostaza</h3>
            <video src="@Url.Content("~/Content/video/mostaza.mp4")" class="video-rse" controls></video>
        </div>
    </div>
</section>