﻿
@{
    ViewBag.Title = "Asociacion";
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";
}



<section class="section-bg line-texture-after" style="background-image: url('@Url.Content("~/Contentimg/bgs/3.jpg")');">
    <div class="container-fluid">
        <div class="wrapper">
            <div class="col-md-12">
                <h1 class="page-title">La Asociación</h1>
            </div>
        </div>
    </div>
</section>

<section class="clearfix p-t-50 p-b-50">
    <div class="container-fluid">
        <div class="col-md-3">
            <ul class="sidenav">
                <li><a href="@Url.Action("Asociacion","Home")"><i class="icon-preview"></i> Visión</a></li>
                <li><a href="@Url.Action("AsociacionHistoria","Home")"><i class="icon-hourglass"></i> Historia</a></li>
                <li><a href="@Url.Action("AsociacionSede","Home")"><i class="icon-location"></i> Sedes</a></li>
                <li class="current"><a href="@Url.Action("AsociacionConsejo","Home")"><i class="icon-user-id"></i> Consejo directivo</a></li>
                <li><a href="@Url.Action("AsociacionSubComision","Home")"><i class="icon-network-3"></i> Subcomisiones</a></li>
                <li><a href="@Url.Action("AsociacionStaff","Home")"><i class="icon-user-group"></i> Staff</a></li>
                <li><a href="@Url.Action("AsociacionStatutos","Home")"><i class="icon-blog"></i> Estatutos y reglamentos</a></li>
                <li><a href="@Url.Action("AsociacionRse","Home")"><i class="icon-brightness-max"></i> RSE</a></li>
            </ul>
        </div>

        <div class="col-md-9 contenido-asociacion">
            <h2 class="page-title m-t-20">
                Consejo directivo
                <div class="burger open-sidenav pull-right">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </h2>

            <p class="quote">El Consejo Directivo de la AAP tras la 96º Asamblea Anual.</p>

            <dl class="row staff">
                <div class="col-sm-6 col-xs-12">
                    <dt>Presidente</dt>
                    <dd>Eduardo Novillo Astrada (h)</dd>
                </div>

                <div class="col-sm-6 col-xs-12">
                    <dt>Vicepresidente</dt>
                    <dd>Delfín Uranga</dd>
                </div>

                <div class="col-sm-6 col-xs-12">
                    <dt>Secretario</dt>
                    <dd>Martín de Narváez</dd>
                </div>

                <div class="col-sm-6 col-xs-12">
                    <dt>Prosecretario</dt>
                    <dd>Federico Virasoro</dd>
                </div>

                <div class="col-sm-6 col-xs-12">
                    <dt>Tesorero</dt>
                    <dd>Sebastián Pistone</dd>
                </div>

                <div class="col-sm-6 col-xs-12">
                    <dt>Protesorero</dt>
                    <dd>Juan Lastra</dd>
                </div>

                <div class="col-sm-6 col-xs-12">
                    <dt>Vocal Titular</dt>
                    <dd>GB Diego Martín Lopez Blanco</dd>
                </div>

                <div class="col-sm-6 col-xs-12">
                    <dt>Vocal Titular</dt>
                    <dd>Ernesto Lalor</dd>
                </div>

                <div class="col-sm-6 col-xs-12">
                    <dt>Vocal Suplente</dt>
                    <dd>Delfina Donovan</dd>
                </div>

                <div class="col-sm-6 col-xs-12">
                    <dt>Vocal Suplente</dt>
                    <dd>Eduardo Heguy</dd>
                </div>

                <div class="col-sm-6 col-xs-12">
                    <dt>Vocal Suplente</dt>
                    <dd>Carlos Mendez Behety</dd>
                </div>

                <div class="col-sm-6 col-xs-12">
                    <dt>Vocal Suplente</dt>
                    <dd>CR Daniel Otero Machado</dd>
                </div>

                <div class="col-sm-6 col-xs-12">
                    <dt>Síndico Titular</dt>
                    <dd>Rafael Cúneo Libarona</dd>
                </div>

                <div class="col-sm-6 col-xs-12">
                    <dt>Síndico Suplente</dt>
                    <dd>Gonzalo Delger</dd>
                </div>
            </dl>
        </div>
    </div>
</section>


