﻿
@{
    ViewBag.Title = "Asociacion";
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";
}

<section class="section-bg line-texture-after" style="background-image: url('@Url.Content("~/Contentimg/bgs/3.jpg")');">
    <div class="container-fluid">
        <div class="wrapper">
            <div class="col-md-12">
                <h1 class="page-title">La Asociación</h1>
            </div>
        </div>
    </div>
</section>

<section class="clearfix p-t-50 p-b-50">
    <div class="container-fluid">
        <div class="col-md-3">
            <ul class="sidenav">
                <li><a href="@Url.Action("Asociacion","Home")"><i class="icon-preview"></i> Visión</a></li>
                <li><a href="@Url.Action("AsociacionHistoria","Home")"><i class="icon-hourglass"></i> Historia</a></li>
                <li class="current"><a href="@Url.Action("AsociacionSede","Home")"><i class="icon-location"></i> Sedes</a></li>
                <li><a href="@Url.Action("AsociacionConsejo","Home")"><i class="icon-user-id"></i> Consejo directivo</a></li>
                <li><a href="@Url.Action("AsociacionSubComision","Home")"><i class="icon-network-3"></i> Subcomisiones</a></li>
                <li><a href="@Url.Action("AsociacionStaff","Home")"><i class="icon-user-group"></i> Staff</a></li>
                <li><a href="@Url.Action("AsociacionStatutos","Home")"><i class="icon-blog"></i> Estatutos y reglamentos</a></li>
                <li><a href="@Url.Action("AsociacionRse","Home")"><i class="icon-brightness-max"></i> RSE</a></li>
            </ul>
        </div>

        <div class="col-md-9 contenido-asociacion">
            <h2 class="page-title m-t-20">
                Sedes
                <div class="burger open-sidenav pull-right">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </h2>

            <div class="row">
                <div class="col-md-6">
                    <div class="panel-sede">
                        <div class="slider-sede-container">
                            <div class="slider-sede">
                                <img src="img/sedes/palermo/1.jpg" alt="">
                                <img src="img/sedes/palermo/2.jpg" alt="">
                                <img src="img/sedes/palermo/3.jpg" alt="">
                                <img src="img/sedes/palermo/4.jpg" alt="">
                                <img src="img/sedes/palermo/5.jpg" alt="">
                                <img src="img/sedes/palermo/6.jpg" alt="">
                                <img src="img/sedes/palermo/7.jpg" alt="">
                                <img src="img/sedes/palermo/8.jpg" alt="">
                                <img src="img/sedes/palermo/9.jpg" alt="">
                                <img src="img/sedes/palermo/10.jpg" alt="">
                                <img src="img/sedes/palermo/11.jpg" alt="">
                                <img src="img/sedes/palermo/12.jpg" alt="">
                                <img src="img/sedes/palermo/13.jpg" alt="">
                                <img src="img/sedes/palermo/14.jpg" alt="">
                                <img src="img/sedes/palermo/15.jpg" alt="">
                                <img src="img/sedes/palermo/16.jpg" alt="">
                            </div>
                            <h3>La catedral del polo en Palermo</h3>
                        </div>
                        <p class="copete">El Campo Argentino de Polo, en Palermo, que presenta orgullosamente a sus dos famosas canchas, tiene una ubicación inmejorable, a escasos diez minutos del centro comercial de la ciudad, sobre la Avenida del Libertador, en su cruce con Dorrego, con múltiples medios de transportes en sus proximidades.</p>
                        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d6570.688501236318!2d-58.429930999999996!3d-34.570155!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x5096198d43db1f75!2sArgentine+Polo+Association!5e0!3m2!1sen!2sar!4v1536327581122" frameborder="0" style="border:0" allowfullscreen></iframe>
                        <p>A ello se suman ambientes amplios y diversas comodidades para quienes las utilizan o visitan, gozando de una esplendorosa vista hacia magníficos jardines; por lo que han sido elogiadas por muchos y nunca han merecido el menor calificativo desfavorable. Por el contrario se lo conoce universalmente como La Catedral del Polo por haber sido escenario de increíbles conquistas mundiales y récords históricos señalados por excepcionales jugadores y equipos argentinos en este difícil juego. Por lo tanto para el mejor polo, las mejores canchas e inigualables caballos.</p>
                        <div id="text-sede1" style="display: none;">
                            <p>Las famosas canchas Nº 1 y 2 del Campo Argentino de Polo, fueron construidas por iniciativa delConsejo Directivo presidido por don Juan D. Nelson (integrante y capitán de los seleccionados dueños de las hazañas de 1922 en Inglaterra y EEUU y en 1924 en París), en forma conjunta con la Comisión de Fomento del Caballo de Guerra, hoy Dirección General de Remonta y Veterinaria, fueron inauguradas el 27 de octubre de 1928. Después de este hito importante han sido escenario de memorables hazañas, por lo que el complejo es considerado desde hace varias décadas como la Catedral del Polo , porque en sus famosas canchas ansían jugar los mejores jugadores con los mejores caballosdel mundo, siendo en la actualidad nominado monumento histórico y orgullo nacional, por las múltiples conquistas y récords históricos, su inmejorable ubicación a sólo diez minutos del centro comercial de la ciudad, imponentes tribunas y la belleza estupenda de sus jardines, como así también por las mejoras introducidas que hacen honor a su merecida condición. El solar fue cuna de la aeronáutica nacional, como lo recuerda el monolito erigido frente a la sede de la AAP, el 25 de diciembre de 1907, cuando se elevó por primera vez el globo El Pampero, tripulado por Aarón de Anchorena y Jorge Newbery. Años más tarde, de este mismo lugar, partió el avión piloteado por Teodoro Fels, que inauguró el correo internacional entre Buenos Aires y Montevideo. En 1950, 1966, 1969 y 1979 nuestras selecciones nacionales ganaron 4 versiones, de las seis obtenidas, por la Copa de las Américas; en 1949 el Campeonato Mundial de Polo, en 1951 el Campeonato Rioplatense y el Campeonato Panamericano y además sus restantes compromisos internacionales en el alto polo. Increíbles atributos de un escenario inigualable por sus características de excepción tras su última y suntuosa modernización.Citar a los jugadores extranjeros que se maravillaron ante la perfección de las superficies de las canchas 1 y 2 de Palermo, baste decir que no pocos las ubicaron como las mejores del mundo y otros les envidiaron sin disimulo, al atribuirles, por su cómodo acceso, el por qué de la generosa cantidad de espectadores de todas latitudes que se reúnen en sus cómodas y amplias tribunas para presenciar los partidos que en ella se efectúan. Jerarquizan así a los mismos y en especial a los calificados del Campeonato Argentino Abierto, que es considerado sin ningún tipo de dudas como el más importante del mundo, por las altas valorizaciones de los equipos que protagonizan anualmente sus atrayentes ediciones, desde su inauguración oficial en el año 1928. Es relevante destacar que en el año 1975 la cancha Nº 1 ha sido sede del bien llamado "Partido del Siglo". Hito histórico pues por primera vez en el mundo dos formidables equipos sumaron 80 goles. En ellos se alistaron 8 jugadores locales que ostentaban los 10 goles de handicap, la máxima valorización en el juego.</p>
                            <p>Conducida por hombres del polo, que antes que dirigentes han sido jugadores y antes que jugadores son amigos, la AAP procuró – y siempre lo logró - pasar enhiesta por sobre el oleaje que produjeron diferencias de posiciones, lógicas en el devenir humano. Por ello, el ansia de superación no se detiene. Así lo demuestran todas las ampliaciones y mejoras realizadas en esta esplendida "Catedral", como las realizadas en la hoy imponente senda peatonal y la provisión de cómodos asientos a la lujosa tribuna central Dorrego y en forma fundamental por los implantes de Tifton, que conforman magníficas carpetas verdes a las famosas canchas 1 y 2 de Palermo.</p>
                        </div>
                        <a href="javascript:void(0);" class="btn btn-lightblue-outline btn-full m-b-10 leermas" data-slidebasic="text-sede1"><span>Leer más</span><span style="display: none">Leer menos</span></a>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="panel-sede">
                        <div class="slider-sede-container">
                            <div class="slider-sede">
                                <img src="@Url.Content("~/Content/img/sedes/pilar/1.jpg")" alt="">
                                <img src="@Url.Content("~/Content/img/sedes/pilar/2.jpg")" alt="">
                                <img src="@Url.Content("~/Content/img/sedes/pilar/3.jpg")" alt="">
                                <img src="@Url.Content("~/Content/img/sedes/pilar/4.jpg")" alt="">
                                <img src="@Url.Content("~/Content/img/sedes/pilar/5.jpg")" alt="">
                                <img src="@Url.Content("~/Content/img/sedes/pilar/6.jpg")" alt="">
                                <img src="@Url.Content("~/Content/img/sedes/pilar/7.jpg")" alt="">
                                <img src="@Url.Content("~/Content/img/sedes/pilar/8.jpg")" alt="">
                                <img src="@Url.Content("~/Content/img/sedes/pilar/9.jpg")" alt="">
                                <img src="@Url.Content("~/Content/img/sedes/pilar/10.jpg")" alt="">
                                <img src="@Url.Content("~/Content/img/sedes/pilar/11.jpg")" alt="">
                                <img src="@Url.Content("~/Content/img/sedes/pilar/12.jpg")" alt="">
                                <img src="@Url.Content("~/Content/img/sedes/pilar/13.jpg")" alt="">
                                <img src="@Url.Content("~/Content/img/sedes/pilar/14.jpg")" alt="">
                                <img src="@Url.Content("~/Content/img/sedes/pilar/15.jpg")" alt="">
                                <img src="@Url.Content("~/Content/img/sedes/pilar/16.jpg")" alt="">
                            </div>
                            <h3>Complejo Alfredo Lalor en Pilar</h3>
                        </div>
                        <p class="copete">El predio de la Asociación Argentina de Polo en Pilar, es un escenario de insuperables características.</p>
                        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d26312.007334528582!2d-58.949009!3d-34.477501!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x4efd706399ed8df8!2sPredio+de+la+Asociaci%C3%B3n+Argentina+de+Polo+en+Pilar!5e0!3m2!1sen!2sar!4v1536327633860" frameborder="0" style="border:0" allowfullscreen></iframe>
                        <p>Alfredo "Alfie" Lalor fue uno los más queridos integrantes de las grandes familias del polo y el turf, pues durante una calificada trayectoria humano-deportiva, dio permanentes muestras del cariño entrañable y capacidad dirigencial en dos deportes que fueron su entrañable pasión, a los que se volcó inicialmente como jugador en el polo, más tarde como titular de la AAP y años después, al frente del Jockey Club.</p>
                        <div id="text-sede2" style="display: none;">
                            <p>Don Alfredo Lalor, entre los años 1969 y 1972 fue presidente de la AAP y durante sus mandatos llevó a cabo la visionaria compra de este predio de Pilar, propiedad que en pocos años pasó a constituirse en el mayor patrimonio de la entidad, por la amplitud de ese magnífico complejo polista, que de siete canchas pasó a tener nueve, además de todos los trabajos que se realizaron, en particular por la instalación del sistema eléctrico, que permitió el normal funcionamiento de la bomba de agua y así facilitar el riego de las canchas. Asimismo hizo construir el camino hacia el complejo y pergeñó todas las mejoras que el tradicional castillo necesitaba. Para ello, don "Alfie", que siempre tuvo palabras de encomio para todos quienes fueron sus colaboradores, pudo concretar el sueño de levantar un verdadero Complejo Polista, único en su tipo.</p>
                            <p>El predio para orgullo de la AAP y de todo aficionado al polo, se convirtió pocos años después, en un gran beneficio para los pobladores del lugar, que han visto aparecer vertiginosamente nuevos clubes, escuelas de polo, canchas por toda la zona, hasta convertirse en la nueva Capital del Polo, algo que también debe haber soñado o intuido el admirable dirigente que fue Alfredo Lalor.</p>
                            <p>La importancia de la mencionada adquisición y todas las mejoras posteriores, se complementaron con un préstamo concedido por el Instituto de la Actividad Hípica; pero como decía Lalor: "...lo que se llamó la aventura de Pilar, la iniciamos con fondos de la AAP, provenientes con parte de lo recaudado por la organización de la sexta versión de la Copa de las Américas". La compra del predio ayudó a la difusión del juego en todo el país, ya que innumerables equipos del interior, procedentes de todas las zonas polísticas tuvieron acceso al mismo.</p>
                            <p>Este complejo y sus ocho canchas, resulta cada vez más útil, tanto para prácticas oficiales de conjuntos de muy alto nivel, como para las definiciones de los torneos más tradicionales de nuestro polo, con lo que se permitió acrecentar los planteles en todas las instancias reglamentarias, en alto, mediano y bajo handicap, sin olvidar los cuartos de final del abierto del Hurlingham Club y las entusiastas disputas por el intercolegial por la Copa Santa Paula, Argentino Abierto Juvenil y partidos por la rueda final del Campeonato Nacional Intercircuitos con Handicap, por la Copa República Argentina; todos certámenes formativos.</p>
                            <p>La visión de "Alfie" permitió, en su momento, la creación de mano de obra de distintos profesionales, dada la envergadura de esos emprendimientos, lo que contribuyó a que se incrementara la fundación de muchos clubes y "countrys" y que jugadores de todas las valorizaciones cambiaran su residencia, dándole impulso a una ciudad que hoy lucha por justificar la denominación de "Capital del Polo", especialmente por los hoteles y comercios de todo tipo, que junto a esos clubes parecen darle la razón a esa aspiración, para ello contribuyeron los distintos consejos que lo sucedieron, hasta llegar al actual, que prosiguieron con la realización de obras, que a medida que transcurren le van dando forma a un monumental complejo deportivo y social.</p>
                            <p>Don Alfredo llegó a la conducción del gobierno de la AAP luego de integrar varios cargos directivos, que siempre cumplió en forma encomiable y cuando le tocó tomar la decisión, junto a su Consejo Directivo para la compra, utilizó como ya se ha dicho, fondos propios de la AAP y un préstamo concedido por el Instituto de la Actividad Hípica.</p>
                            <p>La gran familia del polo, que él integró desde sus comienzos junto a sus hermanos Eduardo (Teddy), Enrique (Harry), Ernesto J. (Tito), Luis (el Gallego), Alejandro (Alec), José M. (Coco), Juan (Jackie) y Federico, más los descendientes de éstos, le dieron forma al club La Alicia, que pronto convirtió a los Lalor en otra de sus más famosas y numerosas "tribus".</p>
                            <p>En 1951 integró el primer equipo argentino que viajó a Sudáfrica, luciendo sus 5 goles de handicap (la mayor valorización que logró), junto a su hermano Luis, Heriberto Duggan, Raúl Frías Ayerza, y Pablo Del Corral, donde todos tuvieron una actuación muy destacada. Luego viajó a San Pablo, Brasil, con sus hermanos Ricardo y Luis, y "Totito" Casares, equipo del cual surgirían tres de los magníficos presidentes que tuvo la AAP.</p>
                            <p>En su carrera como polista, con La Alicia, obtuvo las copas Emilio de Anchorena, Provincia de Buenos Aires, Bartolomé Mitre, Jockey Club, Estímulo, General San Martín, Sarmiento, Drysdale y Ravenscroft, mientras que en 1960 ganó el trofeo Springbok alineándose en el equipo de Civiles frente a la formación de Militares.</p>
                            <p>Indudablemente que el polo fue el deporte de su primera pasión y el que lo proyectó como jugador, junto a sus hermanos Enrique, Luis, Ernesto, Ricardo y Alejandro, con distintas formaciones, con ejemplares de sangre pura de carrera, tuvo la doble satisfacción de ser propietario, con su stud "Sudáfrica" y criador, lo que le valió mantener latente la pasión por el caballo hasta sus últimos días.</p>
                            <p>En exitosa trayectoria como dirigente del Jockey Club de Buenos Aires, ocupó varios cargos, entre ellos el de titular de la Comisión de Carreras, en la que estuvo hasta 1990, año en que se produjo la muerte de Vásquez Mansilla y accedió a la presidencia.</p>
                            <p>Su labor fue tan exitosa que le permitió continuar en el cargo, tras cinco reelecciones. Entre sus grandes logros en dicha entidad, sobresale la mejoría en el trazado del césped de la pista auxiliar del hipódromo de San Isidro, para transformarla en una de arena de gran nivel, con gran beneficio para ese circo hípico.</p>
                            <p>Durante 12 años en el cargo, no extrañó que ese ejemplar dirigente alcanzara la presidencia de la Organización Sudamericana de Fomento Equino y de la Asociación Latinoamericana de Jockey Clubs, función que no dejó ni aun con su enfermedad; recién en los últimos meses delegó su cargo de presidente del Jockey Club en Bruno Quintana, luego de una de sus últimas apariciones públicas, poco después de correrse el Gran Premio Carlos Pellegrini, una fiesta que don "Alfie" no quiso perderse por nada.</p>
                            <p>Esta semblanza reseña la obra de quien fue en vida un trabajador en toda la acepción de la palabra, motivo por el cual, tuvimos el honor de ser testigos de un homenaje por demás merecido, como fue el de la colocación de la placa que perpetuó el nombre de don Alfredo Lalor, en ese predio que su visión hizo que pasara a ser patrimonio de la Asociación Argentina de Polo, del polo, jugadores y aficionados a nuestro apasionante deporte.</p>
                        </div>
                        <a href="javascript:void(0);" class="btn btn-lightblue-outline btn-full m-b-10 leermas" data-slidebasic="text-sede2"><span>Leer más</span><span style="display: none">Leer menos</span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>