﻿@model AAPolo.Entities.Torneo

@{
    ViewBag.Title = "Noticia";
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";
}

@*<section class="section-bg line-texture-after" style="background-image: url('@Url.Content("~/Content/Img/bgs/7.jpg")');">
        <div class="container-fluid">
            <div class="wrapper">
                <div class="col-md-8">
                    <div class="title-container">
                        <h1 class="page-title page-title-buscar m-r-20">@Model.NombreTorneo</h1>
                        @if (Model.InscripcionActiva)
                        {
                            <a href="@(Request.IsAuthenticated?Url.Action("Index","PerfilTorneo"):"#")" data-modal="@(Request.IsAuthenticated?"":"iniciarSesion")" onclick="javascript:localStorage.setItem('opMenu','liTorneos'); localStorage.setItem('redirigir','@(Request.IsAuthenticated?"":Url.Action("Index","PerfilTorneo"))')" class="btn btn-outline btn-small text-left">Inscribirme en el torneo<i class="icon-arrow-thin-right m-l-20"></i></a>
                        }
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="clearfix">
        <div class="container-fluid">
            <div class="col-md-12">
                <div class="panel panel-floating clearfix" style="overflow: hidden;">

                    <div class="row">

                        <div class="col-md-12 show-mobile">
                            <span class="inscripcion-info">Incripción hasta @Model.strFechaFinInscripcion</span>
                        </div>

                        <div class="col-md-9">
                            <img src="@(String.IsNullOrEmpty(Model.Url_Imagen)?Url.Content("~/Content/img/img-default.jpg"): Model.Url_Imagen)" alt="Imagen" class="img-responsive">
                        </div>

                        <div class="col-md-3">
                            <ul class="torneo-data">
                                <li><i class="icon-trophy"></i> <span>@AAPolo.Recursos.Recurso.Categoria</span> @Model.categoriaTorneo.NombreCategoriaTorneo</li>
                                <li><i class="icon-user"></i> <span>Handicap por jugador</span> Entre @Model.Handicap_Min_XJugador y @Model.Handicap_Max_XJugador</li>
                                <li><i class="icon-user-group"></i> <span>Handicap por equipo</span> Entre @Model.Handicap_Min_XEquipo y @Model.Handicap_Max_XEquipo</li>
                                @if (!Model.InscripcionActiva && !String.IsNullOrEmpty(Model.Url_ArchivoDocumento))
                                {
                                    <li class="torneo-data-link">
                                        <a href="@Model.Url_ArchivoDocumento" target="_blank" class="btn btn-outline-lightblue btn-full m-b-10">Ver fixture</a>
                                    </li>
                                }
                            </ul>
                        </div>
                        @if (Model.InscripcionActiva)
                        {
                            <div class="col-md-12 hide-mobile">
                                <span class="inscripcion-info">Incripción hasta @Model.strFechaFinInscripcion</span>
                            </div>
                        }
                    </div>
                </div>
            </div>

            <div class="clearfix"></div>

            <div class="col-md-12">
                @if (!String.IsNullOrEmpty(Model.DescripcionTorneo))
                {
                    <h3 class="inner-title m-b-40">Descripción</h3>
                    <div class="columns-2">
                        <p>@Model.DescripcionTorneo</p>
                    </div>
                }

            </div>
        </div>
    </section>*@

<section class="section-bg line-texture-after" style="background-image: url('@Url.Content("~/Content/Img/bgs/7.jpg")');">
    <div class="container-fluid">
        <div class="wrapper">
            <div class="col-md-12">
                <div class="title-container">
                    <h1 class="page-title page-title-buscar m-r-20">@Model.NombreTorneo</h1>
                    @if (Model.InscripcionActiva)
                    {
                        <a href="@(Request.IsAuthenticated?Url.Action("Index","PerfilTorneo"):"#")" data-modal="@(Request.IsAuthenticated?"":"iniciarSesion")" onclick="javascript:localStorage.setItem('opMenu','liTorneos'); localStorage.setItem('redirigir','@(Request.IsAuthenticated?"":Url.Action("Index","PerfilTorneo"))')" class="btn btn-outline btn-small text-left pull-right">
                            Inscribirme en el torneo
                            <i class="icon-arrow-thin-right m-l-20"></i>
                        </a>
                    }
                    @if (!Model.InscripcionActiva && !String.IsNullOrEmpty(Model.Url_ArchivoDocumento))
                    {
                        @Ajax.ActionLink("Ver fixture", "_ModalPDF", "Home", new { Titulo = "Fixture", Link = "https://drive.google.com/viewerng/viewer?embedded=true&url=" + Request.Url.Authority +"/"+ Model.Url_ArchivoDocumento }, new AjaxOptions { HttpMethod = "Post", UpdateTargetId = "divModal" }, new { @class = "btn btn-outline btn-small text-left pull-right", data_modal = "divModal" })
                    }
                </div>
            </div>
        </div>
    </div>
</section>

<section class="clearfix">
    <div class="container-fluid">
        <div class="col-md-12">
            <div class="panel panel-floating clearfix">
                <div class="row">
                    <div class="col-md-12">
                        @if (Model.InscripcionActiva) {
                            <span class="inscripcion-info">Incripción hasta @Model.strFechaFinInscripcion</span>
                        }
                    </div>
                    <div class="col-md-12">
                        <div class="banner-holder m-b-30">
                            <img src="@(String.IsNullOrEmpty(Model.Url_Imagen)?Url.Content("~/Content/img/img-default.jpg"): Model.Url_Imagen)" alt="" class="img-responsive hide-mobile">
                            <img src="@(String.IsNullOrEmpty(Model.Url_Imagen)?Url.Content("~/Content/img/img-default.jpg"): Model.Url_Imagen)" alt="" class="img-responsive show-mobile">
                        </div>
                    </div>
                </div>

                <div class="@(!String.IsNullOrEmpty(Model.DescripcionTorneo)?"col-md-6":"col-md-12")">
                    <ul class="torneo-data columns-2">
                        <li><i class="icon-trophy"></i> <span>@AAPolo.Recursos.Recurso.Categoria</span> @Model.categoriaTorneo.NombreCategoriaTorneo</li>
                        <li><i class="icon-calendar"></i> <span>Fecha de inicio</span> @Model.strFechaInicio</li>
                        <li><i class="icon-user"></i> <span>Handicap por jugador</span> Entre @Model.Handicap_Min_XJugador y @Model.Handicap_Max_XJugador</li>
                        <li><i class="icon-user-group"></i> <span>Handicap por equipo</span> Entre @Model.Handicap_Min_XEquipo y @Model.Handicap_Max_XEquipo</li>
                    </ul>
                </div>
                @if (!String.IsNullOrEmpty(Model.DescripcionTorneo))
                {
                    <div class="col-md-6">
                        <h4 class="inner-title-xs m-t-0">Descripción</h4>
                        <p>@Model.DescripcionTorneo</p>
                    </div>
                }
            </div>
        </div>

        @if (Model.EsDisponibleZona)
        {
            @Html.Action("_DetalleFixture", "Home", new { Codigo = Model.Codigo })

        }

        <div class="col-md-12 col-sm-12">
            <h2 class="page-title">Próximos torneos</h2>
        </div>
        <div class="col-md-12">
            <ul class="row carousel-torneos m-b-60">
                @Html.Action("_ListadoTorneoProximo", "Home")
            </ul>
        </div>

    </div>
</section>


@section scripts{

    <script>

        $(document).ready(function () {
            if ($(window).width() > 768) {
                fixHeight('#equipos .fixture-partido');
            }

            $('.carousel-torneos').slick({
                dots: true,
                infinite: false,
                speed: 300,
                slidesToShow: 3,
                slidesToScroll: 1,
                arrows: false,
                autoplay: true,
                autoplaySpeed: 2000,
                responsive: [
                    {
                        breakpoint: 1260,
                        settings: {
                            slidesToShow: 2,
                            slidesToScroll: 1
                        }
                    },
                    {
                        breakpoint: 992,
                        settings: {
                            slidesToShow: 2,
                            slidesToScroll: 1
                        }
                    },
                    {
                        breakpoint: 800,
                        settings: {
                            slidesToShow: 1,
                            slidesToScroll: 1,
                            dots: false,
                            arrows: true
                        }
                    }
                    // You can unslick at a given breakpoint now by adding:
                    // settings: "unslick"
                    // instead of a settings object
                ]
            });

            $('.llave-container .fixture-partido-publico').each(function (index, element) {
                var eq1 = parseInt($(element).find('.fixture-equipo-container .fixture-equipo:nth(0) .goles').html());
                var eq2 = parseInt($(element).find('.fixture-equipo-container .fixture-equipo:nth(1) .goles').html());

                if (eq1 > eq2) {
                    $(element).find('.fixture-equipo-container .fixture-equipo:nth(0)').addClass('equipo-ganador');
                    $(element).find('.fixture-equipo-container .fixture-equipo:nth(1)').removeClass('equipo-ganador');
                } else if (eq2 > eq1) {
                    $(element).find('.fixture-equipo-container .fixture-equipo:nth(0)').removeClass('equipo-ganador');
                    $(element).find('.fixture-equipo-container .fixture-equipo:nth(1)').addClass('equipo-ganador');
                } else {
                    $(element).find('.fixture-equipo-container .fixture-equipo:nth(0)').removeClass('equipo-ganador');
                    $(element).find('.fixture-equipo-container .fixture-equipo:nth(1)').removeClass('equipo-ganador');
                    if ($(element).closest('.llave-partido').find('.llave-equipo.disabled').length == 2) {
                        $(element).closest('.llave-partido').addClass('disabled');
                    }
                }
            });


        });

        $('.slider-perfil').slick({
            slidesToShow: 1,
            slidesToScroll: 1,
            autoplay: true,
            autoplaySpeed: 2000,
            arrows: true,
            dots: true,
        });

        $('.gallery').masonry({
            // set itemSelector so .grid-sizer is not used in layout
            itemSelector: 'li',
            // use element for option
            columnWidth: 'li',
            percentPosition: true
        });

    </script>

}