﻿@model AAPolo.Entities.Persona

@{
    Layout = null;
    HttpCookie cookie = HttpContext.Current.Request.Cookies.Get("Lenguage");
    string Idioma = cookie != null && cookie.Value != null ? cookie.Value.ToString() : "";
}

<!doctype html>
<html class="no-js" lang="">
<head prefix="og: http://ogp.me/ns#">
    <!-- Google Tag Manager -->
    <script>(function (w, d, s, l, i) { w[l] = w[l] || []; w[l].push({ 'gtm.start': new Date().getTime(), event: 'gtm.js' }); var f = d.getElementsByTagName(s)[0], j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src = 'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f); })(window, document, 'script', 'dataLayer', 'GTM-W7WJ8TR');</script>
    <!-- End Google Tag Manager -->

    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Asociación Argentina de Polo</title>
    <meta name="description" content="Sitio web oficial de la AAP.">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, viewport-fit=cover">
    <meta property="og:title" content="Asociación Argentina de Polo">
    <meta property="og:url" @*content="https://aapolo.com"*@>
    <meta property="og:description" content="Sitio web oficial de la AAP.">
    <meta property="og:image" content="@Url.Content("~/Content/img/share-img.jpg")">
    <meta property="og:type" content="article">
    <meta name="theme-color" content="#2065a5">
    <meta name="msapplication-TileColor" content="#2065a5">

    <link rel="manifest" href="site.webmanifest">
    <link rel="apple-touch-icon" href="icon.png">
    <!-- Place favicon.ico in the root directory -->

    <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700,900" rel="stylesheet">

    <link rel="stylesheet" href="@Url.Content("~/Content/css/normalize.css")">
    <link rel="stylesheet" href="@Url.Content("~/Content/css/bootstrap.min.css")">
    <link rel="stylesheet" href="@Url.Content("~/Content/css/animate.css")">
    <link rel="stylesheet" href="@Url.Content("~/Content/css/icons.css")">
    <link rel="stylesheet" href="@Url.Content("~/Content/css/select2.css")">
    <link rel="stylesheet" href="@Url.Content("~/Content/css/slick.css")">
    <link rel="stylesheet" href="@Url.Content("~/Content/css/slick-theme.css")">
    <link rel="stylesheet" href="@Url.Content("~/Content/css/datepicker.css")" />
    <link rel="stylesheet" href="@Url.Content("~/Content/css/main.css")">
    <link rel="stylesheet" href="@Url.Content("~/Content/css/calendar.css")">

    <style>
        .wow {
            visibility: hidden;
        }
    </style>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-142323062-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-142323062-1');
    </script>

    <!-- Global site tag (gtag.js) - Google Ads: 724817591 -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=AW-724817591"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', 'AW-724817591');
    </script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-JRT6YB4ZGY"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-JRT6YB4ZGY');
    </script>

    <!-- Facebook Pixel Code -->
    <script>
        !function (f, b, e, v, n, t, s) {
            if (f.fbq) return; n = f.fbq = function () {
                n.callMethod ?
                    n.callMethod.apply(n, arguments) : n.queue.push(arguments)
            };
            if (!f._fbq) f._fbq = n; n.push = n; n.loaded = !0; n.version = '2.0';
            n.queue = []; t = b.createElement(e); t.async = !0;
            t.src = v; s = b.getElementsByTagName(e)[0];
            s.parentNode.insertBefore(t, s)
        }(window, document, 'script', 'https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '684860518659249');
        fbq('track', 'PageView');
    </script>
    <noscript>
        <img height="1" width="1" src="https://www.facebook.com/tr?id=684860518659249&ev=PageView&noscript=1" />
    </noscript>
    <!-- End Facebook Pixel Code -->
    @*------------------------------------------------------------------------------------------------------------------------------------*@

    <!-- Facebook Pixel Code -->

    <script>

        !function (f, b, e, v, n, t, s) {
            if (f.fbq) return; n = f.fbq = function () {
                n.callMethod ?

                    n.callMethod.apply(n, arguments) : n.queue.push(arguments)
            };

            if (!f._fbq) f._fbq = n; n.push = n; n.loaded = !0; n.version = '2.0';

            n.queue = []; t = b.createElement(e); t.async = !0;

            t.src = v; s = b.getElementsByTagName(e)[0];

            s.parentNode.insertBefore(t, s)
        }(window, document, 'script', 'https://connect.facebook.net/en_US/fbevents.js');

        fbq('init', '238877590114048');
        fbq('track', 'PageView');

    </script>

    <noscript>
        <img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=238877590114048&ev=PageView&noscript=1" />
    </noscript>

    <!-- End Facebook Pixel Code →

    <!-- Global site tag (gtag.js) - Google Ads: 701205220 -->

    <script async src="https://www.googletagmanager.com/gtag/js?id=AW-701205220"></script>

    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }

        gtag('js', new Date());
        gtag('config', 'AW-701205220');

    </script>

    @*------------------------------------------------------------------------------------------------------------------------------------*@
    <!-- Event snippet for AAP - Venta conversion page In your html page, add the snippet and call gtag_report_conversion when someone clicks on the chosen link or button. -->

    <script>
        function gtag_report_conversion(url) {
            var callback = function () {
                if (typeof (url) != 'undefined') {
                    window.location = url;
                }
            };
            gtag('event', 'conversion', { 'send_to': 'AW-724817591/_kUVCNSYgq4BELetz9kC', 'transaction_id': '', 'event_callback': callback });
            return false;
        }
    </script>

</head>
<body class="body-home">
    <!--[if lte IE 9]>
        <p class="browserupgrade">Estás usando un navegador <strong>desactualizado</strong>. Por favor, <a href="https://browsehappy.com/">actualiza tu navegador</a> para una mejor y más segura experiencia.</p>
    <![endif]-->

    <div class="overlay-nav"></div>
    <header class="header-home">
        <a href="@Url.Action("Index","Home")" class="logo"><img src="@Url.Content("~/Content/img/logo.png")" alt="AAP"></a>

        <nav class="main-nav">
            <div class="show-mobile">
                @Html.Action("_DatosUsuario", "PerfilJugador")
            </div>

            <ul>
                @Html.Partial("_Menus")
                @*<li id="liPoloCommunity" class="btn-community"><a href="@Url.Action("Index","Community")" onclick="javascript:localStorage.setItem('opMenu','liPoloCommunity')">@AAPolo.Recursos.Recurso.PoloCommunity</a></li>*@
            </ul>

            <div class="user-top language-top show-mobile">

                <a href="javascript:void(0);" class="dropdown">
                    @if (Idioma == "en")
                    {
                        <img src="@Url.Content("~/Content/img/flags/united-kingdom.svg")" alt="" class="player-flag lang-select" data-original-title="ENG">
                    }
                    else
                    {
                        <img src="@Url.Content("~/Content/img/flags/Argentina.svg")" alt="" class="player-flag lang-select" data-original-title="SPA">
                    }
                </a>
                <ul>
                    <li class="">
                        <a href="@Url.Action("Index", "Lenguaje", new { leng = "es-AR" })">
                            <img src="@Url.Content("~/Content/img/flags/Argentina.svg")" alt="" class="player-flag lang-select @(Idioma == "es-AR" ? "" : "lang-off")" data-original-title="SPA">
                        </a>
                    </li>
                    <li class="">
                        <a href="@Url.Action("Index", "Lenguaje", new { leng = "en" })">
                            <img src="@Url.Content("~/Content/img/flags/united-kingdom.svg")" alt="" class="player-flag lang-select @(Idioma == "en" ? "" : "lang-off")" data-original-title="ENG">
                        </a>
                    </li>
                </ul>
            </div>
        </nav>

        <div class="header-right">
            <div class="user-top language-top">
                <a href="javascript:void(0);" class="dropdown">

                    @if (Idioma == "en")
                    {
                        <img src="@Url.Content("~/Content/img/flags/united-kingdom.svg")" alt="" class="player-flag lang-select" data-original-title="ENG">
                    }
                    else
                    {
                        <img src="@Url.Content("~/Content/img/flags/Argentina.svg")" alt="" class="player-flag lang-select" data-original-title="SPA">
                    }
                </a>
                <ul>
                    <li class="">
                        <a href="@Url.Action("Index", "Lenguaje", new { leng = "es-AR" })">
                            <img src="@Url.Content("~/Content/img/flags/Argentina.svg")" alt="" class="player-flag lang-select @(Idioma == "es-AR" ? "" : "lang-off")" data-original-title="SPA">
                        </a>
                    </li>
                    <li class="">
                        <a href="@Url.Action("Index", "Lenguaje", new { leng = "en" })">
                            <img src="@Url.Content("~/Content/img/flags/united-kingdom.svg")" alt="" class="player-flag lang-select @(Idioma == "en" ? "" : "lang-off")" data-original-title="ENG">
                        </a>
                    </li>
                </ul>
            </div>

            @Html.Action("_DatosUsuario", "PerfilJugador")

        </div>

        <div class="burger open-nav">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </header>

    <section class="slider-wrapper" style="background-image: url('@Url.Content("~/Content/img/abierto-palermo-home.jpg")')">
        @*<div class="skewed-object line-texture-after"></div>*@
        <div class="slider-home">

            <div class="slide-home">
                <div class="caption">
                    <img src="@Url.Content("~/Content/img/community-tar.png")" class="wow fadeInUp" style="width: 120px;">
                    <h1 class="wow fadeInUp">Vuelve el sistema Cashless</h1>
                    <p class="wow fadeInUp animated" data-wow-delay=".2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">Cargá tu tarjeta y solicitá la devolución de crédito</p>
                    <div class="flex align-items-center justify-center">
                        <a href="https://ego.easygoband.com/#/app/cf9503e7-a261-49b0-bff8-340f42979bb1/signup" class="btn btn-red btn-lg text-left wow fadeInUp" data-wow-delay=".4s">Cargá<i class="icon-arrow-thin-right m-l-30"></i></a>
                        <a href="http://invoice.pokesend.com/" class="btn btn-underline m-l-20 wow fadeInUp" data-wow-delay=".4s">Obtené tus facturas</a>
                    </div>
                </div>
            </div>

            <div class="slide-home">
                <div class="caption">
                    <img src="@Url.Content("~/Content/img/abierto-palermo-2019/logo-footer.png")" class="wow fadeInUp" style="width: 120px;">
                    <h1 class="wow fadeInUp">Viví el polo más grande del mundo</h1>
                    <p class="wow fadeInUp" data-wow-delay=".2s">Comprá tus entradas</p>
                    <a href="https://www.allaccess.com.ar/event/abierto-argentino-de-polo-abonos" class="btn btn-red btn-lg text-left wow fadeInUp" data-wow-delay=".4s">Comprá<i class="icon-arrow-thin-right m-l-30"></i></a>
                </div>

            </div>

            @*<div class="slide-home" style="background-image: url('@Url.Content("~/Content/img/color-pic-bg.jpg")')">
                    <div class="caption">
                        <img src="@Url.Content("~/Content/img/icon-pago.png")" class="wow fadeInUp">
                        <h1 class="wow fadeInUp">@AAPolo.Recursos.Recurso.PagarHandicap</h1>
                        <p class="wow fadeInUp" data-wow-delay=".2s">@AAPolo.Recursos.Recurso.AccedeAlInstanteAlPAgoHandicap</p>
                        <a href="@(Request.IsAuthenticated?Url.Action("Index","PagoHandicap"):"#")" class="btn btn-lightblue btn-lg text-left wow fadeInUp" data-wow-delay=".4s" data-modal="@(Request.IsAuthenticated?"":"iniciarSesion")">@AAPolo.Recursos.Recurso.Entrar<i class="icon-arrow-thin-right m-l-30"></i></a>
                    </div>
                    <div class="line-texture-after">

                    </div>
                </div>

                <div class="slide-home" style="background-image: url('@Url.Content("~/Content/img/community-pic-bg.jpg")')">
                    <div class="caption">
                        <img src="@Url.Content("~/Content/img/icon-torneos.png")" class="wow fadeInUp">
                        <h1 class="wow fadeInUp">@AAPolo.Recursos.Recurso.InscribirmeATorneos</h1>
                        <p class="wow fadeInUp" data-wow-delay=".2s">@AAPolo.Recursos.Recurso.InscribeTuEquipoAlProximoTorneo</p>
                        <a href="@(Request.IsAuthenticated?Url.Action("Index","PerfilTorneo"):"#")" onclick="javascript: localStorage.setItem('redirigir','@(Request.IsAuthenticated?"":Url.Action("Index","PerfilTorneo"))')" class="btn btn-lightblue btn-lg text-left wow fadeInUp" data-wow-delay=".4s" data-modal="@(Request.IsAuthenticated?"":"iniciarSesion")">@AAPolo.Recursos.Recurso.Entrar<i class="icon-arrow-thin-right m-l-30"></i></a>
                    </div>
                    <div class="line-texture-after">

                    </div>
                </div>*@

            @*<div class="slide-home" style="background-image: url('@Url.Content("~/Content/img/slider-home-noticia.jpg")')">
                    <div class="caption">
                        <h1 class="wow fadeInUp">Se extiende la inscripción para los circuitos de la Copa República</h1>
                        <p class="wow fadeInUp" data-wow-delay=".2s">Podés anotar tu equipo para la Copa República hasta el 5 de marzo.</p>
                        <a href="https://amediatest.com/AAPoloV2/Home/DetalleNoticia?Cod_Noticia=2127&Cod_TipoNoticia=1" class="btn btn-lightblue btn-lg text-left wow fadeInUp" data-wow-delay=".4s">Leer más<i class="icon-arrow-thin-right m-l-30"></i></a>
                    </div>
                    <div class="line-texture-after">

                    </div>
                </div>*@
        </div>
        <div id="scene-home" class="scene" style="width: 100%;">
            <div class="layer" data-depth="0.3">
                <img src="@Url.Content("~/Content/img/abierto-palermo-2019/players-2.png")" alt="">
            </div>
        </div>
    </section>

    <section class="links-interes">
        <div class="mensaje-scroll">
            <a href="javascript:void(0);">
                <i class="icon-chevron-down"></i>
            </a>
        </div>
        <div class="container-fluid">
            <div class="col-md-12">
                <ul class="sponsors-list">
                    <li><img src="@Url.Content("~/Content/img/sponsors/espn.png")" alt="ESPN"></li>
                    <li><img src="@Url.Content("~/Content/img/sponsors/rus.png")" alt="RUS"></li>
                    <li><img src="@Url.Content("~/Content/img/sponsors/omint.png")" alt="Omint"></li>
                    <li><img src="@Url.Content("~/Content/img/sponsors/johnniewalker.png")" alt="Johnnie Walker"></li>
                    <li><img src="@Url.Content("~/Content/img/sponsors/navarrocorreas.png")" alt="Navarro Correas"></li>
                    <li><img src="@Url.Content("~/Content/img/sponsors/wearesports.png")" alt="We Are Sports"></li>
                    <li><img src="@Url.Content("~/Content/img/sponsors/la-merced-temp.png")" alt="La merced" /></li>
                    <li><img src="@Url.Content("~/Content/img/sponsors/imperial_cerveza.png")" alt="Imperial" /></li>
                    <li><img src="@Url.Content("~/Content/img/sponsors/case.png")" alt="Case" /></li>
                </ul>
            </div>
        </div>
    </section>


    <section class="banner-holder">
        <div class="container-fluid">
            <div class="col-md-12">
                <a href="@(Idioma != "en" ? "https://www.allaccess.com.ar/event/abierto-argentino-de-polo-abonos" : "https://live.aapolo.com/buy/subscription")" onclick="return gtag_report_conversion('@(Idioma != "en" ? "https://www.allaccess.com.ar/event/abierto-argentino-de-polo-abonos" : "https://live.aapolo.com/buy/subscription")')" target="_blank" class="banner-home">
                    <img src="@Url.Content((Idioma != "en" ? "~/Content/img/AAP-BANNER_desktop-home.gif":"~/Content/img/AAP-BANNER_desktop-home-en.jpg"))" alt="" class="img-responsive hide-mobile">
                    <img src="@Url.Content((Idioma != "en" ? "~/Content/img/AAP-BANNER_responsive-home.gif":"~/Content/img/AAP-BANNER_responsive-home-en.jpg"))" alt="" class="img-responsive show-mobile">
                </a>
            </div>
        </div>
    </section>

    <section>
        <div class="container-fluid">
            <div class="col-md-12">
                <h2 class="title-section">
                    <a href="@Url.Action("Noticia","Home")">
                        @AAPolo.Recursos.Recurso.NoticiasRecientes
                    </a>
                </h2>
            </div>

            @Html.Action("_ListadoNoticiaRecientes")

            <div class="clearfix"></div>

            <div class="col-md-12">

                @Html.Action("_ListadoTorneoInscripcionAbierta", "Home")

            </div>

        </div>
    </section>

    <section class="clearfix p-b-50">
        <div class="container-fluid">
            <div class="col-md-12">
                <h2 class="title-section">@AAPolo.Recursos.Recurso.Instructivos</h2>
            </div>

            <div class="col-md-4 col-sm-6">
                <div class="access-card panel" style="background-image: url('@Url.Content("~/Content/img/noticia1.jpg")')">

                    @Ajax.ActionLink(AAPolo.Recursos.Recurso.ComoInscribirATorneos, "_ModalPDF", "Home", new { Titulo = AAPolo.Recursos.Recurso.ComoInscribirATorneos, Link = "https://drive.google.com/viewerng/viewer?embedded=true&url=https://www.aapolo.com/Documentos/AAP-comoinscribirme-instructivo.pdf" }, new AjaxOptions { HttpMethod = "Post", UpdateTargetId = "divModal" }, new { @class = "blue-bg-after FormaterTextH4", id = "aTorneo", data_modal = "divModal" })
                </div>
            </div>

            <div class="col-md-4 col-sm-6">
                <div class="access-card panel" style="background-image: url('@Url.Content("~/Content/img/noticia2.jpg")')">

                    @Ajax.ActionLink(AAPolo.Recursos.Recurso.ComoPagarAfiliacionDeClub, "_ModalPDF", "Home", new { Titulo = AAPolo.Recursos.Recurso.ComoPagarAfiliacionDeClub, Link = "https://drive.google.com/viewerng/viewer?embedded=true&url=" + Request.Url.Authority + "/Documentos/AAP-comopagarafiliación-instructivo.pdf" }, new AjaxOptions { HttpMethod = "Post", UpdateTargetId = "divModal" }, new { @class = "blue-bg-after FormaterTextH4", id = "aAfiliacion", data_modal = "divModal" })
                </div>
            </div>

            <div class="col-md-4 col-sm-6">
                <div class="access-card panel" style="background-image: url('@Url.Content("~/Content/img/noticia3.jpg")')">

                    @Ajax.ActionLink(AAPolo.Recursos.Recurso.ComoPagarMiHandicap, "_ModalPDF", "Home", new { Titulo = AAPolo.Recursos.Recurso.ComoPagarMiHandicap, Link = "https://drive.google.com/viewerng/viewer?embedded=true&url=" + Request.Url.Authority + "/Documentos/AAP Como pagar handicap.pdf" }, new AjaxOptions { HttpMethod = "Post", UpdateTargetId = "divModal" }, new { @class = "blue-bg-after FormaterTextH4", id = "aHandicap", data_modal = "divModal" })
                </div>
            </div>
        </div>
    </section>

    <section class="secciones">
        <div class="col-md-3 col-sm-6">
            <a href="@Url.Action("Jugadores")" class="link-seccion">
                <div class="link-seccion-bg" style="background-image: url('@Url.Content("~/Content/img/bg-jugadores.jpg")')"></div>
                <img src="@Url.Content("~/Content/img/icon-jugadores.png")" alt="">
                <h2>@AAPolo.Recursos.Recurso.Jugadores</h2>
            </a>
        </div>

        <div class="col-md-3 col-sm-6">
            <a href="@Url.Action("Club","Home")" class="link-seccion">
                <div class="link-seccion-bg" style="background-image: url('@Url.Content("~/Content/img/bg-clubes.jpg")')"></div>
                <img src="@Url.Content("~/Content/img/icon-clubes.png")" alt="">
                <h2>@AAPolo.Recursos.Recurso.Clubes</h2>
            </a>
        </div>

        <div class="col-md-3 col-sm-6">
            <a href="@Url.Action("Torneo","Home")" class="link-seccion">
                <div class="link-seccion-bg" style="background-image: url('@Url.Content("~/Content/img/bg-torneos.jpg")')"></div>
                <img src="@Url.Content("~/Content/img/icon-torneos.png")" alt="">
                <h2>@AAPolo.Recursos.Recurso.Torneos</h2>
            </a>
        </div>

        <div class="col-md-3 col-sm-6">
            <a href="@Url.Action("Asociacion","Home")" class="link-seccion">
                <div class="link-seccion-bg" style="background-image: url('@Url.Content("~/Content/img/bg-asociacion.jpg")')"></div>
                <img src="@Url.Content("~/Content/img/icon-asociacion.png")" alt="">
                <h2>@AAPolo.Recursos.Recurso.LaAsociacion</h2>
            </a>
        </div>
    </section>

    <footer>
        <div class="container-fluid">
            <div class="wrapper clearfix">
                <div class="col-md-12">
                    <img src="@Url.Content("~/Content/img/logo-footer.png")" alt="Asociación Argentina de Polo" class="logo-footer">
                    <div class="info-footer">
                        <p>Copyright 2019 AAPOLO<span class="hide-mobile"> | </span><br class="show-mobile">Asociación Argentina de Polo</p>
                        <p><i class="icon-mail"></i><a href="mailto:info@aapolo.com" target="_blank">info@aapolo.com</a></p>
                        <p><i class="icon-phone"></i><a href="tel:(5411) 4777-6599 | 4777-5332" target="_blank">(5411) 4777-6599 | 4777-5332</a></p>
                        <p><a href="javascript:void(0);" data-modal="PrivacyPolicy">Privacy Policy</a></p>
                    </div>
                    <ul class="social-links clearfix">
                        <li><a href="https://www.facebook.com/asociaciondepolo/" target="_blank" class="has-tooltip" title="Facebook"><img src="@Url.Content("~/Content/img/icon-fb.png")" alt=""></a></li>
                        <li><a href="https://twitter.com/asocdepolo?lang=es" target="_blank" class="has-tooltip" title="Twitter"><img src="@Url.Content("~/Content/img/icon-tw.png")" alt=""></a></li>
                        <li><a href="https://www.instagram.com/asocdepolo/?hl=es-la" target="_blank" class="has-tooltip" title="Instagram"><img src="@Url.Content("~/Content/img/icon-in.png")" alt=""></a></li>
                        <li><a href="https://www.youtube.com/channel/UCZKoGyZqBYZZ7cPV9PqqkNg" target="_blank" class="has-tooltip" title="YouTube"><img src="@Url.Content("~/Content/img/icon-yt.png")" alt=""></a></li>
                        @*<li><a href="javascript:void(0);" class="has-tooltip" title="Trip Advisor"><img src="@Url.Content("~/Content/img/icon-ta.png")" alt=""></a></li>*@
                    </ul>
                    <img src="@Url.Content("~/Content/img/support-camine.png")" alt="" class="img-camine">
                    <img src="@Url.Content("~/Content/img/support.png")" alt="" class="img-wesupport">
                </div>
            </div>
        </div>
    </footer>

    <div class="floating-access">
        <a href="@(Request.IsAuthenticated?Url.Action("Index","PagoHandicap"):"#")" data-modal="@(Request.IsAuthenticated?"":"iniciarSesion")"><i class="icon-wallet"></i>@AAPolo.Recursos.Recurso.PagarHandicap</a>
        <a href="@(Request.IsAuthenticated?Url.Action("Index","PerfilTorneo"):"#")" data-modal="@(Request.IsAuthenticated?"":"iniciarSesion")" onclick="javascript:localStorage.setItem('opMenu','liTorneos'); localStorage.setItem('redirigir','@(Request.IsAuthenticated?"":Url.Action("Index","PerfilTorneo"))')"><i class="icon-trophy"></i>@AAPolo.Recursos.Recurso.InscribirmeATorneos</a>
    </div>

    <div class="modal" id="cargar-tarjeta">
        <div class="modal-overlay" data-dismiss="cargar-tarjeta"></div>

        <div class="modal-dialogo modal-dialogo-600">
            <div class="modal-header">
                <h2><i class="icon-card"></i> Cargá tu tarjeta</h2>
                <i class="icon-cross" data-dismiss="cargar-tarjeta"></i>
            </div>

            <div class="modal-contenido clearfix">
                <div class="col-md-6">
                    <a href="https://ego.easygoband.com/#/app/cf9503e7-a261-49b0-bff8-340f42979bb1/signup" target="_blank" class="btn btn-lightblue btn-full">Cargá tu tarjeta</a>
                </div>
                <div class="col-md-6">
                    <a href="https://ego.easygoband.com/#/app/cf9503e7-a261-49b0-bff8-340f42979bb1/signup" target="_blank" class="btn btn-lightblue btn-full">Solicitar devolución</a>
                </div>
                <div class="col-md-12 text-center" data-dismiss="cargar-tarjeta">
                    <p><a href="javascript:void(0);" data-modal="terminos-tarjeta">Ver términos y condiciones</a></p>
                </div>
            </div>
        </div>
    </div>

    <div class="modal" id="terminos-tarjeta">
        <div class="modal-overlay" data-dismiss="terminos-tarjeta"></div>

        <div class="modal-dialogo modal-dialogo">
            <div class="modal-header">
                <h2><i class="icon-card"></i> Términos y condiciones "cashless"</h2>
                <i class="icon-cross" data-dismiss="terminos-tarjeta"></i>
            </div>

            <div class="modal-contenido-largo clearfix">
                <div class="col-md-12">
                    <h2>SISTEMA “CASHLESS”</h2>
                    <h3>TÉRMINOS Y CONDICIONES DE USO</h3>
                    <h5>En el Campeonato Argentino Abierto de Polo (<strong>“CAAP”</strong>) y en otros eventos que la Asociación Argentina de Polo (<strong>“AAP”</strong>) incorpore al Sistema Cashless</h5>

                    <p>Sugerimos leer detenidamente los siguientes términos y condiciones de uso (<strong>“Términos y Condiciones”</strong>).</p>
                    <p>En el momento de recibir la tarjeta Cashless (<strong>“Tarjeta”</strong>) usted está aceptando estos Términos y Condiciones.</p>
                    <p><strong>1.</strong> Descripción del sistema Cashless</p>
                    <p>El sistema Cashless (en inglés, “sin uso de dinero en efectivo”) tiene por objeto eliminar la necesidad de pagar con dinero en efectivo los bienes que se ofrezcan durante el desarrollo del CAAP o en otros eventos que organice la AAP y en los que ésta decidiere usar el sistema Cashless en el futuro (<strong>“Eventos AAP”</strong>).</p>
                    <p>La Tarjeta se entregará sin costo.</p>
                    <p>La Tarjeta tendrá dos (2) modalidades denominadas de la siguiente forma:</p>
                    <p><strong>a)</strong> “Polo Members”: Destinadas al público en general.</p>
                    <p><strong>b)</strong> “Polo Players”: Destinadas a jugadores de polo que hayan pagado el importe de su hándicap anual a la AAP.</p>
                    <p>Ambos tipos de Tarjeta se entregarán en las cajas habilitadas a dicho fin durante el desarrollo del CAAP o, en su caso, de los Eventos AAP que AAP comunicare oportunamente.</p>
                    <p>Los adquirentes de la Tarjeta podrán usarla para comprar bienes o adquirir servicios durante el desarrollo del CAAP o de otros Eventos AAP que AAP comunicare oportunamente.</p>
                    <p><strong>2.</strong> Forma de operar con la Tarjeta</p>
                    <p><strong>2.1.</strong> Carga y recarga</p>
                    <p>La Tarjeta puede “cargarse” o “recargarse” con dinero mediante las siguientes formas:</p>
                    <p><strong>(i)</strong> Usar el código “QR” de la Tarjeta y cargarla –o recargarla usando las aplicaciones de Mercado Pago o Mercado Libre (disponibles para IOS y Android).</p>
                    <p><strong>(ii)</strong> A través del sitio <a href="https://www.aapolo.com">www.aapolo.com</a></p>
                    <p><strong>(iii)</strong> Personalmente –mediante tarjetas de crédito o débito o dinero en efectivo en las cajas ubicadas en el Campo Argentino de Polo durante el CAAP y los restantes Eventos AAP.</p>
                    <p>Te sugerimos usar preferentemente los métodos de carga y recarga electrónica citados en los puntos (i) y (ii) a fin de que optimices el uso de tu tiempo y minimices tener que realizar eventuales filas para cargar o recargar tu tarjeta en efectivo los días en que se desarrollen el CAAP o los Eventos AAP.</p>
                    <p><strong>2.2.</strong> Uso</p>
                    <p>Los operadores gastronómicos y los relacionados con otros bienes y servicios dispondrán de una terminal (punto de venta o “POS” por su sigla en inglés) a fin de que puedas adquirir bienes y servicios mediante el uso de tu Tarjeta ya cargada o, en su caso, recargada.</p>
                    <p>Los adquirentes de Tarjetas recibirán un comprobante fiscal al momento de cargar o recargar la Tarjeta y no recibirán comprobante alguno al momento de adquirir algún bien o servicio en el punto de venta.</p>
                    <p><strong>2.3.</strong> Imposibilidad de adquirir bienes o servicios con dinero en efectivo</p>
                    <p>No se admitirá el uso de dinero en efectivo en modo alguno durante el desarrollo del CAAP o los Eventos AAP para adquirir bienes o servicios excepto, únicamente, para que uses el dinero en efectivo para cargar o recargar tu tarjeta en las cajas especialmente destinadas a dicho fin.</p>
                    <p><strong>3.</strong> Extravío, hurto o robo de la Tarjeta</p>
                    <p>La AAP no será responsable en caso de robo, extravío o uso indebido de la Tarjeta.</p>
                    <p>En caso de que algún tercero encontrare Tarjetas extraviadas solicitamos: (i) Enviar la Tarjeta a las oficinas comerciales de la AAP, situadas en Arévalo 3065 de la ciudad de o (ii) Llamar al siguiente número telefónico 4777-6444, a fin de coordinar la devolución de la Tarjeta.</p>
                    <p><strong>4.</strong> Términos y Condiciones. Modificaciones</p>
                    <p>Los Términos y Condiciones están sujetos a revisión razonable y periódica por la AAP.</p>
                    <p>La AAP podrá modificar o actualizar los Términos y Condiciones sin necesidad de avisar previamente y sin que ello genere derecho a efectuar reclamo alguno a favor del titular de la Tarjeta.</p>
                    <p>Sugerimos que revises el sitio <a href="https://www.aapolo.com">www.aapolo.com</a> con regularidad para conocer las eventuales actualizaciones o modificaciones que pudieren producirse en los Términos y Condiciones. El uso continuado de la Tarjeta configurará la aceptación de los Términos y Condiciones.</p>
                    <p><strong>5.</strong> Usos prohibidos</p>
                    <p>El titular de la Tarjeta se obliga a abstenerse de utilizarla con fines ilícitos, lesivos de los derechos e intereses de AAP o de terceros o usos que de cualquier forma puedan dañar, inutilizar, sobrecargar o deteriorar el sistema Cashless o impedir la normal utilización de la Tarjeta por parte de sus titulares.</p>
                    <p>El usuario acepta y se compromete a no usar la Tarjeta y y/o el Sistema Cashless para violar leyes locales, nacionales o internacionales, derechos de terceros o estos Términos y Condiciones o cualquier otra norma aplicable.</p>
                    <p><strong>6.</strong> Derechos de Autor y Marcas comerciales.</p>
                    <p>Los diseños de la Tarjeta, incluyendo, sin limitación, el logotipo, íconos y otras marcas comerciales, son propiedad de la AAP y están protegidos por derechos de autor y de marca.</p>
                    <p><strong>7.</strong> Defensa del consumidor en la ciudad de Buenos Aires</p>
                    <p>De acuerdo a lo que establece la Ley N° 2.244 de la ciudad de Buenos Aires, por operar comercialmente en el ámbito de la Ciudad Autónoma de Buenos Aires y poseer un sitio Web, ponemos a tu conocimiento los enlaces a la Dirección General de Defensa y Protección al Consumidor del Gobierno de la Ciudad de Buenos Aires. Para consultas y/o denuncias: <a href="https://www.buenosaires.gob.ar/defensaconsumidor/" target="_blank">www.buenosaires.gob.ar/defensaconsumidor</a></p>
                    <p><strong>8.</strong> Cancelación de la Tarjeta</p>
                    <p>AAP tiene derecho a discontinuar la operación del sistema Cashless sin necesidad de alegar causa alguna, por cualquier plazo temporario o definitivamente sin comunicación previa al poseedor de la Tarjeta, sin que ello genere derecho a efectuar reclamo alguno contra AAP, Cashless o cualquier tercero.</p>
                    <p>En dicho supuesto AAP reintegrará a los titulares de las Tarjetas el saldo de carga que tuviere la Tarjeta mediante las formas que AAP comunicará oportunamente a los titulares de la Tarjeta.</p>
                    <p><strong>9.</strong> Saldos pendientes no usados por el titular de la Tarjeta</p>
                    <p>El Titular es responsable de definir la cantidad de dinero a cargar  o, en su caso, recargar  en la Tarjeta y de realizar los consumos que libremente defina durante el CAAP y los Eventos AAP.</p>
                    <p>Según el método de carga que eligiere el adquirente de la Tarjeta AAP restituirá el saldo no usado de crédito según las siguientes condiciones:</p>
                    <p><strong>10.1.</strong> Si la carga o recarga hubiera sido realizada mediante las aplicaciones de Mercado Pago o Mercado Libre (disponibles para IOS y Android) o a través del sitio <a href="https://www.aapolo.com">www.aapolo.com</a>, la AAP restituirá el saldo remanente a través del sitio <a href="https://www.aapolo.com">www.aapolo.com</a> (en este sitio habrá instrucciones para solicitar la devolución). Luego de que el titular de la Tarjeta solicitare la devolución en el sitio <a href="https://www.aapolo.com">www.aapolo.com</a>, el plazo y las condiciones para que el adquirente de la Tarjeta reciba la respectiva acreditación de fondos será responsabilidad del sistema de tarjeta de crédito contratado a su criterio y bajo su responsabilidad por cada adquirente de la Tarjeta. El plazo para que el adquirente de la Tarjeta mediante las aplicaciones de Mercado Pago o Mercado Libre notifique a AAP su intención de solicitar el reintegro, en el sitio <a href="https://www.aapolo.com">www.aapolo.com</a> expirará indefectiblemente el 15 de febrero de 2019. Se aclara que por motivos técnicos el sistema de devolución de saldos no funcionará en las fechas en que se disputaren partidos del CAAP.</p>
                    <p><strong>10.2.</strong> Si la carga o recarga hubiera sido realizada en las caja dispuestas a dicho fin en el CAP, el adquirente de la carga deberá concurrir a dichas cajas y solicitar el reintegro del saldo remanente durante las fechas en que se disputare el CAAP, entre las 16.00 horas y la hora de cierre de las cajas. En este caso el plazo para solicitar el reintegro de saldos remanentes expirará indefectiblemente el 15 de diciembre de 2018 (fecha prevista para la final del CAAP 2018) o, si dicha fecha se pospusiere, en la fecha efectiva en que se desarrolle el partido final del CAAP 2018.</p>
                    <p><strong>10.</strong> Ley aplicable. Jurisdicción</p>
                    <p>La relación entre el titular de la Tarjeta y AAP se regirá por las leyes de la República Argentina.</p>
                    <p>Cualquier controversia que se suscitare por el uso de la Tarjeta será sometida a los tribunales ordinarios en lo comercial con sede en la Ciudad de Buenos Aires.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="modal" id="tutorial-torneos">
        <div class="modal-overlay" data-dismiss="tutorial-torneos"></div>

        <div class="modal-dialogo">
            <div class="modal-header">
                <h2><i class="icon-trophy"></i> ¿Cómo inscribirme a un <strong>torneo</strong>?</h2>
                <i class="icon-cross" data-dismiss="tutorial-torneos"></i>
            </div>

            <div class="modal-contenido modal-contenido-video clearfix">
                <video class="videoModal" controls="">
                    <source src="@Url.Content("~/Content/video/C%c3%b3mo%20inscribirme%20a%20un%20torneo.mp4")" type="video/mp4">
                </video>
            </div>
        </div>
    </div>

    <div class="modal" id="tutorial-handicap">
        <div class="modal-overlay" data-dismiss="tutorial-handicap"></div>

        <div class="modal-dialogo">
            <div class="modal-header">
                <h2><i class="icon-wallet"></i> ¿Cómo pagar mi <strong>handicap</strong>?</h2>
                <i class="icon-cross" data-dismiss="tutorial-handicap"></i>
            </div>

            <div class="modal-contenido modal-contenido-video clearfix">
                <video class="videoModal" controls="">
                    <source src="@Url.Content("~/Content/video/C%c3%b3mo%20pagar%20mi%20handicap.mp4")" type="video/mp4">
                </video>
            </div>
        </div>
    </div>

    <div class="modal" id="tutorial-club">
        <div class="modal-overlay" data-dismiss="tutorial-club"></div>

        <div class="modal-dialogo">
            <div class="modal-header">
                <h2><i class="icon-wallet"></i> ¿Cómo pagar mi <strong>afiliación de club</strong>?</h2>
                <i class="icon-cross" data-dismiss="tutorial-club"></i>
            </div>

            <div class="modal-contenido modal-contenido-video clearfix">
                <video class="videoModal" controls="">
                    <source src="@Url.Content("~/Content/video/C%c3%b3mo%20pagar%20mi%20afiliaci%c3%b3n%20de%20club.mp4")" type="video/mp4">
                </video>
            </div>
        </div>
    </div>

    @Html.Partial("_IniciarSesion")

    @if (Request.IsAuthenticated)
    {
        @Html.Action("_AceptaTerminosCondiciones", "Home")
    }

    @if (ViewBag.CambioPassword == true)
    {
        <div class="modal modal-abierto" id="cambiarPass" style="display: block;">
            <div class="modal-overlay"></div>
            <div class="modal-dialogo-holder">
                <div class="modal-dialogo modal-dialogo-600">
                    <div class="modal-header">
                        <h2 data-icon="">Cambiar contraseña</h2>
                    </div>

                    <div class="modal-contenido clearfix">
                        <div class="col-md-12 clearfix">
                            <p>La misma debe tener mínimo 6 caracteres. Recordá que tu usuario siempre será tu documento.</p>

                            @using (Ajax.BeginForm("LoginConCambioPassword", "Home", null, new AjaxOptions { HttpMethod = "POST", OnSuccess = "CambioDePassInicioSesion", OnFailure = "fCambioDePassInicioSesion" }, new { @id = "RegistroForm", @class = "form-default" }))
                            {

                                @Html.HiddenFor(model => model.DocumentoIdentidad)
                                @Html.HiddenFor(model => model.Codigo)

                                <p id="MsjTrasaccion" style="color:red"></p>
                                <input type="text" placeholder="Número de documento" class="" readonly="readonly" value="@Model.DocumentoIdentidad">

                                @Html.TextBoxFor(model => model.Password, new { @type = "password", @placeholder = "Nueva contraseña" })
                                @Html.TextBoxFor(model => model.PasswordConfirmar, new { @type = "password", @placeholder = "Repetir contraseña" })

                                <div class="pull-right">
                                    <button type="submit" class="btn btn-lightblue m-t-30">
                                        Actualizar contraseña
                                    </button>
                                </div>

                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }

    <div class="modal" id="comunicadoVideo">
        <div class="modal-overlay" data-dismiss="comunicadoVideo"></div>

        <div class="modal-dialogo">
            <div class="modal-header">
                <h2><i class="icon-message"></i> Nombre del comunicado</h2>
                <i class="icon-cross" data-dismiss="comunicadoVideo"></i>
            </div>

            <div class="modal-contenido modal-contenido-video clearfix">
                <video class="videoModal" controls="">
                    <source src="@Url.Content("~/Content/video/video-noticia.mp4")" type="video/mp4">
                </video>
            </div>
        </div>
    </div>

    <div class="modal" id="comunicadoImagen">
        <div class="modal-overlay" data-dismiss="comunicadoImagen"></div>

        <div class="modal-dialogo modal-dialogo-800">
            <div class="modal-header">
                <h2><i class="icon-message"></i> Nombre del comunicado</h2>
                <i class="icon-cross" data-dismiss="comunicadoImagen"></i>
            </div>

            <div class="modal-contenido modal-contenido-video clearfix">
                <div class="imagenModal" style="background-image: url('@Url.Content("~/Content/img/noticia1.jpg")')"></div>
            </div>
        </div>
    </div>

    <div class="modal" id="PrivacyPolicy">
        <div class="modal-overlay" data-dismiss="PrivacyPolicy"></div>

        <div class="modal-dialogo modal-dialogo-800">
            <div class="modal-header">
                <h2><i class="icon-article"></i> Privacy Policy</h2>
                <i class="icon-cross" data-dismiss="PrivacyPolicy"></i>
            </div>

            <div class="modal-contenido modal-contenido-largo clearfix">
                <div class="col-md-12">
                    <p>Effective date: February 27, 2019</p>
                    <p>Asociación Argentina de Polo ("us", "we", or "our") operates the  mobile application (the "Service").</p>
                    <p>This page informs you of our policies regarding the collection, use, and disclosure of personal data when you use our Service and the choices you have associated with that data. Our Privacy Policy  for Asociación Argentina de Polo is created with the help of the <a href="https://www.freeprivacypolicy.com/">Free Privacy Policy website</a>.</p>
                    <p>We use your data to provide and improve the Service. By using the Service, you agree to the collection and use of information in accordance with this policy. Unless otherwise defined in this Privacy Policy, terms used in this Privacy Policy have the same meanings as in our Terms and Conditions.</p>

                    <h2 class="page-title">Information Collection And Use</h2>
                    <p>We collect several different types of information for various purposes to provide and improve our Service to you.</p>

                    <h3>Types of Data Collected</h3>
                    <h4>Personal Data</h4>

                    <p>While using our Service, we may ask you to provide us with certain personally identifiable information that can be used to contact or identify you ("Personal Data"). Personally identifiable information may include, but is not limited to:</p>

                    <ul class="bullet-list">
                        <li>Email address</li>
                        <li>First name and last name</li>
                        <li>Address, State, Province, ZIP/Postal code, City</li>
                        <li>Cookies and Usage Data</li>
                    </ul>

                    <h4>Usage Data</h4>

                    <p>When you access the Service by or through a mobile device, we may collect certain information automatically, including, but not limited to, the type of mobile device you use, your mobile device unique ID, the IP address of your mobile device, your mobile operating system, the type of mobile Internet browser you use, unique device identifiers and other diagnostic data ("Usage Data").</p>

                    <h4>Tracking & Cookies Data</h4>
                    <p>We use cookies and similar tracking technologies to track the activity on our Service and hold certain information.</p>
                    <p>Cookies are files with small amount of data which may include an anonymous unique identifier. Cookies are sent to your browser from a website and stored on your device. Tracking technologies also used are beacons, tags, and scripts to collect and track information and to improve and analyze our Service.</p>
                    <p>You can instruct your browser to refuse all cookies or to indicate when a cookie is being sent. However, if you do not accept cookies, you may not be able to use some portions of our Service.</p>
                    <p>Examples of Cookies we use:</p>
                    <ul class="bullet-list">
                        <li><strong>Session Cookies.</strong> We use Session Cookies to operate our Service.</li>
                        <li><strong>Preference Cookies.</strong> We use Preference Cookies to remember your preferences and various settings.</li>
                        <li><strong>Security Cookies.</strong> We use Security Cookies for security purposes.</li>
                    </ul>

                    <h2 class="page-title">Use of Data</h2>

                    <p>Asociación Argentina de Polo uses the collected data for various purposes:</p>
                    <ul class="bullet-list">
                        <li>To provide and maintain the Service</li>
                        <li>To notify you about changes to our Service</li>
                        <li>To allow you to participate in interactive features of our Service when you choose to do so</li>
                        <li>To provide customer care and support</li>
                        <li>To provide analysis or valuable information so that we can improve the Service</li>
                        <li>To monitor the usage of the Service</li>
                        <li>To detect, prevent and address technical issues</li>
                    </ul>

                    <h2 class="page-title">Transfer Of Data</h2>
                    <p>Your information, including Personal Data, may be transferred to — and maintained on — computers located outside of your state, province, country or other governmental jurisdiction where the data protection laws may differ than those from your jurisdiction.</p>
                    <p>If you are located outside Argentina and choose to provide information to us, please note that we transfer the data, including Personal Data, to Argentina and process it there.</p>
                    <p>Your consent to this Privacy Policy followed by your submission of such information represents your agreement to that transfer.</p>
                    <p>Asociación Argentina de Polo will take all steps reasonably necessary to ensure that your data is treated securely and in accordance with this Privacy Policy and no transfer of your Personal Data will take place to an organization or a country unless there are adequate controls in place including the security of your data and other personal information.</p>

                    <h2 class="page-title">Disclosure Of Data</h2>

                    <h3>Legal Requirements</h3>
                    <p>Asociación Argentina de Polo may disclose your Personal Data in the good faith belief that such action is necessary to:</p>
                    <ul class="bullet-list">
                        <li>To comply with a legal obligation</li>
                        <li>To protect and defend the rights or property of Asociación Argentina de Polo</li>
                        <li>To prevent or investigate possible wrongdoing in connection with the Service</li>
                        <li>To protect the personal safety of users of the Service or the public</li>
                        <li>To protect against legal liability</li>
                    </ul>

                    <h2 class="page-title">Security Of Data</h2>
                    <p>The security of your data is important to us, but remember that no method of transmission over the Internet, or method of electronic storage is 100% secure. While we strive to use commercially acceptable means to protect your Personal Data, we cannot guarantee its absolute security.</p>

                    <h2 class="page-title">Service Providers</h2>
                    <p>We may employ third party companies and individuals to facilitate our Service ("Service Providers"), to provide the Service on our behalf, to perform Service-related services or to assist us in analyzing how our Service is used.</p>
                    <p>These third parties have access to your Personal Data only to perform these tasks on our behalf and are obligated not to disclose or use it for any other purpose.</p>

                    <h3>Analytics</h3>
                    <p>We may use third-party Service Providers to monitor and analyze the use of our Service.</p>
                    <h3>Clicky</h3>
                    <p>Clicky is a web analytics service. Read the Privacy Policy for Clicky here: <a href="https://clicky.com/terms">https://clicky.com/terms</a></p>

                    <h2 class="page-title">Links To Other Sites</h2>
                    <p>Our Service may contain links to other sites that are not operated by us. If you click on a third party link, you will be directed to that third party's site. We strongly advise you to review the Privacy Policy of every site you visit.</p>
                    <p>We have no control over and assume no responsibility for the content, privacy policies or practices of any third party sites or services.</p>

                    <h2 class="page-title">Changes To This Privacy Policy</h2>
                    <p>We may update our Privacy Policy from time to time. We will notify you of any changes by posting the new Privacy Policy on this page.</p>
                    <p>We will let you know via email and/or a prominent notice on our Service, prior to the change becoming effective and update the "effective date" at the top of this Privacy Policy.</p>
                    <p>You are advised to review this Privacy Policy periodically for any changes. Changes to this Privacy Policy are effective when they are posted on this page.</p>

                    <h2 class="page-title">Contact Us</h2>
                    <p>If you have any questions about this Privacy Policy, please contact us: <a href="mailto:grupo@amedia.com.ar" target="_blank">grupo@amedia.com.ar</a></p>

                </div>
            </div>
        </div>
    </div>

    <div id="divModal" class="modal" style="display: none;"></div>

    <script src="@Url.Content("~/Scripts/modernizr-3.5.0.min.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery-3.3.1.min.js")"></script>
    @Scripts.Render("~/bundles/jqueryAjax")
    @Scripts.Render("~/bundles/jqueryval")
    <script src="@Url.Content("~/Scripts/plugins.js")"></script>
    <script src="@Url.Content("~/Scripts/select2.full.min.js")"></script>
    <script src="@Url.Content("~/Scripts/vivus.min.js")"></script>
    <script src="@Url.Content("~/Scripts/wow.min.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery.easing.1.3.js")"></script>
    <script src="@Url.Content("~/Scripts/tooltip.js")"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.5.1/fullcalendar.min.js"></script>
    <script src="@Url.Content("~/Scripts/slick.min.js")"></script>
    <script src="@Url.Content("~/Scripts/picker.js")"></script>
    <script src="@Url.Content("~/Scripts/picker.date.js")"></script>
    <script src="@Url.Content("~/Scripts/parallax.min.js")"></script>
    <script src="@Url.Content("~/Scripts/main.js")"></script>

    <script src="@Url.Content("~/Scripts/Generico.js")"></script>

    <script>
        localStorage.setItem('opMenu', '');
        FormaterTextH4();
        function FormaterTextH4() {
            $('.FormaterTextH4').each(function (index, value) {
                if ($(this).attr('id') == "aTorneo") {
                    $(this).html('<h4>' + $(this).text() + '</h4><i class="icon-trophy"></i>');
                } else if ($(this).attr('id') == "aAfiliacion") {
                    $(this).html('<h4>' + $(this).text() + '</h4><i class="icon-user-id"></i>');
                } else if ($(this).attr('id') == "aHandicap") {
                    $(this).html('<h4>' + $(this).text() + '</h4><i class="icon-wallet"></i>');
                }
            });
        }

        function CambioDePassInicioSesion(Data) {
            closeModal();

            if (Data.EsSatisfactorio) {
                $('#MsjTrasaccion').html('Su contraseña se reestableció satisfactoriamente.');
                setTimeout(function () {
                    window.location.href = '@Url.Action("Index","PagoHandicap")';
                }, 3000);
            } else {
                $('#MsjTrasaccion').html(Data.Mensaje);
                console.log(Data);
            }
            clickModal('MensajeCambioPassword');
        }

        function fCambioDePassInicioSesion(Data) {
            console.log(Data);
        }

        $(document).ready(function () {

            if (localStorage.getItem("id_register") !== null) {
                $('#IdRegistroMobile').val(localStorage.getItem("id_register") == null ? "" : localStorage.getItem("id_register"));
                $('#PlataformaMobile').val(localStorage.getItem("platform") == null ? "" : localStorage.getItem("platform"));
            }

            setTimeout(function () {
                $('.sponsors-list').slick({
                    slidesToShow: 6,
                    slidesToScroll: 1,
                    autoplay: true,
                    infinite: true,
                    autoplaySpeed: 2000,
                    arrows: false,
                    dots: false,
                    responsive: [
                        {
                            breakpoint: 1400,
                            settings: {
                                autoplaySpeed: 2000,
                                slidesToShow: 5,
                                slidesToScroll: 2
                            }
                        },
                        {
                            breakpoint: 1200,
                            settings: {
                                autoplaySpeed: 2000,
                                slidesToShow: 4,
                                slidesToScroll: 3
                            }
                        },
                        {
                            breakpoint: 800,
                            settings: {
                                autoplaySpeed: 2000,
                                slidesToShow: 3,
                                slidesToScroll: 3
                            }
                        },
                        {
                            breakpoint: 640,
                            settings: {
                                autoplaySpeed: 2000,
                                slidesToShow: 2,
                                slidesToScroll: 2
                            }
                        },
                        {
                            breakpoint: 480,
                            settings: {
                                autoplaySpeed: 750,
                                slidesToShow: 3,
                                slidesToScroll: 1
                            }
                        }
                    ]
                });

                $('.sponsors-list').slick('setPosition');
            }, 500);

            $('#calendar').fullCalendar({
                eventLimit: true, // allow "more" link when too many events
                events: [
                    {
                        title: "Evento",
                        start: "2018-07-04",
                        end: "2018-07-04",
                        url: "#",
                        editable: false,
                        allDay: true,
                        className: "calendar-pago"
                    },
                    {
                        title: "Evento",
                        start: "2018-07-07",
                        end: "2018-07-07",
                        url: "#",
                        editable: false,
                        allDay: true,
                        className: "calendar-partido"
                    },
                    {
                        title: "Evento",
                        start: "2018-07-20",
                        end: "2018-07-20",
                        url: "#",
                        editable: false,
                        allDay: true,
                        className: "calendar-otro"
                    }
                ],
                displayEventTime: false,
                timeFormat: ' '
            });


            if ($(window).width() < 800) {
                var sponsorsHeight = 125
            }
            else {
                var sponsorsHeight = 170
            }

            var viewportHeight = $(window).height() - sponsorsHeight;

            $('.slider-home').slick({
                slidesToShow: 1,
                dots: true,
                nav: true,
                arrows: false,
                autoplay: true,
                autoplaySpeed: 3000,
                speed: 500,
                responsive: [
                    {
                        breakpoint: 480,
                        settings: {
                            arrows: false,
                        }
                    }
                ]
            })

            $('.slider-home').on('setPosition', function (event, slick) {
                slick.$slides.css('height', viewportHeight + 'px');
                $('.slider-home').css('height', viewportHeight + 'px');
            });

            $('.mensaje-scroll a').click(function () {
                var windowHeight = $(window).height()
                var headerHeight = $('header').height()
                var scrollHeight = windowHeight - headerHeight
                $('html, body').animate({ scrollTop: scrollHeight }, 'slow');
                return false;
            });

        });

        $(document).ready(function (e) {
            if ($(window).width() > 768) {
                fixHeight('.noticia');
            }
        });

        var scene = $('#scene-home').get(0)
        if ($(window).width() > 800) {
            var parallaxInstance = new Parallax(scene);
        }

    </script>

    <script>
        console.log('MensajeError: ' + '@ViewBag.MensajeErrorLogin');

        if (localStorage.getItem('modal') == true || localStorage.getItem('modal') == "true") {
            $('#barraIniciarSession').click();
        }

    </script>

</body>
</html>