﻿
@{
    ViewBag.Title = "Jugadores";
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";
}

<section class="section-bg line-texture-after" style="background-image: url('@Url.Content("~/Content/img/bgs/2.jpg")');">
    <div class="container-fluid">
        <div class="wrapper">
            <div class="col-md-12">
                <div class="title-container">
                    <a href="javascript:void(0);" class="btn btn-lightblue btn-small open-search "><i class="icon-search"></i> @AAPolo.Recursos.Recurso.Buscar</a>
                    <h1 class="page-title page-title-buscar m-r-20">@AAPolo.Recursos.Recurso.Jugadores</h1>

                    <div class="pull-right">
                        <a href="javascript:void(0);" class="btn btn-small hide-mobile disciplina-btn m-r-20">Tribunal de Disciplina</a>
                        <a href="@(Request.IsAuthenticated?Url.Action("Index","PagoHandicap"):"#")" data-modal="@(Request.IsAuthenticated?"":"iniciarSesion")" class="btn btn-outline btn-small text-left pull-right">
                            @AAPolo.Recursos.Recurso.PagarHandicap<i class="icon-arrow-thin-right m-l-20"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="clearfix p-b-50">
    <div class="container-fluid">
        <div class="wrapper">
            <div class="col-md-12">

                <div class="panel panel-floating panel-buscar clearfix">

                    @using (Ajax.BeginForm("ListadoJugador", "Home", null, new AjaxOptions { HttpMethod = "POST", OnSuccess = "BuscarJugador", OnFailure = "fBuscarJugador" }, new { @id = "RegistroForm", @class = "form-default" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary()

                        <div class="col-md-4">
                            <input id="Cadena" name="Cadena" type="text" placeholder="@AAPolo.Recursos.Recurso.Buscar @AAPolo.Recursos.Recurso.Jugadores.ToLower() @AAPolo.Recursos.Recurso.Por.ToLower() @AAPolo.Recursos.Recurso.Nombre.ToLower()">
                        </div>

                        <div class="col-md-2">

                            <select class="select2-basic" id="Nro_Handicap" name="Nro_Handicap">
                                <option value="-1" selected>Handicap general</option>
                                <option value="0">0</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>
                            </select>
                        </div>

                        <div class="col-md-2">

                            <select class="select2-basic" id="Nro_HandicapSecundario" name="Nro_HandicapSecundario">
                                <option value="-1" selected>Handicap @AAPolo.Recursos.Recurso.Femenino.ToLower()</option>
                                <option value="0">0</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>
                            </select>
                        </div>

                        <div class="col-md-2">
                            <select name="Cod_Club" id="Cod_Club" class="select2-basic">
                                <option value="0" selected>@AAPolo.Recursos.Recurso.Buscar @AAPolo.Recursos.Recurso.Por.ToLower() club</option>
                                @Html.Action("_SelectClub", "Home")
                            </select>
                        </div>

                        <div class="col-md-2">
                            <button type="submit" class="btn btn-lightblue btn-full"><i class="icon-search"></i> @AAPolo.Recursos.Recurso.Buscar</button>
                        </div>
                    }
                </div>
            </div>
            <div class="col-md-12">
                <div class="ListadoJugadores">
                    @Html.Action("ListadoJugador", "Home")
                </div>

                <div id="divTribunalDisiplina">@Html.Action("_ListadoTribunalDisiplina", "Home")</div>

            </div>
        </div>
    </div>
</section>



@section scripts{

    <script>

        localStorage.setItem('opMenu', 'liJugador');

        $(document).ready(function () {
            if ($('#divTribunalDisiplina').html() == '') {
                $('.disciplina-btn').hide();
            }
        });

        function BuscarJugador(Data) {
            if (Data != null) {
                $('.ListadoJugadores').html(Data);
                PaginacionDeTablas('.paginarTabla', 20);
                IncializarSlide();
            }

        }

        function fBuscarJugador(Data) {
            alert('Disculpe, no es posible realizar la busqueda.');
            console.log(Data);
        }

    </script>

    <script>

        $(document).ready(function (e) {
            fixHeight('.item-jugador-destacado .item-jugador-body');
            if ($(window).width() > 768) {
                fixHeight('.item-jugador:not(.item-jugador-destacado)');
            }
        });

        $('.disciplina-btn').click(function () {
            $('html, body').animate({ scrollTop: $('#discplina').offset().top - 120 }, 'slow');
            return false;
        });

        IncializarSlide();
        function IncializarSlide() {

            $('.carousel-jugadores-destacados').slick({
                dots: true,
                infinite: false,
                speed: 300,
                slidesToShow: 4,
                slidesToScroll: 1,
                arrows: false,
                autoplay: true,
                autoplaySpeed: 2000,
                responsive: [
                    {
                        breakpoint: 1260,
                        settings: {
                            slidesToShow: 3,
                            slidesToScroll: 1
                        }
                    },
                    {
                        breakpoint: 992,
                        settings: {
                            slidesToShow: 2,
                            slidesToScroll: 1
                        }
                    },
                    {
                        breakpoint: 800,
                        settings: {
                            slidesToShow: 1,
                            slidesToScroll: 1,
                            dots: false,
                            arrows: true,
                        }
                    }
                    // You can unslick at a given breakpoint now by adding:
                    // settings: "unslick"
                    // instead of a settings object
                ]
            });

            fixHeight('.item-jugador-destacado .item-jugador-body');
            if ($(window).width() > 768) {
                fixHeight('.item-jugador:not(.item-jugador-destacado)');
            }
        }
    </script>


}
