﻿@model IEnumerable<AAPolo.Entities.Persona>
@using AAPolo.Entities


@if (Model.Where(x => x.EsDestacado).Count() > 0)
{
    <ul class="listado-jugadores carousel-jugadores-destacados row clearfix m-b-60">
        @foreach (var item in Model.Where(x => x.EsDestacado))
        {
            <li class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="item-jugador item-jugador-destacado item-jugador-destacado-torneo">
                    <div class="item-jugador-header">
                        <div class="club-pic has-tooltip" data-original-title="Club: @item.clubUsuarioPrincipal.NombreClub" style="background-image: url('@Html.Raw(String.IsNullOrEmpty(item.clubUsuarioPrincipal.UrlImagen) ? Url.Content("~/Content/img/avatars/avatar-club.png") : item.clubUsuarioPrincipal.UrlImagen)')"></div>
                        <div class="user-pic" style="background-image: url('@Html.Raw(String.IsNullOrEmpty(item.UrlFoto) ? Url.Content("~/Content/img/avatars/avatar-user1.png") : item.UrlFoto)')"></div>
                        <img src="@Html.Raw(String.IsNullOrEmpty(item.Pais.UrlImagen) ? Url.Content("~/Content/img/flags/argentina.svg"):Url.Content("~/Content/img/flags/"+item.Pais.UrlImagen) )" alt="" class="player-flag has-tooltip" data-original-title="@AAPolo.Recursos.Recurso.PaisOrigen: @item.Pais.Nombre">
                    </div>
                    <div class="nombre-jugador">
                        <h3>@item.NombreCompleto</h3>
                    </div>
                    @if (item.EstadisticaJugador.Cant_AbiertoPalermo == 0 && item.EstadisticaJugador.Cant_Copa == 0)
                    {
                        @*-------------------------------------------------------------------------------------------------------------------------------------------------------*@
                        <div class="item-jugador-body" style="height: 226px;">
                            <dl class="item-jugador-datos">
                                <div data-original-title="Handicap: @item.HandicapPersona.NroHandicap">
                                    <dt>Handicap</dt>
                                    <dd><strong>@item.HandicapPersona.NroHandicap</strong></dd>
                                </div>
                                @if (item.Genero.Codigo == ConfiguracionAPP.Genero_Femenino)
                                {
                                    <div>
                                        <dt>H. FEMENINO</dt>
                                        <dd><strong>@item.HandicapPersonaSecundario.NroHandicap</strong></dd>
                                    </div>
                                }
                                @if (item.Edad < 100)
                                {
                                    <div>
                                        <dt>Nacimiento</dt>
                                        <dd class="jugador-nacimiento">@item.FechaNacimiento.ToString("dd/MM/yy")</dd>
                                    </div>
                                }
                            </dl>
                        </div>
                        @*-------------------------------------------------------------------------------------------------------------------------------------------------------*@
                    }
                    else
                    {
                        <div class="item-jugador-body">
                            <dl class="item-jugador-datos">
                                <div class="has-tooltip" data-original-title="Handicap: @item.HandicapPersona.NroHandicap">
                                    <dt>Handicap</dt>
                                    <dd><strong>@item.HandicapPersona.NroHandicap</strong></dd>
                                </div>
                                @if (item.Genero.Codigo == ConfiguracionAPP.Genero_Femenino)
                                {
                                    <div>
                                        <dt>H. FEMENINO</dt>
                                        <dd><strong>@item.HandicapPersonaSecundario.NroHandicap</strong></dd>
                                    </div>
                                }
                                @if (item.Edad < 100)
                                {
                                    <div>
                                        <dt>Nacimiento</dt>
                                        <dd class="jugador-nacimiento">@item.FechaNacimiento.ToString("dd/MM/yy")</dd>
                                    </div>
                                }
                            </dl>

                            <dl class="item-jugador-torneo">
                                <div>
                                    <dt>Abiertos de palermo</dt>
                                    <dd>@item.EstadisticaJugador.Cant_AbiertoPalermo</dd>
                                </div>
                                @*<div>
                                        <dt>Goles</dt>
                                        <dd>@item.EstadisticaJugador.Cant_Gol</dd>
                                    </div>
                                    <div>
                                        <dt>Finales</dt>
                                        <dd>@item.EstadisticaJugador.Cant_Final</dd>
                                    </div>*@
                                <div>
                                    <dt>Títulos</dt>
                                    <dd>@item.EstadisticaJugador.Cant_Copa</dd>
                                </div>
                            </dl>
                        </div>
                    }
                    <div class="item-jugador-curva"></div>
                </div>
            </li>
        }
    </ul>

    <hr style="border-top: 2px solid #ccc">

}


<ul class="listado-jugadores row clearfix">
    @foreach (var item in Model.Where(x => !x.EsDestacado))
    {
        <li class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <div class="item-jugador">
                <div class="item-jugador-header">
                    <div class="club-pic has-tooltip" data-original-title="Club: @item.clubUsuarioPrincipal.NombreClub" style="background-image: url('@Html.Raw(String.IsNullOrEmpty(item.clubUsuarioPrincipal.UrlImagen) ? Url.Content("~/Content/img/avatars/avatar-club.png") : item.clubUsuarioPrincipal.UrlImagen)')"></div>
                    <div class="user-pic" style="background-image: url('@(String.IsNullOrEmpty(item.UrlFoto) ? Html.Raw(Url.Content("~/Content/img/avatars/avatar-user1.png")) : Html.Raw(item.UrlFoto))')"></div>
                    <img src="@Html.Raw(String.IsNullOrEmpty(item.Pais.UrlImagen) ? Url.Content("~/Content/img/flags/argentina.svg"):Url.Content("~/Content/img/flags/"+item.Pais.UrlImagen))" alt="" class="player-flag has-tooltip" data-original-title="@AAPolo.Recursos.Recurso.PaisOrigen: @item.Pais.Nombre">
                </div>
                <div class="nombre-jugador">
                    <h3>@item.NombreCompleto</h3>
                </div>
                <dl class="item-jugador-datos">
                    <div>
                        <dt>Handicap</dt>
                        <dd><strong>@item.HandicapPersona.NroHandicap</strong></dd>
                    </div>
                    @if (item.Genero.Codigo == ConfiguracionAPP.Genero_Femenino)
                    {
                        <div>
                            <dt>H. FEMENINO</dt>
                            <dd><strong>@item.HandicapPersonaSecundario.NroHandicap</strong></dd>
                        </div>
                    }

                    @if (item.Edad < 100)
                    {
                        <div>
                            <dt>Nacimiento</dt>
                            <dd class="jugador-nacimiento">@item.FechaNacimiento.ToString("dd/MM/yy")</dd>
                        </div>
                    }
                </dl>
                <div class="item-jugador-estado">
                    <p>@AAPolo.Recursos.Recurso.Estado @AAPolo.Recursos.Recurso.De.ToLower() handicap: <strong>@(item.HandicapPersona.EsVencido ? "Vencido" : "Pago")</strong></p>
                </div>
            </div>
        </li>
    }
</ul>