﻿
@{
    ViewBag.Title = "Noticia";
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";
}

<section class="section-bg line-texture-after" style="background-image: url('@Url.Content("~/Content/img/bgs/4.jpg")');">
    <div class="container-fluid">
        <div class="wrapper">
            <div class="col-md-12">
                <h1 class="page-title page-title-buscar">@AAPolo.Recursos.Recurso.Noticias</h1>
                <a href="javascript:void(0);" class="btn btn-lightblue btn-small pull-right open-search"><i class="icon-search"></i> @AAPolo.Recursos.Recurso.Buscar</a>
            </div>
        </div>
    </div>
</section>

<section class="clearfix p-b-50">
    <div class="container-fluid">
        <div class="wrapper">
            <div class="col-md-12">
                <div class="panel panel-floating panel-buscar clearfix">
                    @using (Ajax.BeginForm("_ListadoNoticia", "Home", null, new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "divLista" }, new { @id = "RegistroForm", @class = "form-default" }))
                    {
                        <div class="col-md-4">
                            <input id="Cadena" name="Cadena" type="text" placeholder="@AAPolo.Recursos.Recurso.Buscar @AAPolo.Recursos.Recurso.Noticias.ToLower() @AAPolo.Recursos.Recurso.Por.ToLower() @AAPolo.Recursos.Recurso.Nombre.ToLower()">
                        </div>

                        <div class="col-md-3">
                            <select name="Cod_TipoNoticia" id="Cod_TipoNoticia" class="select2-basic" placeholder="Categoría">
                                @Html.Action("_SelectTipoNoticia")
                            </select>
                        </div>

                        <div class="col-md-3">
                            <select name="Cod_Etiqueta" id="Cod_Etiqueta" class="select2-basic" placeholder="Tag" @*multiple*@>
                                @Html.Action("_SelectEtiqueta")
                            </select>
                        </div>

                        <div class="col-md-2">
                            <button type="submit" class="btn btn-lightblue btn-full"><i class="icon-search"></i> @AAPolo.Recursos.Recurso.Buscar</button>
                        </div>
                    }
                </div>
            </div>
            @*<div class="col-md-12">
                    <h2 class="page-title m-t-20 m-b-20">@AAPolo.Recursos.Recurso.Ultimas @AAPolo.Recursos.Recurso.Noticias.ToLower()</h2>
                </div>*@

            <div class="clearfix"></div>
            <div id="divLista" class="noticias-holder m-t-20">
                @Html.Action("_ListadoNoticia")
            </div>
        </div>
    </div>
</section>

@section scripts{

    <script src="@Url.Content("~/Scripts/masonry.pkgd.min.js")"></script>
    <script>

        localStorage.setItem('opMenu', 'liNoticia');

        $(document).ready(function (e) {
            if ($(window).width() > 768) {
                fixHeight('.noticia');
            }
        });

        $(document).ready(function () {
            $('.noticias-holder').masonry({
                itemSelector: '.col-xs-12',
                columnWidth: '.col-xs-12',
                percentPosition: true
            });
        });


    </script>



}