﻿@model AAPolo.Entities.Persona
@using AAPolo.Entities;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel-profile">
    <div class="panel-header line-texture-after">
        <div class="user-profile-pic">
            @Html.Action("_ImgPerfilUsuario", "PerfilJugador")

        </div>

        <hgroup class="user-profile-title">
            <h1>@Model.NombreCompleto</h1>
            <h3>Socio N° @Model.JugadorID</h3>

        </hgroup>

        @*<ul class="featured-values">
                <li>
                    <h4>00</h4>
                    <span>Torneos</span>
                </li>
                <li class="featured-main">
                    <h4>@Model.HandicapPersona.NroHandicap.ToString("##") 0 </h4>
                    <span>Handicap</span>
                </li>
            </ul>*@
    </div>

    <div class="panel-body">
        <div class="panel">
            <dl class="user-data">
                <div class="row clearfix">
                    <div class="col-md-6">
                        <div class="user-data-item">
                            <dt>@AAPolo.Recursos.Recurso.Nombre</dt>
                            <dd>@Model.Nombre</dd>
                        </div>

                        <div class="user-data-item">
                            <dt>@AAPolo.Recursos.Recurso.Apellido</dt>
                            <dd>@Model.Apellido</dd>
                        </div>

                        <div class="user-data-item">
                            <dt>@AAPolo.Recursos.Recurso.Genero</dt>
                            <dd>@Model.Genero.Nombre</dd>
                        </div>

                        <div class="user-data-item">
                            <dt>@AAPolo.Recursos.Recurso.PaisOrigen</dt>
                            <dd>@Model.Pais.Nombre</dd>
                        </div>

                        @*<div class="user-data-item">
                                <dt>@AAPolo.Recursos.Recurso.CategoriaHandicap</dt>
                                <dd>@Model.HandicapPersona.Nombre</dd>
                            </div>*@

                        <div class="user-data-item">
                            <dt>@AAPolo.Recursos.Recurso.FechaNacimiento</dt>
                            <dd>@Model.FechaNacimiento.ToString("dd/MM/yyyy")</dd>
                        </div>

                        <div class="user-data-item">
                            <dt>@Model.TipoDocumento.Nombre</dt>
                            <dd>@Model.DocumentoIdentidad</dd>
                        </div>


                    </div>

                    <div class="col-md-6">

                        <div class="user-data-item">
                            <dt>Email</dt>
                            <dd>
                                <div class="info-editable divMail">
                                    <span class="info-actual">
                                        @Model.lContacto.Where(x => x.TipoContacto.Codigo == ConfiguracionAPP.TipoContacto_Email).FirstOrDefault().Nombre
                                    </span>
                                    <a href="javascript:void()" class="edit-info has-tooltip change-data editarMail" title="Editar"><i class="icon-pencil"></i></a>
                                </div>
                                <div class="info-editar divEditMail">
                                    <input type="text" id="EditCorreo" value="@Model.lContacto.Where(x => x.TipoContacto.Codigo == ConfiguracionAPP.TipoContacto_Email).FirstOrDefault().Nombre">
                                    <input type="hidden" id="Correo" value="@Model.lContacto.Where(x => x.TipoContacto.Codigo == ConfiguracionAPP.TipoContacto_Email).FirstOrDefault().Nombre">
                                    <a href="javascript:void()" class="edit-info has-tooltip background-green change-accept" onclick="javascript:GuardarDatosUsuarioMail()" title="Aceptar"><i class="icon-checkmark"></i></a>
                                    <a href="javascript:void()" class="edit-info has-tooltip background-red change-cancel" title="Cancelar"><i class="icon-cross"></i></a>
                                </div>
                            </dd>
                        </div>

                        <div class="user-data-item">
                            <dt>@AAPolo.Recursos.Recurso.Telefono</dt>
                            <dd>
                                <div class="info-editable">
                                    <span class="info-actual">@Model.lContacto.Where(x => x.TipoContacto.Codigo == ConfiguracionAPP.TipoContacto_Celular).FirstOrDefault().Nombre</span>
                                    <a href="javascript:void()" class="edit-info has-tooltip change-data" title="Editar"><i class="icon-pencil"></i></a>
                                </div>
                                <div class="info-editar">
                                    <input type="text" class="validanumericos" id="User_Tlf" value="@Model.lContacto.Where(x => x.TipoContacto.Codigo == ConfiguracionAPP.TipoContacto_Celular).FirstOrDefault().Nombre">
                                    <a href="javascript:void()" class="edit-info has-tooltip background-green change-accept" onclick="javascript:GuardarDatosUsuario()" title="Aceptar"><i class="icon-checkmark"></i></a>
                                    <a href="javascript:void()" class="edit-info has-tooltip background-red change-cancel" title="Cancelar"><i class="icon-cross"></i></a>
                                </div>
                            </dd>
                        </div>

                        @*<div class="user-data-item">
                                <dt>@AAPolo.Recursos.Recurso.Calle</dt>
                                <dd>
                                    <div class="info-editable">
                                        <span class="info-actual">@Model.lDomicilio.Where(x => x.tipoDomicilio.Codigo == ConfiguracionAPP.TipoDomicilio_Domicilio).FirstOrDefault().DireccionDomicilio</span>
                                        <a href="javascript:void()" class="edit-info has-tooltip change-data" title="Editar"><i class="icon-pencil"></i></a>
                                    </div>
                                    <div class="info-editar">
                                        <input type="text" id="User_DireccionCalle" value="@Model.lDomicilio.Where(x=> x.tipoDomicilio.Codigo == ConfiguracionAPP.TipoDomicilio_Domicilio).FirstOrDefault().DireccionDomicilio">
                                        <a href="javascript:void()" class="edit-info has-tooltip background-green change-accept" onclick="javascript:GuardarDatosUsuario()" title="Aceptar"><i class="icon-checkmark"></i></a>
                                        <a href="javascript:void()" class="edit-info has-tooltip background-red change-cancel" title="Cancelar"><i class="icon-cross"></i></a>
                                    </div>
                                </dd>
                            </div>

                            <div class="user-data-item">
                                <dt>@AAPolo.Recursos.Recurso.Numero</dt>
                                <dd>
                                    <div class="info-editable">
                                        <span class="info-actual">@Model.lDomicilio.Where(x => x.tipoDomicilio.Codigo == ConfiguracionAPP.TipoDomicilio_Domicilio).FirstOrDefault().NroDomicilio</span>
                                        <a href="javascript:void()" class="edit-info has-tooltip change-data" title="Editar"><i class="icon-pencil"></i></a>
                                    </div>
                                    <div class="info-editar">
                                        <input type="text" id="User_NroDireccion" value="@Model.lDomicilio.Where(x=> x.tipoDomicilio.Codigo == ConfiguracionAPP.TipoDomicilio_Domicilio).FirstOrDefault().NroDomicilio">
                                        <a href="javascript:void()" class="edit-info has-tooltip background-green change-accept" onclick="javascript:GuardarDatosUsuario()" title="Aceptar"><i class="icon-checkmark"></i></a>
                                        <a href="javascript:void()" class="edit-info has-tooltip background-red change-cancel" title="Cancelar"><i class="icon-cross"></i></a>
                                    </div>
                                </dd>
                            </div>

                            <div class="user-data-item">
                                <dt>@AAPolo.Recursos.Recurso.Piso</dt>
                                <dd>
                                    <div class="info-editable">
                                        <span class="info-actual">@Model.lDomicilio.Where(x => x.tipoDomicilio.Codigo == ConfiguracionAPP.TipoDomicilio_Domicilio).FirstOrDefault().NroPiso</span>
                                        <a href="javascript:void()" class="edit-info has-tooltip change-data" title="Editar"><i class="icon-pencil"></i></a>
                                    </div>
                                    <div class="info-editar">
                                        <input type="text" id="User_NroPiso" value="@Model.lDomicilio.Where(x=> x.tipoDomicilio.Codigo == ConfiguracionAPP.TipoDomicilio_Domicilio).FirstOrDefault().NroPiso">
                                        <a href="javascript:void()" class="edit-info has-tooltip background-green change-accept" onclick="javascript:GuardarDatosUsuario()" title="Aceptar"><i class="icon-checkmark"></i></a>
                                        <a href="javascript:void()" class="edit-info has-tooltip background-red change-cancel" title="Cancelar"><i class="icon-cross"></i></a>
                                    </div>
                                </dd>
                            </div>

                            <div class="user-data-item">
                                <dt>@AAPolo.Recursos.Recurso.Departamento</dt>
                                <dd>
                                    <div class="info-editable">
                                        <span class="info-actual">@Model.lDomicilio.Where(x => x.tipoDomicilio.Codigo == ConfiguracionAPP.TipoDomicilio_Domicilio).FirstOrDefault().Departamento</span>
                                        <a href="javascript:void()" class="edit-info has-tooltip change-data" title="Editar"><i class="icon-pencil"></i></a>
                                    </div>
                                    <div class="info-editar">
                                        <input type="text" id="User_Departamento" value="@Model.lDomicilio.Where(x=> x.tipoDomicilio.Codigo == ConfiguracionAPP.TipoDomicilio_Domicilio).FirstOrDefault().Departamento">
                                        <a href="javascript:void()" class="edit-info has-tooltip background-green change-accept" onclick="javascript:GuardarDatosUsuario()" title="Aceptar"><i class="icon-checkmark"></i></a>
                                        <a href="javascript:void()" class="edit-info has-tooltip background-red change-cancel" title="Cancelar"><i class="icon-cross"></i></a>
                                    </div>
                                </dd>
                            </div>

                            <div class="user-data-item">
                                <dt>@AAPolo.Recursos.Recurso.CodigoPostal</dt>
                                <dd>
                                    <div class="info-editable">
                                        <span class="info-actual">@Model.lDomicilio.Where(x => x.tipoDomicilio.Codigo == ConfiguracionAPP.TipoDomicilio_Domicilio).FirstOrDefault().CodigoPostal</span>
                                        <a href="javascript:void()" class="edit-info has-tooltip change-data" title="Editar"><i class="icon-pencil"></i></a>
                                    </div>
                                    <div class="info-editar">
                                        <input type="text" id="User_CodigoPostal" value="@Model.lDomicilio.Where(x=> x.tipoDomicilio.Codigo == ConfiguracionAPP.TipoDomicilio_Domicilio).FirstOrDefault().CodigoPostal">
                                        <a href="javascript:void()" class="edit-info has-tooltip background-green change-accept" onclick="javascript:GuardarDatosUsuario()" title="Aceptar"><i class="icon-checkmark"></i></a>
                                        <a href="javascript:void()" class="edit-info has-tooltip background-red change-cancel" title="Cancelar"><i class="icon-cross"></i></a>
                                    </div>
                                </dd>
                            </div>

                            <div class="user-data-item">
                                <dt>@AAPolo.Recursos.Recurso.CertificadoMedico</dt>
                                <dd>
                                    <span class="color-red has-tooltip" title="Carga un certificado médico vigente o no podrás participar en los partidos de la asociación.">
                                        <i class="icon-warning"></i>
                                        ¡Tu certificado ha expirado!
                                    </span>
                                    <a href="javascript:void()" onclick="javascript: $('#Certificado').click()" class="edit-info has-tooltip" title="Subir certificado">
                                        <i class="icon-upload"></i>
                                    </a>
                                    @using (Ajax.BeginForm("GuardarImagenCertificado", "PerfilJugador", null, new AjaxOptions { HttpMethod = "POST", OnSuccess = "fnSuccessProcesar", OnFailure = "fnFailProcesar" }, new { @id = "FormImgCertificado", @class = "FormFile", @style = "display:none" }))
                                    {
                                        <input type="file" accept="image/*" name="imagen" onchange="javascript: $('#btnSubmitCertificado').click()" id="Certificado" hidden>
                                        <button type="submit" id="btnSubmitCertificado" style="display:none">enviar</button>
                                    }
                                </dd>
                            </div>*@

                        <div class="user-data-item">
                            <dt>Facebook</dt>
                            <dd>
                                <div class="info-editable">
                                    <span class="info-actual">facebook.com/@Model.Facebook</span>
                                    <a href="javascript:void()" class="edit-info has-tooltip change-data" title="Editar"><i class="icon-pencil"></i></a>
                                </div>
                                <div class="info-editar">
                                    <input type="text" id="User_Facebook" value="@Model.Facebook">
                                    <a href="javascript:void()" class="edit-info has-tooltip background-green change-accept" onclick="javascript:GuardarDatosUsuario()" title="Aceptar"><i class="icon-checkmark"></i></a>
                                    <a href="javascript:void()" class="edit-info has-tooltip background-red change-cancel" title="Cancelar"><i class="icon-cross"></i></a>
                                </div>
                            </dd>
                        </div>


                        <div class="user-data-item">
                            <dt>Twitter</dt>
                            <dd>
                                <div class="info-editable">
                                    <span class="info-actual">twitter.com/@Model.Twitter</span>
                                    <a href="javascript:void()" class="edit-info has-tooltip change-data" title="Editar"><i class="icon-pencil"></i></a>
                                </div>
                                <div class="info-editar">
                                    <input type="text" id="User_Twitter" value="@Model.Twitter">
                                    <a href="javascript:void()" class="edit-info has-tooltip background-green change-accept" onclick="javascript:GuardarDatosUsuario()" title="Aceptar"><i class="icon-checkmark"></i></a>
                                    <a href="javascript:void()" class="edit-info has-tooltip background-red change-cancel" title="Cancelar"><i class="icon-cross"></i></a>
                                </div>
                            </dd>
                        </div>


                        <div class="user-data-item">
                            <dt>Instagram</dt>
                            <dd>
                                <div class="info-editable">
                                    <span class="info-actual">instagram.com/@Model.Instagram</span>
                                    <a href="javascript:void()" class="edit-info has-tooltip change-data" title="Editar"><i class="icon-pencil"></i></a>
                                </div>
                                <div class="info-editar">
                                    <input type="text" id="User_Instagram" value="@Model.Instagram">
                                    <a href="javascript:void()" class="edit-info has-tooltip background-green change-accept" onclick="javascript:GuardarDatosUsuario()" title="Aceptar"><i class="icon-checkmark"></i></a>
                                    <a href="javascript:void()" class="edit-info has-tooltip background-red change-cancel" title="Cancelar"><i class="icon-cross"></i></a>
                                </div>
                            </dd>
                        </div>
                    </div>
                </div>
            </dl>

        </div>
    </div>
</div>


@section scripts{

    <script>

        localStorage.setItem('opMenu', 'liPerfil');

        $(document).on('keyup', '.validanumericos', function (e) {
            if (!(/^[0-9]+$/.test($(this).val()))) {
                var largo = $(this).val().length;
                var valor = $(this).val();
                $(this).val(valor.substring(0, largo - 1));
            }
        });

        function GuardarClubPrincipalUsuario() {
            var url = '@Url.Action("ActualizarClubPrincipalUsuario", "PerfilJugador", new { Cod_Club = "_Cod_Club" })'
                .replace('_Cod_Club', $('#ClubPrincipal').val())
                .replace(/amp;/g, '');

            $.post(url, function (Data) {
                alert(Data.Mensaje)
                if (Data.EsSatisfactorio) {
                    $('.divClubPrincipal > span, .textNombreClub').text($('#ClubPrincipal option:selected').text());
                    $('.divClubPrincipal a').remove();
                    //$('.change-cancel').click();
                } else {
                    console.log(Data);
                }
            });
        }

        function GuardarDatosUsuario() {
            var url = '@Url.Action("GuardarDatosUsuario","PerfilJugador", new { Correo = "_Correo", Celular = "_Celular", DireccionDomicilio = "_DireccionDomicilio", NroDireccion = "_NroDireccion", NroPiso = "_NroPiso", Departamento = "_Departamento", CodigoPostal = "_CodigoPostal", Facebook = "_Facebook", Twitter = "_Twitter", Instagram = "_Instagram" })'
                .replace('_Correo', $('#Correo').val())
                .replace('_Celular', $('#User_Tlf').val())
                .replace('_DireccionDomicilio', $('#User_DireccionCalle').val())
                .replace('_NroDireccion', $('#User_NroDireccion').val())
                .replace('_NroPiso', $('#User_NroPiso').val())
                .replace('_Departamento', $('#User_Departamento').val())
                .replace('_CodigoPostal', $('#User_CodigoPostal').val())
                .replace('_Facebook', $('#User_Facebook').val())
                .replace('_Twitter', $('#User_Twitter').val())
                .replace('_Instagram', $('#User_Instagram').val())
                .replace(/amp;/g,'');

            $.post(url, function (Data) {
                alert(Data.Mensaje)
                if (Data.EsSatisfactorio) {
                    $('.change-cancel').click();
                } else {
                    console.log(Data);
                }
            });

        }

        function GuardarDatosUsuarioMail() {
            var EditCorreo = $('#EditCorreo').val();
            if (!(ExprecionRegular_validarMail.test(EditCorreo))) {
                $('#EditCorreo').focus();
                console.log("error");
                alert("Por favor, ingrese una dirección de email válida.");
                setTimeout(function () {
                    $('.editarMail').click();
                }, 700);
                //$('.editarMail').click();
            } else {

                $('#Correo').val(EditCorreo);
                $('.divEditMail').hide();
                $('.divMail').show();
                GuardarDatosUsuario();
            }
        }

    </script>

}

